﻿@using lamlt.webservice.Services;
@using lamlt.web.Services;
@using lamlt.data;
@using lamlt.web.Models;
@{
    ViewData["Title"] = "Tools Live stream";
    Layout = "~/Views/Shared/_Root.cshtml";

    var userid = lamlt.web.Services.comm.GetUserId();
}
<div class="custome_style">
    <style>
        div.tools a:nth-child(1), div.tools a:nth-child(2) {
            /*            display: none;*/
        }

        .numberedtextarea-line-numbers {
            color: #fff !important;
            background: #333;
        }

        .form-control-edited .form-control {
            margin: 0 !important;
        }

        span.select2 {
            display: block;
        }

        .neon {
            /*border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 18px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 18px rgba(102,175,233,.6);*/
        }
    </style>
</div>
<br />
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabAddNew" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><span class="glyphicon glyphicon-plus"></span> Thêm mới</a></li>
        <li id="tabManage" class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Danh sách các luồng</a></li>
        <li id="tabDownload" class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-download-alt"></span> Download</a></li>
        <li id="tabDownloaded" class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-file"></span> Đã tải</a></li>
        @*<li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Cài đặt <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a  role="menuitem" tabindex="-1" href="javascript:void(0)">Hướng dẫn</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">Separated link</a></li>
                </ul>
            </li>*@
        <li>
            <a id="tour" href="javascript:void(0)" class="text-muted">
                <i class="fa fa-question-circle" aria-hidden="true"></i> Hướng dẫn thêm mới
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <div id="step-1">
                                <div class="row" style="margin:0;">
                                    <div class="col-md-8" style="padding:0;padding-right:5px;">
                                        <label for="title">1. Đặt tên cho luồng này <b style="color:red">(*) yêu cầu</b></label>
                                        <input tabindex="1" class="form-control" type="text" placeholder="Ví dụ: Tổng hợp phim hay tháng 6" name="title" id="title" />
                                    </div>
                                    <div class="col-md-4" style="padding:0;">
                                        <label for="live_catalog_id">Danh mục live</b></label>
                                        <select class="form-control" id="live_catalog_id" name="live_catalog_id">
                                            @{
                                                List<live_catalog> live_Catalogs = new live_catalogService().GetAllItem(null);
                                                //List<film_catalog> live_Catalogs = new film_catalogService().GetAllItem(null);
                                                for (int jx = 0; jx <= live_Catalogs.Count - 1; jx++)
                                                {
                                                    string sTitlexxx = live_Catalogs[jx].title.ToString();
                                                    int sIdxxx = live_Catalogs[jx].Id;
                                                    <option value="@sIdxxx">@sTitlexxx</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="step-2">
                                <label for="video">2. Chọn loại đường dẫn tới video<b style="color:red">(*) yêu cầu</b></label>
                                <div id="step-2-1">
                                    <select style="margin:0" class="form-control" id="linkType" name="linkType">
                                        <option value="youtube">Youtube hoặc Facebook</option>
                                        <option value="direct">Link trực tiếp đến file video</option>
                                    </select>
                                    @*<div class="pretty p-icon p-smooth" style="margin-right:0px !important">
                                            <input title="Sẽ tải video từ nguồn ngoài nhập vào bằng thư viện youtube-dl" name="youtubedl" id="youtubedl" type="checkbox">
                                            <div class="state p-success">
                                                <i class="icon glyphicon glyphicon-ok"></i>
                                                <label>
                                                    <small>Đường dẫn nhập vào là đường dẫn từ: <i>Youtube</i></small>
                                                </label>
                                            </div>
                                        </div>
                                        <br />
                                        <small><span class="glyphicon glyphicon-question-sign" style="color: red;"></span> <a title="Xem danh sách các website được hỗ trợ download bằng youtube-dl" target="_blank" href="https://ytdl-org.github.io/youtube-dl/supportedsites.html">Xem thêm các link hỗ trợ bởi youtube-dl</a></small>*@
                                </div>
                                <textarea tabindex="2" type="text" value="" name="video" id="video" placeholder="http://files.lalatv.com.vn:9090/content_origin/1.mp4
http://files.lalatv.com.vn:9090/content_origin/2.mp4
http://files.lalatv.com.vn:9090/content_origin/3.mp4" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 form-control-edited">
                            <div id="step-3">
                                <label for="">3. Live trên <b style="color:red">(*) yêu cầu</b></label><br />
                                <div class="row">
                                    <div class="col-md-3"><div class="pretty p-icon p-smooth"><input name="youtube" id="youtube" type="checkbox" value="youtube"><div class="state p-success"><i class="icon glyphicon glyphicon-ok"></i><label>Youtube</label></div></div></div>
                                    <div class="col-md-9"><input class="form-control" id="keyyoutube" style="display:none;" type="text" value="te1f-3f4y-d0xb-50sh" title="Vào https://youtube.com/live_dashboard để lấy key nhé" /><br /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="pretty p-icon p-smooth"><input name="facebook" id="facebook" type="checkbox" value="facebook"><div class="state p-success"><i class="icon glyphicon glyphicon-ok"></i><label>Facebook</label></div></div></div>
                                    <div class="col-md-9"><input class="form-control" id="keyfacebook" style="display:none;" type="text" placeholder="3687425887995436?s_bl=1&s_ps=1&s_sw=0&s_vt=api-s&a=AbyWyp2zdPRgOIyp" title="Vào Facebook -> Phát trực tiếp -> chọn tab Kết nối để lấy key nhé" /><br /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="pretty p-icon p-smooth"><input name="lalatv" id="lalatv" type="checkbox" value="lalatv"><div class="state p-success"><i class="icon glyphicon glyphicon-ok"></i><label>LalaTV</label></div></div></div>
                                    <div class="col-md-9"><input class="form-control" id="keylalatv" placeholder="File video không chứa đuôi file (.mp4, .flv)" type="text" /><br /></div>
                                </div>
                            </div>
                            <div id="step-4">
                                <label for="repeat">4. Cấu hình</label><br />
                                <div class="pretty p-icon p-smooth"><input title="Sẽ lặp lại vô hạn cho đến khi kết thúc live" name="repeat" id="repeat" type="checkbox" checked value=" -re -stream_loop -1 "><div class="state p-success"><i class="icon glyphicon glyphicon-ok"></i><label>Lặp lại</label></div></div>
                                <hr />
                            </div>
                            <div id="step-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="schedule">Lập lịch bắt đầu - kết thúc </label><br />
                                        <button name="schedule" id="schedule">Chọn thời gian</button><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="starttime">Bắt đầu lúc</label>
                                        <input type="text" class="form-control" name="starttime" id="starttime">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="stoptime">Kết thúc lúc</label>
                                        <input type="text" class="form-control" name="stoptime" id="stoptime">
                                    </div>
                                    <small style="display:none" class="form-text text-muted">Chú ý: Nếu video không phải khung hình 1920x1080 sẽ gây lỗi</small>
                                    <div style="display:none" class="pretty p-icon p-smooth"><input title="Chú ý: Nếu video không phải khung hình 1920x1080 sẽ gây lỗi" name="resolution" id="resolution" type="checkbox" value=" -s 1920x1080 "><div class="state p-success"><i class="icon glyphicon glyphicon-ok"></i><label>Full HD(1920x1080)</label></div></div>
                                </div>
                            </div>
                            <div id="step-6">
                                <div style="display:none">
                                    <label for="other">5. Lệnh ffmpeg</label><br /><textarea title="Tìm hiểu lệnh ffmpeg trước khi truyền lệnh ffmpeg vào đây" class="form-control" name="other" id="other" type="text" placeholder="Các lệnh thêm của ffmpeg" rows="3"></textarea>
                                    <br />
                                    <label for="note" style="display:none">6. Ghi chú</label><br /><textarea style="display:none" class="form-control" name="note" id="note" type="text" placeholder="Ghi chú" rows="3"></textarea>
                                </div>
                                <br />
                                <button id="addnew" v-on:click="addnew" type="button" class="btn btn-danger"><i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mới thủ công</button>
                                <button style="display:none;" onclick="javascript: olivestreaming.editDialog(0);" type="button" class="btn btn-danger"><i class="fa fa-user-plus" aria-hidden="true"></i> Thêm mới nâng cao</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading bold">Note:</div>
                                <div class="panel-body">
                                    Youtube key: <br /><a target="_blank" href="https://youtube.com/live_dashboard">https://youtube.com/live_dashboard</a><br /><hr />Facebook key: <br /><a target="_blank" href="https://facebook.com">Facebook > Phát trực tiếp > Tab Kết nối</a><br /><hr />
                                    LALATV: <br /><p style="word-wrap: break-word; color:#ff4081;">Chỉ cần nhập tên file (không chứa .mp4), Ví dụ: <b style="color:red">HouseOfManson</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <div class="panel-group" id="search_panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">LỌC VÀ TÌM KIẾM</a>
                    </div>
                    <div class="panel-collapse collapse in" id="advanced_search">
                        <div class="panel-body">
                            <div class="col-md-9" id="manage_step_1">
                                <div class="col-md-4">
                                    <label for="search_livestreaming_title">Tìm kiếm tiêu đề</label>
                                    <input type="text" class="form-control" name="search_livestreaming_title" placeholder="Nhập tiêu đề..." id="search_livestreaming_title" />
                                    <label for="search_livestreaming_type">Loại</label>
                                    <select class="form-control" id="search_livestreaming_type">
                                        <option value="" selected="">--Tất cả--</option>
                                        <option value="youtube">Youtube</option>
                                        <option value="facebook">Facebook</option>
                                        <option value="lalatv">LalaTV</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="search_livestreaming_status">Tình trạng</label>
                                    <select class="form-control" id="search_livestreaming_status">
                                        <option value="" selected="">--Tất cả--</option>
                                        <option value="stop">Đã dừng live</option>
                                        <option value="living">Đang live</option>
                                    </select>
                                    <label for="search_livestreaming_userid">Tài khoản</label>
                                    <select class="form-control" id="search_livestreaming_userid">
                                        <option value="-1" selected="">--Tất cả--</option>
                                        @{
                                            PagingModel page = new PagingModel() { offset = 0, limit = 100000 };
                                            var all_user = new film_userService().GetAllItem(page);
                                            foreach (var item in all_user)
                                            {
                                                if (item.cpid == 1000)
                                                {
                                                    var user_selected = item.Id == userid ? " selected" : "";
                                                    <option value="@item.Id" @user_selected>@item.fullname</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="start_time">Từ ngày</label>
                                    <input type="text" class="form-control" name="start_time" id="start_time" />
                                    <label for="end_time">Đến ngày</label>
                                    <input type="text" class="form-control " name="end_time" id="end_time" size="1" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="manage_step_2">
                                    <button onclick="javascript: olivestreaming.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                                    <button type="button" id="reload" class="btn btn-danger"><i class="fa fa-spin fa-recycle" aria-hidden="true"></i> <span>Tải lại dữ liệu</span></button>
                                    <br /> <br /><small><em>Hệ thống sẽ tự động lấy lại dữ liệu sau 30 giây hoặc có thể bấm vào nút </em><b style="color:red;">"Tải lại dữ liệu"</b></small>
                                    <hr />
                                </div>
                                <div id="manage_step_3">
                                    <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                                    <button id="tatca" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả</button>
                                    <button id="dachon" type="button" class="btn btn-warning"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất đã chọn</button>
                                    <br /><br /><strong>Các phim đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="list_live">
                <table id="example_livestreaming" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiến trình</th>
                            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>Lệnh</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Video</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Chất lượng</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Loại</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tài khoản</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tình trạng</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ghi chú</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Danh mục live</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab_3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="download_step1">
                                <label for="youtubedl_title">1. Đặt tiêu đề cho tiến trình này<b style="color:red">(*) yêu cầu</b></label>
                                <input title="Gõ xong bấm Enter để cập nhật đúng tên file video cho lệnh" tabindex="1" class="form-control" type="text" placeholder="Ví dụ: Danh sách phim hay tháng 1 năm 2020" name="youtubedl_title" id="youtubedl_title" />
                            </div>
                            <div id="download_step2">
                                <label for="video">2. Đường dẫn được hỗ trợ bởi youtube-dl<b style="color:red"> (*) yêu cầu</b></label><br />
                                <small><span class="glyphicon glyphicon-question-sign" style="color: red;"></span> <a title="Xem danh sách các website được hỗ trợ download bằng youtube-dl" target="_blank" href="https://ytdl-org.github.io/youtube-dl/supportedsites.html">Xem thêm các link hỗ trợ bởi youtube-dl</a></small>
                                <div id="typeName" class="form-group">
                                    <strong style="color:red">Tên video: </strong>(
                                    <input type="radio" id="randomName" name="nameType" value="randomName" style="cursor:pointer;">
                                    <label for="randomName" style="cursor:pointer;">Ngẫu nhiên</label>
                                    <input type="radio" id="youtubeId" name="nameType" value="youtubeId" style="cursor:pointer;" checked>
                                    <label for="youtubeId" style="cursor:pointer;">Youtube ID</label>
                                    <input type="radio" id="youtubeTitle" name="nameType" value="youtubeTitle" style="cursor:pointer;">
                                    <label for="youtubeTitle" style="cursor:pointer;">Tiêu đề </label> ) +
                                    <div class="pretty p-icon p-smooth"><input title="Kích thước sẽ tự động lấy theo chất lượng tốt nhất" name="youtubedl_resolution" id="youtubedl_resolution" type="checkbox" value=""><div class="state p-success"><i class="icon glyphicon glyphicon-ok"></i><label><b> _resolution.mp4</b></label></div></div>
                                </div>
                                <textarea v-on:keypress="build_cmd" tabindex="2" type="text" value="" name="youtubedl_link" id="youtubedl_link" placeholder="https://www.youtube.com/watch?v=JpwZUHuAL6w
https://www.youtube.com/watch?v=HeBuOokvgXQ
https://www.youtube.com/watch?v=ygj0iFjqSx8" class="form-control" rows="11"></textarea>
                                @*<div id="afterDownloaded">
                                        <label for="dl_youtubekey">Key Youtube<b style="color:red">(*) yêu cầu</b></label>
                                        <input title="Key Youtube" tabindex="1" class="form-control" type="text" placeholder="" name="dl_youtubekey" id="dl_youtubekey">
                                        <label for="dl_fbkey">Key Facebook<b style="color:red">(*) yêu cầu</b></label>
                                        <input title="Key Youtube" tabindex="1" class="form-control" type="text" placeholder="" name="dl_fbkey" id="dl_fbkey">
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="download_step3">
                                <label for="youtubedl_profile">3. Định dạng loại file tải về:</label><br />
                                <select name="youtubedl_profile" id="youtubedl_profile" class="form-control">
                                    <option value="mp4">Định dạng mp4 - (*.mp4)</option>
                                    <option value="default">Mặc định dữ liệu của file nguồn - (*.mp4 hoặc *.mkv hoặc *.webm)</option>
                                </select>
                                <textarea name="youtubedl_cmd" id="youtubedl_cmd" class="form-control" rows="16"></textarea><br />
                                <button id="demo" v-on:click="demo" type="button" class="btn btn-default"><i class="fa fa-cloud-download" aria-hidden="true"></i> Nhập dữ liệu Test</button>
                                <button id="build_cmd" v-on:click="build_cmd" type="button" class="btn btn-success"><i class="fa fa-cloud-download" aria-hidden="true"></i> Build CMD</button>
                                <button id="addToDb" v-on:click="addToDb" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Thêm vào hàng đợi</button>
                                <button id="reload" v-on:click="reload" type="button" class="btn btn-warning"><i class="fa fa-spin fa-recycle" aria-hidden="true"></i> Tải lại dữ liệu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    <table id="example_download" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">ID</th>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">Tiêu đề</th>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">Tình trạng</th>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
                                <th class="grid-cell selector">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_4">
            <div class="row">
                <div class="col-md-12">
                    <br /><br /><button id="addToLive" v-on:click="addToLive" type="button" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Thêm đã chọn vào tab live stream</button>
                    <button id="reload_downloaded" v-on:click="reload_downloaded" type="button" class="btn btn-danger"><i class="fa fa-spin fa-recycle" aria-hidden="true"></i> Tải lại dữ liệu</button>
                    <button id="delete_downloaded" v-on:click="delete_downloaded" type="button" class="btn btn-success"><i class="fa fa-trash" aria-hidden="true"></i> Xóa file đang chọn</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="table_downloaded" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên file</th>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">Dung lượng</th>
                                <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tải</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.tab-pane tab_4-->
    </div>
    <!-- /.tab-content -->
</div>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/livestreaming.js"></script>
<script src="~/Scripts/oze/download.js"></script>

<script type="text/javascript">
    function xoa_dau(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, ' ');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        //Xóa ký tự đặc biệt
        str = str.replace(/[^0-9a-zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ\s]/gi, '');
        return str;
    }
    var $table;
    var olivestreaming = new livestreaming();
    var odownload = new download();
    var list_selected = [];
    var selected_id = [];
    var table_download;
    var table_downloaded;
    function show_downloaded() {
        $.ajax({
            url: "/livestreaming/GetVideoDownloaded",
            method: "GET",
            success: function (data) {
                if (data != null) {
                    var dataSet = new Array;
                    $.each(data.list_file, function (index, value) {
                        var tempArray = new Array;
                        for (var o in value) {
                            tempArray.push(value[o]);
                        }
                        dataSet.push(tempArray);
                    })
                    table_downloaded = $('#table_downloaded').DataTable({
                        data: dataSet,
                        columns: [
                            {
                                data: null, render: function (dataSet) {

                                    return '<div class="checkbox"><label><input class="add_selected" type="checkbox" id="add_selected" name="add_selected">' + dataSet[0]+'</label></div>';
                                }
                            },{
                                data: null, render: function (dataSet) {
                                    return dataSet[1];
                                }
                            },{
                                data: null, render: function (dataSet) {
                                    return dataSet[2];
                                }
                            }
                        ]
                    });
                }
            },
            error: function (xhr) { },
        });

        //$('#table_downloaded tbody').on('click', 'button', function () {
        //    var data = table.row($(this).parents('tr')).data();
        //    alert(data[0]);
        //});
        //$.ajax({
        //    url: "/livestreaming/GetVideoDownloaded",
        //    method: "GET",
        //    success: function (data) {
        //        if (data != null) {
        //            var dataSet = new Array;
        //            $.each(data.list_file, function (index, value) {
        //                var tempArray = new Array;
        //                for (var o in value) {
        //                    tempArray.push(value[o]);
        //                }
        //                dataSet.push(tempArray);
        //            })
        //            $('#table_downloaded').DataTable({ data: dataSet });
        //        }
        //    },
        //    error: function (xhr) { },
        //});
    }
    show_downloaded();

    function show_download() {
        table_download = $('#example_download').DataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
            "processing": true,
            "serverSide": true,
            "initComplete": function (settings, json) {
                if ($("body > div.ajaxInProgress").length > 0)
                    $("body > div.ajaxInProgress").hide();
            },
            "dom": '<"top">rt<"bottom" lip><"clear">',
            "ajax": {
                "url": "/download/List",
                "data": function (d) {
                    delete d.columns;
                    d.title = $("#search_download_title").val();
                }
            },
            "columns":
                [
                    { 'data': 'id' }
                    , { 'data': 'title' }
                    , {
                        'data': null, render: function (data, type, row) {
                            var status_html = "";
                            switch (row.status) {
                                case "living":
                                    status_html = '<a data-id="' + row.id + '" class="kill kill_' + row.processid + '" style="color:red;font-weight:bold;" href="javascript:void(0)" title="Tắt tiến trình đang live của video này?" data-process="' + row.processid + '"><img style="width:50px" src="/live.gif"> <i class="fa fa-pause"></i> Stop</a>';
                                    break;
                                case "downloaded":
                                    status_html = '<button type="button" class="btn btn-block btn-success btn-lg">Đã tải xong</button>';
                                    break;
                                case "download":
                                    status_html = '<img style="width:100px" src="/downloading.gif" />';
                                    break;
                                case "wait":
                                    status_html = '<span class="label label-warning">Đang đợi</span>'; break;
                                case "stop":
                                    status_html = '<span class="label label-danger">Đã dừng</span>'; break;
                                default:
                                    var percent = row.status.split('/');
                                    status_html = '<div class="btn-group"><button type="button btn-block" class="btn btn-success"> Tổng số ' + percent[1] + '</button><button type="button btn-block" class="btn btn-warning"> đã tải ' + percent[0] + '</button></div>';
                                    break;

                            }
                            return status_html;
                        }
                    }
                    , { 'data': 'datecreated' }
                    , {
                        "data": null, render: function (data, type, row) {
                            var htmlMenu =
                                '<a style="color: #00a65a;font-weight: bold;" href="javascript:void(0)" onclick="javascript:odownload.viewDialog(' + row.id + ')">' +
                                '<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#8BC34A" title="Xem"></span>' +
                                ' Xem</a> ' +
                                '<a style="color: #dd4b39;font-weight: bold;" href="javascript:void(0)" onclick="javascript:odownload.editDialog(' + row.id + ')">' +
                                '<span class="glyphicon glyphicon-edit" aria-hidden="true" style="color:#dd4b39" title="Sửa"></span>' +
                                ' Sửa</a> ' +
                                '<a href="javascript:void(0)" style="color: red;font-weight: bold;"  onclick="javascript:odownload.deleteDialog(' + row.id + ')">' +
                                '<span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:red" title="Xóa"></span>' +
                                ' Xóa</a>';
                            return htmlMenu;
                        }
                    }
                ]
        });
    }

    $(document).ready(function () {
        if (localStorage.getItem('youtube') != '') {
            $('#keyyoutube').val(localStorage.getItem('youtube'));
        }
        if (localStorage.getItem('facebook') != '') {
            $('#keyfacebook').val(localStorage.getItem('facebook'));
        }
        var listAdd = [];
        $("#addToLive").on("click", () => {
            $(".add_selected").each(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().parent().addClass("active");
                    listAdd.push($(this));
                } else {
                    $(this).parent().parent().parent().parent().removeClass("active")
                }
            });
            // Chuyển sang tab livestream thủ công
            $("#tabDownloaded").removeClass("active");
            $("#tab_4").removeClass("active");
            $("#tabAddNew").addClass("active");
            $("#tab_1").addClass("active");
            $("#linkType").val("direct").change();
            $("#step-1 div.col-md-8").addClass("has-error").change();
            var newdiv = "";
            for (var j = 1; j <= listAdd.length; j++) {
                newdiv += '<div class="numberedtextarea-number numberedtextarea-number-' + j + '">' + j + '</div>';
            }
            $("div#step-2 .numberedtextarea-line-numbers").html(newdiv);
            var newadddddd = [];
            for (var i = 0; i < listAdd.length; i++) {
                newadddddd.push(listAdd[i].parent().text());
            }
            $("#video").val(newadddddd.toString().replace(/,/g, "\n"));
            $("#title").val("Luồng chưa đặt tên").select().focus();
        });

        setTimeout(() => { show_download(); }, 1000);

        olivestreaming.setupGrid();
        function YouTubeGetID(url) {
            var ID = '';
            url = url.replace(/(>|<)/gi, '').split(/(vi\/|v=|\/v\/|youtu\.be\/|\/embed\/)/);
            if (url[2] !== undefined) {
                ID = url[2].split(/[^0-9a-z_\-]/i);
                ID = ID[0];
            }
            else {
                ID = url;
            }
            return ID;
        }
        //#region ===================================== CODE LIVESTREAM ==========================================
        $(".navbar_marquee").html('<div class="thongbao"></div>');
        $("#checkAll").click(function () {
            $('table input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

        $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent().parent();
            var currentId = tr_id.attr('id');
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(currentId);
                selected_id.push(currentId);
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(currentId, list_selected), 1);
                selected_id.splice($.inArray(currentId, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);

        });
        $(document).on('change', '.add_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
            } else {
                $(tr_id).removeClass("active");
            }

        });
        $(document).on({
            click: function () {
                document.getElementById("checkAll").checked = false;
            }
        }, "button.mdl-button");

        $(".thongbao").hover(function () { $(this).stop(true, true).slideDown(10000).removeClass('shake'); });

        var time = 30;
        setInterval(function () {
            $('#reload span').html('Tải lại dữ liệu (' + time-- + 's)');
            if (time == -1) {
                time = 30;
                thongbao('Lấy dữ liệu mới thành công, sẽ tự động lấy lại dữ liệu sau 30 giây nữa!', 'success', 10000);
                olivestreaming.searchGrid();
            }
        }, 1000);
        var time_download = 10
        setInterval(function () {
            time_download--;
            if (time_download == -1) {
                time_download = 10;
                table_download.ajax.reload();
            }
        }, 1000);
        $(window).bind('mousewheel', function (event) {
            if (event.originalEvent.wheelDelta >= 0) {
                //console.log('Scroll up');
            }
            else {
                $("nav.navbar").removeClass("navbar-fixed-top");
                $("nav.navbar").addClass("navbar-static-top");
                //console.log('Scroll down');
            }
        });
        function thongbao(message = '', type = 'success', time = 10000) {
            $('div.thongbao').show().empty().removeClass('shake');
            $('div.thongbao').append('<div class="alert-dismissible alert alert-' + type + '" role="alert"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' + message + '</div>').slideUp(time);
            $('div.thongbao').addClass('shake');
            $("nav.navbar").removeClass("navbar-static-top");
            $("nav.navbar").addClass("navbar-fixed-top");
        }
        $("#end_time").datetimepicker({ format: "YYYY-MM-DD" });
        $("#start_time").datetimepicker({ format: "YYYY-MM-DD" });
        var schedule_format = "YYYY-MM-DD HH:mm:ss";
        $('#schedule').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            locale: {
                format: schedule_format,
                applyLabel: "Chọn",
                cancelLabel: "Hủy",
                daysOfWeek: ["CN","T2","T3","T4","T5","T6","T7"],
                monthNames: ["Tháng Giêng","Tháng Hai","Tháng Ba","Tháng Tư","Tháng Năm","Tháng Sáu","Tháng Bảy","Tháng Tám","Tháng Chín","Tháng Mười","Tháng Mười Một","Tháng Mười Hai"],
            }
        }, function (start, end, label) {
            $("#starttime").val(start.format(schedule_format));
            $("#stoptime").val(end.format(schedule_format));
                console.log("A new date selection was made: " + start.format(schedule_format) + ' to ' + end.format(schedule_format));
        });

        if (localStorage.getItem('list_selected') != null) {
            $('#title').focus();
            $('#title').addClass('neon');
            $('#video').addClass('neon');
            $('#video').val(localStorage.getItem('list_selected').replace(/,/g, '\n'));
        }
        //toggleMenu("menu_kho");

        $("#search_livestreaming_title").keypress(function (e) {
            if (e.which == 13) {
                olivestreaming.searchGrid();
            }
        });
        $(document).on('click', '#reload', function () {
            olivestreaming.searchGrid();
            thongbao('Tải lại dữ liệu thành công!');
        });
        $(document).on('change', '#youtube', function () {
            if (this.checked) {
                $("#keyyoutube").show();
            } else {
                $("#keyyoutube").hide();
            }
        });
        $(document).on('change', '#facebook', function () {
            if (this.checked) {
                $("#keyfacebook").show();
            } else {
                $("#keyfacebook").hide();
            }
        });
        $(document).on('change', '#lalatv', function () {
            if (this.checked) {
                $("#keylalatv").show();
                //thongbao('Chức năng đang thử nghiệm, chưa hoạt động', 'danger', 15000);
            } else {
                $("#keylalatv").hide();
            }
            return;
        });
        $(document).on('click', '.kill', function () {
            var currentClick = $(this);
            if (bootbox.confirm("Bạn có muốn tắt tiến trình live của video này không?", function (result) {
                if (!result) return;
                $.ajax({
                    url: '/livestreaming/StopProcess',/*KillProcessLive*/
                    type: 'POST',
                    data: {
                        //process_id: $(currentClick).data('process'),
                        id: $(currentClick).data('id'),
                    },
                    success: function (data) {
                        if (data > 0) {
                            currentClick.html('<span class="label label-warning">Đang tắt...</span>');
                            thongbao("Đang tắt tiến trình vui lòng đợi tải lại dữ liệu.", 'warning', 15000);
                        }
                    },
                    error: function (xhr) { thongbao("Lỗi này là lỗi gì nhỉ? Google phát đi nhé: " + xhr.responseText, 'danger'); }
                });
            }));
        });
        $(document).on('click', '#startcmd', function () {
            var currentClick = $(this);
            $.ajax({
                url: '/livestreaming/UpdateWait',
                type: 'POST',
                data: {
                    id: $(currentClick).data('id'),
                },
                success: function (data) {
                    if (data != 0) {
                        currentClick.html('Đang chuẩn bị file').removeClass("btn-success").addClass("btn-warning");
                        thongbao("Đã thêm vào hàng đợi, đang chuẩn bị livestream!", 'success', 15000);
                    }
                },
                error: function (xhr) { thongbao("Lỗi này là lỗi gì nhỉ? Google phát đi nhé: " + xhr.responseText, 'danger'); }
            });
        });
        function check_link_type(link) {
            var isYouTube = /((http|https):\/\/)?(www\.)?(youtube\.com)(\/)?([a-zA-Z0-9\-\.]+)\/?/.test(link);
            var isFacebook =  /(?:https?:\/{2})?(?:w{3}\.)?(facebook|fb).com\/.*\/videos\/.*/.test(link);
            if (isYouTube) {
                return 'youtube';
            }
            if (isFacebook) {
                return 'facebook';
            }
        }
        $(document).on('click', '#addnew', function () {
            var list_video = $('#video').val().split('\n');
            var repeat = $('#repeat').is(":checked") ? $('#repeat').val() : "";
            var resolution = $('#resolution').is(":checked") ? $('#resolution').val() : " -s 1280x720 ";
            var other = $('#other').val();
            var type = [];
            var youtube = $('#youtube').is(":checked") ? $('#youtube').val() : "";
            var facebook = $('#facebook').is(":checked") ? $('#facebook').val() : "";
            var lalatv = $('#lalatv').is(":checked") ? $('#lalatv').val() : "";
            var title = $('#title').val() != '' ? $('#title').val() : "Chưa đặt tên";

            if (youtube != "") { type.push(youtube); }
            if (facebook != "") { type.push(facebook); }
            if (lalatv != "") { type.push(lalatv); }
            var checkType = false;
            if ($('#youtube').is(":checked")) {
                checkType = true;
                if ($('#keyyoutube').val() == "") {
                    checkType = false;
                }
            }
            if ($('#facebook').is(":checked")) {
                checkType = true;
                if ($('#keyfacebook').val() == "") {
                    checkType = false;
                }
            }
            if ($('#lalatv').is(":checked")) {
                checkType = true;
                if ($('#keykeylalatv').val() == "") {
                    checkType = false;
                }
            }
            // Lấy key của Youtube và Facebook
            var key = [];
            if ($('#keyyoutube').val() != "") {
                key.push('youtube=' + $('#keyyoutube').val());
                localStorage.setItem('youtube', $('#keyyoutube').val());
            }
            if ($('#keyfacebook').val() != "") {
                key.push('facebook=' + $('#keyfacebook').val());
                localStorage.setItem('facebook', $('#keyfacebook').val());
            }
            if ($('#keylalatv').val() != "") {
                key.push('lalatv=' + $('#keylalatv').val());
                localStorage.setItem('lalatv', $('#keylalatv').val());
            }
            if ($("#starttime").val() == '') {
                thongbao("<b>Yêu cầu nhập đủ thời gian bắt đầu?", 'danger');
                $("#schedule").trigger('click');
                return;
            }
            if ($("#stoptime").val() == '') {
                thongbao("<b>Yêu cầu nhập đủ thời gian kết thúc?", 'danger');
                $("#schedule").trigger('click');
                return;
            }
            if (list_video != '') {
                // Check nếu là nhiều video
                var file_name = "";
                //console.log(list_video.length);
                //return;
                if (list_video.length > 1) {
                    if (checkType) {
                        if ($("#linkType").val() != "direct") {
                            if (key != null) {
                                for (var i = 0; i < key.length; i++) {
                                    if (key[i].includes("youtube=")) {
                                        key_youtube = key[i].replace("youtube=", "");
                                    }
                                    if (key[i].includes("facebook=")) {
                                        key_facebook = key[i].replace("facebook=", "");
                                    }
                                }
                            }
                            if (key_youtube == '' || key_youtube == null) {
                                thongbao("<b>Youtube key</b> chưa có chạy làm sao được hả?", 'danger');
                                $('#keyyoutube').addClass('neon');
                                return;
                            }
                            var isYoutube = "";
                            var optionF = "";
                            var check_type;
                            for (var i = 0; i < list_video.length; i++) {
                                if (list_video[i] != '') {
                                    check_type = check_link_type(list_video[i]);
                                    switch (check_type) {
                                        case "youtube": optionF = "-f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/bestvideo+bestaudio'"; break;
                                        case "facebook": optionF = ""; break;
                                        default: optionF = ""; break;
                                    }
                                    isYoutube += "youtube-dl --cookies '/home/amnhacsaigon/livestream_v2/cookies.txt' " + optionF + " --rm-cache-dir --no-part --merge-output-format mp4 -o 'downloaded/temp/%(id)s.mp4' " + list_video[i] + " && ";
                                }
                            }
                            if (isYoutube.slice(-3).replace(" ","") == "&&") {
                                console.log("Có chuỗi rỗng ở cuối mảng");
                                isYoutube = isYoutube.slice(0, -3)
                            }
                            //cmd = isYoutube + './ffmpeg ' + repeat + ' -i "' + list_video + '" -vcodec copy -f flv "rtmp://a.rtmp.youtube.com/live2/' + key_youtube + '"';
                            //console.log(isYoutube);
                            //return;

                            if (repeat != "") {
                                title += "_loop";
                            }

                            var typeeeeeeeee = "";
                            if ($('#facebook').is(":checked")) {
                                key_youtube = key_facebook;
                                typeeeeeeeee = "facebook";
                            }
                            if ($('#youtube').is(":checked")) {
                                key_youtube = key_youtube;
                                typeeeeeeeee = "youtube";
                            }
                            if ($('#lalatv').is(":checked")) {
                                key_lalatv = key_lalatv;
                                typeeeeeeeee = "lalatv";
                            }
                            $.ajax({
                                url: '/livestreaming/Update',
                                method: 'post',
                                data: {
                                    obj: {
                                        cmd: isYoutube,
                                        note: key_youtube,
                                        resolution: $("#resolution").val(),
                                        type: typeeeeeeeee,
                                        title: title,
                                        status: 'download',
                                        live_catalog_id: $("#live_catalog_id").val(),
                                        userid: @userid,
                                        datecreated: new Date().toJSON(),
                                        starttime: $("#starttime").val(),
                                        stoptime: $("#stoptime").val()
                                    }
                                },
                                success: function (result) {
                                    if (result.result != -1) {
                                        thongbao("Thêm lệnh thành công! Chuẩn bị tải video...");
                                        olivestreaming.searchGrid();
                                    }
                                    // Chuyển sang tab livestream thủ công
                                    $("#tabAddNew").removeClass("active");
                                    $("#tab_1").removeClass("active");
                                    $("#tabManage").addClass("active");
                                    $("#tab_2").addClass("active");
                                },
                                error: function (xhr) { alert(xhr.message); }
                                });
                        } else {
                            $.ajax({
                                url: '/livestreaming/CreatePlaylist',
                                method: "POST",
                                data: {
                                    playlist: list_video,
                                    key: key,
                                    type: type,
                                    repeat: repeat,
                                    resolution: resolution,
                                    status: 'wait',
                                    userid: @userid,
                                    title: title,
                                    other: other,
                                    live_catalog_id: $("#live_catalog_id").val(),
                                    datecreated: new Date().toJSON(),
                                    starttime: $("#starttime").val(),
                                    stoptime: $("#stoptime").val()
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (data != 0) {
                                        thongbao("Thêm lệnh playlist thành công!");
                                        olivestreaming.searchGrid();
                                    }
                                    // Chuyển sang tab livestream thủ công
                                    $("#tabAddNew").removeClass("active");
                                    $("#tab_1").removeClass("active");
                                    $("#tabManage").addClass("active");
                                    $("#tab_2").addClass("active");
                                },
                                error: function (xhr) { thongbao("Lỗi này là lỗi gì nhỉ? Google phát đi nhé: " + xhr.responseText, 'danger'); }
                            });
                        }
                    } else {
                        thongbao("Lỗi:<br />Chưa chọn live trên mạng xã hội nào.<br />Chưa điền Key để livestream", 'danger', 15000);
                    }

                } else {
                    list_video = list_video.toString();
                    //console.log(list_video);
                    //return;
                    //var isYoutube = false;
                    //for (var i = 0; i < list_video.length; i++) {
                    //    // Nếu là link Youtube thì thêm lệnh youtube-dl
                    //    if (list_video[i].includes('youtube.com')) {
                    //        thongbao('Phát hiện đay là link từ Youtube nên sẽ:<br /> 1. Đã thêm vào để quán lý.<br />2. Đang tải video từ Youtube.<br /><b style="color:red">Chú ý: </b> Sau khi tải xong video từ Youtube mới tiến hành chạy lệnh live stream."','warning', 15000);
                    //        return;
                    //    }
                    //}
                    // Đoạn này là chỉ có 1 video thì chèn thằng vào database
                    // code tiếp  check nếu là lặp sau đó code đến Facebook
                    var key_youtube = "";
                    var key_facebook = "";
                    var key_lalatv = "";
                    var isYoutube = "";
                    var status = "wait";
                    if (!checkType) {
                        thongbao("Chưa chọn live trên mạng xã hội nào", 'danger'); return;
                    }
                    if ($('#facebook').is(":checked")) {
                        if (key != null) {
                            for (var i = 0; i < key.length; i++) {
                                if (key[i].includes("youtube=")) {
                                    key_youtube = key[i].replace("youtube=", "");
                                }
                                if (key[i].includes("facebook=")) {
                                    key_facebook = key[i].replace("facebook=", "");
                                }
                            }
                        }
                        if (key_facebook == '' || key_facebook == null) {
                            thongbao("<b>Facebook key</b> chưa có chạy làm sao được hả?", 'danger');
                            $('#keyfacebook').addClass('neon');
                            return;
                        }

                        if ($('#linkType').val() == "youtube") {
                            var check_type = check_link_type(list_video);
                            var optionF = "";
                            switch (check_type) {
                                case "youtube": optionF = "-f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/bestvideo+bestaudio'"; break;
                                default: optionF = ""; break;
                            }
                            var file_downloaded = "downloaded/temp/" + xoa_dau(title).replace(/ /g, '_') + ".mp4"
                            isYoutube = "youtube-dl " + optionF + " --rm-cache-dir --no-part --merge-output-format mp4 -o 'downloaded/temp/%(id)s.mp4' " + list_video +" && ";
                            //console.log(isYoutube);
                            //return;
                            //list_video = file_downloaded;
                            status = "download";
                        }

                        cmd = isYoutube + 'sudo ffmpeg ' + repeat + ' -i "downloaded/' + YouTubeGetID(list_video) + '.mp4" -acodec libmp3lame -pix_fmt yuv420p -profile:v baseline -deinterlace -vcodec libx264 -preset veryfast -max_muxing_queue_size 1024 -f flv "rtmps://live-api-s.facebook.com:443/rtmp/' + key_facebook + '"';
                        console.log(cmd);
                        cmd = cmd.replace(".mp4.mp4", ".mp4");
                        cmd = cmd.replace("downloaded/downloaded/", "downloaded/");
                        //return;
                        $.ajax({
                            url: '/livestreaming/Update',
                            method: 'post',
                            data: {
                                obj: {
                                    cmd: cmd,
                                    video: list_video,
                                    type: 'facebook',
                                    title: title,
                                    status: status,
                                    live_catalog_id: $("#live_catalog_id").val(),
                                    userid: @userid,
                                    datecreated: new Date().toJSON(),
                                    starttime: $("#starttime").val(),
                                    stoptime: $("#stoptime").val()
                                }
                            },
                            success: function (result) {
                                if (result.result != -1) {
                                    thongbao("Thêm lệnh thành công!</div>");
                                    olivestreaming.searchGrid();
                                }
                                // Chuyển sang tab livestream thủ công
                                $("#tabAddNew").removeClass("active");
                                $("#tab_1").removeClass("active");
                                $("#tabManage").addClass("active");
                                $("#tab_2").addClass("active");
                            },
                            error: function (xhr) { alert(xhr.message); }
                        });
                    }

                    if ($('#youtube').is(":checked")) {
                        if (key != null) {
                            for (var i = 0; i < key.length; i++) {
                                if (key[i].includes("youtube=")) {
                                    key_youtube = key[i].replace("youtube=", "");
                                }
                                if (key[i].includes("facebook=")) {
                                    key_facebook = key[i].replace("facebook=", "");
                                }
                            }
                        }
                        if (key_youtube == '' || key_youtube == null) {
                            thongbao("<b>Youtube key</b> chưa có chạy làm sao được hả?", 'danger');
                            $('#keyyoutube').addClass('neon');
                            return;
                        }
                        var isYoutube = "";
                        var status = "wait";
                        if ($('#linkType').val() == "youtube") {
                            var check_type = check_link_type(list_video);
                            var optionF = "";
                            switch (check_type) {
                                case "youtube": optionF = "-f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/bestvideo+bestaudio'"; break;
                                default: optionF = ""; break;
                            }
                            var file_downloaded = "downloaded/temp/" + xoa_dau(title).replace(/ /g, '_') + ".mp4"
                            isYoutube = "youtube-dl --cookies '/home/amnhacsaigon/livestream_v2/cookies.txt' " + optionF + " --rm-cache-dir --no-part --merge-output-format mp4 -o 'downloaded/temp/%(id)s.mp4' " + list_video +" && ";
                            //list_video = file_downloaded;
                            status = "download";
                        }

                        cmd = isYoutube + 'sudo ffmpeg ' + repeat + ' -i "downloaded/' + YouTubeGetID(list_video) + '.mp4" -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/' + key_youtube + '"';
                        //cmd = isYoutube + './ffmpeg ' + repeat + ' -i "' + list_video + '" -vcodec libx264 -preset veryfast -maxrate 2500k -bufsize 3368k ' + other + resolution + ' -f flv  "rtmp://a.rtmp.youtube.com/live2/' + key_youtube + '"';
                        //cmd = './ffmpeg ' + repeat + ' -i "' + list_video + '" -acodec libmp3lame -pix_fmt yuv420p -profile:v baseline -deinterlace -vcodec libx264 -preset veryfast -max_muxing_queue_size 1024 ' + other + resolution + ' -f flv  "rtmp://a.rtmp.youtube.com/live2/' + key_youtube + '"';
                        console.log(cmd);
                        console.log($("#starttime").val());
                        console.log($("#stoptime").val());
                        //return;
                        cmd = cmd.replace(".mp4.mp4", ".mp4");
                        cmd = cmd.replace("downloaded/downloaded/", "downloaded/");
                        $.ajax({
                            url: '/livestreaming/Update',
                            method: 'post',
                            data: {
                                obj: {
                                    cmd: cmd,
                                    video: list_video,
                                    type: 'youtube',
                                    title: title,
                                    status: status,
                                    live_catalog_id: $("#live_catalog_id").val(),
                                    userid: @userid,
                                    datecreated: new Date().toJSON(),
                                    starttime: $("#starttime").val(),
                                    stoptime: $("#stoptime").val()
                                }
                            },
                            success: function (result) {
                                if (result.result != -1) {
                                    thongbao("Thêm lệnh thành công!");
                                    olivestreaming.searchGrid();
                                }
                                // Chuyển sang tab livestream thủ công
                                $("#tabAddNew").removeClass("active");
                                $("#tab_1").removeClass("active");
                                $("#tabManage").addClass("active");
                                $("#tab_2").addClass("active");
                            },
                            error: function (xhr) { alert(xhr.message); }
                        });
                    }

                    if ($('#lalatv').is(":checked")) {
                        if (key != null) {
                            for (var i = 0; i < key.length; i++) {
                                if (key[i].includes("youtube=")) {
                                    key_youtube = key[i].replace("youtube=", "");
                                }
                                if (key[i].includes("facebook=")) {
                                    key_facebook = key[i].replace("facebook=", "");
                                }
                                if (key[i].includes("lalatv=")) {
                                    key_lalatv = key[i].replace("lalatv=", "");
                                }
                            }
                        }
                        if (key_lalatv == '' || key_lalatv == null) {
                            thongbao("<b>File name(không chứa .mp4)</b> chưa có chạy làm sao được hả?", 'danger');
                            $('#keylalatv').addClass('neon');
                            return;
                        }
                        list_video = list_video.replace("http://files.lalatv.com.vn:9090/","/home/www/data/data/saigonmusic/");
                        cmd = 'sudo ffmpeg ' + repeat + ' -i \'' + list_video + '\' -crf 23 -vcodec libx264 -profile:v main -preset:v medium -r 30 -g 60 -keyint_min 60 -sc_threshold 0 -b:v 2500k -maxrate 2500k -bufsize 2500k  -sws_flags lanczos+accurate_rnd -acodec aac -b:a 96k -ar 48000 -ac 2 -f flv \'rtmp://adminlala:adminlala123!@Html.Raw("@")118.68.218.182/live/' + key_lalatv + "'";
                        //cmd = isYoutube + './ffmpeg ' + repeat + ' -i "' + list_video + '" -vcodec libx264 -preset veryfast -maxrate 2500k -bufsize 3368k ' + other + resolution + ' -f flv  "rtmp://a.rtmp.youtube.com/live2/' + key_youtube + '"';
                        //cmd = './ffmpeg ' + repeat + ' -i "' + list_video + '" -acodec libmp3lame -pix_fmt yuv420p -profile:v baseline -deinterlace -vcodec libx264 -preset veryfast -max_muxing_queue_size 1024 ' + other + resolution + ' -f flv  "rtmp://a.rtmp.youtube.com/live2/' + key_youtube + '"';
                        console.log(cmd);
                        //return;
                        cmd = cmd.replace(".mp4.mp4", ".mp4");
                        //cmd = cmd.replace("downloaded/downloaded/", "downloaded/");
                        $.ajax({
                            url: '/livestreaming/Update',
                            method: 'post',
                            data: {
                                obj: {
                                    cmd: cmd,
                                    video: list_video,
                                    type: 'lalatv',
                                    title: title,
                                    status: status,
                                    live_catalog_id: $("#live_catalog_id").val(),
                                    userid: @userid,
                                    datecreated: new Date().toJSON(),
                                    starttime: $("#starttime").val(),
                                    stoptime: $("#stoptime").val()
                                }
                            },
                            success: function (result) {
                                if (result.result != -1) {
                                    thongbao("Thêm lệnh thành công!");
                                    olivestreaming.searchGrid();
                                }
                                // Chuyển sang tab livestream thủ công
                                $("#tabAddNew").removeClass("active");
                                $("#tab_1").removeClass("active");
                                $("#tabManage").addClass("active");
                                $("#tab_2").addClass("active");
                            },
                            error: function (xhr) { alert(xhr.message); }
                        });
                    }

                }

            } else {
                thongbao('Không nhập video vào live kiểu gì?', 'danger');
                $('#video').addClass('neon');
            }
        });
        $('#video').numberedtextarea();
        //#endregion

        //#region ===================================== CODE TOUR ==========================================
        var addNewTour = new Anno([
            {
                target: '#step-1',
                position: 'center-right',
                content: "Đầu tiên bạn phải nhập tiêu đề và chọn danh mục nhé"
            }
            , {
                target: '#step-2',
                position: 'center-right',
                content: "Sau đó nhập đường dẫn vào đây, nếu là video từ Youtube hoặc đường dẫn bên ngoài thì phải check vào ô Video ngoài nhé",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            },
            {
                target: '#step-2-1',
                position: 'center-right',
                content: "Chọn loại đường dẫn nhập vào, Youtube hoặc Facebook hoặc chọn đường dẫn là link trực tiếp",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            },
            {
                target: '#step-3',
                position: 'center-left',
                content: "Nhập key vào nhé",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton, {
                    text: 'Xem cách lấy key',
                    click: function (anno, evt) {
                        panelTour.show();
                    }
                }]
            }, {
                target: '#step-4',
                position: 'center-top',
                content: "Cấu hình thêm thì ở đây",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }, {
                target: '#step-5',
                position: 'center-top',
                content: "Cài đặt lên lịch live",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }
            , {
                target: '#step-6',
                position: 'center-top',
                content: "Đã điền đầy đủ thông tin thì bấm vào nút này để thêm vào hàng đợi nhé",
                buttons: [AnnoButton.BackButton, AnnoButton.DoneButton]
            }
        ]);
        var manageTour = new Anno([
            {
                target: '#manage_step_1',
                position: 'center-bottom',
                content: "Khu vực này dùng để lọc và tìm kiếm chi tiết"
            }
            , {
                target: '#manage_step_2',
                position: 'center-left',
                content: "Đây là các nút chức năng và cập nhật lại dữ liệu",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }
            , {
                target: '#manage_step_3',
                position: 'center-left',
                content: "Đây là nút chức năng xuất báo cáo ra file Excel",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }
            , {
                target: '#list_live',
                position: 'center-top',
                content: "Đây là chỗ hiển thị tất cả các luồng live stream đã được thêm vào",
                buttons: [AnnoButton.BackButton, AnnoButton.DoneButton]
            }
        ]);
        var panelTour = new Anno([
            {
                target: '.panel',
                position: 'center-bottom',
                content: "Lấy key thì làm theo hướng dẫn này nhé",
                buttons: [AnnoButton.DoneButton]
            }
        ]);
        var downloadTour = new Anno([
            {
                target: '#download_step1',
                position: 'center-right',
                content: "Nhập tiêu đề để tìm kiếm cho dễ dàng hơn",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }, {
                target: '#download_step2',
                position: 'center-right',
                content: "Khu vực nhập đường dẫn tải video",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }, {
                target: '#typeName',
                position: 'center-right',
                content: "Bạn có thể lưu tên file video theo 3 dạng được lựa chọn ở đây",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }, {
                target: '#download_step3',
                position: 'center-left',
                content: "Khu vực cấu hình định dạng file và khung tùy chỉnh sửa lệnh youtube-dl",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }, {
                target: '#example_download',
                position: 'center-top',
                content: "Liệt kê danh sách các lệnh đã thêm vào từ trước",
                buttons: [AnnoButton.BackButton, AnnoButton.DoneButton]
            },
        ]);
        var downloadedTour = new Anno([
            {
                target: '#table_downloaded',
                position: 'center-center',
                content: "Liệt kê danh sách các file đã tải sẵn sàng để live",
                buttons: [AnnoButton.BackButton, AnnoButton.NextButton]
            }, {
                target: '#addToLive',
                position: 'center-bottom',
                content: "Sau khi đã chọn các file ở bước trước bấm vào đây để thêm các file đó vào tab thêm mới và cấu hình key live",
                buttons: [AnnoButton.BackButton, AnnoButton.DoneButton]
            }
        ]);
        $("#tour").click(function () {
            if ($("#tabAddNew").hasClass("active")) {
                addNewTour.show();
            }
            if ($("#tabManage").hasClass("active")) {
                manageTour.show();
            }
            if ($("#tabDownload").hasClass("active")) {
                downloadTour.show();
            }
            if ($("#tabDownloaded").hasClass("active")) {
                downloadedTour.show();
            }
        });
        $("#tabAddNew").click(function () {
            $("#tour").html('<i class="fa fa-question-circle" aria-hidden="true"></i> Hướng dẫn tab thêm mới');
        });
        $("#tabManage").click(function () {
            $("#tour").html('<i class="fa fa-question-circle" aria-hidden="true"></i> Hướng dẫn tab quản trị');
        });
        $("#tabDownload").click(function () {
            $("#tour").html('<i class="fa fa-question-circle" aria-hidden="true"></i> Hướng dẫn tab download');
        });
        $("#tabDownloaded").click(function () {
            $("#tour").html('<i class="fa fa-question-circle" aria-hidden="true"></i> Hướng dẫn tab đã tải');
        });
        var annoTour = new Anno({
            target: '#tour',
            position: 'center-bottom',
            content: "<b>----- Cập nhật mới -----</b><br /><br />1. Nút xem hướng dẫn thêm mới.<br />2. Nút xem hướng dẫn quản trị.",
        });
        if (localStorage.getItem("tour") == null) {
            annoTour.show();
            localStorage.setItem("tour", "show")
        }
        //#endregion

        //#region ===================================== CODE DOWNLOAD ==========================================

        $("#reload_downloaded").on("click", () => {
            $('#table_downloaded').DataTable().clear().destroy();
            show_downloaded();
            thongbao("Tải lại dữ liệu thành công");
        });
        $("#delete_downloaded").on("click", () => {
            var listAdd = [];
            $(".add_selected").each(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().parent().addClass("active");
                    listAdd.push($(this));

                } else {
                    $(this).parent().parent().parent().parent().removeClass("active")
                }
            });
            var arrDelete = [];
            for (var i = 0; i < listAdd.length; i++) {
                arrDelete.push(listAdd[i].parent().text());
            }
            if (arrDelete.length == 0) {
                thongbao("Vui lòng chọn file để xóa", "warning");
                return;
            }
            //console.log(arrDelete);
            //return;
            if (bootbox.confirm("Bạn chắc chắn muốn xóa những file đã chọn này chứ?", function (result) {
                if (!result) return;
                $.ajax({
                    url: "/livestreaming/DeleteFileDownloaded",
                    method: "POST",
                    data: {
                        list_delete: arrDelete
                    },
                    success: function (data) {
                        if (data == "true") {
                            $('#table_downloaded').DataTable().clear().destroy();
                            show_downloaded();
                            thongbao("Đã xóa file thành công");
                        } else {
                            thongbao("Lỗi xóa file: " + data, "danger");
                        }
                    },
                    error: function () {
                        thongbao("Lỗi không xóa được file", "danger");
                    },
                });
            }));
        });
        $("#demo").on('click', () => {
            $("#youtubedl_title").val("Nhạc Trung hay tháng 1");
            $("#youtubedl_link").val("https://www.youtube.com/watch?v=JpwZUHuAL6w\nhttps://www.youtube.com/watch?v=HeBuOokvgXQ\nhttps://www.youtube.com/watch?v=ygj0iFjqSx8");
            var demo_div = "";
            for (var j = 1; j <= 3; j++) {
                demo_div += '<div class="numberedtextarea-number numberedtextarea-number-' + j + '">' + j + '</div>';
            }
            $("div#download_step2 .numberedtextarea-line-numbers").html(demo_div);
        });
        $("#build_cmd").on('click', () => {
            var youtubedl_profile = $("#youtubedl_profile").val();

            var file_format = ' --rm-cache-dir --no-part --merge-output-format mp4';
            //var file_format = '-f "bestvideo[height>=1080]"/"bestvideo[height>=720]"/bestvideo+bestaudio/best';
            var file_ext = ".%(ext)s";
            var resolution = $("#youtubedl_resolution").is(':checked') ? "_%(resolution)s" : "";
            switch (youtubedl_profile) {
                case "mp4":
                    file_ext = resolution + ".mp4";
                    break;
                case "default":
                    file_ext = resolution + ".%(ext)s";
                    break;
                default:
                    file_ext = resolution + ".mp4";
                    break;
            }
            var default_format = "youtube-dl " + file_format + " ";
            var cmd = "";
            var default_fileName = "time" + xoa_dau(new Date().toLocaleString('vi-VN')).replace(/ /g, "date");
            var list_downloaded = [];
            var list_hightlight = [];
            if ($('#youtubedl_link').val().split('\n').length >= 1) {
                //$('#youtubedl_merge').attr("checked", true);
                for (var i = 0; i < $('#youtubedl_link').val().split('\n').length; i++) {
                    var check_type = check_link_type($('#youtubedl_link').val().split('\n')[i]);
                    var optionF = "";
                    switch (check_type) {
                        case "youtube": optionF = " -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/bestvideo+bestaudio' "; break;
                        default: optionF = " "; break;
                    }
                    var fileName = "";
                    //fileName = $("#youtubedl_title").val() != '' ? xoa_dau($("#youtubedl_title").val()).replace(/ /g, "_") : default_fileName;
                    switch ($("#download_step2 input[type='radio']:checked").val()) {
                        case "randomName":
                            fileName = "-o 'downloaded/temp/file" + i + "_" + default_fileName + file_ext + "' ";
                            break;
                        case "youtubeTitle":
                            fileName = "--restrict-filenames -o 'downloaded/temp/" + "%(title)s" + file_ext + "' ";
                            break;
                        case "youtubeId":
                            fileName = "-o 'downloaded/temp/" + "%(id)s" + file_ext + "' ";
                            break;
                    }
                    list_hightlight.push(fileName);
                    list_downloaded.push(fileName);

                    cmd += default_format + optionF + fileName + $('#youtubedl_link').val().split('\n')[i];
                    if (i != $('#youtubedl_link').val().split('\n').length - 1) {
                        cmd += " && ";
                    }
                }
                // Gọi Ajax thêm vào database cho python đọc dữ liệu và tự động chạy
                //var one_time = 5;
                //var check_one = true;
                //setInterval(function () {
                //    // Chỉ cho chạy 1 lần để chuyển tab
                //    if (check_one) {
                //        thongbao('Đã thêm lệnh tải video thành công, sẽ tự động chuyển sang tab thêm mới luồng live thủ công sau ' + one_time-- + ' giây', "success", 12000);
                //        if (one_time == -1) {
                //            // Chuyển sang tab livestream thủ công
                //            $("#tabDownload").removeClass("active");
                //            $("#tab_3").removeClass("active");
                //            $("#tabAddNew").addClass("active");
                //            $("#tab_1").addClass("active");
                //            var newdiv = "";
                //            for (var j = 1; j <= list_downloaded.length; j++) {
                //                newdiv += '<div class="numberedtextarea-number numberedtextarea-number-' + j + '">' + j + '</div>';
                //            }
                //            $("div#step-2 .numberedtextarea-line-numbers").html(newdiv);
                //            $("#video").val(list_downloaded.toString().replace(/,/g, "\n"));
                //            $("#title").focus();
                //            // Chỉ cho chạy 1 lần để chuyển tab
                //            check_one = false;
                //        }
                //    }
                //}, 1000);
            }
            $("#youtubedl_cmd").val(cmd);
        });
        $("#addToDb").on('click', () => {
            var obj = {
                title: $("#youtubedl_title").val() != '' ? $("#youtubedl_title").val() : "Chưa đặt tên",
                cmd: $("#youtubedl_cmd").val(),
                status: "download"
            };
            $.post("/download/update", { obj: obj }, function (data) {
                if (data.result > 0) {
                    thongbao("Đã thêm lệnh tải video thành công");
                    table_download.ajax.reload();
                }
                else {
                    alert("Có lỗi khi tạo :" + data.mess);
                }
            });
        });
        $('#other').numberedtextarea();
        $('#search_livestreaming_userid').select2({
            placeholder: 'Chọn tài khoản'
        });
        $('span.select2-container').css("width", "100%").css("margin-top","10px");
        //$('#note').numberedtextarea();
        $('#youtubedl_link').numberedtextarea();
        $('#youtubedl_cmd').numberedtextarea();
        //#endregion
        var checkhide = true;
        $(".panel-body").dblclick(() => {
            if (checkhide) {
                $.each([3, 4, 9, 10], (index, value) => { olivestreaming.$table.column(value).visible(true) });
                checkhide = false;
            } else {
                $.each([3, 4, 9, 10], (index, value) => { olivestreaming.$table.column(value).visible(false) });
                checkhide = true;
            }

        })
    });// End document ready
</script>