﻿@using lamlt.web.Services;
@using lamlt.data;
@using lamlt.web.Models;
<form id="formlivestreaming" action="javascript:void();">
    @Html.AntiForgeryToken()
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><td>ID</td><td><input readonly type="text" class="form-control" name="Id" id="Id" value="@Model.Id"></td></tr>
            <tr><td>Tiêu đề</td><td><input type="text" class="form-control requiredfield" name="title" id="title" value="@Model.title"></td></tr>
            <tr><td>Tiến trình</td><td><input type="text" class="form-control requiredfield number" name="processid" id="processid" value="@Model.processid"></td></tr>
            <tr><td>Lệnh</td><td><textarea id="cmd" name="cmd" rows="10" style="width:100%;">@Model.cmd</textarea>  </td></tr>
            <tr><td>Video</td><td><textarea id="video" name="video" rows="10" style="width:100%;">@Model.video</textarea> </td></tr>
            <tr><td>Chất lượng</td><td><input type="text" class="form-control " name="resolution" id="resolution" value="@Model.resolution">  </td></tr>
            <tr style="display:none">
                <td>Loại</td>
                <td>
                    <b style="color:red;">Chú ý: </b><span>Nếu thay đổi loại, bạn phải thay lại đúng lệnh đường dẫn của Facebook hoặc Youtube tại mục "Lệnh" ở trên</span>
                    <select class="form-control" name="type" id="type">
                        <option value="youtube" @{var youtube_checked = @Model.type == "youtube" ? "selected" : ""; } @youtube_checked>Youtube</option>
                        <option value="facebook" @{var facebook_checked = @Model.type == "facebook" ? "selected" : ""; } @facebook_checked>Facebook</option>
                        <option value="lalatv" @{var lalatv_checked = @Model.type == "lalatv" ? "selected" : ""; } @lalatv_checked>LalaTV</option>
                    </select>
                </td>
            </tr>
            <tr style="display:none"><td>Tài khoản</td><td><input readonly type="text" class="form-control" name="userid" id="userid" value="@Model.userid"></td></tr>
            <tr style="display:none">
                <td>Tình trạng</td>
                <td>
                    <select class="form-control" name="status" id="status">
                        <option value="wait" @{var wait_checked = @Model.status == "wait" ? "selected" : ""; } @wait_checked>Hàng đợi</option>
                        <option value="living" @{var living_checked = @Model.status == "living" ? "selected" : ""; } @living_checked>Đang live</option>
                        <option value="download" @{var download_checked = @Model.status == "download" ? "selected" : ""; } @download_checked>Tải xuống</option>
                        <option value="stop" @{var stop_checked = @Model.status == "stop" ? "selected" : ""; } @stop_checked>Dừng lại</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Ngày tạo</td>
                <td>
                    <div class="input-group input-group-sm date-add-picker_fdate_full">
                        <input type="text" class="form-control requiredfield date" name="datecreated" id="datecreated" placeholder="@Model.datecreated" value="@Model.datecreated">
                    </div>
                </td>
            </tr>
            <tr><td>Ghi chú</td><td><input type="text" class="form-control" name="note" id="note" value="@Model.note"></td></tr>
            <tr>
                <td>Danh mục live</td>
                <td>
                    <select class='selection form-control cpid' id='live_catalog_id' name='live_catalog_id'>
                        @{
                            List<live_catalog> live_Catalogs = new live_catalogService().GetAllItem(null);
                            for (int jx = 0; jx <= live_Catalogs.Count - 1; jx++)
                            {
                                string sTitlexxx = live_Catalogs[jx].title.ToString();
                                int sIdxxx = live_Catalogs[jx].Id;
                                string sSelected = (sIdxxx == live_Catalogs[jx].Id) ? "selected" : "";
                                <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cài đặt theo lịch</td>
                <td>
                    <strong style="color:red">Định dạng thời gian theo 24h (yyyy-mm-dd hh:mm:ss)  Ví dụ: 2020-09-09 24:00:00</strong>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="starttime">Bắt đầu lúc</label>
                            @{
                                if (Model.starttime != null)
                                {
                                    <input type="text" class="form-control" name="starttime" id="starttime" value="@Model.starttime.ToString("yyyy-MM-dd HH:mm:ss")" />
                                }
                                else { 
                                    <input type="text" class="form-control" name="starttime" id="starttime" value="">
                                }
                            }
                        </div>
                        <div class="col-md-6">
                            <label for="stoptime">Kết thúc lúc</label>
                            @{
                                if (Model.stoptime != null)
                                {
                                    <input type="text" class="form-control" name="stoptime" id="stoptime" value="@Model.stoptime.ToString("yyyy-MM-dd HH:mm:ss")">
                                }
                                else {
                                    <input type="text" class="form-control" name="stoptime" id="stoptime" value="" />
                                }
                            }
                            
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#datecreated").on('focusin', () => {
            $("#datecreated").datetimepicker({ format: "DD/MM/YYYY hh:MM:ss" });
        });
    });
</script>