﻿<table class="table table-striped table-bordered">
    <tbody>
        <tr><td>ID</td><td>@Model.Id</td></tr>
        <tr><td>Tiêu đề</td><td>@Model.title</td></tr>
        <tr><td>Tiến trình</td><td>@Model.processid</td></tr>
        <tr><td>Lệnh</td><td>@Model.cmd</td></tr>
        <tr><td>Video</td><td>@Model.video</td></tr>
        <tr><td>Chất_lượng</td><td>@Model.resolution </td></tr>
        <tr><td>Tài khoản</td><td>@Model.username</td></tr>
        <tr><td>Trạng thái</td><td>@Model.status</td></tr>
        <tr><td>Ngày tạo</td><td>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")</td></tr>
        <tr><td>Ghi chú</td><td>@Model.note</td></tr>
        <tr><td>Start time</td><td>@Model.starttime</td></tr>
        <tr><td>Stop time</td><td>@Model.stoptime</td></tr>
        <tr><td>Danh mục live</td><td>@Model.live_catalog_title</td></tr>
    </tbody>
</table>