﻿.container-fluid > #printCust {
    margin-top: 20px;
}

#printCust label {
    margin-bottom: 0;
}

#printCust,
#printCust table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

    #printCust .right {
        text-align: right;
    }


.print_Hotel .hotel-logo {
    height: 91px;
    text-align: center;
    background: rgba(0,0,0,0.05);
}
.print_Hotel .hotel-logo.hotel-logobg {        
    background: #fff;
} 

    .print_Hotel .hotel-logo img {
        height: 100%;
        width: auto;
    }

.print_Hotel .hotel-info h2,
.print_Hotel .hotel-info label,
.print_Hotel .hotel-info span {
    display: block;
}

.print_Hotel .hotel-info h2 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
}

.print_Hotel .hotel-info label {
    font-size: 12px;
    margin-bottom: 0;
}

.print_Hotel {
    margin-bottom: 8px;
}

.print_Title .title1,
.print_Title .title2 {
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.print_Title .title1 {
    font-size: 20px;
}

.print_Title .title2 {
    font-size: 18px;
}

.print_Title {
    margin-bottom: 8px;
}

.print_orderInfo div label {
    width: 50%;
    text-align: right;
    float: left;
}
    .print_orderInfo div label:nth-of-type(2n+1),
    .print_orderInfo div span.titnone {
        font-weight: normal;
    }
    .print_orderInfo div label:nth-of-type(2n) {
        text-align: left;
    }

    .print_orderInfo div label strong {
        font-weight: bold;
    }

.print_orderInfo div span.note {
    font-style: italic;
    display: block;
    text-align: center;
}

.print_pay div label {
    width: 50%;
    text-align: right;
    float: left;
}

    .print_pay div label .usd {
        display: inline-block;
        width: 50%;
        text-align: left;
    }

    .print_pay div label .vnd {
        display: inline-block;
        width: 50%;
        text-align: right;
    }

.print_data .tt {
    font-weight: bold;
}


.print_data table.table th,
.print_data table.table td {
    padding: 1px 5px;
}

.print_data table.table tr.bg {
    background: rgba(210,214,222,0.8);
}

.print_data table.table tr.bg2 {
    background: rgba(210,214,222,0.4);
}

.print_pay label {
    font-weight: bold;
}

    .print_pay label .usd {
        font-weight: normal;
    }

.print_pay {
    margin-bottom: 10px;
}

.print_footer h4,
.print_footer h5 {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.print_footer h4 {
    font-size: 15px;
    text-transform: uppercase;
}

.print_footer h5 {
    font-size: 14px;
}

.print_footer {
    margin-bottom: 50px;
}

#printButon {
    position: absolute;
    right: 15px;
    z-index: 1;
}



.container-fluid > #printCust,
.container-fluid > #printCust table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.container-fluid > #printCust .print_Hotel .hotel-info label {
    font-size: 10px;
    margin-bottom: 0;
}