﻿<table class="table table-striped table-bordered">
    <tbody>
        <tr><th>Mã ID</th><td>@Model.Id</td></tr>
        <tr><th>Title</th><td>@Model.title</td></tr>
        <tr><th>Code</th><td>@Model.code</td></tr>
        <tr><th>Datecreated</th><td>@Model.datecreated</td></tr>
    </tbody>
</table>