﻿<section>
    <form id="formfilm_provider" action="javascript:void();">
        @Html.AntiForgeryToken()
        <table class="table table-striped table-bordered">
            <tbody>
                <tr><th>Mã ID</th><td><input readonly="readonly" type="text class="form-control" name="Id" id="Id" value="@Model.Id"></td></tr>
                <tr><th>Title</th><td><input type="text" maxlength="500" class="form-control " name="title" id="title" value="@Model.title"></td></tr>
                <tr><th>Code</th><td><input type="text" maxlength="500" class="form-control " name="code" id="code" value="@Model.code"></td></tr>
                <tr><th>Datecreated</th><td><input type="text" maxlength="500" class="form-control " name="datecreated" id="datecreated" value="@Model.datecreated"></td></tr>
            </tbody>
        </table>
    </form>
</section>