@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8adj18');
  src:  url('fonts/icomoon.eot?8adj18#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8adj18') format('truetype'),
    url('fonts/icomoon.woff?8adj18') format('woff'),
    url('fonts/icomoon.svg?8adj18#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-add-song:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-clean:before {
  content: "\e903";
}
.icon-clgt:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-credit-card:before {
  content: "\e906";
}
.icon-diagram:before {
  content: "\e907";
}
.icon-down-arrow:before {
  content: "\e908";
}
.icon-dsdp:before {
  content: "\e909";
}
.icon-earth-globe:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-exchanging:before {
  content: "\e90c";
}
.icon-eye-outline:before {
  content: "\e90d";
}
.icon-gear:before {
  content: "\e90e";
}
.icon-hammer:before {
  content: "\e90f";
}
.icon-hammer-nailing-a-nail:before {
  content: "\e910";
}
.icon-link-chain:before {
  content: "\e911";
}
.icon-List:before {
  content: "\e912";
}
.icon-logout-2:before {
  content: "\e913";
}
.icon-magnifying-glass:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-menu-baocao:before {
  content: "\e916";
}
.icon-menu-email:before {
  content: "\e917";
}
.icon-menu-fotel:before {
  content: "\e918";
}
.icon-menu-kho:before {
  content: "\e919";
}
.icon-menu-letan:before {
  content: "\e91a";
}
.icon-menu-sdp:before {
  content: "\e91b";
}
.icon-menu-setting:before {
  content: "\e91c";
}
.icon-menu-shop:before {
  content: "\e91d";
}
.icon-plus-symbol:before {
  content: "\e91e";
}
.icon-ring:before {
  content: "\e91f";
}
.icon-room-calendar:before {
  content: "\e920";
}
.icon-room-clean:before {
  content: "\e921";
}
.icon-room-clock:before {
  content: "\e922";
}
.icon-room-lock:before {
  content: "\e923";
}
.icon-room-ring:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e925";
}
.icon-shopping:before {
  content: "\e926";
}
.icon-shopping-cart:before {
  content: "\e927";
}
.icon-stats:before {
  content: "\e928";
}
.icon-tttv:before {
  content: "\e929";
}
.icon-user:before {
  content: "\e92a";
}
.icon-warehouse:before {
  content: "\e92b";
}
.icon-warning:before {
  content: "\e92c";
}

