﻿﻿@{
    ViewData["Title"] = "Cài đặt chung";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabManager" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-cog"></i> Cài đặt chung</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtKey">Key</label>
                            <input type="text" disabled id="txtKey" class="form-control" value="0" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtTitle">Tiêu đề</label>
                            <input type="text" id="txtTitle" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtAllow">Thời gian</label>
                            <input type="text" id="txtAllow" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="btnSave">.</label>
                            <button id="btnSave" class="btn btn-success btn-block">Lưu lại</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Key - Chi tiết</th>
                                    <th>Thời gian</th>
                                    <th>Trạng thái</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            let allow = $('#txtAllow').val();
            if (!allow) {
                alert("Yêu cầu nhập nội dung");
                return;
            }
            let obj = {
                'key': $('#txtKey').val(),
                'title': $('#txtTitle').val(),
                'allow': allow,
            };
            $.ajax({
                url: '/film_key/update',
                data: {
                    obj: obj
                },
                method: "POST",
                success: function (data) {
                    alert("Thành công");
                    LoadConfig();
                }, error: function (xhr) {
                    alert("Thất bại");
                }
            });
        });
        function secondsToDhms(seconds) {
            seconds = Number(seconds);
            var d = Math.floor(seconds / (3600 * 24));
            var h = Math.floor(seconds % (3600 * 24) / 3600);
            var m = Math.floor(seconds % 3600 / 60);
            var s = Math.floor(seconds % 60);

            var dDisplay = d > 0 ? d + (d == 1 ? " ngày, " : " ngày, ") : "";
            var hDisplay = h > 0 ? h + (h == 1 ? " giờ, " : " giờ, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " phút, " : " phút, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " giây" : " giây") : "";
            return dDisplay + hDisplay + mDisplay + sDisplay;
        }
        function secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            var hDisplay = h > 0 ? h + (h == 1 ? " giờ, " : " giờ, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " phút, " : " phút, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " giây" : " giây") : "";
            return hDisplay + mDisplay + sDisplay;
        }
        function LoadConfig() {
            var table = $(".table tbody");
            $.ajax({
                url: '/film_key/getall',
                method: "GET",
                success: function (data) {
                    console.log(data);
                    table.empty();
                    if (data.length > 0) {
                        data.forEach(function (b) {
                            let id = b.id;
                            let title = b.title || "";
                            let status = b.status || "";
                            let key = b.key || "";
                            let allow = b.allow || "";
                            let note = b.note || "";
                            let tr_html = '<tr>' + id;
                            tr_html += '<td>ID : ' + id + ' <a title="Xóa" id="removeConfig" data-id="' + id + '"><i class="fa fa-trash"></i> Xóa </a> <a title="Sửa" id="editConfig" data-id="' + key + '" data-allow="' + allow + '" data-title="' + title + '"><i class="fa fa-pencil"></i> Sửa </a></td>';
                            tr_html += '<td>' + title + '</td>';
                            tr_html += '<td><a title="Xem Log" id="viewConfig" data-key="' + key + '" data-allow="' + allow + '">' + key + '</a> </td>';
                            tr_html += '<td title="' + secondsToDhms(allow) + '">' + secondsToHms(allow) + '</td>';
                            tr_html += '<td>' + status + '</td>';
                            tr_html += '<td>' + note + '</td>';
                            tr_html += '</tr>';
                            table.append(tr_html);
                        });
                        $('.table').DataTable();
                    }
                }
            });
            $('#txtKey').val('');
            $('#txtTitle').val('');
            $('#txtAllow').val('');
        }
        LoadConfig();
        $(document).on({
            click: function () {
                let id = $(this).data('id');
                $.ajax({
                    url: '/film_key/Delete/' + id,
                    method: "DELETE",
                    success: function (data) {
                        LoadConfig();
                    }
                });
            }
        }, '#removeConfig');
        $(document).on({
            click: function () {
                $('#txtKey').val($(this).data('id'))
                $('#txtTitle').val($(this).data('title'))
                $('#txtAllow').val($(this).data('allow'))
            }
        }, '#editConfig');
        $(document).on({
            click: function () {
                let key = $(this).data('key');
                let total_time = $(this).data('allow');
                $.ajax({
                    url: '/film_key_log/get?key=' + key,
                    method: "GET",
                    success: function (data) {
                        let view_html = '';
                        let index = 1;
                        let time_used = 0;
                        view_html += '<table class="table table-striped" style="text-align:left">';
                        view_html += '<thead>';
                        view_html += '<tr>';
                        view_html += '<th>ID</th>';
                        view_html += '<th>Key</th>';
                        view_html += '<th>Thời gian</th>';
                        view_html += '<th>Tạo lúc</th>';
                        view_html += '<th>Ghi chú</th>';
                        view_html += '</tr>';
                        view_html += '</thead>';
                        view_html += '<tbody>';
                        let tbody = "";
                        data.forEach(function (item) {
                            let datakey = item.key || "";
                            let time = item.time || 0;
                            let created = item.created || "";
                            let note = item.note || "";
                            tbody += '<tr>';
                            tbody += '<td>' + index + '</td>';
                            tbody += '<td>' + datakey + '</td>';
                            tbody += '<td>' + time + '</td>';
                            tbody += '<td>' + created + '</td>';
                            tbody += '<td>' + note + '</td>';
                            tbody += '</tr>';
                            index++;
                            time_used += parseInt(time);
                        });
                        console.log(tbody);
                        view_html += tbody;
                        view_html += '</tbody>';
                        view_html += '</table>';
                        console.log(view_html);
                        Swal.fire({
                            title: '<strong>Log sử dụng của key: ' + key + '</strong>',
                            html: view_html,
                            showDenyButton: true,
                            denyButtonText: "Thời gian đã sử dụng: " + secondsToHms(time_used),
                            confirmButtonText: "Thời gian còn lại: " + secondsToHms(total_time - time_used),
                            width: '80%'
                        })
                    }
                });
            }
        }, '#viewConfig');

    });// ready
</script>
