﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_article' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Url</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='url' id='url' size='1' value='@Model.url'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ordinal</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ordinal' id='ordinal' size='1' value='@Model.ordinal'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Target</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='target' id='target' size='1' value='@Model.target'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Created_time</label><div class='col-sm-10'>
                <div class='input-group input-group-sm date-add-picker_fdate_full'>
                    <input type='text' maxlength='500' kind='char' class='form-control ' name='created_time' id='created_time' size='1' value='@Model.created_time'> <span class='input-group-addon input-group-addon-custom' onclick="javascript:$('#created_time').datetimepicker('show');">      <span class='glyphicon glyphicon-calendar'></span>  </span>
                    <script type='text/javascript'>
                        $(document).ready(function () { $('#created_time').datetimepicker({ format: 'DD/MM/YYYY' }); });
                    </script>
                </div>
            </div>
        </div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Summary</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='summary' id='summary' size='1' value='@Model.summary'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Content</label><div class='col-sm-10'><textarea type='text' kind='char' class='form-control' rows="10" name='content' id='content' size='1'> @Model.content </textarea>   </div></div>
    </form>
</section>