﻿@{
    ViewData["Title"] = "Quản lý Film ";
    ViewData["activeMenu"] = "active";
    ViewData["thisActive"] = "thisAcive";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
        <li id="liAddNew" style="float:right;margin-top:10px">
            <button onclick="javascript: ofilm_article.editDialog(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
            </button>
        </li>
    </ul>

</div>
<section>
</section>
<table id="example_film_article" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">link</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Vị trí</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Mục tiêu</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tiêu đề</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tóm tắt</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Nội dung</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>
@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>*@
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@
<!--script-->

<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_article.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_article = new film_article();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_article.setupGrid();
        $("#search_film_article_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_article.searchGrid();
            }
        });
    });
</script>