﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formdenoiser' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Upload File</label>
            <div class='col-sm-10'>
                <input type="file" class="form-control" title="file bài hát" name="upload_file1" id="upload_file1" />
                <div class="progress" style="display:none">
                    <div id="progressbar-5" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mp4</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield' name='mp4' id='mp4' size='1' value='@Model.mp4'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Step</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='step' id='step' size='1' value='@Model.step'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Result</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='result' id='result' size='1' value='@Model.result'>    </div></div>
        @*<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Created</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control requiredfield date' name='created' id='created' size='1' value='@Model.created'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Updated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control requiredfield date' name='updated' id='updated' size='1' value='@Model.updated'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>*@
    </form>
</section>
<script>
    $("#upload_file1").change(function () {
        $(".progress").show();
        var fd = new FormData();
        var files = $('#upload_file1')[0].files[0];
        fd.append('file', files);
        $.ajax({
            url: "/denoiser/upload_file",
            data: fd,
            contentType: false,
            processData: false,
            type: 'post',
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var progress = Math.round((evt.loaded / evt.total) * 100);
                    }
                    $("#progressbar-5").css("width", progress + "%").attr("aria-valuenow", progress);
                    $("#progressbar-5").html(progress + "%");
                }, false);
                return xhr;
            },
            success: function (data) {
                $("#mp4").val(data.file);
                $("#progressbar-5").css("width", "100%").attr("aria-valuenow", 100);
                $("#progressbar-5").addClass("bg-success");
                $("#progressbar-5").html('<i class="fa fa-check"></i> Đã upload thành công');
            },
            error: function (data) {
                alert("Có lỗi khi upload");
            }
        });
    });
</script>