﻿<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>
        <li id="liAddNew" style="float:right"></li>
    </ul>
</div>
<section>
    <table id="tblDenoiser" class="table table-stripped table-responsive stripe">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tiêu đề</th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.title</td>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th>Video gốc</th>
                <th>Kết quả</th>
            </tr>
            <tr>
                <td>
                    <video controls>
                        <source src="https://files.lalatv.com.vn:9090/@Model.mp4">
                    </video>
                </td>
                <td>
                    <video controls>
                        <source src="https://files.lalatv.com.vn:9090/@Model.result">
                    </video>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#tblDenoiser').DataTable({ searching: false, paging: false, info: false });
        });
    </script>
</section>