﻿@{
    ViewData["Title"] = "Lọc nhiễu";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">Tìm kiếm và cài đặt lọc nhiễu</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="search_denoiser_title">Tìm kiếm theo tiêu đề</label>
                                <input type='text' class='form-control' maxlength='200' name='search_denoiser_title' id='search_denoiser_title' placeholder="Tìm kiếm" />
                            </div>
                            <div class="btn-group special">
                                <button onclick="javascript: odenoiser.editDialog(0);" type="button" class="btn btn-default">
                                    <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
                                </button>
                                <button onclick="javascript: odenoiser.searchGrid();" type="button" class="btn btn-default btn-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="d_step1">Bước 1</label>
                                <select class="form-control" id="d_step1">
                                    <option value="">-- Lựa chọn --</option>
                                    <option value="spleeter">Spleeter - Khử nhạc</option>
                                    <option value="basic">Basic - Xử lý âm thanh</option>
                                    <option value="ai">AI - Giảm tiếng ồn</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="d_step2">Bước 2</label>
                                <select class="form-control" id="d_step2">
                                    <option value="">-- Lựa chọn --</option>
                                    <option value="spleeter">Spleeter - Khử nhạc</option>
                                    <option value="basic">Basic - Xử lý âm thanh</option>
                                    <option value="ai">AI - Giảm tiếng ồn</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="d_step3">Bước 3</label>
                                <select class="form-control" id="d_step3">
                                    <option value="">-- Lựa chọn --</option>
                                    <option value="spleeter">Spleeter - Khử nhạc</option>
                                    <option value="basic">Basic - Xử lý âm thanh</option>
                                    <option value="ai">AI - Giảm tiếng ồn</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div id="div_basic">
                                        <h5 id="lblStep">Cài đặt Basic</h5>
                                        <a id="adv"><i class="fa fa-gear"></i> Nâng cao</a>
                                        <div class="adv">
                                            <label for="ReducedPower" style="cursor:pointer;padding-right:20px;"><input checked name="basic" type="radio" value="ReducedPower" id="ReducedPower" /> Reduced Power</label>
                                            <label for="ReducedCentroidS" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedCentroidS" id="ReducedCentroidS" />  Reduced Centroid S</label>
                                            <label for="ReducedCentroidMb" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedCentroidMb" id="ReducedCentroidMb" />  Reduced Centroid Mb</label>
                                            <label for="ReducedMfccUp" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedMfccUp" id="ReducedMfccUp" />  Reduced Mfcc Up</label>
                                            <label for="ReducedMfccDown" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedMfccDown" id="ReducedMfccDown" />  Reduced Mfcc Down</label>
                                            <label for="ReducedOriginal" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedOriginal" id="ReducedOriginal" />  Reduced Original</label>
                                        </div>
                                    </div>
                                    <textarea rows="7" class="form-control" id="txtResult" readonly></textarea>
                                </div>
                                <div class="form-group">
                                    <button id="btnDenoiser" class="btn btn-danger"><i class="fa fa-flash"></i> Bắt đầu dịch</button>
                                    <span id="mgs" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('#btnDenoiser').click(function () {
                                    if (proId <= 0) {
                                        $('#mgs').html('Vui lòng bấm <b style="color:#337ab7;">"<span class="glyphicon glyphicon-flash" aria-hidden="true" style="color:#337ab7" title="Cài đặt lọc nhiễu"></span>Cấu hình lọc nhiễu"</b> của video cần thao tác');
                                        return;
                                    }
                                    $.ajax({
                                        url: "/denoiser/GenDenoiser",
                                        method: 'POST',
                                        data: {
                                            obj: $('#txtResult').val(),
                                            filename: proId + ".txt",
                                        },
                                        success: function (data) {
                                            alert(data);
                                            $('#mgs').html("");
                                        },
                                        error: function (xhr) { alert(xhr.responseText); },
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_denoiser" class="table table-striped stripe" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Các bước</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Kết quả</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/denoiser.js"></script>

<script type="text/javascript">
    var $table;
    var odenoiser = new denoiser();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        odenoiser.setupGrid();
        $("#search_denoiser_title").keypress(function (e) {
            if (e.which == 13) {
                odenoiser.searchGrid();
            }
        });
        $(".adv").hide();
        $("#div_basic").hide();
        $("#adv").click(function () {
            $(".adv").toggle(150);
        });
    });
</script>