﻿@{
    string datecreated = "";
    string dateupdated = "";
    string status = (Model.status > 0) ? "Đã duyệt" : "Chưa duyệt";

    if (Model.datecreated != null) { datecreated = Model.datecreated.ToString("dd/MM/yyyy"); }
    if (Model.dateupdated != null) { dateupdated = Model.dateupdated.ToString("dd/MM/yyyy"); }

}
<div class="form-body">
    <div class="row hidden">
        <label class="col-md-2 control-label">Id</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly>
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Tên</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.title">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Link</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.link">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Method</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.method">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Params</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.param">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Params Type</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.param_type">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Result</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.result">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Note</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@Model.note">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Status</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@status">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Ngày tạo</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@datecreated">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Ngày cập nhật</label>
        <div class="col-md-9">
            <input type="text" class="form-control" readonly value="@dateupdated">
            <span class="help-block hidden"> A block of help text</span>
        </div>
    </div>
</div>

