﻿@using lamlt.data
@using lamlt.web.Services

<section>
    <form id='formapi_lalatv' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class="row hidden form-group">
            <label class="col-md-2 control-label">Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" readonly>
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Tên</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.title">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Link</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.link">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Method</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.method">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Params</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.param">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Param Types</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.param_type">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Result</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.result">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Note</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@Model.note">
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Trạng thái</label>
            <div class="col-md-9">
                <select class="form-control" name="status" id="status" style="width:100%">
                    <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                    <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
                </select>
                <span class="help-block hidden"> A block of help text</span>
            </div>
        </div>
    </form>
</section>
<script>
    $("#file1").change(function () {
        var file = $('#file1')[0].files[0];
        console.log();
        ofilm_catalog.upload_file();
    });
</script>