﻿@{
    ViewData["Title"] = "Video  - Danh mục phim";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="control-group row-fluid form-inline">
                        <label for="search_api_lalatv_title">Tìm kiếm tiêu đề</label>
                        <input type="text" class="form-control" name="search_api_lalatv_title" id="search_api_lalatv_title" />
                        <button onclick="javascript: oapi_lalatv.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        <button onclick="javascript: oapi_lalatv.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_api_lalatv" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Link</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Methods</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Params</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Params Type</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Result</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Note</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
        </tr>
    </thead>
</table>
<!--script-->
<script src="~/Scripts/oze/api_lalatv.js"></script>
<script type="text/javascript">
    var $table;
    var oapi_lalatv = new api_lalatv();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        oapi_lalatv.setupGrid();
        $("#search_api_lalatv_title").keypress(function (e) {
            if (e.which == 13) {
                oapi_lalatv.searchGrid();
            }
        });
    });
</script>
