﻿@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
    string datecreated = (Model.datecreated != null) ? Model.datecreated.ToString("dd/mm/yyyy") : "";
    string dateupdated = (Model.dateupdated != null) ? Model.dateupdated.ToString("dd/mm/yyyy") : "";
}
<div class="panel-collapse collapse in" aria-expanded="true" style="">
    <div class="panel-body">
        <div class="form-group">
            <div class='form-group row'>
                <label for='lblnameks' class='col-sm-2 col-form-label'>Id</label>
                <div class='col-sm-10'>
                    <input type='text' maxlength='500' kind='char' class='form-control' readonly name='Id' id='Id' size='1' value='@Model.Id'>
                </div>
            </div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tiêu đề</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='title' id='title' size='1' value='@Model.title'></div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='description' id='description' size='1' value='@Model.description'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Thời gian</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='time_show' id='time_show' size='1' value='@Model.time_show'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Ngày tạo</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='datecreated' id='datecreated' size='1' value='@datecreated'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Ngày cập nhật</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='dateupdated' id='dateupdated' size='1' value='@dateupdated'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Trạng thái</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='status' id='status' size='1' value='@status'> </div></div>
        </div>
    </div>
</div>