﻿@using lamlt.data
@using lamlt.webservice
@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
}
<form id='formscene_change' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tiêu đề</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='description' id='description' size='1' value='@Model.description'>    </div></div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 col-form-label'>File</label>
        <div class='col-sm-10'>
            <input type="file" class="form-control requiredfield" title="Upload file1" name="file1" id="file1" />
        </div>
        <div class="col-sm-10" style="padding-top:10px">
            <input type="text" class="form-control requiredfield" title="Upload file" name="upload_file" id="upload_file" requiredfield value="@Model.upload_file" />
            <div class="row">
                <div class="col-md-12">
                    <div id="progressbar-5">
                        <div class="progress-label">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Thời gian</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='time_show' id='time_show' size='1' value='@Model.time_show'>    </div></div>
    <div class='form-group row'>
        <label for='status' class='col-sm-2 col-form-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <select class='selection form-control' name='status' id='status' style="width:100%">
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>
</form>
<script src="~/Scripts/oze/scene_change.js"></script>
<script>
    var oscene_change = new scene_change();
    $(document).ready(function () {
        $("#file1").change(function () {
            var file = $('#file1')[0].files[0];
            oscene_change.upload_file();
        });
    });
</script>