﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Film Report";
    Layout = "~/Views/Shared/_Root.cshtml";
}
    <div class="panel-group" id="search_panel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
            </div>
            <div class="panel-collapse collapse in" id="advanced_search">
                <div class="panel-body">
                    <div class="col-md-3">

                        <label for="search_film_landing_page_pr_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" class="form-control" name="search_film_landing_page_pr_title" id="search_film_landing_page_pr_title" />
                        <button onclick="javascript: ofilm_landing_page_pr.searchGrid();" type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm </button>
                        <button onclick="javascript: ofilm_landing_page_pr.editDialog(0);" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
                    </div>
                    <div class="col-md-3">
                        <label for="start_time">Start Time</label>
                        <input type="text" class="form-control" name="start_time" id="start_time" />
                    </div>
                    <div class="col-md-3">
                        <label for="end_time">End Time</label>
                        <input type="text" class="form-control" name="end_time" id="end_time" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
<table id="example_film_landing_page_pr" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Guid Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Source</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ip</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Date Created</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>
<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_landing_page_pr.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_landing_page_pr = new film_landing_page_pr();
    $(document).ready(function () {
        $('#start_time').datetimepicker({ format: 'YYYY-MM-DD' });
        $('#end_time').datetimepicker({ format: 'YYYY-MM-DD' });
        ofilm_landing_page_pr.setupGrid();
        $("#search_film_landing_page_pr_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_landing_page_pr.searchGrid();
            }
        });
    });
    $("#start_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_landing_page_pr.searchGrid();
        }
    });
    $("#end_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_landing_page_pr.searchGrid();
        }
    });
</script>