﻿
html.print2 {
    padding: 0;
    margin: 0 auto;
    width: 80mm;
}

.print2 body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.print2 #gridPrint th:nth-child(1):not(.alw),
.print2 #gridPrint th:nth-child(5):not(.alw),
.print2 #gridPrint th:nth-child(6):not(.alw),
.print2 #gridPrint th:nth-child(8):not(.alw),
.print2 #gridPrint td:nth-child(1):not(.alw),
.print2 #gridPrint td:nth-child(5):not(.alw),
.print2 #gridPrint td:nth-child(6):not(.alw),
.print2 #gridPrint td:nth-child(8):not(.alw) {
    display: none;
}


.print2 .col-pay {
    margin-left: 0% !important;
    width: 100% !important;
}

.print2 .form-group {
    margin-bottom: 5px;
}

.print2 .table > tbody > tr > td,
.print2 .table > tbody > tr > th,
.print2 .table > tfoot > tr > td,
.print2 .table > tfoot > tr > th,
.print2 .table > thead > tr > td,
.print2 .table > thead > tr > th {
    padding: 5px;
}

.print2 .table-bordered > thead > tr > td,
.print2  .table-bordered > thead > tr > th {
    background: #eee;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

.print2 table {
    page-break-inside: auto;
    font-size: 9px;
    margin-bottom: 10px !important;
}

.print2 tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

.print2 .button-print {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

@media print {
   .print2  .noprint {
        display: none !important;
    }

   .print2  body {
        padding: 0;
        margin: 0;
    }

   .print2  table {
        border: 2px solid #cdcdcd !important;
    }

    .print2     table th,.print2  table td {
            border: 0 solid #ddd !important;
        }
}

@page {
    margin: 0;
}

.print2 .control-label {
    margin-bottom: 10px;
}

.print2 .pay-print {
    min-width: 100%;
}

.print2 .f12 {
    font-size: 12px;
}

.print2 .fixtop {
    margin-top: -10px;
}

.print2 .titleks {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.print2 .logohotel {
    display: none; 
}

.print2 .datap00 {
    margin-top: 15px;
}

.print2 .fix-print {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

.print2 .logohotel img {
    max-height: 120px;
}

.print2 .line-under {
    min-height: 2px;
    border: 1px dotted #cdcdcd;
    width: 90%;
    margin: 10px auto;
}

.print2 .control-label {
    padding-top: 0;
}

.print2 .clear {
    float: none !important;
    clear: both;
}

.print2 .thankp {
    font-style: italic;
    font-size: 10px;
}
.print2 .cs_info{
    width:100%;
}
.print2 .ht_info{
    width:100%;
}

.print2 .bill_no{
    display: none
}
