﻿#dllFriend .icheckbox_minimal-red{
    margin-right:3px;
}
.margin-left-3p
{
        margin-left: 3%;
}
.margin-top-5{
    margin-top:5px;
}
.smallCol{
    width:10px;    padding-right: 0px !important;
}
.fixWidth
{
    width:100px;
}
.margin-bottom-5{
    margin-bottom:5px;
}
.margin-bottom-10{
    margin-bottom:10px;
}
.btn {
    /*padding: 5px*/
}

.panel-heading a {
    font-weight: bold;
    color: #fff;
}
section#main-content .panel-group {
    margin-top: 11px;
}
.form-control {
/*            margin: 10px 0px;*/
        }

        /*input#title {
            font-weight: bold;
            padding: 30px;
            font-size: 20px;
        }*/

        .accordion .card-header:after {
            font-family: 'FontAwesome';
            content: "\f068";
            float: right;
        }

        .accordion .card-header.collapsed:after {
            content: "\f067";
        }

        div.card-header {
            padding: 10px;
            background: #ccc;
            color: #000;
            font-weight: bold;
        }

            div.card-header a {
                color: #000;
            }