﻿
#hotelregister-box {
    background: #fff;
    padding: 0;
    border-top: 0;
    color: #666;
    /*border-radius: 5px;*/
    box-sizing: border-box;
    /*-webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));*/
    width: 800px;
    margin: 50px auto;
    overflow: hidden;
}

#main-content #hotelregister-box{
    margin:0;
    width: 100%;
    overflow:hidden;
}

@media screen and (max-width: 800px) {
    #hotelregister-box {
        width: calc(100% - 10px);
        margin: 10px auto;
        margin-bottom: 50px;
    }
}

#hotelregister-box .login-box-body {
    padding: 10px 20px 20px;
}

#hotelregister-box .has-feedback-input {
    padding: inherit;
}

#hotelregister-box .login-logo {
    margin-bottom: 0;
}

#hotelregister-box h2.title {
    margin-top: 10px;
}

#hotelregister-box .control-label {
    padding-top: 0;
}

#hotelregister-box .btn.btn-sm {
    line-height: 1;
    padding: 5px 15px 5px;
}

#hotelregister-box .td-button {
    padding: 5px 8px;
}
#hotelregister-box .td-button input {
  width:100%;
}#hotelregister-box .td-button input.number-mask {
  width:100%;
  padding:6px;
}

#hotelregister-box .sub-title {
    margin-top: 0;
    padding-left: 15px;
    font-weight: bold;
}

#hotelregister-box .form-control.form-sm {
    height: 26px;
}

#hotelregister-box #content_reg {
    position: relative;
    min-height: 160px;
}

#hotelregister-box .hr-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#hotelregister-box #tab1 {
    position: relative;
}

#hotelregister-box #tab2.hr-content, #hotelregister-box #tab3.hr-content {
    left: 800px;
}

#captcha_box {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

#CaptchaInputText {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
