﻿.bootstrap-datetimepicker-widget {
    /*z-index: 999;
    position: absolute;*/
    overflow: visible;
}
/*hungpv xóa phải hỏi ý kiến anh trước nhé*/
.fix-table-datepicker .fixed-table-body,
.fix-table-datepicker .fixed-table-container,
.fix-table-datepicker .table > tbody > tr > td {
    overflow: visible;
}

.form-group {
    overflow: visible;
}

.form-inline .input-group > .form-control {
    width: 100%;
}

.error {
    color: red;
    font-size: small;
    display: block;
    white-space: nowrap;
}

.form-group .control-label {
    /*font-family: -webkit-body;*/
}

.form-horizontal .control-label {
    text-align: left;
}

.mp {
    margin: 0;
    padding: 0;
}

.modal-open1 .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.dt-body-right {
    text-align: right;
}

.table-bordered tr th {
    text-align: left;
}

    .table-bordered tr th.text-right {
        text-align: right;
    }

    .table-bordered tr th.text-center {
        text-align: center;
    }

.add-icon-hungpv {
    margin-top: 10px;
}

.add-textcenter-hungpv {
    text-align: center
}

/*innit*/

.pd0 {
    padding-left: 0;
    padding-right: 0;
}

.rotate span.glyphicon {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.rotate:hover span.glyphicon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

div.tools {
    background: #fff;
    width: 120px;
}

    div.tools a {
        background: #fff;
        display: block;
        padding: 10px;
    }

#example_film_video_wrapper td.sorting_1 {
    padding: 0 !important;
    background: #fff;
}

tr:hover td {
    background: #fff;
}

div.tools a.current_convert {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 1s ease infinite;
    color: #fff !important;
    cursor: not-allowed;
}

    div.tools a.current_convert span {
        color: #fff !important;
    }

div.tools .spin, .spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.checkbox label input {
    margin-right: 5px;
}