﻿/* md */
@media (min-width: 992px) {

    .modal-full-width {
        width: 1200px;
    }
}

@media (max-width: 767px) {
    .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }

    #containerSodophong {
        margin: 0 0 0 0 !important;
        padding: 0;
    }

        #containerSodophong .col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }

    .modal-header {
        margin-bottom: 0 !important;
    }
}
