﻿@charset "utf-8";

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

    html body {
        color: #000;
        background: #fff;
        height: 100%;
        margin: 0;
        padding: 0;
    }

a {
    color: inherit;
    outline: medium none;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

a {
    text-decoration: none;
    color: #000;
}

    a:hover {
        color: #8FD4FD;
    }

.clear {
    clear: both;
    float: none !important;
}

.icon img {
    border: none;
}

#sodo_outer {
    background-color: #fff;
    margin-top: 25px;
    padding-bottom: 30px;
    height: 100%;
}

.phong {
    width: 100%;
    min-height: 124px;
    background-color: #fff;
    color: #151c24;
    float: left;
    border: 1px solid #dadeea;
    margin-bottom: 16px;
    position: relative;
    color: #fff;
    border-radius: 6px;
}

.trangthai {
    float: left;
    color: #fff;
    /*width: 73px;*/
    text-align: center;
    border-right: 1px solid #f48a43;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.sophong {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 12px;
}

.hangphong {
    text-transform: uppercase;
    font-size: 10px !important;
}

.tinhtrang {
    margin-top: -5px;
}

.thongtin {
    float: left;
    margin-top: 12px;
    /*width: 160px; /*250px*/ */;
    padding-left: 0;
    padding-right: 0;
}

.thongtinkhach {
    margin-left: 5px;
}

.sodoan {
    float: left;
    font-size: 15px;
}

.truongdoan {
    float: left;
    margin-left: 1px;
}

.hotenkhach {
    float: left;
    margin-left: 5px;
    font-size: 11px;
}

.gio {
    margin-left: 10px;
    margin-top: 29px;
    background: url("/images/clock.png") no-repeat;
}

.gio1 {
    background: none;
}

.gio span {
    margin-left: 0px;
    font-size: 15px;
}

.ngay {
    margin-left: 10px; /*100px*/
    margin-top: 9px;
    background: url("/images/calendar.png") no-repeat;
}

    .ngay span {
        margin-left: 20PX;
        font-size: 13px;
        WHITE-SPACE: NOWRAP;
    }

.btn-menu {
    padding: 0;
}

. /*btn-menu i.glyphicon {
    background-image: url('../Images/Icon/menu/icon-datphong.png');
    width: 60px;
    height: 65px;
    background-repeat: no-repeat;
    margin-top: -2px;
    position: relative;
    bottom: -2px; 
    display: block;     
    margin: 0 auto;
    background-size: 100%;
}

.btn-menu i.btn-datphong {
    background-image: url('../Images/Icon/menu/icon-datphong.png');
}

.btn-menu i.btn-baohong {
    background-image: url('../Images/Icon/menu/icon-baohong.png');
}

.btn-menu i.btn-baophongban {
    background-image: url('../Images/Icon/menu/icon-baophongban.png');
}

.btn-menu i.btn-chitiet {
    background-image: url('../Images/Icon/menu/icon-chitiet.png');
}

.btn-menu i.btn-doiphong {
    background-image: url('../Images/Icon/menu/icon-doiphong.png');
}

.btn-menu i.btn-dsdatphong {
    background-image: url('../Images/Icon/menu/icon-dsdatphong.png');
}

.btn-menu i.btn-huynhanphong {
    background-image: url('../Images/Icon/menu/icon-huynhanphong.png');
}

.btn-menu i.btn-tamtru {
    background-image: url('../Images/Icon/menu/icon-tamtru.png');
}*/
.phong .col-* {
    padding-left: 0;
    padding-right: 0;
}

.row.phong {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    height: 146px;
}


/* box menu */
.listBtnMenu {
    padding-left: 5px;
    padding-right: 5px;
}

    .listBtnMenu .col-md-3,
    .listBtnMenu .col-sm-4,
    .listBtnMenu .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .listBtnMenu a.btn-menu {
        width: 100%;
        text-align: left;
        padding-left: 5px !important;
        min-height: 132px;
        text-align: center;
        /*background:red;*/
        font-size: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        color: #656565;
    }

        .listBtnMenu a.btn-menu:hover {
            background-color: #f17c2c;
            color: #fff;
        }


#containerSodophong.row {
    margin-right: -8px;
    margin-left: -7px;
    padding-top: 10px;
}

    #containerSodophong.row .col-sdp {
        padding-right: 8px;
        padding-left: 8px;
        float: left;
    }

    #containerSodophong.row .room_level {
        clear: both;
        margin: 0 -12px;
    }



.tab-title.sdp-title {
    margin: 0 -15px -10px;
    padding: 10px 15px;
    background: #fff;
    border-bottom: 1px solid #d2d6de;
    height: auto;
    line-height: 15px;
}

.content.sdp-content {
    margin-top: 10px;
    padding-top: 0px;
}

.phong .box-room {
    border-right: 1px solid #dadeea;
    border-bottom: 1px solid #dadeea;
    font-weight: 900;
}

.phong .box-cus {
    border-bottom: 1px solid #dadeea;
    font-weight: 700;
}

.phong .box-cus, .phong .box-room {
    text-align: center;
    /*height: 42px;
    padding: 0;*/
}

    .phong .box-room .b-name,
    .phong .box-room .b-type {
        display: block;
        text-align: center;
    }

    .phong .box-room .b-name {
        font-size: 24px;
        white-space: nowrap;
    }

        .phong .box-room .b-name .b-name-type {
            font-size: 15px;
            font-weight: normal;
        }

    .phong .box-room .b-type {
        font-weight: normal;
        font-size: 11px;
    }

.phong .box-cus {
    padding: 12px 0;
    font-size: 16px;
}

.box-ct {
    height: 49px;
}

.box-ft {
    text-align: center;
    line-height: 38px;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}

    .box-ft .bt-full {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
    }

        .box-ft .bt-full:hover {
            color: #fff;
        }

.room-date-plan {
    display: block;
    text-align: left;
    padding: 6px 10px 4px 15px;
}

.room-icon-status {
    text-align: center;
    padding: 4px 0 4px 0;
}

    .room-icon-status > span {
        font-size: 37px;
    }

.box-ct-row1,
.box-ct-row2 {
    /*padding: 5px 8px;*/
    position: relative;
}

.box-ct-row2 {
}

    .box-ct-row2 .room-date-plan {
        padding: 2px 10px 2px 15px;
    }

.box-ct-row1 {
    padding-left: 15px;
    padding-top: 5px;
}

.room-status2 {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 20px;
}

.content-wrapper.sdp-view,
.content-wrapper.sdp-view .content {
    background-color: #e9ebee;
}

    .content-wrapper.sdp-view .content {
        padding-bottom: 0;
    }

.btn-room-order {
    border-radius: 0;
    border: 1px solid #b8b8b8;
    background: transparent;
    border-left: 0;
    padding: 5px 10px;
    height: 30px;
    border-radius: 0 4px 4px 0;
}

    .btn-room-order.btn-room-order1 {
        border-radius: 0;
        margin-right: -4px;
    }

.sl-room {
    width: 130px;
    height: 30px;
    border: 1px solid #b8b8b8;
    margin: 0;
    padding: 0;
    float: left;
    border-left: 0;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}

    .sl-room > span {
        display: block;
        margin-top: 6px;
    }

    .sl-room:first-child {
        border-left: 1px solid #b8b8b8;
        border-radius: 4px 0 0 4px;
    }
/*.sl-room:last-child {
        border-left: 1px solid #b8b8b8;
        border-radius: 0 4px 4px 0;
    }*/
.sl-room-active {
}

.status-selected {
    background-color: #48607b;
    border-color: #48607b;
    color: #fff;
}

.stylish-input-group .input-group-addon {
    border-radius: 4px 0 0 4px;
    height: 30px;
    padding: 5px 12px;
}

.stylish-input-group .form-control {
    border-left: 0;
    height: 30px;
}

.broom-top {
    padding: 5px;
    padding-bottom: 5px;
}

    .broom-top .box-room {
        border-right: none;
        border-bottom: none;
        padding: 0;
        margin: 0;
    }

.broom-ct {
    /*min-height:*/
}

    .broom-ct > div.broom-ct-it {
        text-align: center;
        white-space: nowrap;
    }

.broom-ct-button {
    background: rgba(0,0,0,0.123);
    /*background: #74ba51;*/
    position: absolute;
    width: 100%;
    height: 38px;
    bottom: 0;
}

/*.phong.room-1 .broom-ct-button {
    background: #e17e39;
}*/

.phong.room-0 {
    background: #90d46e;
}

.phong.room-1 {
    background: #ed9457;
}

.phong.room-4 {
    background: #68b7dc;
}

.broom-ct-icon {
    position: absolute;
    right: 7px;
    bottom: 39px;
}

    .broom-ct-icon > i {
        font-size: 18px;
    }

.btn-menu .sdp-icon-menu {
    display: block;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*fix column*/
.sdp-column-5 .broom-top,
.sdp-column-6 .broom-top {
    padding: 0;
    padding-bottom: 0;
}

.sdp-column-5 .broom-ct-button,
.sdp-column-6 .broom-ct-button {
    height: 30px;
}

.sdp-column-5 .box-ft,
.sdp-column-6 .box-ft {
    line-height: 30px;
    font-size: 16px;
}

.sdp-column-5 .broom-ct-icon.broom-ct-icon-status,
.sdp-column-6 .broom-ct-icon.broom-ct-icon-status {
    bottom: 50px;
    right: 5px;
}
.group-room-item .sdp-column-5 .broom-ct-icon.broom-ct-icon-status,
.group-room-item .sdp-column-6 .broom-ct-icon.broom-ct-icon-status {
    bottom: 58px;
    right: 5px;
}
.sdp-column-5 .broom-ct-icon,
.sdp-column-6 .broom-ct-icon {
    right: 5px;
    bottom: 47px;
}

#sdp-grid-view {
    position: relative;
    margin-bottom: 20px;
    background: #fff;
}

    #sdp-grid-view .grid-sc {
        position: static;
        overflow-x: scroll;
        margin-left: 120px;
    }

    #sdp-grid-view table {
        border-collapse: separate;
        border-spacing: 0;
        margin-bottom: 0px;
    }

    #sdp-grid-view .headcol {
        position: absolute;
        width: 121px;
        left: 0;
        top: auto;
        border: 1px solid #d2d6de !important;
        border-top-color: transparent !important;
        padding: 4px 6px !important;
        padding-bottom: 3px !important;
        font-size: 14px;
        line-height: 16px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 1px;
        background-color: #e9ebee;
        cursor: pointer;
    }

    #sdp-grid-view thead .headcol {
        border-top-color: #d2d6de !important;
        padding: 6px 6px !important;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-top: -1px;
        background-color: #fff;
    }

    #sdp-grid-view table td,
    #sdp-grid-view table th {
        padding: 3px 4px !important;
        font-size: 13px;
    }

    #sdp-grid-view table th {
        padding: 5px 3px !important;
        background-color: #fff;
        opacity: 1;
    }

    #sdp-grid-view table td.headcol {
        opacity: 1;
        background: #fff;
    }

    #sdp-grid-view table td {
        border-left: 0;
        border-right: 0;
    }

    #sdp-grid-view tr td .roombk-div {
        background-color: #fff;
        padding: 0 !important;
        height: 24px;
    }

    #sdp-grid-view table tr.selected td,
    #sdp-grid-view table tr.selected td .roombk-div {
        background-color: #bbe4a7;
    }

        #sdp-grid-view table tr.selected td.headcol {
            background-color: #90d46e;
            color: #fff;
        }

    #sdp-grid-view tr td.roombk-td {
        padding: 0 !important;
        position: relative;
    }


    #sdp-grid-view tr td .roombk-div .roombk-item {
        display: inline-block;
        height: 24px;
        background: #68b7dc;
        top: 0;
        cursor: pointer;
        position: absolute;
        z-index: 10;
    }

        #sdp-grid-view tr td .roombk-div .roombk-item:hover,
        #sdp-grid-view tr td .roombk-div .roombk-item[aria-describedby] {
            z-index: 12;
        }

        #sdp-grid-view tr td .roombk-div .roombk-item.r-order {
            background-color: #48607b !important;
        }

            #sdp-grid-view tr td .roombk-div .roombk-item.r-order.r-changeroom {
                background-color: #5d6c7d !important;
            }

        #sdp-grid-view tr td .roombk-div .roombk-item.r-checkin {
            background-color: #ed9457 !important;
        }

            #sdp-grid-view tr td .roombk-div .roombk-item.r-checkin.r-changeroom {
                background-color: #5d6c7d !important;
            }

        #sdp-grid-view tr td .roombk-div .roombk-item.r-booking {
            background-color: #68b7dc !important;
        }

    #sdp-grid-view .popover {
        max-width: 500px;
    }

    #sdp-grid-view .r-order + .popover .popover-title {
        background-color: #48607b;
        margin: -2px -1px;
        color: #fff;
    }

    #sdp-grid-view .r-checkin + .popover .popover-title {
        background-color: #e17e39;
        margin: -2px -1px;
        color: #fff;
    }

    #sdp-grid-view .r-booking + .popover .popover-title {
        background-color: #68b7dc;
        margin: -2px -1px;
        color: #fff;
    }

#liorder .dropdown {
    float: left;
}

    #liorder .dropdown .btn-primary {
        background-color: #fff;
        border-color: #b8b8b8;
        color: #000;
        padding: 4px 5px 5px;
        font-size: 13px;
        border-left: 0;
        border-radius: 0 4px 4px 0;
        width: 130px;
        text-align: left;
    }

    #liorder .dropdown .dropdown-item {
        display: block;
        width: 100%;
        padding: 6px 5px;
        clear: both;
        font-weight: normal;
        color: #000;
        text-align: inherit;
        white-space: nowrap;
        background: 0 0;
        border: 0;
    }

        #liorder .dropdown .dropdown-item:focus,
        #liorder .dropdown .dropdown-item:hover {
            color: #000;
            text-decoration: none;
            background-color: #f7f7f9;
        }

    #liorder .dropdown .caret {
        position: absolute;
        right: 11px;
        top: 12px;
    }

#containerSodophong .group-room-title {
    background: #48607b;
    color: #fff;
    padding: 5px 16px;
    margin: 0 12px;
    border-radius: 4px;
    /*-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}

#containerSodophong .group-room-item {
    margin: 0 12px;
}

#containerSodophong.row .phong-first {
    padding-left: 0;
}

#containerSodophong.row .phong-last {
    padding-right: 0;
}

/*Dinh Ami*/
.phong .dinh_icon_auto,
.phong .dinh_icon_gio,
.phong .dinh_icon_ngay,
.phong .dinh_icon_dem,
.phong .dinh_icon_thang {
    font-family: 'FontAwesome' !important;
    font-size: 18px;
}

    .phong .dinh_icon_auto:before {
        content: "\f021";
    }

    .phong .dinh_icon_gio:before {
        content:"\f017"
    }

    .phong .dinh_icon_ngay:before {
        content: "\f015"
    }

    .phong .dinh_icon_dem:before {
        content: "\f186";
    }

    .phong .dinh_icon_thang:before {
        content: "\f073";
    }
