﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "HG-PROJECT-CMS | Biên tập " + @Model.title;
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    film_channelService film_channelSV = new film_channelService(); List<vw_film_channel> list_channel = film_channelSV.GetViewAllItem(null);
    film_catalogService film_catalogSV = new film_catalogService(); List<vw_film_catalog> list_catalog = film_catalogSV.GetViewAllItem(null);

    //chu y 2 thang duoi nay
    film_effectService film_effectSV = new film_effectService(); List<vw_film_effect> list_effect = film_effectSV.GetViewAllItem(null);
    scene_changeService scene_changeSV = new scene_changeService(); List<vw_scene_change> list_scene = scene_changeSV.GetViewAllItem(null);
}
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<style>
    .pagination {
        display: none;
    }

    .dataTables_length {
        display: none !important;
    }

    .dataTables_info {
        display: none !important;
    }

    .btn {
        min-width: 80px;
    }

    .ui-widget-header {
        background: #cedc98;
        border: 1px solid #DDDDDD;
        color: #333333;
        font-weight: bold;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 13px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }

    .red {
        color: red;
    }

    input#title {
        font-weight: bold;
        padding: 30px;
        font-size: 20px;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @if (Model.title != null)
            {
                <a aria-expanded="true" class="">Chỉnh sửa bài hát @Model.title</a>
            }
            else
            {
                <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search" class="">Thêm mới biên tập</a>
            }
        </div>
        <div class="panel-collapse collapse in" aria-expanded="true" style="">
            <div class="panel-body">
                <form id='formfilm_product' action='javascript:void();'>
                    @Html.AntiForgeryToken()
                    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
                    @*title*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Tiêu đề</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>
                            </div>
                        </div>
                    </div>
                    @*code*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Code</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <input type='text' class='form-control' name='code' id='code' value='@Model.code'>
                            </div>
                        </div>
                    </div>
                    @*content*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Nội dung</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <input type='text' required maxlength='500' kind='char' class='form-control ' name='content' id='content' size='1' value='@Model.content'>
                            </div>
                        </div>
                    </div>
                    @*channel*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Kênh</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-12">
                                <select class='selection form-control channel_id' id='channel_id' name='channel_id' style="width:100%">
                                    @if (Model.channel_id != null)
                                    {
                                        for (int jx = 0; jx <= list_channel.Count - 1; jx++)
                                        {
                                            string sTitlexxx = list_channel[jx].title.ToString();
                                            int sIdxxx = list_channel[jx].Id;
                                            string sSelected = (sIdxxx == Model.channel_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="-1">────────── Tất cả ──────────</option>
                                        for (int jx = 0; jx <= list_channel.Count - 1; jx++)
                                        {
                                            string sTitlexxx = list_channel[jx].title.ToString();
                                            int sIdxxx = list_channel[jx].Id;
                                            string sSelected = (sIdxxx == Model.channel_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*danh muc*@

                    <div class="row">
                        @*<div class="col-md-6">
                                <button type="button" class="btn btn-primary" id="btn_genProductVideo"><span>Gen</span></button>
                            </div>*@
                        <div class="col-md-6">
                            <i class="fa fa-cloud-download"></i> <a target="_blank" href="/file_upload/file-mau.xlsx">Tải xuống file Excel mẫu</a><br /><br />
                            <input type="file" id="file_excel" value="" accept=".xls, .xlsx" /><br />
                            <button type="button" class="btn btn-success" id="btnImportProductVideo"><i class="fa fa-cloud-upload"></i> <span>Import Excel</span></button>
                            <div id="showLoading" style="display:none">
                                <h4>Đang khởi tạo...</h4>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @*danh sach video processing*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="list_video_processing"></div>
                        </div>
                    </div>
                    @*hieu ung nen*@<hr />
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Hiệu ứng nền</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-12">
                                <select class='selection form-control effect_id' id='effect_id' name='effect_id' style="width:100%">
                                    @if (Model.effect_id != null)
                                    {
                                        for (int jx = 0; jx <= list_effect.Count - 1; jx++)
                                        {
                                            string sTitlexxx = list_effect[jx].title.ToString();
                                            int sIdxxx = list_effect[jx].Id;
                                            string sSelected = (sIdxxx == Model.effect_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="-1">────────── Tất cả ──────────</option>
                                        for (int jx = 0; jx <= list_effect.Count - 1; jx++)
                                        {
                                            string sTitlexxx = list_effect[jx].title.ToString();
                                            int sIdxxx = list_effect[jx].Id;
                                            string sSelected = (sIdxxx == Model.effect_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*chuyen canh*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Chuyển cảnh</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-12">
                                <select class='selection form-control scene_change_id' id='scene_change_id' name='scene_change_id' style="width:100%">
                                    @if (Model.scene_change_id != null)
                                    {
                                        for (int jx = 0; jx <= list_scene.Count - 1; jx++)
                                        {
                                            string sTitlexxx = list_scene[jx].title.ToString();
                                            int sIdxxx = list_scene[jx].Id;
                                            string sSelected = (sIdxxx == Model.scene_change_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="-1">────────── Tất cả ──────────</option>
                                        for (int jx = 0; jx <= list_scene.Count - 1; jx++)
                                        {
                                            string sTitlexxx = list_scene[jx].title.ToString();
                                            int sIdxxx = list_scene[jx].Id;
                                            string sSelected = (sIdxxx == Model.scene_change_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*tên video*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Tiêu đề video</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <input type='text' required maxlength='500' kind='char' class='form-control ' name='upload_title' id='upload_title' size='1' value='@Model.upload_title'>
                            </div>
                        </div>
                    </div>
                    @*Mô tả*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='lblnameks' class='col-form-label'>Mô tả</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <input type='text' required maxlength='500' kind='char' class='form-control ' name='description' id='description' size='1' value='@Model.description'>
                            </div>
                        </div>
                    </div>
                    @*convert*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='status' class='col-form-label'>Trạng thái Convert</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <select class='selection form-control' name='convert_status' id='convert_status' style="width:100%">
                                    <option value="0" @(((0 == Model.convert_status) ? "selected" : ""))>Chưa convert</option>
                                    <option value="1" @(((1 == Model.convert_status) ? "selected" : ""))>Đang convert</option>
                                    <option value="2" @(((2 == Model.convert_status) ? "selected" : ""))>Đã convert</option>
                                    <option value="3" @(((3 == Model.convert_status) ? "selected" : ""))>Convert lỗi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*status*@
                    <div class='form-group row'>
                        <div class="col-sm-2">
                            <label for='status' class='col-form-label'>Trạng thái</label>
                        </div>
                        <div class='col-sm-10'>
                            <div class="col-sm-12">
                                <select class='selection form-control' name='status' id='status' style="width:100%">
                                    <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                                    <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-danger" id="backupProduct"><span>Trở lại</span></button>
                        <button type="button" class="btn btn-primary" id="btnSaveProduct"><span>Lưu</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/oze/film_product.js"></script>
<script>
    var ofilm_product = new film_product();
    $(document).ready(function () {
        var product_id = $("#Id").val();
        console.log(@Model.Id);
        ofilm_product.get_pro(product_id);
        $("#btnSaveProduct").click(function () {
             ofilm_product.updateOrInsert(@Model.Id);
         });
        $("#btn_genProductVideo").click(function () {
            $("#example_film_product_processing_video").remove();
            $("#showLoading").show();
            ofilm_product.gen_video_processing(@Model.Id);
            $("#showLoading").slideUp(5000);
        });
        $("#btnImportProductVideo").click(function () {
            $("#showLoading").show();
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#file_excel').val();
            if (filename.length == 0) {
                alert("Vui lòng chọn file tải lên.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Vui lòng chọn file có định dạng .xls, xlsx");
                    return false;
                }
            }
            var fd = new FormData();
            var fileUpload = $("#file_excel").get(0);
            var files = fileUpload.files;
            fd.append(files[0].name, files[0]);

            $.ajax({
                url: "/film_product_processing/import_excel/@Model.Id",
                method: "POST",
                data: fd,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("Thêm mới thành công");
                    if ($.fn.DataTable.isDataTable('#example_film_product_processing_video')) {
                        $('#example_film_product_processing_video').DataTable().destroy();
                    }
                    $('#example_film_product_processing_video').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "initComplete": function (settings, json) {
                            hideDialogLoading();
                            console.log("initComplete");
                        },
                        "dom": 'lp<"top" rt><"bottom" lip><"clear">',
                        "rowId": "id",
                        "ajax": {
                            "url": "/" + "film_product_processing_video" + "/getListByProductId/@Model.Id", "data": function (d) {
                                delete d.columns;
                            }
                        },
                        "columns":
                            [
                                {
                                    "data": null, render: function (data, type, row) {
                                        var htmlMenu = "";
                                        var info = '<a style="color: #00a65a;font-weight: bold;" href="javascript:void(0)" onclick="javascript:ofilm_product_processing_video.viewDialog(' + row.id + ')">' +
                                            '<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#8BC34A" title="Xem"></span>' +
                                            ' Xem </a>  ';
                                        var edit = '<a href="javascript:void(0)" style="color: #dd4b39;font-weight: bold;" onclick="javascript:ofilm_product_processing_video.editDialog(' + row.id + ')">' +
                                            '<span class="glyphicon glyphicon-edit" aria-hidden="true" style="color:#dd4b39" title="Sửa"></span>' +
                                            ' Sửa </a>  ';
                                        var delete1 = '<a href="javascript:void(0)" style="color: red;font-weight: bold;" onclick="javascript:ofilm_product_processing_video.deleteDialog(' + row.id + ')">' +
                                            '<span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:red" title="Xóa"></span>' +
                                            ' Xóa </a>  ';
                                        var active = '<a style="color: #00a65a;font-weight: bold;" href="javascript:void(0)" onclick="javascript:ofilm_product_processing_video.activeDialog(' + row.id + ')">' +
                                            '<span class="glyphicon glyphicon-check" aria-hidden="true" style="color:#8BC34A" title="Duyệt"></span>' +
                                            '</a>  ';
                                        htmlMenu = info + edit + delete1 + "<br /> ID: " + row.id;
                                        return htmlMenu;
                                    }
                                }
                                , { 'data': 'video_processing_title' }
                                , { 'data': 'video_processing_duration' }
                                , { 'data': 'catalog_title' }
                            ]
                    });
                    console.log("done");
                },
                error: function (xhr) { console.log(xhr.responseText); },
            });

            $("#showLoading").slideUp(5000);
        });
        jQuery("#backupProduct").click(function () {
            window.location.href = "/film_product_exccel";
        })
        ofilm_product.gen_video_first(@Model.Id);
    });
</script>