﻿@{
    ViewData["Title"] = "Cài đặt - Gói cước";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_package_title">Tìm kiếm tiêu đề</label>
                    <input type="text" class="form-control" name="search_package_title" id="search_package_title" /><br />
                    <button onclick="javascript: opackage.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: opackage.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_package" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên gói</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Miêu tả</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Giá gói cước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Mã gói cước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Kiểu thanh toán</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo gói</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Nhà cung cấp</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/package.js"></script>

<script type="text/javascript">
    var $table;
    var opackage = new package();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        opackage.setupGrid();
        $("#search_package_title").keypress(function (e) {
            if (e.which == 13) {
                opackage.searchGrid();
            }
        });
    });
</script>