﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên gói</label>   <div class='col-sm-10'>@Model.title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Miêu tả</label>   <div class='col-sm-10'>@Model.description    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Giá</label>   <div class='col-sm-10'>@Model.price    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Mã gói cước</label>   <div class='col-sm-10'>@Model.note    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Kiểu thanh toán</label>
        <div class='col-sm-10'>
        @if(@Model.typepayment == 0)
        {
            <span>SMS</span>
        }
        else if (@Model.typepayment == 1)
        {
        <span>Banking</span>
        }
        else if (@Model.typepayment == 2)
        {
        <span>Tất cả</span> 
        }
        else
        {
        <span>Unknow</span>
        }
        @*@Model.typepayment*@
        </div>
    </div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Nhà cung cấp</label>
        <div class='col-sm-10'>
        @if(@Model.provider_id == 1)
        {
            <span>Viettel</span>
        }
        else if (@Model.provider_id == 2)
        {
        <span>Vinaphone</span>
        }
        
        @*@Model.typepayment*@
        </div>
    </div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo gói</label>   <div class='col-sm-10'>@Model.date_created    </div></div>
</section>

