﻿@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formpackage' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên gói</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title' required>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Miêu tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='description' id='description' size='1' value='@Model.description'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giá gói</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price' required>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mã gói cước</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='note' id='note' size='1' value='@Model.note'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Kiểu thanh toán</label>
            <div class='col-sm-10'>
                <select class='form-control' name='typepayment' id='typepayment'>
                    <option value="0" @(((0 == Model.typepayment) ? "selected" : ""))>SMS</option>
                    <option value="1" @(((1 == Model.typepayment) ? "selected" : ""))>Banking</option>
                    <option value="2" @(((2 == Model.typepayment) ? "selected" : ""))>Tất cả</option>
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Nhà cung cấp</label>
            <div class='col-sm-10'>
                <select class='form-control' name='provider_id' id='provider_id'>
                    @{
                        List<film_provider> film_Providers = new film_providerService().GetAllItem(null);
                        for (int jx = 0; jx <= film_Providers.Count - 1; jx++)
                        {
                            string sTitlexxx = film_Providers[jx].title.ToString();
                            int sIdxxx = film_Providers[jx].Id;
                            string sSelected = (sIdxxx == Model.Id) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
</section>