﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formdetail' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Video Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='videoid' id='videoid' size='1' value='@Model.videoid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>User Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='userid' id='userid' size='1' value='@Model.userid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Model Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='modelid' id='title' size='1' value='@Model.modelid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Count</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='count' id='count' size='1' value='@Model.count'>    </div></div>
    </form>
</section>