﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "AI - Detail";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="search_detail_title" id="search_detail_title" />
                    <button onclick="javascript: odetail.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: odetail.editDialog(0);" type="button" class="btn btn-default">
                        <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
                    </button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_detail" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Video Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>User Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Model Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Count</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/detail.js"></script>

<script type="text/javascript">
    var $table;
    var odetail = new detail();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        odetail.setupGrid();
        $("#search_detail_title").keypress(function (e) {
            if (e.which == 13) {
                odetail.searchGrid();
            }
        });
    });
</script>