﻿@{
    ViewData["Title"] = "HG-PROJECT-CMS | Biên tập";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="s_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label for="s_timerange">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                    </div>
                    <div class="col-md-3">
                        <button id="dachon" class="btn btn-warning"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất danh sách đã chọn</button>
                        <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                        <strong>Các phim đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                    </div>
                    <div class="col-md-3">
                        <button id="tatca" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả</button>
                    </div>
                    @*<div class="col-md-6">
                        <div class="btn-group">
                            <button id="dachon" class="btn btn-warning"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất danh sách đã chọn</button>
                            <button id="tatca" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả</button>
                        </div>
                        <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                        <strong>Các phim đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                    </div>*@
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <button onclick="javascript: ofilm_product.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        <button onclick="javascript: ofilm_product.edit_tagDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_product" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Video</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>Nội dung</th>*@
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Kênh</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề video</th>
            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả video</th>*@
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Đường dẫn</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Code</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày cập nhật</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái Convert</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Video</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>Nội dung</th>*@
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Kênh</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề video</th>
            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả video</th>*@
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Đường dẫn</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Code</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày cập nhật</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái Convert</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
        </tr>
    </tfoot>
</table>

<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
<!--film_product JS File-->
<script src="~/Scripts/oze/film_product.js"></script>
<script type="text/javascript">
    var $table;
    var ofilm_product = new film_product();
    var list_selected = [];
    var selected_id = [];
    $(document).ready(function () {
        ofilm_product.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_product.searchGrid();
            }
        });
        $("#btnExportSelected").on("click", function () {
            var selected = [];
            //$('#export_selected:checked').each(function () {
            //    var val = $(this).attr('value');
            //});
            if ($('input:checkbox:checked').length == 0) {
                alert("Chưa chọn phim nào mà");
            } else {
                selected = "[" + list_selected + "]".toString();
                var selectedSplit = selected.replace(/'/g, '"');
                $("#dvjson").excelexportjs(
                    {
                        containerid: "dvjson",
                        datatype: 'json',
                        dataset: JSON.parse(selectedSplit),
                        worksheetName: "Sheet 1",
                        columns: getColumns(JSON.parse(selectedSplit))
                    });
            }
        });
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

        $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(this.value);
                selected_id.push(tr_id.attr('id'));
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(this.value, list_selected), 1);
                selected_id.splice($.inArray(this.value, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);
        });
    });
</script>