﻿@{
    ViewData["Title"] = "Thống kê";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<section class="content-header">
    <h1>Thống kê</h1>
</section>
<br />
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="count_processing">0</h3>
                    <p>Video</p>
                </div>
                <div class="icon">
                    <i class="fa fa-film"></i>
                </div>
                <a href="/film_video_processing?video_type=other" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="count_denoiser">0</h3>

                    <p>Lọc nhiễu</p>
                </div>
                <div class="icon">
                    <i class="fa fa-medkit"></i>
                </div>
                <a href="/denoiser" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thống kê video</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="chart_processing" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thống kê lọc nhiễu</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="chart_denoiser" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>


</section>
<!-- page script -->
<link rel="stylesheet" href="/Themes/plugins/morris/morris.css">
<script src="/Themes/plugins/raphael/raphael.min.js"></script>
<script src="/Themes/plugins/morris/morris.min.js"></script>

<script>
    $(function () {
        "use strict";
        let processing_ajax = $.ajax({
            url: "/film_video_processing/get",
            method: "GET",
            success: function (data) {
                return data;
            },
            error: function (xhr) {
                alert("Lỗi: Không đếm lấy được dữ liệu");
            },
        });
        let denoiser_ajax = $.ajax({
            url: "/denoiser/get",
            method: "GET",
            success: function (data) {
                return data;
            },
            error: function (xhr) {
                alert("Lỗi: Không đếm lấy được dữ liệu");
            },
        });
        var c_daphantichxong = 0, c_dangphantich = 0, c_dadichxong = 0, c_phantichloi = 0, c_unknown = 0, c_success = 0, c_error = 0, c_unknown_d = 0;
        $.when(processing_ajax, denoiser_ajax).done(function (p, d) {
            if (p.length > 0) {
                let allprocessing = p[0];
                console.log(allprocessing);
                $("#count_processing").html(allprocessing.length);
                for (var i = 0; i < allprocessing.length; i++) {
                    console.log(allprocessing[i]['status']);
                    switch (allprocessing[i]['status']) {
                        case 'Đã phân tích xong': c_daphantichxong++; break;
                        case 'Đã dịch xong': c_dadichxong++; break;
                        case 'Đang phân tích': c_dangphantich++; break;
                        case 'Phân tích lỗi': c_phantichloi++; break;
                        default: c_unknown++; break;
                    }
                }
                console.log(c_daphantichxong);
                //BAR CHART
                var bar = new Morris.Bar({
                    element: 'chart_processing',
                    resize: true,
                    data: [
                        {
                            y: 'Video',
                            daphantichxong: c_daphantichxong,
                            dangphantich: c_dangphantich,
                            dadichxong: c_dadichxong,
                            phantichloi: c_phantichloi,
                            unknown: c_unknown,
                        },
                    ],
                    barColors: [
                        '#00a65a',
                        '#932AB6',
                        '#00c0ef',
                        '#FF0000',
                        '#000000',
                    ],
                    xkey: 'y',
                    ykeys: ['daphantichxong', 'dangphantich', 'phantichloi', 'dadichxong', "unknown"],
                    labels: ['Đã phân tích xong', 'Đang phân tích', 'Phân tích lỗi', "Đã dịch xong", 'Unknown'],
                    hideHover: 'auto'
                });
            }
            if (d.length > 0) {
                let alldenoiser = d[0];
                $("#count_denoiser").html(d[0].length);
                for (var i = 0; i < alldenoiser.length; i++) {
                    console.log(alldenoiser[i]['status']);
                    switch (alldenoiser[i]['status']) {
                        case 'Thành công': c_success++; break;
                        case 'Thất bại': c_error++; break;
                        default: c_unknown_d++; break;
                    }
                }
                var bar = new Morris.Bar({
                    element: 'chart_denoiser',
                    resize: true,
                    data: [
                        {
                            y: 'Lọc nhiễu',
                            success: c_success,
                            error: c_error,
                            unknownd: c_unknown_d,
                        },
                    ],
                    barColors: [
                        '#00a65a',
                        '#FF0000',
                        '#000000',
                    ],
                    xkey: 'y',
                    ykeys: ['success', 'error', 'unknownd'],
                    labels: ['Mission complete !', 'Lỗi', "Unknown"],
                    hideHover: 'auto'
                });
            }
        });

    });
</script>