﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_cp' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên ngắn</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield' name='shortname' id='shortname' size='1' value='@Model.shortname'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Địa chỉ</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='address' id='address' size='1' value='@Model.address'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Đại diện</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='rep' id='rep' size='1' value='@Model.rep'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Email</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield email' name='email' id='email' size='1' value='@Model.email'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên liên hệ</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contractname' id='contractname' size='1' value='@Model.contractname'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Điện thoại liên hệ</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contractphone' id='contractphone' size='1' value='@Model.contractphone'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Email liên hệ</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield email' name='contractemail' id='contractemail' size='1' value='@Model.contractemail'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Scan</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='scan' id='scan' size='1' value='@Model.scan'></div></div>


        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label><div class='col-sm-10'>
                <select class='form-control' name='status' id='status'>
                    <option value="0" @(((0 == Model.status) ? "selected" : ""))>Đăng ký</option>
                    <option value=" 1" @(((1 == Model.status) ? "selected" : ""))> Hoạt động</option>
                    <option value=" 2" @(((2 == Model.status) ? "selected" : ""))> Dừng hợp tác</option>
                </select>
            </div>
        </div>
    </form>
</section>