﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_episode' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Danh mục</label><div class='col-sm-10'>
                <select class='selection form-control catalog_id' id='catalog_id' name='catalog_id' style="width:100%">
                    @{
                        List<lamlt.data.vw_film_catalog> list_catalog = new lamlt.web.Services.film_catalogService().GetViewAllItem(null);
                        for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                        {
                            string sTitlexxx = list_catalog[jx].title.ToString();
                            int sIdxxx = list_catalog[jx].Id;
                            string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label><div class='col-sm-10'>
                <select class='form-control' name='status' id='status'>
                    <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                    <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
                </select>
            </div>
        </div>
    </form>
</section>
<script>
    $(".selection").select2({
        placeholder: "═══ Chọn 1 option ═══",
    });
</script>