﻿@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_video_image' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Film</label>
            <div class='col-sm-10'>
                <select class='form-control' id='filmid' name='filmid'>
                    @{
                        List<film_video> dtILM_VIDEOilm_video_filmid = new film_videoService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_VIDEOilm_video_filmid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_VIDEOilm_video_filmid[jx].title.ToString();
                            int sIdxxx = dtILM_VIDEOilm_video_filmid[jx].Id;
                            string sSelected = (sIdxxx == Model.filmid) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Đường link ảnh</label>
            <div class='col-sm-10'>
                <input class='form-control' type=button value='Attach Files...' onclick="javascript:window.open('/film_file/?t=url','','width=500,height=400');" />
                 <div id="div_url">@Model.url</div>
                <input type=hidden id="url" name="url" value='@Model.url' />
                @if(Model.url.ToLower().IndexOf(".jpg") != -1 || Model.url.ToLower().IndexOf(".png") != -1 || Model.url.ToLower().IndexOf(".gif") != -1 || Model.url.ToLower().IndexOf(".bmp") != -1)
                    {
                        <img src='@Model.url' height="150" width="150" />
                    } @if(!string.IsNullOrEmpty(Model.url))
                    {
                        <a target=_blank href='@Model.url'>Download</a><a onclick="javascript:document.getElementById('div_film_video_image_url').innerHTML='';document.getElementById('url').value='';" href='#'>Clear</a>
                    }
            </div>
        </div>
        @*  <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Url</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='url' id='url' size='1' value='@Model.url'>    </div></div>*@
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'>
                <div class='input-group input-group-sm date-add-picker_fdate_full'>
                    <input type='text' maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated'> <span class='input-group-addon input-group-addon-custom' onclick="javascript:$('#datecreated').datetimepicker('show');">      <span class='glyphicon glyphicon-calendar'></span>  </span>
                    <script type='text/javascript'>
                        $(document).ready(function () { $('#datecreated').datetimepicker({ format: 'DD/MM/YYYY' }); });
                    </script>
                </div>
            </div>
        </div>
    </form>
</section>