﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>                
		<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Filmid</label>   <div class='col-sm-10'>@Model.filmid    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Url</label>   <div class='col-sm-10'>@Model.url    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label>   <div class='col-sm-10'>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")</div></div>        
</section>