﻿.lockscreen-logo a {
    color: #f17c2d;
}

.error {
    font-size: 10.5px;
    color: red;
}

/*keyboard*/

#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 671px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard {
    margin: 0;
    padding: 15px 0;
    list-style: none;
    width: 80%;
}

    #keyboard li {
        float: left;
        margin: 0 5px 5px 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #f9f9f9;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

.capslock, .tab, .left-shift {
    clear: left;
}

#keyboard .tab, #keyboard .delete {
    width: 70px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 75px;
}

#keyboard .left-shift {
    width: 95px;
}

#keyboard .right-shift {
    width: 106px;
}

.lastitem {
    margin-right: 0;
}

.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    clear: left;
    width: 657px;
}

.on {
    display: none;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

.ajaxInProgress {
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

    .ajaxInProgress .loading-ct {
        width: 100px;
        /*'width': '250px',*/
        height: 75px;
        left: calc( 50% - 50px);
        position: absolute;
        top: 40%;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
    }

.message-login {
        color: #f55656;
    font-weight: bold;
}