﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý Khách sạn</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="~/Themes/dist/css/skins/_all-skins.min.css">
    <link href="~/Themes/dist/css/skins/skin-yellow.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/notify/notify-metro.css" rel="stylesheet" type="text/css" />
    @* icheck *@
    <link href="~/Themes/plugins/iCheck/all.css" rel="stylesheet" />
    @* chosen *@
    <link href="~/Scripts/chosen/chosen.css" rel="stylesheet" />

    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/ionicons.min.css" rel="stylesheet" />
    <link href="/Content/oze.fonts.css" rel="stylesheet" />
      
    <link href="~/Content/icon/style.css" rel="stylesheet" />

    <link href="/Content/Oze.css" rel="stylesheet" />
    <link href="/Content/common.css" rel="stylesheet" />
    <link href="/Content/oze.response.css" rel="stylesheet" />
    <link href="/Content/hungpvCustom.css" rel="stylesheet" />

    <script src="/Themes/plugins/jQuery/jquery-2.2.3.min.js"></script>

    <script src="/Scripts/oze.base.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
 
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <div id="error" class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
    </div>
 
    <script src="~/Themes/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>


    <!-- FastClick -->
    <script src="~/Themes/plugins/fastclick/fastclick.js"></script>
    <script src="~/Themes/dist/js/app.js"></script>
    <script src="~/Themes/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Scripts/chosen/chosen.jquery.js"></script>


    <script src="~/Scripts/notify/notify.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>

    <script src="~/Scripts/oze.utils.js"></script>
    <script src="~/Scripts/oze.keepsession.js"></script>

    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/oze.common.js"></script>
    <script src="~/Scripts/Servicebase.js"></script>

    <script type="text/javascript">  var flag = 0;    </script>


    @RenderSection("scripts", required: false)
    @RenderSection("Script", false)


</body>
</html>
