﻿<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://lalatv.vn">Lalatv</a>.</strong> All rights reserved.
</footer>
