﻿@using ServiceStack;     

<header class="main-header">    
    @* ~/Home/index?_=@(Math.Round(DateTime.Now.Subtract(new DateTime(1970, 1,1)).TotalMilliseconds)) *@
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">@lamlt.web.Services.comm.GetUserName()</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">@lamlt.web.Services.comm.GetUserName()</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar_marquee">   
        </div>
        @* Notification *@
        <div class="navbar-custom-menu navbar-notification">
            <ul class="nav navbar-nav">
                    
                <li id="divNotification" class="dropdown notifications-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">0</span>
                    </a>
                </li>
                
                <li class="dropdown" style="display: none">
                    <a class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown" aria-expanded="true">
                        <span><span id="curencyHotel">VND </span> <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul id="curencyHotelList" class="dropdown-menu dropdown-list" role="menu">
                        
                          <li role="presentation"><a id="curencyItemHotel_1" href="javascript:changeCurency(1)">VND</a></li>
                               
                    </ul>
                </li>

                <li class="menu">
                    <a href="tel:11111">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>11111</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script>
   
</script>