﻿<!DOCTYPE html>
@*<html manifest="/cache.manifest">*@
@{ 

    if (lamlt.web.Services.comm.GetUserId() <= 0)
    {
        <text>
            <script>
                window.location.href = "/Accounts/Login";
            </script>
        </text>        
    }
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@lamlt.web.Services.comm.GetUserName()</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="~/Themes/dist/css/skins/_all-skins.min.css">
    <link href="~/Themes/dist/css/skins/skin-yellow.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />

    @* chosen *@
    <link href="~/Scripts/chosen/chosen.css" rel="stylesheet" />

    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/ionicons.min.css" rel="stylesheet" />
    <link href="/Content/oze.fonts.css" rel="stylesheet" />

    <link href="/Themes/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="/Themes/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/Themes/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/Content/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    <link href="/Themes/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Themes/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.css" rel="stylesheet" />
    <link href="/Themes/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" rel="stylesheet" />
    <link href="/Themes/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="/Content/notify/notify-metro.css" rel="stylesheet" />
    <link href="~/Content/icon/style.css" rel="stylesheet" />
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />


    <link href="/Content/Oze.css" rel="stylesheet" />
    <link href="/Content/common.css" rel="stylesheet" />
    <link href="/Content/oze.response.css" rel="stylesheet" />
    <link href="/Content/hungpvCustom.css" rel="stylesheet" />


    @RenderSection("style", false)

    @*<script src="~/Scripts/offline/offline.js"></script>
        <script src="/Scripts/offline/jquery-2.2.3.js"></script>
        <script src="~/Scripts/offline/offline-autocache.js"></script>*@

    <script src="~/Themes/plugins/jQuery/jquery-2.2.3.js"></script>

    <script src="/Scripts/oze.base.js"></script>
    <script src="/Scripts/oze.elec.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*Player film_video*@

    <script src="https://hls-js.netlify.com/dist/hls.js"></script>

</head>
<body class="hold-transition skin-yellow sidebar-mini">

    <div class="wrapper">
        @* Header *@
        @Html.Partial("_Header")

        @* Body *@
        @Html.Partial("_Sidebar2")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content clearfix" id="main-content">
                <div class="notify-custom">
                    <div class="notify-popup"></div>
                </div>
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @* Footer *@
        @Html.Partial("_Footer")
    </div>
    @*<iframe id='cahe_manifest_hack' style='display: none;' src='/cahe_manifest_hack.html'></iframe>*@

    <script src="~/Themes/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>

    <!-- FastClick -->
    <script src="~/Themes/plugins/fastclick/fastclick.js"></script>
    <script src="~/Themes/dist/js/app.js"></script>
    <script src="~/Themes/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/chosen/latinise.min.js"></script>
    <script src="~/Scripts/chosen/chosen.jquery.js"></script>

    <script src="~/Scripts/bootstrap-typeahead/bootstrap-AutocompleteCustom.js"></script>
    <script src="~/Scripts/datetimepicker/moment.js"></script>

    <script src="~/Themes/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/datetimepicker/moment-with-locales.min.js"></script>

    <script src="~/Scripts/select2/js/select2.min.js"></script>

    <script src="~/Scripts/inputmask/jquery.inputmask.bundle.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.customValidate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/notify/notify.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>

    <script src="~/Scripts/oze.utils.js"></script>
    <!--<script src="~/Scripts/oze.keepsession.js"></script>-->

    <script src="~/Scripts/oze/lockcard/ctrl.js"></script>

    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/oze.common.js"></script>
    <script src="~/Scripts/Servicebase.js"></script>
    
    <script type="text/javascript">var flag = 0;</script>

    @RenderSection("scripts", required: false)
    @RenderSection("Script", false)

    <script src="~/Scripts/oze.hash.js"></script>
    <script src="~/Scripts/notify/fn.js"></script>

    <script>
        $(document).ready(function () {
            $(".treeview").click(function () { updateWrapperHeight(); });
        });
        window.rightcode = '@lamlt.web.Services.comm.GetRightCode()';
    </script>

    <!--End of Tawk.to Script-->
</body>
</html>
