﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar " style="height: auto;">
        <ul class="sidebar-menu sidebar-menu-user ">
            <li class="treeview" id="menu_profile">
                <a class="profile nonehover">
                    <div class="user-panel dropdown-toggle">
                        <div class="pull-left image">
                            <img src="/Themes/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <span>User demo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-cog pull-right"></i>
                            </span>
                            <div><small>lamlt</small></div>
                        </div>

                    </div>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/SysUsers/DetailSysUser">
                            <i class="fa fa-user"></i> Thông tin cá nhân
                        </a>
                    </li>

                    <li>
                        <a href="/Accounts/ChangePassword">
                            <i class="fa fa-key"></i> Đổi mật khẩu
                        </a>
                    </li>

                    <li>
                        <a href="/Accounts/Login">
                            <i class="fa fa-sign-out"></i> Thoát
                        </a>
                    </li>

                </ul>
            </li>
        </ul>

        <div>
            <div class="luachon-ks">
            </div>
        </div>
        <ul class="sidebar-menu">

            <li class="treeview" id="menu_sodophong">
                <a href="#/tbl_tongiao/Index" onclick="window.location.href='#/tbl_tongiao/Index' ; ">
                    <i class="icon-menu-sdp"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview" id="menu_letan">
                <a>
                    <i class="icon-menu-letan"></i>
                    <span>Video</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#/film_catalog/">
                            <i class="fa fa-circle-o"></i> Quản lý danh mục
                        </a>
                    </li>

                    <li>
                        <a href="#/live_catalog/">
                            <i class="fa fa-circle-o"></i> Quản lý danh mục live
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" id="menu_letan2">
                <a>
                    <i class="fa fa-edit"></i>
                    <span>Cài đặt</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li>
                        <a href="#/film_article/">
                            <i class="fa fa-circle-o"></i> Quản lý news
                        </a>
                    </li>
                    <li>
                        <a href="#/film_banner/">
                            <i class="fa fa-circle-o"></i> Quản lý banner
                        </a>
                    </li>


                    <li>
                        <a href="#/film_cp/">
                            <i class="fa fa-circle-o"></i> Quản lý CP
                        </a>
                    </li>
                    <li>
                        <a href="#/film_country/">
                            <i class="fa fa-circle-o"></i> Quản lý country
                        </a>
                    </li>
                    <li>
                        <a href="#/film_user/">
                            <i class="fa fa-circle-o"></i> Quản lý người dùng
                        </a>
                    </li>
                    <li>
                        <a href="#/film_role/">
                            <i class="fa fa-circle-o"></i> Quản lý vai trò
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" id="menu_thongke">
                <a>
                    <i class="icon-menu-baocao"></i>
                    <span>Báo cáo/thống kê</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li>
                        <a href="/ReportChart/DatPhong">
                            <i class="fa fa-circle-o"></i> Báo cáo tổng quan
                        </a>
                    </li>

                    <li>
                        <a href="/ReportChart/DoanhThu">
                            <i class="fa fa-circle-o"></i> Báo cáo chi tiết
                        </a>
                    </li>

                </ul>
            </li>
            <li class="treeview" id="menu_baocao">
                <a>
                    <i class="icon-menu-baocao"></i>
                    <span>Báo cáo</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li>
                        <a href="/Report/Baocaotienphong">
                            <i class="fa fa-circle-o"></i> Menu51
                        </a>
                    </li>
                    <li>
                        <a href="/Report/Baocaotiendichvu">
                            <i class="fa fa-circle-o"></i> Menu52
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
