﻿@{
    ViewData["Title"] = "Tổng Doanh Thu Viettel";
    Layout = "~/Views/Shared/_Root.cshtml";
}
@using lamlt.data
@using lamlt.web.Services
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group form-inline">
                        <label for="start_time">Start time</label>
                        <input type="text" class="form-control" name="start_time" id="start_time" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <label for="end_time">End time:</label>
                        <input type="text" class="form-control" name="end_time" id="end_time" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <button onclick="javascript:ototalviettel.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_totalviettel" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">ID</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng doanh thu</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/totalviettel.js"></script>

<script type="text/javascript">
    var $table;
    var ototalviettel = new totalviettel();
    $(document).ready(function () {
        ototalviettel.setupGrid();
        $("#start_time").keypress(function (e) {
            if (e.which == 13) {
                ototalviettel.searchGrid();
            }
        });
        $("#end_time").keypress(function (e) {
            if (e.which == 13) {
                ototalviettel.searchGrid();
            }
        });
        $('#start_time').datetimepicker({ format: 'YYYY-MM-DD' });
        $('#end_time').datetimepicker({ format: 'YYYY-MM-DD' });
    });
</script>