﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>                
		<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tiêu đề</label>   <div class='col-sm-10'>@Model.title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label>   <div class='col-sm-10'>@Model.desc    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo</label>   <div class='col-sm-10'>@Model.datecreated    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Userid</label>   <div class='col-sm-10'>@Model.userid    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Catalogid</label>   <div class='col-sm-10'>@Model.catalogid_title    </div></div>        
</section>