﻿@*@{
    ViewData["Title"] = "Edits";
    Layout = "~/Views/Shared/_Root.cshtml";
}*@
@using lamlt.data
@using lamlt.web.Services
<br/>
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_cmd_converting' action='javascript:void();'>
        @Html.AntiForgeryToken()
        @*<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Idconverting</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.idconverting'>    </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='description' id='description' size='1' value='@Model.datecreated'>    </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.status'>    </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Userid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='note' id='note' size='1' value='@Model.userid'>    </div></div>*@
        <div class="form-group row panel panel-default">
            <label for="lblnameks" class="col-sm-2 control-label panel-heading"> Lựa Chọn</label>
            @{
                List<film_cmd_converting> checkbox_cmd_converting = new film_cmd_convertingService().GetAllItem(null);

                for (int i = 0; i <= checkbox_cmd_converting.Count - 1; i++)
                {
                    @*<h1>@checkbox_cmd_converting[i].idconverting</h1>
                    string titleCb = checkbox_cmd_converting[i].idconverting;
                    int idCb = checkbox_cmd_converting[i].Id;
                    List<film_cmd_converting> sxChecked = new film_cmd_convertingService().FilmId(Model.Id);
                    string sChecked = "";
                    for (int j = 0; j <= sxChecked.Count - 1; j++)
                    {
                        int sIdx = sxChecked[j].Id ?? 0;
                        sChecked = (idCb == sIdx) ? "checked" : "";
                        if (idCb == sIdx)
                        {
                            break;
                        }
                    }
                <span><input type="checkbox" name="catalog_cb[]" value="@idCb" @sChecked />@titleCb</span>*@
                    <span>
                        <input name="employee" type="checkbox" value="Alex" />
                        <label for="employee">Alex</label>
                    </span>
                    //string sChecked = (sxChecked == Model.filmid) ? "checked" : "";*@
                    <script type="text/javascript">
                        function getCheckedCheckboxesFor(checkboxName) {
                            var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
                            Array.prototype.forEach.call(checkboxes, function (el) {
                                values.push(el.value);
                            });
                            return values;
                        }
                    </script>
                }
            }
        </div>
    </form>
</section>