﻿@{
    ViewData["Title"] = "film_cmd_convertingPlayer";
    string[] arrSpit = Model.upload_file.Split("/");
    string path = arrSpit[arrSpit.Length-1].Split(".")[0];
    var sourceURL = "https://stream.lalatv.com.vn/vod/_definst_/smil:automedia/" + path + "/playlist.m3u8";
}
<style>
    .full_desc {
        width: 100%;
    }
    section {
        padding: 2%;
    }
</style>
<div class="container full_desc">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#player">Player Stream</a></li>
        <li><a data-toggle="tab" href="#info">Thông tin</a></li>
    </ul>
    <div class="tab-content">
        <div id="player" class="tab-pane fade in active">
            <section>
                <div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0">
                </div>
                <input type="hidden" value="@sourceURL" id="sourceURL" />
                <script type="text/javascript">
                    $(document).ready(
                        function () {
                            if (!document.getElementById(film_cmd_converting.idModal)) {

                                //film_cmd_converting.initModal(film_cmd_converting.idModal);
                            }
                            var source = $("#sourceURL").val();
                            myPlayer = WowzaPlayer.create('playerElement', {
                                "license": "PLAY2-cQmZT-u3bkw-wQhuv-6RG4F-xxaHP",
                                "title": "",
                                "description": "",
                                "sourceURL": source,
                                "autoPlay": true,
                                "volume": "75",
                                "mute": false,
                                "loop": false,
                                "audioOnly": false,
                                "uiShowQuickRewind": true,
                                "uiShowFullscreen": true,
                                "uiQuickRewindSeconds": "30",
                            });
                        }
                    );
                </script>
            </section>
        </div>
        <div id="info" class="tab-pane fade">
            <section>
                <div class="row">
                    <h3>Không có dữ liệu</h3>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    console.log($("#sourceURL").val());
</script>