﻿@using lamlt.data;
@using lamlt.web.Services;
@using lamlt.web.Models;
@model List<film_video>
@{
    ViewData["Title"] = "Quản lý chuyển đổi định dạng phim";
    Layout = "~/Views/Shared/_Root.cshtml";

    var film_video = Model as List<film_video>;

    var userid = lamlt.web.Services.comm.GetUserId();
}
<style>
    table {
        max-width: 100%;
        white-space: nowrap;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="ipconverting">Lựa chọn Convert </label><br />
                        @{List<film_media_stream> checkbox_cmd_converting = new film_media_streamService().GetAllItemForCmd(null);
                            for (int i = 0; i <= checkbox_cmd_converting.Count - 1; i++)
                            {
                                <div class="pretty p-icon p-smooth" style="width:40%">
                                    <input name="ipconverting" type="checkbox" value=@checkbox_cmd_converting[i].code />
                                    <div class="state p-success">
                                        <i class="icon glyphicon glyphicon-ok"></i>
                                        <label>@checkbox_cmd_converting[i].stt-@checkbox_cmd_converting[i].code</label>
                                    </div>
                                </div>
                            }
                        }<br /><br />
                        <button id="btn_click" onclick="getCheckedCheckboxesFor('ipconverting');" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Thực hiện convert từ kho</button>
                        <button id="btn_click_outside" onclick="getCheckedCheckboxesFor_OutSide('ipconverting');" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Thực hiện convert bên ngoài</button>
                    </div>
                    <div class="col-md-3">
                        <form id="formfilm_cmd_converting" action="javascript:void();">
                            @Html.AntiForgeryToken()
                            <label for="search_film_video_title">Tìm kiếm theo tiêu đề</label>
                            <input type="text" placeholder="Nhập tên phim cần tim..." name="search_film_video_title" id="search_film_video_title" class="form-control" />
                            <br /><button onclick="ofilm_cmd_converting.searchGrid()" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="inputFolder">Tham số đầu ra</label>
                                <input type="text" placeholder="Nhập thư mục đầu ra/tham số đính kèm..." name="inputFolder" id="inputFolder" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label>Lựa chọn phim</label>
    <div id="search_lamlt"></div>
    <table id="example_film_cmd_converting" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên file upload</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Player</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script type="text/javascript" src="https://player.wowza.com/player/latest/wowzaplayer.min.js"></script>
<script src="~/Scripts/oze/film_cmd_converting.js"></script>

<script>
    $(document).on({
        mouseenter: function () {
            if ($("#modalfilm_cmd_converting").length > 0) {
                myPlayer = WowzaPlayer.get('playerElement');
                myPlayer.destroy();
                $("#modalfilm_cmd_converting").remove();
                console.log("Đã xóa modalfilm_video");
            } else {
                console.log("Chưa có modalfilm_video");
            }
        },
        mouseleave: function () {
            console.log("mouseleave của div.tools");
        }
    }, "div.wrapper");
</script>