﻿@using lamlt.data;
@using lamlt.web.Services;
@using lamlt.web.Models;
@model List<film_video_processing>
@{
    var film_video_processing = Model as List<film_video_processing>;
}



@*@for (int i = 0; i <= Model.Count - 1; i++)
{
    <div class="pretty p-icon p-smooth col-md-5" style="margin: 5px;">
        <input name="checkbox_film_video" type="checkbox" value="@Model[i].Id" class="video_Checkbox" />
        <div class="state p-success">
            <i class="icon glyphicon glyphicon-ok"></i>
            <label>  @Model[i].title</label>
        </div>
    </div>
}*@

<div class="row">
    <div class="col-md-12">
        <table id="film_cmd_converting" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @*<input type="checkbox" value="" id="checkAll" class="checkbox">*@
                    </th>
                    <th>Mã ID</th>
                    <th>Tiêu đề</th>
                    <th>Ngày tạo</th>
                    <th>Upload file</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i <= Model.Count - 1; i++)
                {
                    <tr>
                        <td>
                            <input name="checkbox_film_video" type="checkbox" value="@Model[i].Id" class="video_Checkbox" />
                        </td>
                        <td>@Model[i].Id</td>
                        <td>@Model[i].title</td>
                        <td>@Model[i].datecreated</td>
                        <td><a href="@Model[i].upload_file" title="@Model[i].upload_file">@Model[i].upload_file</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>