﻿@{
    ViewData["Title"] = "Edits";
    Layout = "~/Views/Shared/_Root.cshtml";
}
@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_video_update' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row panel panel-default' style="display:none"><label for='lblnameks' class='col-sm-2 control-label panel-heading'>Id</label><div class='col-sm-10 panel-body'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>  </div></div>
        <div class='form-group row panel panel-default'><label for='lblnameks' class='col-sm-2 control-label panel-heading'>Tên</label><div class='col-sm-10 panel-body'><input type='text' class='form-control '  name='title' id='title' size='1' value='@Model.title'></div></div>
        <div class='form-group row panel panel-default'><label for='lblnameks' class='col-sm-2 control-label panel-heading'>Nội dung </label><div class='col-sm-10 panel-body'><input type='text' kind='char' class='form-control '  name='desc' id='desc' size='1' value='@Model.desc'></div></div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Imdb</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char' class='form-control ' name='imdb' id='imdb' size='1' value='@Model.imdb'>    </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Format</label><div class='col-sm-4'>
                <select class='form-control' name='format' id='format'>
                    <option value="0" @(((0 == Model.format) ? "selected" : ""))>HD</option>
                    <option value="1" @(((1 == Model.format) ? "selected" : ""))>SD</option>
                </select>
            </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Sub_type</label><div class='col-sm-4'>
                <select class='form-control' name='sub_type' id='sub_type'>
                    <option value="0" @(((0 == Model.sub_type) ? "selected" : ""))>Việt Sub</option>
                    <option value="1" @(((1 == Model.sub_type) ? "selected" : ""))>Thuyết Minh</option>
                    <option value=" 2" @(((2 == Model.sub_type) ? "selected" : ""))> Sub+Thuyết Minh</option>
                </select>
            </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Năm phát hành</label><div class='col-sm-4'><input type='text' maxlength='500'  kind='char' class='form-control  ' name='publish_year' id='publish_year' size='1' value='@Model.publish_year'>    </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Quốc gia phát hành</label><div class='col-sm-4'>
                <select class='form-control' id='publish_countryid' name='publish_countryid'>
                    @{
                        List<film_country> dtILM_COUNTRYilm_country_publish_countryid = new film_countryService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_COUNTRYilm_country_publish_countryid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_COUNTRYilm_country_publish_countryid[jx].title.ToString();
                            int sIdxxx = dtILM_COUNTRYilm_country_publish_countryid[jx].Id;
                            string sSelected = (sIdxxx == Model.publish_countryid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Thời lượng</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char'  class='form-control '  name='duration' id='duration' size='1' value='@Model.duration'>    </div>
        </div>
        <div class='form-group row panel panel-default'><label for='lblnameks' class='col-sm-2 control-label panel-heading'>Diễn viên</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char'  class='form-control  ' name='actor' id='actor' size='1' value='@Model.actor'>    </div></div>
        <div class='form-group row panel panel-default'><label for='lblnameks' class='col-sm-2 control-label panel-heading'>Đạo diễn</label><div class='col-sm-10'><input type='text' maxlength='500'  kind='char'  class='form-control  ' name='director' id='director' size='1' value='@Model.director'>    </div></div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Thể loại</label><div class='col-sm-4'>
                <select class='form-control' name='film_type' id='film_type'>
                    <option value="0" @(((0 == Model.film_type) ? "selected" : ""))>Phim lẻ</option>
                    <option value="1" @(((1 == Model.film_type) ? "selected" : ""))>Phim bộ</option>
                </select>
            </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Tổng số tập</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char' class='form-control  ' name='episode' id='episode' size='1' value='@Model.episode'>    </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Tập đang chiếu</label><div class='col-sm-4'><input type='text' maxlength='500'  kind='char'  class='form-control ' name='episode_current' id='episode_current' size='1' value='@Model.episode_current'></div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Số HĐBQ</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char'  class='form-control '  name='contract_copyright' id='contract_copyright' size='1' value='@Model.contract_copyright'>    </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Phụ lục HĐ</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char' class='form-control  ' name='contract_appendix' id='contract_appendix' size='1' value='@Model.contract_appendix'>    </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Phụ lục bản quyền</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char'  class='form-control  ' name='copyright_appendix' id='copyright_appendix' size='1' value='@Model.copyright_appendix'>    </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Ngày hết hạn bản quyền</label><div class='col-sm-4'>
                <div class='input-group input-group-sm date-add-picker_fdate_full'>
                    <input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_expired' id='copyright_expired' size='1' value='@Model.copyright_expired'> <span class='input-group-addon input-group-addon-custom' onclick="javascript:$('#copyright_expired').datetimepicker('show');">      <span class='glyphicon glyphicon-calendar'></span>  </span>
                    <script type='text/javascript'>
                        $(document).ready(function () { $('#copyright_expired').datetimepicker({ format: 'DD/MM/YYYY' }); });
                    </script>
                </div>
            </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Thể loại</label><div class='col-sm-4'>
                <select class='form-control' id='catalog_id' name='catalog_id'>
                    @{
                        List<film_catalog> dtILM_CATALOGilm_catalog_catalog_id = new film_catalogService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_CATALOGilm_catalog_catalog_id.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_CATALOGilm_catalog_catalog_id[jx].title.ToString();
                            int sIdxxx = dtILM_CATALOGilm_catalog_catalog_id[jx].Id;
                            string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row panel panel-default">
            <label for="lblnameks" class="col-sm-2 control-label panel-heading"> Lực chọn thể loại</label>
            @{
                List<film_catalog> checkbox_catalog = new film_catalogService().GetAllItem(null);

                for (int i = 0; i <= checkbox_catalog.Count - 1; i++)
                {
                    string titleCb = checkbox_catalog[i].title.ToString();
                    int idCb = checkbox_catalog[i].Id;
                    List<film_catalog_film> sxChecked = new film_catalog_filmService().FilmId(Model.Id);
                    string sChecked = "";
                    for (int j = 0; j <= sxChecked.Count - 1; j++)
                    {
                        int sIdx = sxChecked[j].catalogid ?? 0;
                        sChecked = (idCb == sIdx) ? "checked" : "";
                        if (idCb == sIdx)
                        {
                            break;
                        }
                    }
                    <span><input type="checkbox" name="catalog_cb[]" value="@idCb" @sChecked />@titleCb</span>
                    //string sChecked = (sxChecked == Model.filmid) ? "checked" : "";

                }
            }
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Link FILE</label><div class='col-sm-10'>
                <input class='form-control' type="text" id="upload_file" name="upload_file" value='@Model.upload_file' />
                <input class='form-control' type=text value='Attach Files...' onclick="javascript:window.open('/film_file/?t=upload_file','','width=500,height=400');" /><div id="div_upload_file">@Model.upload_file</div>
                @if (Model.upload_file.ToLower().IndexOf(".jpg") != -1 || Model.upload_file.ToLower().IndexOf(".png") != -1 || Model.upload_file.ToLower().IndexOf(".gif") != -1 || Model.upload_file.ToLower().IndexOf(".bmp") != -1)
                {<img src='@Model.upload_file' height=150 />}  @if (!string.IsNullOrEmpty(Model.upload_file))
                {<a target=_blank href='@Model.upload_file'>Download</a> <a onclick="javascript:document.getElementById('div_film_video_upload_file').innerHTML='';document.getElementById('upload_file').value='';" href='#'>Clear</a>}
            </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Ảnh đại diện</label><div class='col-sm-10'>
                <input class='form-control' type=button value='Attach Files...' onclick="javascript:window.open('/film_file/?t=@Model.Id&callback=updateImage','','width=500,height=400');" />

                <div class='form-group row' id="list_image">

                </div>
            </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Độc quyền?</label><div class='col-sm-4'>
                <input type=checkbox id='exclusive' value='film_video_exclusive' @(Model.exclusive == 1 ? "checked" : "") />
            </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Giá</label><div class='col-sm-4'><input type='text' maxlength='500'  kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price'> </div>
        </div>
        <div class="form-group row panel panel-default">
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>Trạng thái</label><div class='col-sm-4'>
                <select class='form-control' name='status' id='status'>
                    <option value="0" @(((0 == Model.status) ? "selected" : ""))>Nháp</option>
                    <option value="1" @(((1 == Model.status) ? "selected" : ""))>Chờ duyệt</option>
                    <option value=" 2" @(((2 == Model.status) ? "selected" : ""))>Đã duyệt</option>
                    <option value="3" @(((3 == Model.status) ? "selected" : ""))> Từ chối</option>
                </select>
            </div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>CP</label><div class='col-sm-4'>
                <select class='form-control' id='cpid' name='cpid'>
                    @{
                        List<film_cp> dtILM_CPilm_cp_cpid = new film_cpService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_CPilm_cp_cpid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_CPilm_cp_cpid[jx].title.ToString();
                            int sIdxxx = dtILM_CPilm_cp_cpid[jx].Id;
                            string sSelected = (sIdxxx == Model.cpid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>mã code</label><div class='col-sm-4'><input type='text' maxlength='500'  kind='char'  class='form-control  ' name='episode_current' id='episode_current' size='1' value='@Model.code'></div>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>tags</label><div class='col-sm-4'><input type='text' maxlength='500' kind='char'  class='form-control ' name='contract_copyright' id='contract_copyright' size='1' value='@Model.tags'>    </div>
        </div>
        <div class="form-group">
            <button type="button" id="btnSavefilm_video" class="btn btn-default">Lưu</button>
            <button type="button" id="backupfilm_video" class="btn btn-danger">Trở lại</button>
        </div>
    </form>
</section>
<script src="~/Scripts/oze/film_video_update.js"></script>

<script>
    var ofilm_Video_image = new film_video_update();
    $(document).ready(function () {
        ofilm_Video_image.getImageupdate(@Model.Id);
    })
      function updateImage(url, id)
    {
        ofilm_Video_image.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        ofilm_Video_image.getImageupdate(id);
    }
    // lưu lại update lại film_video
    $(document).ready(function () {
        $("#btnSavefilm_video").click(function () {
            ofilm_Video_image.updateEdit(@Model.Id);
        });
    });
    $(document).ready(function () {
        $("#backupfilm_video").click(function () {
            window.location.href = "/film_video_update";
        });
    });
</script>