﻿@using lamlt.data
@using lamlt.web.Services
<br />
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
        @*<li id="liAddNew" style="float:right;margin-top:10px">
            <button onclick="javascript: ofilm_video_update.edits(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
            </button>
        </li>*@
    </ul>

</div>
<section>
    Status:<select style='width:150px !important' class='selection' id='search_film_video_status'>
        <option value="0" selected>Nháp</option>
    </select>
    <span class="text-right">
        quét file : <button onclick="javascript: ofilm_video_update.getfiles();" type="button" class="btn btn-block btn-oze btn btn-oze-add btn-danger" style="display:inline-block;border-radius:8px;"><i class="fa fa-search-plus">Quét</i></button>
    </span>
    <span class="text-left">
        <input type='text' style="width:300px;border-radius:5px; text-align:center;margin: 0 30px 0 0;" placeholder="Search" name='search_film_video_update_title' id='search_film_video_update_title' size='1' />
    </span>
    </span>
</section>

<table id="example_film_video_update" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Nội dung </th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Format</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Năm phát hành</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Quốc gia phát hành</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thời lượng</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Diễn viên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Đạo diễn</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Loại</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thể loại</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ảnh đại diện</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Độc quyền?</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>File</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>CP</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>mã code</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>tags</th>
            <th class='grid-cell selector'>Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_video_update.js"></script>

<script type="text/javascript">
    var $table;
        var ofilm_video_update = new film_video_update();
    $(document).ready(function ()
    {
            //toggleMenu("menu_kho");
            ofilm_video_update.setupGrid();
        $("#search_film_video_update_status").keypress(function (e) {
                if (e.which == 13) {
                    ofilm_video_update.searchGrid();
                }
            });

        });
    // check cp hiện thị
    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
        {
            ofilm_video_update.UpdateImage (url, id);
        };
        function getImageupdate(id) {
            ofilm_video_update.getImageupdate(id);
        }
        //lấy thông tin phần tử của file

</script>