﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_converting' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Path</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='path' id='path' size='1' value='@Model.path'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Start Time</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='start_time' id='start_time' size='1' value='@Model.start_time'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Date Time</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='date_time' id='date_time' size='1' value='@Model.date_time'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Duration Convert</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>    </div></div>
        @*<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>*@
        <div class='form-group row'>
                <label for='lblnameks' class='col-sm-2 control-label'>Status</label>
                <div class='col-sm-10'>
                    <select class='form-control' name='status' id='status'>
                        <option value="1" @(((1 == Model.status) ? "selected" : ""))> Đang convert</option>
                        <option value="2" @(((2 == Model.status) ? "selected" : ""))>Đã convert xong</option>
                        <option value="3" @(((3 == Model.status) ? "selected" : ""))>Convert lỗi</option>
                    </select>
                </div>
            </div>
    </form>
</section>          