﻿@{
    ViewData["Title"] = "Quản lý Film Converting";
    Layout = "~/Views/Shared/_Root.cshtml";
}
@model List<lamlt.data.film_converting>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_film_converting_title">Tìm kiếm tiêu đề</label>
                    <input type="text" class="form-control" name="search_film_converting_title" id="search_film_converting_title" />
                </div>
                <div class="col-md-3">
                    <label for="search_status">Tìm kiếm theo tình trạng</label>
                    <select class="form-control" id="search_status">
                        <option value="1" selected="">Đang convert</option>
                        <option value="2" selected="">Đã convert xong</option>
                        <option value="3" selected="">convert lỗi</option>
                        <option value="0" selected="">Tất cả</option>
                    </select>
                </div>
                <div class="col-md-3"><br /><br />
                    <button onclick="javascript: ofilm_converting.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: ofilm_converting.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_converting" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên upload</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian bắt đầu</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian kết thúc</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Khoảng thời  gian convert</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Lệnh convert</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Process ID</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_converting.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_converting = new film_converting();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_converting.setupGrid();
        $("#search_film_converting_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_converting.searchGrid();
            }
        });
        $("#create_pid").on("click", function () {
            console.log($(this).data('pid'));
            
        });
        $(document).on('click', '#create_pid', function () {
            var currentClick = $(this);
            if (bootbox.confirm("Bạn có muốn tắt tiến trình convert của video này không?", function (result) {
                if (!result) return;
                console.log($(currentClick).data('pid'));
                $.ajax({
                    type: 'POST',
                    url: "/film_converting/create_pid_txt",
                    data: {
                        pid: $(currentClick).data('pid'),
                    },
                    success: function (data) {
                        console.log(data);
                        alert("Đang chuẩn bị tắt tiến trình, vui lòng bấm nút Tìm kiếm để load lại dữ liệu");
                    }, error: function () {
                        alert("Lỗi không xuất được file!");
                    }
                });
            }));
        });
    });
</script>