﻿@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_AccountRoot.cshtml";
    var hostKf = false;
}


    <div class="login-box-width">
        @*<div class="login-logo">
              <a href="../../index2.html"><b>Admin</b>LTE</a>
            </div>*@
        <!-- /.login-logo -->
        <div class="login-box-body">
            @*<p class="login-box-msg">Sign in to start your session</p>*@
            <div class="login-logo">
                @*<a href="/Accounts/Login" style=" text-align: center;"><b style="color: #ff5e00; font-size: 50px;font-family:Jokerman">OZE</b><span style="color: #ff5e00; font-size: 35px; font-family: 'Arial Unicode MS'; ">.com.vn</span></a>*@
                <i class="logo-icon"  style='@(hostKf ? "background: url(/Images/Login/linkKenfat.png) center no-repeat;" : "" )' ></i>
            </div>
            
                @*<p class="login-box-msg">Mật khẩu mới sẽ được hệ thống gửi theo email bên dưới!</p>*@
                <div class="callout callout-info">
                    <p>@ViewBag.MesgEmail</p>
                </div>
                <div class="input-group col-xs-12">
                    <span class="glyphicon glyphicon-user form-control-feedbacks"></span>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Tài khoản đăng nhập" autocomplete="off" required>
                </div> 
                <div class="row">
                    @*<div class="col-xs-7">
                        <div class="checkbox icheck">
                            @Html.ActionLink("Đăng nhập", "Login", "Accounts", new { type = "fgpw" }, null)
                        </div>
                    </div>*@
                    <!-- /.col -->
                    <div class="col-xs-12 text-right">
                        <div class="checkbox icheck">
                            @*@Html.ActionLink("Tiếp theo", "ForgotPassword", "Accounts", new { id = "send" })*@
                            @*<a href="@Url.Action("ForgotPassword", "Accounts", new {firstname="xxxx"})" id="lnk">Search</a>*@
                            <a href="#" onclick="fn_continue()">Tiếp theo</a>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
           
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <script>
        $(document).ready(function () {

            $("#username").keypress(function (e) {
                if (e.which == 13) {
                    fn_continue();
                }
            });
        });
        function fn_continue() {
            var fakedUri = "/Accounts/ForgotPassword?user=xxxx";
            var uri = fakedUri.replace("xxxx", $("#username").val());
            Sv.AjaxPost({
                Url: '/Accounts/CheckPerReceptionResetPass',
                Data: { userName: $("#username").val() }
            }, function (data) {
                if (data === "00") {
                    window.location.href = uri;
                } else {
                    Dialog.Alert('Bạn vui lòng liên hệ với quản lý để được cấp lại mật khẩu', Dialog.Error);
                }
            }, function() {

            });
            //
        }
    </script>
