﻿@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Themes/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/logincode/rms.logincode.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition lockscreen" style="">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="/Accounts/LoginCode" class="logo-text">
                <b>RMS</b>
            </a>
        </div>
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="~/Themes/dist/img/user1-128x128.jpg" />
            </div>
            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials" id="login-form">
                <div class="input-group">
                    <input type="password" id="passcode" name="passcode" class="form-control" placeholder="Mã số đăng nhập" maxlength="6" autocomplete="off">
                    <div class="input-group-btn">
                        <button type="submit" class="btn">
                            <i class="fa fa-arrow-right text-muted"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->

        </div>
        <p class="message-login text-center"></p>
        <!-- /.lockscreen-item -->
        <div class="text-center">
            <a href="/Accounts/Login">Đăng nhập bằng tài khoản</a>
        </div>
    </div>
    <!-- /.center -->
    <!-- keyboard-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="clear clearfix">
                    <ul id="keyboard" class="col-md-8 col-xs-offset-3 pull-right">
                        <li class="symbol"><span class="off">`</span><span class="on">~</span></li>
                        <li class="symbol"><span class="off">1</span><span class="on">!</span></li>
                        <li class="symbol"><span class="off">2</span><span class="on">@@</span></li>
                        <li class="symbol"><span class="off">3</span><span class="on">#</span></li>
                        <li class="symbol"><span class="off">4</span><span class="on">$</span></li>
                        <li class="symbol"><span class="off">5</span><span class="on">%</span></li>
                        <li class="symbol"><span class="off">6</span><span class="on">^</span></li>
                        <li class="symbol"><span class="off">7</span><span class="on">&amp;</span></li>
                        <li class="symbol"><span class="off">8</span><span class="on">*</span></li>
                        <li class="symbol"><span class="off">9</span><span class="on">(</span></li>
                        <li class="symbol"><span class="off">0</span><span class="on">)</span></li>
                        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
                        <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
                        <li class="delete lastitem">delete</li>
                        <li class="tab">tab</li>
                        <li class="letter">q</li>
                        <li class="letter">w</li>
                        <li class="letter">e</li>
                        <li class="letter">r</li>
                        <li class="letter">t</li>
                        <li class="letter">y</li>
                        <li class="letter">u</li>
                        <li class="letter">i</li>
                        <li class="letter">o</li>
                        <li class="letter">p</li>
                        <li class="symbol"><span class="off">[</span><span class="on">{</span></li>
                        <li class="symbol"><span class="off">]</span><span class="on">}</span></li>
                        <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
                        <li class="capslock noteven">caps lock</li>
                        <li class="letter">a</li>
                        <li class="letter">s</li>
                        <li class="letter">d</li>
                        <li class="letter">f</li>
                        <li class="letter">g</li>
                        <li class="letter">h</li>
                        <li class="letter">j</li>
                        <li class="letter">k</li>
                        <li class="letter">l</li>
                        <li class="symbol"><span class="off">;</span><span class="on">:</span></li>
                        <li class="symbol"><span class="off">'</span><span class="on">"</span></li>
                        <li class="return lastitem">Enter</li>
                        <li class="left-shift noteven">shift</li>
                        <li class="letter">z</li>
                        <li class="letter">x</li>
                        <li class="letter">c</li>
                        <li class="letter">v</li>
                        <li class="letter">b</li>
                        <li class="letter">n</li>
                        <li class="letter">m</li>
                        <li class="symbol"><span class="off">,</span><span class="on">&lt;</span></li>
                        <li class="symbol"><span class="off">.</span><span class="on">&gt;</span></li>
                        <li class="symbol"><span class="off">/</span><span class="on">?</span></li>
                        <li class="right-shift lastitem noteven">shift</li>
                        <li class="space lastitem">Space</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p> Copyright © 2017 Vivu Company LTD<br /> All rights reserved.</p>
        </div>
    </div>

    <!--end keyboard-->
    <!-- jQuery 3 -->
    <script src="~/Themes/plugins/jQuery/jquery-2.2.3.js"></script>
    <script src="~/Scripts/oze.base.js"></script>
    <script src="~/Scripts/Servicebase.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/oze/loginCode/rms.logincode.js"></script>
    <script src="~/Scripts/oze/loginCode/rms.keyboard.js"></script>
</body>
</html>