﻿@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_user' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'></div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Username</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield' name='username' id='username' size='1' value='@Model.username'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Password</label><div class='col-sm-10'><input class='form-control' type='password' name='password' maxlength='500' id='password' value='@Model.password' size="1" />    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Email</label><div class='col-sm-10'><input type='text' maxlength='500' required='1' kind='char' class='form-control requiredfield email' name='email' id='email' size='1' value='@Model.email'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Phone</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='phone' id='phone' size='1' value='@Model.phone'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Fullname</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='fullname' id='fullname' size='1' value='@Model.fullname'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Desc</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>

        @*<div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>CP</label><div class='col-sm-10'>
                <select class='form-control' id='cpid' name='cpid'>
                    <option value="-1">-- Tất cả--</option>
                    @{
                        List<film_cp> dtILM_CPilm_cp_cpid = new film_cpService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_CPilm_cp_cpid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_CPilm_cp_cpid[jx].title.ToString();
                            int sIdxxx = dtILM_CPilm_cp_cpid[jx].Id;
                            string sSelected = (sIdxxx == Model.cpid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>*@
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Quyền</label><div class='col-sm-10'>
                <select class='form-control' id='roleid' name='roleid'>
                    @{
                        List<film_role> dtILM_ROLEilm_role_roleid = new film_roleService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_ROLEilm_role_roleid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_ROLEilm_role_roleid[jx].title.ToString();
                            int sIdxxx = dtILM_ROLEilm_role_roleid[jx].Id;
                            string sSelected = (sIdxxx == Model.roleid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
</section>