﻿@{
    ViewData["Title"] = "Người dùng";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="s_title">Tìm kiếm theo username</label>
                            <input type="text"  placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                        </div>
                        <div class="btn-group special">
                            <button onclick="javascript: ofilm_user.searchGrid();" type="button" class="btn btn-default">
                                <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
                            </button>
                            <button onclick="javascript: ofilm_user.editDialog(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_user" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên tài khoản</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Email</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Số điện thoại</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Họ và tên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>CP</th>*@
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Quyền</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_user.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_user = new film_user();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_user.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_user.searchGrid();
            }
        });
    });
</script>