﻿@using lamlt.data
@using lamlt.webservice
@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
}
<form id='formfilm_channel' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tên kênh</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='description' id='description' size='1' value='@Model.description'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tài khoản</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='username' id='username' size='1' value='@Model.username'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mật khẩu</label><div class='col-sm-10'><input type='password' required maxlength='500' kind='char' class='form-control ' name='password' id='password' size='1' value='@Model.password'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>IP</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='ip' id='ip' size='1' value='@Model.ip'>    </div></div>

    <div class='form-group row'>
        <label for='status' class='col-sm-2 col-form-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <select class='selection form-control' name='status' id='status' style="width:100%">
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>
</form>