﻿<div class="panel-collapse collapse in" aria-expanded="true" style="">
    <div class="panel-body">
        <div class="form-group">
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Video_processing_id</label>   <div class='col-sm-10'>@Model.video_processing_id    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Transcript_id</label>   <div class='col-sm-10'>@Model.transcript_id    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label>   <div class='col-sm-10'>@Model.datecreated    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Dateupdated</label>   <div class='col-sm-10'>@Model.dateupdated    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Status</label>   <div class='col-sm-10'>@Model.status    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Isview</label>   <div class='col-sm-10'>@Model.isview    </div></div>
            <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Userid</label>   <div class='col-sm-10'>@Model.userid    </div></div>
        </div>
    </div>
</div>