﻿<style>
    .select2 {
        width: 100% !important;
    }

    .dataTables_info {
        display: none !important;
    }
</style>
<input type="hidden" value="@Model" id="video_processing_id" />
<button onclick="javascript: ofilm_video_processing_transcript.addDialog(@Model);" type="button" class="btn btn-default" id="btn_film_video_cp_owner">
    <i class="fa fa-plus" aria-hidden="true"></i> Thêm phụ đề
</button>
<table id="example_film_video_processing_transcript" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">Thao tác</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tiêu đề</th>
            @*<th class="grid-cell char" kind="char" style="cursor: pointer;">File Sub</th>*@
            <th class="grid-cell char" kind="char" style="cursor: pointer;">File thành phẩm</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tình trạng</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">ID</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/oze/film_video_processing_transcript.js"></script>
<script src="~/Scripts/oze/film_transcript.js"></script>
<script type="text/javascript">
    var $table;
    var ofilm_video_processing_transcript = new film_video_processing_transcript();
    var ofilm_transcript = new film_transcript();
    $(document).ready(function () {
        ofilm_video_processing_transcript.setupGrid();
    });
</script>