﻿@using lamlt.web.Services
@{
    film_transcriptService film_transcriptSV = new film_transcriptService();
    var list_transcript = film_transcriptSV.GetViewAllItem(null);
}
<form class="" id='formfilm_video_processing_transcript' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class="row form-group">
        <div class="col-md-12">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="video_processing_id" id="video_processing_id" value="@Model.video_processing_id"/>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3"><label for="transcript_id">Phụ đề</label></div>
        <div class="col-md-9">
            <select class='selection form-control transcript_id' id='transcript_id' name='transcript_id' multiple>
                @{
                    for (int jx = 0; jx <= list_transcript.Count - 1; jx++)
                    {
                        string sTitlexxx = list_transcript[jx].title.ToString();
                        int sIdxxx = list_transcript[jx].Id;
                        string sSelected = (sIdxxx == Model.transcript_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
            </select>
        </div>
    </div>
    @*<div class="row form-group">
        <div class="col-md-3"><label for="status">Trạng thái</label></div>
        <div class="col-md-9">
            <select class='form-control' name='status' id='status'>
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value=" 1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>*@
</form>
<script>
    $('.selection').select2();
</script>