﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_transactiondetail' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly="readonly" type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>transid</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='transid' id='transid' size='1' value='@Model.transid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>address</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='address' id='address' size='1' value='@Model.address'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>amount1</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='amount1' id='amount1' size='1' value='@Model.amount1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>amount2</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='amount2' id='amount2' size='1' value='@Model.amount2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>currency1</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='currency1' id='currency1' size='1' value='@Model.currency1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>currency2</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='currency2' id='currency2' size='1' value='@Model.currency2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>status_url</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='status_url' id='status_url' size='1' value='@Model.status_url'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>qrcore_url</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='qrcore_url' id='qrcore_url' size='1' value='@Model.qrcore_url'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>rateWS</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='rateWS' id='rateWS' size='1' value='@Model.rateWS'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>statusWS</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='statusWS' id='statusWS' size='1' value='@Model.statusWS'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>hashWS</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='hashWS' id='hashWS' size='1' value='@Model.hashWS'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>idRef</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='idRef' id='idRef' size='1' value='@Model.idRef'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>keyRef</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='keyRef' id='keyRef' size='1' value='@Model.keyRef'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>typeTrans</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='typeTrans' id='typeTrans' size='1' value='@Model.typeTrans'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>rateUSD1</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='rateUSD1' id='rateUSD1' size='1' value='@Model.rateUSD1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>rateUSD2</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='rateUSD2' id='rateUSD2' size='1' value='@Model.rateUSD2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>memberid</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='memberid' id='memberid' size='1' value='@Model.memberid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>txthash</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='txthash' id='txthash' size='1' value='@Model.txthash'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>statusWS1</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='statusWS1' id='statusWS1' size='1' value='@Model.statusWS1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>memberidTo</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='memberidTo' id='memberidTo' size='1' value='@Model.memberidTo'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>txtHash1</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='txtHash1' id='txtHash1' size='1' value='@Model.txtHash1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>statusETH</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='statusETH' id='statusETH' size='1' value='@Model.statusETH'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>username</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='username' id='username' size='1' value='@Model.username'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>note</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='note' id='note' size='1' value='@Model.note'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>bankid</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='bankid' id='bankid' size='1' value='@Model.bankid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>statusBanking</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='statusBanking' id='statusBanking' size='1' value='@Model.statusBanking'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>fullname</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='fullname' id='fullname' size='1' value='@Model.fullname'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>phone</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='phone' id='phone' size='1' value='@Model.phone'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>email</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='email' id='email' size='1' value='@Model.email'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>urlTemp</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='urlTemp' id='urlTemp' size='1' value='@Model.urlTemp'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>statusBankingResult</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='statusBankingResult' id='statusBankingResult' size='1' value='@Model.statusBankingResult'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>orderIdRef</label><div class='col-sm-10'><input  type='text' maxlength='500' kind='char' class='form-control ' name='orderIdRef' id='orderIdRef' size='1' value='@Model.orderIdRef'>    </div></div>
    </form>
</section>