﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">
        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Transid</label>   <div class='col-sm-10'>@Model.transid    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Amount2</label>   <div class='col-sm-10'>@Model.amount2    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Address</label>   <div class='col-sm-10'>@Model.address    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Amount1</label>   <div class='col-sm-10'>@Model.amount1    </div></div>
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Txtid</label>   <div class='col-sm-10'>@Model.txtid    </div></div>*@
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Currency1</label>   <div class='col-sm-10'>@Model.currency1    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Currency2</label>   <div class='col-sm-10'>@Model.currency2    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Status_url</label>   <div class='col-sm-10'>@Model.status_url    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Qrcore_url</label>   <div class='col-sm-10'>@Model.qrcore_url    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>datecreated</label>   <div class='col-sm-10'>@Model.datecreated    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ratews</label>   <div class='col-sm-10'>@Model.rateWS    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Statusws</label>   <div class='col-sm-10'>@Model.statusWS    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Hashws</label>   <div class='col-sm-10'>@Model.hashWS    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Idref</label>   <div class='col-sm-10'>@Model.idRef    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Keyref</label>   <div class='col-sm-10'>@Model.keyRef    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Typetrans</label>   <div class='col-sm-10'>@Model.typeTrans    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Rateusd1</label>   <div class='col-sm-10'>@Model.rateUSD1    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Rateusd2</label>   <div class='col-sm-10'>@Model.rateUSD2    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Addressws</label>   <div class='col-sm-10'>@Model.addressWS    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Memberid</label>   <div class='col-sm-10'>@Model.memberid    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Txthash</label>   <div class='col-sm-10'>@Model.txthash    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Statusws1</label>   <div class='col-sm-10'>@Model.statusWS1    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Memberidto</label>   <div class='col-sm-10'>@Model.memberidTo    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Txthash1</label>   <div class='col-sm-10'>@Model.txtHash1    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Statuseth</label>   <div class='col-sm-10'>@Model.statusETH    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Username</label>   <div class='col-sm-10'>@Model.username    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Note</label>   <div class='col-sm-10'>@Model.note    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Bankid</label>   <div class='col-sm-10'>@Model.bankid    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Statusbanking</label>   <div class='col-sm-10'>@Model.statusBanking    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Fullname</label>   <div class='col-sm-10'>@Model.fullname    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phone</label>   <div class='col-sm-10'>@Model.phone    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Email</label>   <div class='col-sm-10'>@Model.email    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Urltemp</label>   <div class='col-sm-10'>@Model.urlTemp    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>StatusBankingResult</label>   <div class='col-sm-10'>@Model.statusBankingResult    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Orderidref</label>   <div class='col-sm-10'>@Model.orderIdRef    </div></div>
</section>