﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Giao dịch - Film Transaction Detail";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <input type="text" class="form-control" name="search_film_transactiondetail_title" id="search_film_transactiondetail_title" />
                    <button onclick="javascript: ofilm_transactiondetail.editDialog(0);" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_transactiondetail" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">transid</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">txtid_transactions</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">address</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">amount1</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">amount2</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">currency1</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">currency2 </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">status_url</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">qrcore_url</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">datecreated</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">rateWS</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">statusWS</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">hashWS </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">idRef </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">keyRef </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">typeTrans </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">rateUSD1 </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">rateUSD2 </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">addressWS </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">memberid </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">txthash  </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">statusWS1</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">memberidTo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">txtHash1</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">statusETH</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">username  </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">note    </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">bankid   </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">statusBanking   </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">fullname   </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">phone   </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">email    </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">urlTemp    </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">statusBankingResult    </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">orderIdRef</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_transactiondetail.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_transactiondetail = new film_transactiondetail();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_transactiondetail.setupGrid();
        $("#search_film_transactiondetail_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_transactiondetail.searchGrid();
            }
        });
    });
</script>