﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>username</label>   <div class='col-sm-10'>@Model.username    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>phone</label>   <div class='col-sm-10'>@Model.phone    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>email</label>   <div class='col-sm-10'>@Model.email    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>amount1</label>   <div class='col-sm-10'>@Model.amount1    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>txtid</label>   <div class='col-sm-10'>@Model.txtid    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>datecreated</label>   <div class='col-sm-10'>@Model.datecreated    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>statusBanking</label>   <div class='col-sm-10'>@Model.statusBanking    </div></div>
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>address</label>   <div class='col-sm-10'>@Model.address    </div></div>*@
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>amount2</label>   <div class='col-sm-10'>@Model.amount2    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>currency1</label>   <div class='col-sm-10'>@Model.currency1    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>currency2</label>   <div class='col-sm-10'>@Model.currency2    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>status_url</label>   <div class='col-sm-10'>@Model.status_url    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>qrcore_url</label>   <div class='col-sm-10'>@Model.qrcore_url    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>idRef</label>   <div class='col-sm-10'>@Model.idRef    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>typeTrans</label>   <div class='col-sm-10'>@Model.typeTrans    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>rateUSD1</label>   <div class='col-sm-10'>@Model.rateUSD1    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>rateUSD2</label>   <div class='col-sm-10'>@Model.rateUSD2    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>addressWS</label>   <div class='col-sm-10'>@Model.addressWS    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>memberid</label>   <div class='col-sm-10'>@Model.memberid    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>txthash</label>   <div class='col-sm-10'>@Model.txthash    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>statusWS1</label>   <div class='col-sm-10'>@Model.statusWS1    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>txtHashFee</label>   <div class='col-sm-10'>@Model.txtHashFee    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>statusFee</label>   <div class='col-sm-10'>@Model.statusFee    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>memberidTo</label>   <div class='col-sm-10'>@Model.memberidTo    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>addressTo</label>   <div class='col-sm-10'>@Model.addressTo    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>addressFrom</label>   <div class='col-sm-10'>@Model.addressFrom    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>typeName</label>   <div class='col-sm-10'>@Model.typeName    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>txtHash1</label>   <div class='col-sm-10'>@Model.txtHash1    </div></div>*@
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>note</label>   <div class='col-sm-10'>@Model.note    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>bankid</label>   <div class='col-sm-10'>@Model.bankid    </div></div>*@
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>fullname</label>   <div class='col-sm-10'>@Model.fullname    </div></div>*@
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>urlTemp</label>   <div class='col-sm-10'>@Model.urlTemp    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>statusBankingResult    </label>   <div class='col-sm-10'>@Model.statusBankingResult    </div></div>
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>orderIdRef</label>   <div class='col-sm-10'>@Model.orderIdRef    </div></div>*@

</section>