﻿@{
    ViewData["Title"] = "LALATV-CMS | Giao dịch";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="s_title">Tìm kiếm</label>
                        <input type='text' class='form-control' name='s_title' id='s_title' />
                    </div>
                    <div class="col-md-2">
                        <label for="s_status">Trạng thái</label>
                        <select class="selection form-control" name="s_status" id="s_status" multiple>
                            <option value="1">Thành công</option>
                            <option value="0">Khởi tạo</option>
                            <option value="2">Đang xử lý</option>
                            <option value="-1">Thất bại</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="s_typeName">Loại</label>
                        <select class="selection form-control" name="s_typeName" id="s_typeName" multiple>
                            <option value="3">Wap</option>
                            <option value="1">SMS</option>
                            <option value="2">Ngân hàng</option>
                            <option value="0">Không xác định</option>
                        </select>
                    </div>  
                    <div class="col-md-3">
                        <label for="s_timerange">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian tạo" name="s_timerange" id="s_timerange" />
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <button onclick="javascript: ofilm_transactions.searchGrid();" type="button" class="btn btn-primary" id="btn_sm"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table id="example_film_transactions" class="table table-striped table-bordered display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>User</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Phone  </th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>TxtId   </th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Type Name</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Date Created    </th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Status Banking</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Amount1</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>User</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Phone  </th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>TxtId    </th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Type Name</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Date Created    </th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Status Banking</th>
                <th class='grid-cell char' kind='char' style='cursor: pointer;'>Amount1</th>
            </tr>
        </tfoot>
    </table>
</div>
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_transactions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
<script type="text/javascript">
    var $table;
    var ofilm_transactions = new film_transactions();
    $(document).ready(function () {
        ofilm_transactions.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_transactions.searchGrid();
            }
        });
        $(".selection").select2({
            placeholder: " Lựa chọn "
        });
        $(".date_format").datetimepicker({ format: "DD/MM/YYYY HH:mm:ss" });
        $(".date_format_min").datetimepicker({ format: "DD/MM/YYYY" });
        // set default time range
        $('.time_range').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear',
                format: 'DD/MM/YYYY'
            }
        });
        $('.time_range').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });
        $('.time_range').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>
