﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
        
    </ul>

</div>
<section>
    <span><i class="glyphicon glyphicon-search"></i><input type='text' class='form-control' maxlength='200' name='search_oreport_chart_view_title' id='search_oreport_chart_view_title' size='1' />
</section>
<table id="example_report_chart_view" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'> Id phim</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên phim</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Xem lẻ</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>mua gói</th>
            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>Doanh thu</th>*@
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/reportChartView.js"></script>

<script type="text/javascript">
    var $table;
    var oreport_chart_view = new report_chart_view();
    $(document).ready(function ()
    {
        //toggleMenu("menu_kho");
        oreport_chart_view.setupGrid();
        $("#search_oreport_chart_view_title").keypress(function (e) {
            if (e.which == 13) {
                oreport_chart_view.searchGrid();
            }
        });
    });
</script>