﻿<%@ page title="About" language="C#" masterpagefile="~/Site.Master" autoeventwireup="true" codebehind="About.aspx.cs" inherits="lamlt.webservice1.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Your application description page.</h3>
    <p>Use this area to provide additional information.</p>
</asp:Content>