﻿
@{
    var str_status = "";
    if (Model.status == 1)
    {
        str_status = "Đã duyệt";
    }
    else
    {
        str_status = "Chưa duyệt";
    }
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>
        <li id="liAddNew" style="float:right"></li>
    </ul>
</div>
<section>
    <div class='form-group row'>
        <label for='Id' class='col-sm-2 control-label'>Id</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='title' class='col-sm-2 control-label'>Id Người dùng</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='userid' id='userid' size='1' value='@Model.userid'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='desc' class='col-sm-2 control-label'>Tên </label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='full_name' id='full_name' size='1' value='@Model.full_name'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='str_menu_id' class='col-sm-2 control-label'>SĐT</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='phone' id='phone' size='1' value='@Model.phone'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='menu_icon' class='col-sm-2 control-label'>Email</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='email' id='email' size='1' value='@Model.email'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='datecreated' class='col-sm-2 control-label'>Ngày tạo </label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated.ToString("dd/MM/yyyy HH:mm")'>
        </div>
    </div>
</section>

