﻿@{
    ViewData["Title"] = "Báo cáo doanh thu";
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewData["activeMenu"] = "active";
    ViewData["thisActive"] = "thisAcive";
}
@using lamlt.data
@using lamlt.web.Services1
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-9">
                    <div class="form-group form-inline">
                        <label for="start_time">Start time</label>
                        <input type="text" class="form-control" name="start_time" id="start_time" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <label for="end_time">End time:</label>
                        <input type="text" class="form-control" name="end_time" id="end_time" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <button onclick="javascript:oapidoanhthu.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                        <button id="dt_vnpt" type="button" class="btn btn-danger"><i class="fa fa-search" aria-hidden="true"></i> Doanh Thu VNPT</button>
                    </div>
                </div>
                <div class="col-md-3"><div class="thongbao"></div></div>
            </div>
        </div>
    </div>
</div>
<table id="example_apidoanhthu" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">ID</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng số thuê bao active</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng số thuê bao đăng ký</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng số thuê bao hủy</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng số thuê bao gia hạn</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thành Công</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Không Thành Công</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tỉ lệ GHTC</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng doanh thu</th>
        </tr>
    </thead>
</table>
<hr /><br />
<h3>Lấy dữ liệu báo cáo tháng VNPT</h3><br /><hr /><br />
<table id="dt_vnpt" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">STT</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Code</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Số điện thoại</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Kênh</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Lý do</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Giá</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Giá gốc</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/api_doanhthu.js"></script>

<script type="text/javascript">
    var $table;
    var oapidoanhthu = new api_doanhthu();

    function dt_vnpt() {
        $.ajax({
            url: "/doanhthu/GetReportVnpt",
            data: {
                start: $("#start_time").val(),
                end: $("#end_time").val()
            }, success: function (data) {
                $('.thongbao').html("Lấy dữ liệu thành công");
                var rs = data.data;
                var file = data.file;
                var td_html = '';
                for (var i = 0; i < rs.length; i++) {
                    var action_date = '<tr><td>' + i + '</td>';
                    var package_code = '<td>' + rs[i]['action_date'] + '</td>';
                    var package_code = '<td>' + rs[i]['package_code'] + '</td>';
                    var msisdn = '<td>' + rs[i]['msisdn'] + '</td>';
                    var channel = '<td>' + rs[i]['channel'] + '</td>';
                    var reason = '<td>' + rs[i]['reason'] + '</td>';
                    var price = '<td>' + rs[i]['price'] + '</td>';
                    var original_price = '<td>' + rs[i]['original_price'] + '</td></tr>';
                    td_html += action_date + package_code + msisdn + channel + reason + price + original_price;
                }
                //$('#dt_vnpt tbody').html(td_html);
                
                window.open('http://118.68.218.182:5003/' + file);
            }
        });

    }
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        oapidoanhthu.setupGrid();
        $("#search_apidoanhthu_title").keypress(function (e) {
            if (e.which == 13) {
                oapidoanhthu.searchGrid();
            }
        });
        $("#start_time").keypress(function (e) {
            if (e.which == 13) {
                oapidoanhthu.searchGrid();
            }
        });
        $("#end_time").keypress(function (e) {
            if (e.which == 13) {
                oapidoanhthu.searchGrid();
            }
        });
        $('#start_time').datetimepicker({ format: 'YYYY-MM-DD' });
        $('#end_time').datetimepicker({ format: 'YYYY-MM-DD' });



        // CODE DOANH THU VNPT CHO LINH
        $(document).on('click', '#dt_vnpt', function () {
            $('.thongbao').html("Đang lấy dữ liệu, vui lòng đợi...");
            dt_vnpt();
        });



    });

</script>