﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_cms_menu' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Url</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='url' id='url' size='1' value='@Model.url'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ưu tiên</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='position' id='position' size='1' value='@Model.position'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Danh mục cha</label>
            <div class='col-sm-10'>
                <input type='text' maxlength='500' kind='char' class='form-control ' name='parent_id' id='parent_id' size='1' value='@Model.parent_id'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label><div class='col-sm-10'>
                <select class='form-control' name='status' id='status'>
                    <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                    <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
                </select>
            </div>
        </div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Menu Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='str_menu_id' id='str_menu_id' size='1' value='@Model.str_menu_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Menu Icon</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='menu_icon' id='menu_icon' size='1' value='@Model.menu_icon'>    </div></div>
    </form>
</section>
<script>
    $(".selection").select2({
        placeholder: "═══ Chọn 1 option ═══",
    });
</script>