﻿
@{
    var str_status = "";
    if (Model.status == 1)
    {
        str_status = "Đã duyệt";
    }
    else
    {
        str_status = "Chưa duyệt";
    }
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>
        <li id="liAddNew" style="float:right"></li>
    </ul>
</div>
<section>
    <div class='form-group row'>
        <label for='Id' class='col-sm-2 control-label'>Id</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='title' class='col-sm-2 control-label'>Tên</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='desc' class='col-sm-2 control-label'>Nội dung </label>
        <div class='col-sm-10'>
            <textarea class="form-control" id="desc" rows="3" name="desc" value="@Model.desc" readonly></textarea>
        </div>
    </div>
    <div class='form-group row'>
        <label for='str_menu_id' class='col-sm-2 control-label'>Menu Id</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='str_menu_id' id='str_menu_id' size='1' value='@Model.str_menu_id'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='menu_icon' class='col-sm-2 control-label'>Menu Icon</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='menu_icon' id='menu_icon' size='1' value='@Model.menu_icon'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='status' class='col-sm-2 control-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@str_status'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='datecreated' class='col-sm-2 control-label'>Ngày tạo </label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated.ToString("dd/MM/yyyy HH:mm")'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='dateupdated' class='col-sm-2 control-label'>Ngày tạo </label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='dateupdated' id='dateupdated' size='1' value='@Model.dateupdated.ToString("dd/MM/yyyy HH:mm")'>
        </div>
    </div>
</section>

