﻿@{
    ViewData["Title"] = "Lalatv-CMS | Quản lý tập";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .tool_btn {
        margin: 4px;
        min-width: 122px;
        border-radius: 3px;
        text-align: center;
    }

    .btn {
        border-radius: 3px;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="search_film_cms_menu_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" class="form-control" name="search_film_cms_menu_title" id="search_film_cms_menu_title" size="1" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <button onclick="javascript: ofilm_cms_menu.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        <button onclick="javascript: ofilm_cms_menu.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_cms_menu" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">Thao tác</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Mô tả</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Url</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Position</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Danh mục cha</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Menu Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Menu Icon</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày cập nhật </th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/oze/film_cms_menu.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_cms_menu = new film_cms_menu();
    $(document).ready(function () {
        ofilm_cms_menu.setupGrid();
        $("#search_film_cms_menu_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_cms_menu.searchGrid();
            }
        });
    });
</script>