﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
	<form id='formfilm_banner' action='javascript:void();'>
		@Html.AntiForgeryToken()
	   <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input  readonly='readonly' type='text' maxlength='500'   kind='char'  class='form-control '  name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='title' id='title' size='1' value='@Model.title'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Vị trí</label><div class='col-sm-10'><select    class='form-control'  name='position' id='position'>
<option value="1" @(((1 == Model.position) ? "selected" : ""))>Đầu</option>
<option value=" 2" @((( 2 == Model.position) ? "selected" : ""))>Giữa</option>
<option value="3" @(((3 == Model.position) ? "selected" : ""))> Cuối</option>
</select>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ưu tiên</label><div class='col-sm-10'><select    class='form-control'  name='prior' id='prior'>
<option value="1" @(((1 == Model.prior) ? "selected" : ""))>1</option>
<option value="2" @(((2 == Model.prior) ? "selected" : ""))>2</option>
<option value="3" @(((3 == Model.prior) ? "selected" : ""))>3</option>
</select>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>File</label><div class='col-sm-10'><input  class='form-control' type=button value='Attach Files...' onclick="javascript:window.open('/film_file/upload_file?t=file','','width=500,height=400');" /><div id="div_file">@Model.file</div><input type=hidden id="file" value='@Model.file' />@if (Model.file.ToLower().IndexOf(".jpg")!=-1 || Model.file.ToLower().IndexOf(".png")!=-1 || Model.file.ToLower().IndexOf(".gif")!=-1 || Model.file.ToLower().IndexOf(".bmp")!=-1)  {  <img  src='@Model.file' height=150 />}  @if (!string.IsNullOrEmpty(Model.file)){ <a target=_blank href='@Model.file'>Download</a>    <a onclick="javascript:document.getElementById('div_film_banner_file').innerHTML='';document.getElementById('file').value='';" href='#'>Clear</a>}    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Html</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='html' id='html' size='1' value='@Model.html'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Desc</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>


	</form>
</section>