﻿@using lamlt.data
@using lamlt.web.Services
@{
    film_video_processingService film_video_processingSV = new film_video_processingService();
    List<vw_film_video_processing> list_video = film_video_processingSV.GetViewAllItem(null);
}
<form id='formfilm_product_processing_video' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 control-label'>Product_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='product_id' id='product_id' size='1' value='@Model.product_id'>    </div></div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 control-label'>Bài hát</label><div class='col-sm-10'>
            <select class='selection form-control video_processing_id' id='video_processing_id' name='video_processing_id' style="width:100%">
                @if (Model.video_processing_id != null)
                {
                    for (int jx = 0; jx <= list_video.Count - 1; jx++)
                    {
                        string sTitlexxx = list_video[jx].title.ToString();
                        int sIdxxx = list_video[jx].Id;
                        string sSelected = (sIdxxx == Model.video_processing_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
                else
                {
                    <option value="-1">────────── Tất cả ──────────</option>
                    for (int jx = 0; jx <= list_video.Count - 1; jx++)
                    {
                        string sTitlexxx = list_video[jx].title.ToString();
                        int sIdxxx = list_video[jx].Id;
                        string sSelected = (sIdxxx == Model.video_processing_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 control-label'>Catalog_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog_id' id='catalog_id' size='1' value='@Model.catalog_id'>    </div></div>
</form>
