﻿@using lamlt.data
@using lamlt.web.Services
@*@{
    ViewData["Title"] = "HG-PROJECT-CMS | Biên tập";
    Layout = "~/Views/Shared/_Root.cshtml";
}*@
<style>
    .select2 {
        width: 100% !important;
    }
</style>
<input type="hidden" value="@Model" id="productid" />
<button onclick="javascript: ofilm_product_processing_video.addDialog(@Model);" type="button" class="btn btn-default" id="btn_film_product_processing_video">
    <i class="fa fa-plus" aria-hidden="true"></i> Thêm biên tập
</button>
<table id="example_film_product_processing_video" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">Tải lại (Click)</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Video</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời lượng</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Danh mục</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/oze/film_product_processing_video.js"></script>
<script type="text/javascript">
    var $table;
    var ofilm_product_processing_video = new film_product_processing_video();
    $(document).ready(function () {
        ofilm_product_processing_video.setupGrid();
        $("#search_film_product_processing_video_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_product_processing_video.searchGrid();
            }
        });
    });
</script>