﻿@{
    ViewData["Title"] = "film_product_processing_video";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
	<div class="panel panel-primary">
		<div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
		<div class="panel-collapse collapse in" id="advanced_search">
			<div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="s_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                    </div>
                    
                    <div class="col-md-3">
                        <label for="s_timerange">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                    </div>
                </div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<button onclick="javascript: ofilm_product_processing_video.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
			<button onclick="javascript: ofilm_product_processing_video.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
		</div>
	</div>
</div>
<table id="example_film_product_processing_video" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
			
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Product_id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Video_processing_id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Catalog_id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Datecreated</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Dateupdated</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Status</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Userid</th>
<th class='grid-cell selector'>Thao tác</th>            
        </tr>
    </thead>
	<tfoot>
        <tr>
			
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Product_id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Video_processing_id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Catalog_id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Datecreated</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Dateupdated</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Status</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Userid</th>
<th class='grid-cell selector'>Thao tác</th>            
        </tr>
    </tfoot>
</table>    

<!--film_product_processing_video JS File-->
<script src="~/Scripts/oze/film_product_processing_video.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_product_processing_video = new film_product_processing_video();
    $(document).ready(function () 
    {
        ofilm_product_processing_video.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_product_processing_video.searchGrid();
            }
        });
    }); 
</script>