﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin convert</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_media_stream' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row panel panel-default'>
            <label for='lblnameks' class='col-sm-2 control-label panel-heading'>De Interface</label>
            <div class='col-sm-4'>
                <input type="checkbox" name="deinterface" value="@Model.deinterface" @(((1 == Model.deinterface) ? "checked" : "")) />
            </div>
            <script>
                $("input[type=checkbox][name='deinterface']").change(function () {
                    if ($(this).prop("checked")) {
                        $(this).val(1);
                    } else {
                        $(this).val(0);
                    }
                });
            </script>
        </div>
    </form>
</section>