﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Code</label>   <div class='col-sm-10'>@Model.code    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Name</label>   <div class='col-sm-10'>@Model.name    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Bitrate</label>   <div class='col-sm-10'>@Model.bitrate    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Audio Bitrate</label>   <div class='col-sm-10'>@Model.audiobitrate    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>De Interface</label>   <div class='col-sm-10'>@Model.deinterface    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>FBS</label>   <div class='col-sm-10'>@Model.fbs    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Frame-rate</label>   <div class='col-sm-10'>@Model.framerate    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Input Dir</label>   <div class='col-sm-10'>@Model.input_dir    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Input Origin</label>   <div class='col-sm-10'>@Model.input_origin    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Output Folder</label>   <div class='col-sm-10'>@Model.outputFolder    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Other</label>   <div class='col-sm-10'>@Model.other    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Date Created</label>   <div class='col-sm-10'>@Model.datecreated</div></div>
    @{
        var framerate = "-r " + @Model.framerate + " ";
        var audiobitrate = "-b:a " + @Model.audiobitrate + " ";
        var fbs = "-s " + @Model.fbs + " ";
        var bitrate = "-b:v " + @Model.bitrate + " ";
        if (@Model.framerate == null)
        {
            framerate = null;
        }
        if (@Model.audiobitrate == null) { audiobitrate = null; }
        if (@Model.fbs == null) { fbs = null; }
        if (@Model.bitrate == null) { bitrate = null; }
        string data = framerate + audiobitrate + fbs + bitrate + @Model.other;
    }
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Result</label><div class='col-sm-10'>@data</div></div>
</section>
