﻿<section>
    <form id='formfilm_media_stream' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Name</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='name' id='name' size='1' value='@Model.name'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>STT bạn muốn hiển thị</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='stt' id='stt' size='1' value='@Model.stt'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Bitrate</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='bitrate' id='bitrate' size='1' value='@Model.bitrate'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Audio bitrate</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='audiobitrate' id='audiobitrate' size='1' value='@Model.audiobitrate'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Deinterlace</label>
            <div class='col-sm-10'>
                <div class="pretty p-icon p-smooth" style="width:40%">
                    <input type="checkbox" name="deinterface" value="@Model.deinterface" @(((1 == Model.deinterface) ? "checked" : "")) />
                    <div class="state p-success">
                        <i class="icon glyphicon glyphicon-ok"></i>
                        <label>Deinterlace</label>
                    </div>
                </div>
            </div>
            <script>
                $("input[type=checkbox][name='deinterface']").change(function () {
                    if ($(this).prop("checked")) {
                        $(this).val(1);
                    } else {
                        $(this).val(0);
                    }
                });
            </script>
        </div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>FBS</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='fbs' id='fbs' size='1' value='@Model.fbs'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Frame-rate</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='framerate' id='framerate' size='1' value='@Model.framerate'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Input Dir</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='input_dir' id='input_dir' size='1' value='@Model.input_dir'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Input Origin</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='input_origin' id='input_origin' size='1' value='@Model.input_origin'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Output Folder</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='outputFolder' id='outputFolder' size='1' value='@Model.outputFolder'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Other</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='other' id='other' size='1' value='@Model.other'>    </div></div>
    </form>
</section>