﻿@{
    ViewData["Title"] = "Quản lý danh mục phim processing";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_film_video_title">Tìm kiếm</label>
                    <input class="form-control" type="text" placeholder="Search" name="search_film_media_stream_title" id="search_film_media_stream_title" />
                </div>
                <div class="col-md-3">
                    <label for="start_time">Start time</label>
                    <input type="text" class="form-control" name="start_time" id="start_time" />
                </div>
                <div class="col-md-3">
                    <label for="end_time">End time:</label>
                    <input type="text" class="form-control" name="end_time" id="end_time" />
                </div>
                <div class="col-md-3"><br /><br />
                    <button onclick="javascript: ofilm_media_stream.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: ofilm_media_stream.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    td.sorting_1 {
        width: 100px;
    }
</style>
<table id="example_film_media_stream" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Stt</th>
            <th class="grid-cell selector">Thao tác</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Code</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Bitrate</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Audio Bitrate</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">De Interface</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Khung hình</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Framerate</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Input Dir</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Input Origin</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Output Folder</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Other</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Date Created</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_media_stream.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_media_stream = new film_media_stream();
    $(document).ready(function () {
        $('#start_time').datetimepicker({ format: 'YYYY-MM-DD' });
        $('#end_time').datetimepicker({ format: 'YYYY-MM-DD' });
        ofilm_media_stream.setupGrid();
        $("#search_film_media_stream_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_media_stream.searchGrid();
            }
        });
    });
    $("#start_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_media_stream.searchGrid();
        }
    });
    $("#end_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_media_stream.searchGrid();
        }
    });
</script>
@*<script type="text/javascript">
    $(document).ready(function () {
        var t = $('#example_film_media_stream').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']]
        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });
</script>*@