﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>                
		<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên</label>   <div class='col-sm-10'>@Model.title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên ngắn</label>   <div class='col-sm-10'>@Model.shortname    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Địa chỉ</label>   <div class='col-sm-10'>@Model.address    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Đại diện</label>   <div class='col-sm-10'>@Model.rep    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Email</label>   <div class='col-sm-10'>@Model.email    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên liên hệ</label>   <div class='col-sm-10'>@Model.contractname    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Điện thoại liên hệ</label>   <div class='col-sm-10'>@Model.contractphone    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Email liên hệ</label>   <div class='col-sm-10'>@Model.contractemail    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label>   <div class='col-sm-10'>@Model.desc    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label>   <div class='col-sm-10'>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Người tạo</label>   <div class='col-sm-10'>@Model.userid    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label>   <div class='col-sm-10'>@Model.status    </div></div>        
</section>