﻿    <br/>
    <div class="nav-tabs-custom" style="margin-bottom:5px">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
            <li id="liAddNew" style="float:right;margin-top:10px">
                <button onclick="javascript: ofilm_cp.editDialog(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                    <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
                </button>
            </li>
        </ul>

    </div>
    <section>
       
    </section>
    <table id="example_film_cp" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
			
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên ngắn</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Địa chỉ</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Email</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên liên hệ</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Điện thoại liên hệ</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Email liên hệ</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
 <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
<th class='grid-cell selector'>Thao tác</th>            
        </tr>
    </thead>
</table>    

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_cp.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_cp = new film_cp();
    $(document).ready(function () 
    {
        //toggleMenu("menu_kho");
        ofilm_cp.setupGrid();
        $("#search_film_cp_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_cp.searchGrid();
            }
        });
    });        
</script>