﻿@{
    string is_android ="";
    if (Model.is_android == '1') {is_android = "Android"; };
    if (Model.is_android == '2') {is_android = "Iphone";};
    if (Model.is_android == '3') {is_android = "Khác";};
    string typekid = "";
    if (Model.typekid == '1') {typekid = "Trẻ em";};
    if (Model.typekid == '2') {typekid = "Người lớn";};
}
<table class="table table-striped table-bordered">
    <tr><td>ID</td><td>@Model.Id</td></tr>
    <tr><td>Title</td><td>@Model.title</td></tr>
    <tr><td>Type</td><td>@Model.Type</td></tr>
    <tr><td>Thời gian hiển thị</td><td>@Model.time_show</td></tr>
    <tr><td>Thời lượng</td><td>@Model.duration</td></tr>
    <tr><td>Ads_id</td><td>@Model.ads_id</td></tr>
    <tr><td>Ads_type</td><td>@Model.ads_type</td></tr>
    <tr><td>Item_id</td><td>@Model.item_id</td></tr>
    <tr><td>Item_type</td><td>@Model.item_type</td></tr>
    <tr><td>Content</td><td>@Model.content</td></tr>
    <tr><td>Link VAST</td><td>@Model.link_vast</td></tr>
    <tr><td>Nhúng</td><td>@Model.embedded</td></tr>
    <tr><td>Thiết bị</td><td>@is_android</td></tr>
    <tr><td>Dành cho</td><td>@typekid</td></tr>
    <tr><td>Size</td><td>@Model.size</td></tr>
    <tr><td>Note</td><td>@Model.note</td></tr>
    <tr><td>Datecreated</td><td>@Model.datecreated</td></tr>
    <tr><td>Status</td><td>@Model.status</td></tr>
</table>