﻿<form id="formads" action="javascript:void();">
    @Html.AntiForgeryToken()
    <table class="table table-striped table-bordered">
        <tr>
            <td>
                <label>ID</label>
            </td>
            <td>
                <input readonly="readonly" type="text" class="form-control " name="Id" id="Id" value="@Model.Id">
            </td>
        </tr>
        <tr>
            <td>
                <label>Titlle</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="title" id="title" value="@Model.title">
            </td>
        </tr>
        <tr>
            <td>
                <label>Type</label>
            </td>
            <td>
                <select class="form-control" name="type" id="type">
                    <option value="lalatv" @((("lalatv" == Model.type) ? "selected" : ""))>LalaTV</option>
                    <option value="google" @((("google" == Model.type) ? "selected" : ""))>Google Mob</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Thời gian hiển thị</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="time_show" id="time_show" value="@Model.time_show">
            </td>
        </tr>
        <tr>
            <td>
                <label>Thời lượng</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="duration" id="duration" value="@Model.duration">
            </td>
        </tr>
        <tr>
            <td>
                <label>Ads_id</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="ads_id" id="ads_id" value="@Model.ads_id">
            </td>
        </tr>
        <tr>
            <td>
                <label>Ads_type</label>
            </td>
            <td>
                <select class="form-control" name="ads_type" id="ads_type">
                    <option value="banner" @((("banner" == Model.ads_type) ? "selected" : ""))>Banner</option>
                    <option value="full" @((("full" == Model.ads_type) ? "selected" : ""))>Full</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Item_id</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="item_id" id="item_id" value="@Model.item_id">
            </td>
        </tr>
        <tr>
            <td>
                <label>Item_type</label>
            </td>
            <td>
                <select class="form-control" name="item_type" id="item_type">
                    <option value="banner" @((("banner" == Model.item_type) ? "selected" : ""))>Banner</option>
                    <option value="full" @((("full" == Model.item_type) ? "selected" : ""))>Full</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Content</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="content" id="content" value="@Model.content">
            </td>
        </tr>
        <tr>
            <td>
                <label>Link VAST</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="link_vast" id="link_vast" value="@Model.link_vast">
            </td>
        </tr>
        <tr>
            <td>
                <label>Nhúng</label>
            </td>
            <td>
                <input type="text" required class="form-control requiredfield" name="embedded" id="embedded" value="@Model.embedded">
            </td>
        </tr>
        <tr>
            <td>
                <label>Thiết bị</label>
            </td>
            <td>
                <select class="form-control" name="is_android" id="is_android">
                    <option value="1" @(((1 == Model.is_android) ? "selected" : ""))>Android</option>
                    <option value="2" @(((2 == Model.is_android) ? "selected" : ""))>Iphone</option>
                    <option value="3" @(((3 == Model.is_android) ? "selected" : ""))>Khác</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Dành cho</label>
            </td>
            <td>
                <select class="form-control" name="typekid" id="typekid">
                    <option value="2" @(((2 == Model.typekid) ? "selected" : ""))>Người lớn</option>
                    <option value="1" @(((1 == Model.typekid) ? "selected" : ""))>Trẻ em</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Size</label>
            </td>
            <td>
                <select class="form-control" name="size" id="size">
                    <option value="banner" @((("banner" == Model.size) ? "selected" : ""))>Banner</option>
                    <option value="large_banner" @((("large_banner" == Model.size) ? "selected" : ""))>Large banner</option>
                    <option value="full_banner" @((("full_banner" == Model.size) ? "selected" : ""))>Full banner</option>
                    <option value="smart_banner" @((("smart_banner" == Model.size) ? "selected" : ""))>Smart banner</option>
                    <option value="medium_rectangle" @((("medium_rectangle" == Model.size) ? "selected" : ""))>Medium rectangle</option>
                    <option value="leader_board" @((("leader_board" == Model.size) ? "selected" : ""))>Leader board</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Note</label>
            </td>
            <td>
                <input type="text" class="form-control " name="note" id="note" value="@Model.note">
            </td>
        </tr>
        <tr>
            <td>
                <label>Status</label>
            </td>
            <td>
                <select class="form-control" name="status" id="status">
                    <option value="active" @((("active" == Model.status) ? "selected" : ""))>Active</option>
                    <option value="no" @((("no" == Model.status) ? "selected" : ""))>No</option>
                </select>
            </td>
        </tr>
    </table>
</form>

<script>
    $("#datecreated").datetimepicker({ format: "DD-MM-YYYY" });
</script>