﻿@{
    ViewData["Title"] = "Quản lý quảng cáo";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="s_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <button onclick="javascript: oads.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        <button onclick="javascript: oads.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                    <div class="col-md-3">
                        <button onclick="javascript: oads.genVAST(0);" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_ads" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Loại quảng cáo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian Skip</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời lượng</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ads_id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ads_type</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id film</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Item_type</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Nội dung quảng cáo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Link VAST</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Nhúng</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Kích thước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thiết bị</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Dành cho</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ghi chú</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/ads.js"></script>

<script type="text/javascript">
    var $table;
    var oads = new ads();
    $(document).ready(function () {
        oads.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                oads.searchGrid();
            }
        });
    });
</script>