﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Chỉnh sửa - " + @Model.title;
    Layout = "~/Views/Shared/_Root.cshtml";
    var status = "Tất cả";
    var int_status = -1;
    switch (Model.status)
    {
        case 0:
            status = "Nháp"; int_status = 0;
            break;
        case 1:
            status = "Chờ duyệt"; int_status = 1;
            break;
        case 2:
            status = "Đã duyệt"; int_status = 2;
            break;
        case 3:
            status = "Từ chối"; int_status = 3;
            break;
        case 4:
            status = "Đã cập nhật ảnh"; int_status = 4;
            break;
        case 5:
            status = "Đang convert"; int_status = 5;
            break;
        case 6:
            status = "Cập nhật ảnh lỗi"; int_status = 6;
            break;
        case 7:
            status = "Quá hạn"; int_status = 7;
            break;
        default:
            // code block
            break;
    }
}
<style>
    #play_video_edit {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="id_video" />

<form id='formfilm_video' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <div class='form-group row'>
            <label for='title' class='col-sm-1 control-label'>Tên</label>
            <div class='col-sm-9'>
                <input type="text" class="form-control requiredfield" title="Tiêu đề" name="title" id="title" value="@Model.title" />
            </div>
            <div class='col-sm-2'>
                <input type="button" class="btn btn-primary" id="play_video_edit" value="Xem" />
            </div>

        </div>
        <script src="//cdn.ckeditor.com/4.13.0/full/ckeditor.js"></script>
        @Html.TextArea("desc", new { @class = "form-control", @id = "desc", @title = "Nội dung" })
        <script>
            $(document).ready(function () {
                CKEDITOR.replace('desc');
                CKEDITOR.instances.desc.on('change', function () {
                    var desc_value = CKEDITOR.instances.desc.getData();
                    $("#desc").val(desc_value);
                });
            });
        </script>
    </div>
    <div class="col-md-3">
        <label for="catalog_id">Danh mục phim</label>
        <select class="form-control" id="catalog_id" name="catalog_id">
            @{
                List<film_catalog> dtILM_CATALOGilm_catalog_catalog_id = new film_catalogService().GetAllItem(null);
                for (int jx = 0; jx <= dtILM_CATALOGilm_catalog_catalog_id.Count - 1; jx++)
                {
                    string sTitlexxx = dtILM_CATALOGilm_catalog_catalog_id[jx].title.ToString();
                    int sIdxxx = dtILM_CATALOGilm_catalog_catalog_id[jx].Id;
                    string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                }
            }
        </select>
        <label for="imdb">Imdb</label>
        <input type="text" class="form-control requiredfield" name="imdb" id="imdb" value="@Model.imdb" />
        <label for="format">Format</label>
        <select class="form-control" name="format" id="format">
            <option value="0" @(((0 == Model.format) ? "selected" : ""))>HD</option>
            <option value="1" @(((1 == Model.format) ? "selected" : ""))>SD</option>
        </select>
        <label for="sub_type">Sub_type</label>
        <select class="form-control" name="sub_type" id="sub_type">
            <option value="0" @(((0 == Model.sub_type) ? "selected" : ""))>Việt Sub</option>
            <option value="1" @(((1 == Model.sub_type) ? "selected" : ""))>Thuyết Minh</option>
            <option value="2" @(((2 == Model.sub_type) ? "selected" : ""))> Sub+Thuyết Minh</option>
        </select>

        <label for="publish_year">Năm phát hành</label><input type="text" class="form-control requiredfield" name="publish_year" id="publish_year" value="@Model.publish_year">
        <label for="publish_countryid">Quốc gia phát hành</label>
        <select class="form-control" id="publish_countryid" name="publish_countryid">
            @{
                List<film_country> dtILM_COUNTRYilm_country_publish_countryid = new film_countryService().GetAllItem(null);
                for (int jx = 0; jx <= dtILM_COUNTRYilm_country_publish_countryid.Count - 1; jx++)
                {
                    string sTitlexxx = dtILM_COUNTRYilm_country_publish_countryid[jx].title.ToString();
                    int sIdxxx = dtILM_COUNTRYilm_country_publish_countryid[jx].Id;
                    string sSelected = (sIdxxx == Model.publish_countryid) ? "selected" : "";
                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                }
            }
        </select>
    </div><!--end .col-md-3-->
    <div class="col-md-3">
        <label for="duration">Thời lượng</label><input type="text" class="form-control requiredfield" name="duration" id="duration" value="@Model.duration" />
        <label for="director">Đạo diễn</label><input type="text" class="form-control requiredfield" name="director" id="director" value="@Model.director" />
        <label for="actor">Diễn viên</label><input type="text" class="form-control requiredfield" name="actor" id="actor" value="@Model.actor" />
        <label for="film_type">Thể loại</label>
        <select class="form-control" name="film_type" id="film_type">
            <option value="0" @(((0 == Model.film_type) ? "selected" : ""))>Phim lẻ</option>
            <option value="1" @(((1 == Model.film_type) ? "selected" : ""))>Phim bộ</option>
        </select>
        <label for="episode">Tổng số tập</label><input type="text" class="form-control " name="episode" id="episode" value="@Model.episode" />
        <label for="episode_current">Tập đang chiếu</label><input type="text" class="form-control" name="episode_current" id="episode_current" value="@Model.episode_current" />
    </div>
    <div class="col-md-3">
        <label for="contract_copyright">Số HĐBQ</label><input type="text" class="form-control requiredfield" name="contract_copyright" id="contract_copyright" value="@Model.contract_copyright" />
        <label for="contract_appendix">Phụ lục HĐ</label><input type="text" class="form-control requiredfield" name="contract_appendix" id="contract_appendix" value="@Model.contract_appendix" />
        <label for="copyright_appendix">Phụ lục bản quyền</label><input type="text" class="form-control requiredfield" name="copyright_appendix" id="copyright_appendix" value="@Model.copyright_appendix" />
        <label for="copyright_expired">Ngày hết hạn bản quyền</label>
        <input type="text" class="form-control " name="copyright_expired" id="copyright_expired" value="@Model.copyright_expired" />
        <label for="price">Giá</label><input type="text" class="form-control" name="price" id="price" value="@Model.price">
        <script>$("input[type=checkbox][name='showhome']").change(function () { if ($(this).prop("checked")) { $(this).val(1); } else { $(this).val(0); } });</script>
        <label for="status">Trạng thái</label>
        <select class="form-control" name="status" id="status">
            <option value="0" @(((0 == Model.status) ? "selected" : ""))>Nháp</option>
            <option value="1" @(((1 == Model.status) ? "selected" : ""))>Chờ duyệt</option>
            <option value="2" @(((2 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            <option value="3" @(((3 == Model.status) ? "selected" : ""))>Từ chối</option>
            <option value="4" @(((4 == Model.status) ? "selected" : ""))>Đã cập nhật ảnh</option>
            <option value="5" @(((5 == Model.status) ? "selected" : ""))>Đang convert</option>
            <option value="6" @(((6 == Model.status) ? "selected" : ""))>Cập nhật ảnh lỗi</option>
            <option value="7" @(((7 == Model.status) ? "selected" : ""))>Quá hạn</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="cpid">CP</label>
        <select class="form-control" id="cpid" name="cpid">
            @{
                List<film_cp> dtILM_CPilm_cp_cpid = new film_cpService().GetAllItem(null);
                for (int jx = 0; jx <= dtILM_CPilm_cp_cpid.Count - 1; jx++)
                {
                    string sTitlexxx = dtILM_CPilm_cp_cpid[jx].title.ToString();
                    int sIdxxx = dtILM_CPilm_cp_cpid[jx].Id;
                    string sSelected = (sIdxxx == Model.cpid) ? "selected" : "";
                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                }
            }
        </select>
        <label for="lblnameks">Mã code</label><input type="text" class="form-control requiredfield" name="code" id="code" value="@Model.code" />
        <label for="tags">Tags</label><input type="text" class="form-control requiredfield" name="tags" id="tags" value="@Model.tags" />
        <label for="episode_id">Trong Film</label>
        @*<input type="text" class="form-control requiredfield" name="episode_id" id="episode_id" value="@Model.episode_id" />*@
        <select class="form-control" id="episode_id" name="episode_id">
            <option value="">Không</option>
            @{
                List<film_episode> listFilmEpisoe = new film_episodeService().GetAllItem(null);
                for (int jx = 0; jx <= listFilmEpisoe.Count - 1; jx++)
                {
                    string sTitlexxx = listFilmEpisoe[jx].title.ToString();
                    int sIdxxx = listFilmEpisoe[jx].Id;
                    string sSelected = (sIdxxx == Model.episode_id) ? "selected" : "";
                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                }
            }
        </select>
        <div class="checkbox-inline"><label><input id="exclusive" name="exclusive" type="checkbox" value="@Model.exclusive" @(((1 == Model.exclusive) ? "checked" : "")) />Độc quyền? </label></div>
        <div class="checkbox-inline"><label><input type="checkbox" name="showhome" value="@Model.showhome" @(((1 == Model.showhome) ? "checked" : "")) />Hiện lên trang chủ</label></div>
        <br /><br />
        <label for="cpid">Dành cho</label>
        <select class="form-control" id="isview" name="isview">
            <option value="2" @(((2 == Model.isview) ? "selected" : ""))>Người lớn</option>
            <option value="1" @(((1 == Model.isview) ? "selected" : ""))>Trẻ em</option>
        </select>
        <label for="film_type">Nội dung mẫu</label>
        <select class="form-control" name="filter" id="filter">
            <option value="0" @(((0 == Model.filter) ? "selected" : ""))>Không</option>
            <option value="1" @(((1 == Model.filter) ? "selected" : ""))>Có</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="lblnameks">Link FILE</label>
        <input class="form-control" type="text" id="upload_file" name="upload_file" value="@Model.upload_file" />
        <input class="form-control" type=text value="Attach Files..." onclick="javascript:window.open('/film_file/?t=upload_file','','width=500,height=400');" /><div id="div_upload_file">@Model.upload_file</div>
        @if (Model.upload_file != null)
        {
            @if (Model.upload_file.ToLower().IndexOf(".jpg") != -1 || Model.upload_file.ToLower().IndexOf(".png") != -1 || Model.upload_file.ToLower().IndexOf(".gif") != -1 || Model.upload_file.ToLower().IndexOf(".bmp") != -1)
            {<img src="@Model.upload_file" height=150 />} @if (!string.IsNullOrEmpty(Model.upload_file))
            {<a target=_blank href="@Model.upload_file">Download</a> <a onclick="javascript:document.getElementById('div_film_video_upload_file').innerHTML='';document.getElementById('upload_file').value=" ";" href="#">Clear</a>}
        }
        <label for="lblnameks">Ảnh đại diện</label>
        <input class="form-control" type=button value="Attach Files..." onclick="javascript:window.open('/film_file/?t=@Model.Id&callback=updateImage','','width=500,height=400');" />
        <div class="form-group row" id="list_image"></div>
    </div>
    <div class="col-md-6">
        <br /><label for="lblnameks"> Lựa chọn thể loại</label><br />
        @{
            List<film_catalog> checkbox_catalog = new film_catalogService().GetAllItem(null);

            for (int i = 0; i <= checkbox_catalog.Count - 1; i++)
            {
                string titleCb = checkbox_catalog[i].title;
                int idCb = checkbox_catalog[i].Id;
                List<film_catalog_film> sxChecked = new film_catalog_filmService().FilmId(Model.Id);
                string sChecked = "";
                for (int j = 0; j <= sxChecked.Count - 1; j++)
                {
                    int sIdx = sxChecked[j].catalogid ?? 0;
                    sChecked = (idCb == sIdx) ? "checked" : "";
                    if (idCb == sIdx)
                    {
                        break;
                    }
                }
                <div class="checkbox-inline"><label><input type="checkbox" name="catalog_cb[]" value="@idCb" @sChecked /> @titleCb</label></div>
                //string sChecked = (sxChecked == Model.filmid) ? "checked" : "";

            }
        }<br />
    </div>
    <div class="col-md-12">
        <label for="title">Upload Trainer</label>
        <input type="file" class="form-control requiredfield" title="Upload trainer" name="upload_trainer1" id="upload_trainer1" />
    </div>
    <div class="col-md-12">
        <input type="text" class="form-control requiredfield" title="file bài hát" name="trainer_url" id="trainer_url" requiredfield value="@Model.trainer_url" />
        <div class="row">
            <div class="col-md-12">
                <div id="progressbar-5">
                    <div class="progress-label">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="button" id="backupfilm_video" class="btn btn-danger">Trở lại</button>
        <button type="button" id="btnSavefilm_video" class="btn btn-success">Lưu</button>
    </div>
</form>
<script type="text/javascript" src="https://player.wowza.com/player/latest/wowzaplayer.min.js"></script>
<script src="~/Scripts/oze/film_video.js"></script>
<script>
  var ofilm_video = new film_video();
    $(document).on({
        mouseenter: function () {
            if ($("#modalfilm_video").length > 0) {
                myPlayer = WowzaPlayer.get('playerElement');
                myPlayer.destroy();
                $("#modalfilm_video").remove();
                console.log("Đã xóa modalfilm_video");
            } else {
                console.log("Chưa có modalfilm_video");
            }
        },
        mouseleave: function () {
            console.log("mouseleave của div.tools");
        }
    }, "div.wrapper");
    $(document).ready(function () {
        var id_video = $("#id_video").val();
        id_video = @Model.Id;
        $("#play_video_edit").click(function () {
            ofilm_video.viewDialog(id_video);
        });
    });
      function updateImage(url, id)
      {
        ofilm_video.UpdateImage (url, id);
      };
      function getImageupdate(id) {
        ofilm_video.getImageupdate(id);
      }
  // lưu lại update lại film_video

$(document).ready(function() {
    ofilm_video.getImageupdate(@Model.Id);
    $("#copyright_expired").datetimepicker({ format: "MM/DD/YYYY" });
    $("#btnSavefilm_video").click(function () {
        ofilm_video.updateEdit(@Model.Id);
    });
    jQuery("#backupfilm_video").click(function () {
        window.location.href = "/film_video";
    });

    $("#upload_trainer1").change(function () {
        var file = $('#upload_trainer1')[0].files[0];
        console.log();
        $("#trainer_url").val(file.name);
        ofilm_video.upload_trainer();
    });
 });
</script>