﻿@{
    // đây là token của user chứ khồng phải key drm
    string upload_file = Model.upload_file + "?token=e19b25e5-5c5b-4214-b955-ba5280323a85";
}
<link href="~/Scripts/lib/videojs/video-js.css" rel="stylesheet" />
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>
        <li id="liAddNew" style="float:right">
        </li>
    </ul>
</div>
<section>
    <video id=example-video class="video-js vjs-16-9" controls style="width: 100%;">
        <source src="@upload_file" type="application/x-mpegURL">
    </video>
</section>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên</label>   <div class='col-sm-10'>@Model.title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Nội dung </label>   <div class='col-sm-10'>@Model.desc    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label>   <div class='col-sm-10'>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Năm phát hành</label>   <div class='col-sm-10'>@Model.publish_year    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Quốc gia phát hành</label>   <div class='col-sm-10'>@Model.publish_countryid_title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thời lượng</label>   <div class='col-sm-10'>@Model.duration    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Diễn viên</label>   <div class='col-sm-10'>@Model.actor    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Đạo diễn</label>   <div class='col-sm-10'>@Model.director    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thể loại</label>   <div class='col-sm-10'>@Model.film_type</div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tổng số tập</label>   <div class='col-sm-10'>@Model.episode    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tập đang chiếu</label>   <div class='col-sm-10'>@Model.episode_current    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Số HĐBQ</label>   <div class='col-sm-10'>@Model.contract_copyright    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày HH HĐ</label>   <div class='col-sm-10'>@Model.contract_exprired </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phụ lục HĐ</label>   <div class='col-sm-10'>@Model.contract_appendix    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phụ lục bản quyền</label>   <div class='col-sm-10'>@Model.copyright_appendix    </div></div>
    @if (Model.copyright_expired != null)
    {
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày hết hạn bản quyền</label><div class='col-sm-10'>@Model.copyright_expired.ToString("dd/MM/yyyy HH:mm")</div></div>
    }
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thể loại</label>   <div class='col-sm-10'>@Model.catalog_id_title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Link FILE</label>   <div class='col-sm-10'>@Model.upload_file    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ảnh đại diện</label>   <div class='col-sm-10'><img src="@Model.thumb_file" width="100" height="100" /> </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Giá</label>   <div class='col-sm-10'>@Model.price    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label>   <div class='col-sm-10'>@Model.status </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>CP</label>   <div class='col-sm-10'>@Model.cpid_title</div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>mã code</label>   <div class='col-sm-10'>@Model.code</div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>tags</label>   <div class='col-sm-10'>@Model.tags</div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>espisode_id</label>   <div class='col-sm-10'>@Model.tags</div></div>
    @if (Model.isview != null)
    {
        var isview = "";
        if (Model.isview == 0) { isview = "Tất cả"; };
        if (Model.isview == 1) { isview = "Trẻ em"; };
        if (Model.isview == 2) { isview = "Người lớn"; };
        <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Dành cho</label>   <div class='col-sm-10'>@isview</div></div>
    }
</section>
<script src="~/Scripts/lib/videojs/video.min.js"></script>
<script src="~/Scripts/lib/videojs/videojs-contrib-hls.js"></script>
<script>
    var player = videojs('example-video');
    player.play();
</script>