﻿@{
    var path = Model.trainer_url;
    var new_path1 = "";
    var sourceURL = "";
    if (path != null)
    {
        if (path.IndexOf(".mp4") != -1)
        {
            new_path1 = path.Replace(".mp4", ".smil");
            sourceURL = "https://stream.lalatv.com.vn/vod/_definst_/smil:automedia/" + new_path1 + "/playlist.m3u8";
        }
    }
}
<style>
    .full_desc {
        width: 100%;
    }

    section {
        padding: 2%;
    }
</style>
<div class="container full_desc">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#player">Player Stream</a></li>
        <li><a data-toggle="tab" href="#info">Thông tin</a></li>
    </ul>
    <div class="tab-content">
        <div id="player" class="tab-pane fade in active">
            <section>
                <div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0">
                </div>
                <input type="hidden" value="@sourceURL" id="sourceURL" />
                <script type="text/javascript">
                    $(document).ready(
                        function () {
                            var source = $("#sourceURL").val();
                            myPlayer = WowzaPlayer.create('playerElement', {
                                "license": "PLAY2-cQmZT-u3bkw-wQhuv-6RG4F-xxaHP",
                                "title": "",
                                "description": "",
                                "sourceURL": source,
                                "autoPlay": true,
                                "volume": "75",
                                "mute": false,
                                "loop": false,
                                "audioOnly": false,
                                "uiShowQuickRewind": true,
                                "uiShowFullscreen": true,
                                "uiQuickRewindSeconds": "30",
                            });
                        }
                    );
                </script>
            </section>
        </div>
        <div id="info" class="tab-pane fade">
            <section>
                <div class='form-group row'>
                    <label for='Id' class='col-sm-2 control-label'>Id</label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='title' class='col-sm-2 control-label'>Tên</label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='desc' class='col-sm-2 control-label'>Nội dung </label>
                    <div class='col-sm-10'>
                        <textarea class="form-control" id="desc" rows="3" name="desc" value="@Model.desc" readonly></textarea>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='datecreated' class='col-sm-2 control-label'>Ngày tạo </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated.ToString("dd/MM/yyyy HH:mm")'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='publish_year' class='col-sm-2 control-label'>Năm phát hành </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='publish_year' id='publish_year' size='1' value='@Model.publish_year'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='publish_countryid_title' class='col-sm-2 control-label'>Năm phát hành </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='publish_countryid_title' id='publish_countryid_title' size='1' value='@Model.publish_countryid_title'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='duration' class='col-sm-2 control-label'>Thời lượng </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='duration' class='col-sm-2 control-label'>Diễn viên </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='actor' id='actor' size='1' value='@Model.actor'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='director' class='col-sm-2 control-label'>Đạo diễn </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='director' id='director' size='1' value='@Model.director'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='film_type' class='col-sm-2 control-label'>Thể loại </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='film_type' id='film_type' size='1' value='@Model.film_type'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='episode' class='col-sm-2 control-label'>Tổng số tập </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='episode' id='episode' size='1' value='@Model.episode'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='episode_current' class='col-sm-2 control-label'>Tập đang chiếu </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='episode_current' id='episode_current' size='1' value='@Model.episode_current'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='contract_copyright' class='col-sm-2 control-label'>Số HĐBQ </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='contract_copyright' id='contract_copyright' size='1' value='@Model.contract_copyright'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='contract_exprired' class='col-sm-2 control-label'>Ngày HH HĐ </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='contract_exprired' id='contract_exprired' size='1' value='@Model.contract_exprired'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='contract_appendix' class='col-sm-2 control-label'>Phụ lục HĐ </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='contract_appendix' id='contract_appendix' size='1' value='@Model.contract_appendix'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='copyright_appendix' class='col-sm-2 control-label'>Phụ lục bản quyền </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='copyright_appendix' id='copyright_appendix' size='1' value='@Model.copyright_appendix'>
                    </div>
                </div>
                @if (Model.copyright_expired != null)
                {
                    <div class='form-group row'>
                        <label for='copyright_expired' class='col-sm-2 control-label'>Ngày hết hạn bản quyền </label>
                        <div class='col-sm-10'>
                            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='copyright_expired' id='copyright_expired' size='1' value='@Model.copyright_expired.ToString("dd/MM/yyyy HH:mm")'>
                        </div>
                    </div>
                }
                <div class='form-group row'>
                    <label for='catalog_id_title' class='col-sm-2 control-label'>Thể loại </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='catalog_id_title' id='catalog_id_title' size='1' value='@Model.catalog_id_title'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='upload_file' class='col-sm-2 control-label'>Link FILE </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='upload_file' id='upload_file' size='1' value='@Model.upload_file'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='upload_file' class='col-sm-2 control-label'>Ảnh đại diện </label>
                    <div class='col-sm-10'>
                        <img src="@Model.thumb_file" width="192" height="108" />
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='price' class='col-sm-2 control-label'>Giá </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='status' class='col-sm-2 control-label'>Trạng thái </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='cpid_title' class='col-sm-2 control-label'>CP </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='cpid_title' id='cpid_title' size='1' value='@Model.cpid_title'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='code' class='col-sm-2 control-label'>Mã code </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='tags' class='col-sm-2 control-label'>Tags </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='tags' id='tags' size='1' value='@Model.tags'>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>