﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Video - Quản lý video";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .tool_btn {
        margin: 4px;
        min-width: 100px;
        border-radius: 3px;
        text-align: center;
    }

    .tool_btnfirst {
        margin-top: 20px;
    }

    .tool_btnlast {
        margin-bottom: 20px;
    }

    .checkbox {
        min-width: 80px;
    }
</style>
@*<script>
    var myPlayer;
</script>*@
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO </a>
            <button onclick="javascript: ofilm_video.edits(0);" type="button" class="btn btn-default">
                <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
            </button>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="search_film_video_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" placeholder="Search" name="search_film_video_title" id="search_film_video_title" class="form-control" />
                        <div class="form-group">
                            <label for="search_film_video_cpid">CP</label>
                            <select class="form-control" id="search_film_video_cpid">
                                @{
                                    if (!comm.IsCP())
                                    {
                                        <option value="-1" selected>--Tất cả--</option>
                                    }
                                    List<film_cp> dtILM_CPilm_cp = new film_cpService().GetAllItem(null);
                                    for (int jx = 0; jx <= dtILM_CPilm_cp.Count - 1; jx++)
                                    {
                                        string sTitlexxx = dtILM_CPilm_cp[jx].title.ToString();
                                        string sIdxxx = dtILM_CPilm_cp[jx].Id.ToString();
                                        string sSelected = "";
                                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="search_film_video_status">Status</label>
                                <select style='' class='form-control' id='search_film_video_status'>
                                    <option value="-1">--Tất cả---</option>
                                    <option value="0">Nháp</option>
                                    <option value="1">Chờ duyệt</option>
                                    <option value="2">Đã duyệt</option>
                                    <option value="3">Từ chối duyệt</option>
                                    <option value="4">Đã cập nhật ảnh</option>
                                    <option value="5">Đang convert</option>
                                    <option value="7">Cập nhật ảnh lỗi</option>
                                </select>
                                <label for="search_film_video_catalogid">Catalog</label>
                                <select class='form-control' id='search_film_video_catalogid'>
                                    <option value="-1">--Tất cả---</option>
                                    @{
                                        List<film_catalog> dtILM_CPilm_calalog = new film_catalogService().GetAllItem(null);
                                        for (int jx = 0; jx <= dtILM_CPilm_calalog.Count - 1; jx++)
                                        {
                                            string sTitlexxx = dtILM_CPilm_calalog[jx].title.ToString();
                                            string sIdxxx = dtILM_CPilm_calalog[jx].Id.ToString();
                                            string sSelected = "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label for="film_type">Loại</label>
                        <select class='form-control' id='film_type'>
                            <option value="-1">--Tất cả---</option>
                            <option value="0">Phim lẻ</option>
                            <option value="1">Phim bộ</option>
                        </select>
                        <br /><br />
                        
                    </div>
                    <div class="col-md-4">
                        <button style="display:none" id="btnExport" onclick="javascript: ofilm_video_processing.exportData();" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả</button>
                        <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                        <button style="display:none" id="btnExportSelected" type="button" class="btn btn-warning"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất những phim đã chọn</button>
                        <button id="dachon" type="button" class="btn btn-warning"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất những phim đã chọn</button>
                        <button id="tatca" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả</button>
                        <br /><br /><strong>Các phim đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        <button onclick="javascript: ofilm_video.searchGrid();" type="button" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button onclick="javascript: ofilm_video.upload_youtube();" type="button" class="btn btn-info">
                            Upload Youtube
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_video" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Nội dung </th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Năm phát hành</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Quốc gia phát hành</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Loại</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thể loại</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ảnh đại diện</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Độc quyền?</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Hiển thị trang chủ</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Giá</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>CP</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã code</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tags</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Espisode id</th>
        </tr>
    </thead>
</table>
<!--script-->
@*<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>*@
@*<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>*@
@*<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>*@
@*<script src="~/Scripts/jquery.validate.js"></script>*@
@*<script src="~/Scripts/oze.common.js"></script>*@
<script src="~/Scripts/oze/film_video.js"></script>
<script type="text/javascript" src="https://player.wowza.com/player/latest/wowzaplayer.min.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_video = new film_video();
    var list_selected = [];
    var selected_id = [];
    $(document).ready(function ()
    {
        ofilm_video.setupGrid();
        $("#search_film_video_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video.searchGrid();
            }
        });
        $("#btnExportSelected").on("click", function () {
            var selected = [];
            //$('#export_selected:checked').each(function () {
            //    var val = $(this).attr('value');
            //});
             if ($('input:checkbox:checked').length == 0) {
                 alert("Chưa chọn phim nào mà");
             } else {
                selected = "[" + list_selected + "]".toString();
                var selectedSplit = selected.replace(/'/g, '"');
                $("#dvjson").excelexportjs(
                {
                    containerid: "dvjson",
                    datatype: 'json',
                    dataset: JSON.parse(selectedSplit),
                    worksheetName: "Sheet 1",
                    columns: getColumns(JSON.parse(selectedSplit))
                });
             }
        });
        $("#checkAll").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                 //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

         $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(this.value);
                selected_id.push(tr_id.attr('id'));
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(this.value, list_selected), 1);
                selected_id.splice($.inArray(this.value, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);
        });
    });

    // check cp hiện thị
    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
    {
        ofilm_video.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        ofilm_video.getImageupdate(id);
    }
    $(document).on({
        mouseenter: function () {
            if ($("#modalfilm_video").length > 0) {
                myPlayer = WowzaPlayer.get('playerElement');
                myPlayer.destroy();
                $("#modalfilm_video").remove();
                console.log("Đã xóa modalfilm_video");
            } else {
                console.log("Chưa có modalfilm_video");
            }
        },
        mouseleave: function () {
            console.log("mouseleave của div.tools");
        }
    }, "div.wrapper");
    $(document).on({
        click: function () {
            document.getElementById("checkAll").checked = false;
        }
    }, "button.mdl-button");
</script>