﻿@{
    var datecreated = (Model.datecreated == null) ? "" : (Model.datecreated.ToString("dd/MM/yyyy HH:mm"));
    var dateupdated = (Model.dateupdated == null) ? "" : (Model.dateupdated.ToString("dd/MM/yyyy HH:mm"));
    var status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
}
<style>
    .full_desc {
        width: 100%;
    }
</style>
<div class="container full_desc">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">Thông tin</a></li>
        @*<li><a data-toggle="tab" href="#menu">Menu</a></li>*@
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade in active">
            <section>
                <div class='form-group row'>
                    <label for='Id' class='col-sm-2 control-label'>Id</label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='title' class='col-sm-2 control-label'>Tên</label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='code' class='col-sm-2 control-label'>Mã code </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='menu' class='col-sm-2 control-label'>Menu </label>
                    <div class='col-sm-10'><input type='text' readonly maxlength='500' kind='char' class='form-control ' name='menu' id='menu' size='1' value='@Model.menu'></div>
                </div>
                <div class='form-group row'>
                    <label for='status' class='col-sm-2 control-label'>Trạng thái </label>
                    <div class='col-sm-10'>
                        <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@status'>
                    </div>
                </div>
                <div class='form-group row'>
                    <label for='desc' class='col-sm-2 control-label'>Nội dung </label>
                    <div class='col-sm-10'><textarea class="form-control" id="desc" rows="3" name="desc" value="@Model.desc" readonly></textarea></div>
                </div>
                <div class='form-group row'>
                    <label for='datecreated' class='col-sm-2 control-label'>Ngày tạo</label>
                    <div class='col-sm-10'><input type='text' readonly maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@datecreated'></div>
                </div>
                <div class='form-group row'>
                    <label for='dateupdated' class='col-sm-2 control-label'>Ngày cập nhật</label>
                    <div class='col-sm-10'><input type='text' readonly maxlength='500' kind='char' class='form-control ' name='dateupdated' id='dateupdated' size='1' value='@dateupdated'></div>
                </div>

            </section>
        </div>
        @*<div id="menu" class="tab-pane fade">
            <section>
            </section>
        </div>*@
    </div>
</div>