﻿<style>
    .select2-selection__choice {
        color: #FFFFFF !important;
    }

    .full_desc {
        width: 100%;
    }

    section {
        padding: 2%;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/film_role.css" />
<div class="container full_desc">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#edit_tab">Chỉnh sửa</a></li>
        @*<li><a data-toggle="tab" href="#menu_tab">Phân quyền menu</a></li>*@
    </ul>
    <div class="tab-content">
        <!--sửa thông tin role-->
        <div id="edit_tab" class="tab-pane fade in active">
            <section>
                <form id='formfilm_role' action='javascript:void();'>
                    @Html.AntiForgeryToken()
                    <div class='form-group row'><label for='id' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
                    <div class='form-group row'><label for='title' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
                    <div class='form-group row'><label for='code' class='col-sm-2 control-label'>Mã</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
                    <div class='form-group row'><label for='desc' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
                    <div class='form-group row'>
                        <label for='status' class='col-sm-2 control-label'>Trạng thái</label>
                        <div class='col-sm-10'>
                            <select class="form-control" name="status" id="status" style="width:100%">
                                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
                            </select>
                        </div>
                    </div>
                    @*<div class='form-group row'>
                        <label for='menu' class='col-sm-2 control-label'>Menu</label>
                        <div class='col-sm-10'>
                            <input type="text" id="menu" placeholder="Select" autocomplete="off" name="menu" value="@Model.menu" />
                        </div>
                    </div>*@
                </form>
            </section>
        </div>
    </div>
</div>
<script src="~/Scripts/compo_tree/comboTreePlugin.js"></script>
<script src="~/Scripts/oze/film_role.js"></script>
<script>
    $(document).ready(function () {
        $('select').select2({});
        $.ajax({
            method: "GET",
            url: "/film_role/get_list_menu",
            data: {
                start: 0,
                length: 100000
            },
            success: function (result) {
                console.log(result.result);
                var SampleJSONData2 = result.result;
                jQuery(document).ready(function ($) {
                    comboTree3 = $('#menu').comboTree({
                        source: SampleJSONData2,
                        isMultiple: true,
                        cascadeSelect: true,
                        collapse: false
                    });
                    comboTree3.setSource(SampleJSONData2);
                });
            },
            error: function (result) {
                console.log("error" + result.result);
            }
        });
    });
</script>
