﻿<style>
    .select2-selection__choice {
        color: #FFFFFF !important;
    }

    .full_desc {
        width: 100%;
    }

    section {
        padding: 2%;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/film_role.css" />
<div class="container full_desc">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu_tab">Phân quyền menu</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu_tab" class="tab-pane fade in active">
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Danh sách menu</h4>
                        <input type="text" id="menu" placeholder="Select" autocomplete="on" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/Scripts/compo_tree/comboTreePlugin.js"></script>
<script src="~/Scripts/oze/film_role.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            method: "GET",
            url: "/film_role/get_list_menu",
            data: {
                start: 0,
                length: 100000
            },
            success: function (result) {
                console.log(result.result);
                var SampleJSONData2 = result.result;
                jQuery(document).ready(function ($) {
                    comboTree3 = $('#menu').comboTree({
                        source: SampleJSONData2,
                        isMultiple: true,
                        cascadeSelect: true,
                        collapse: false
                    });
                    comboTree3.setSource(SampleJSONData2);
                });
            },
            error: function (result) {
                console.log("error" + result.result);
            }
        });
    });
</script>
