﻿@{
    ViewData["Title"] = "Cài đặt - Quản lý vai trò";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .btn {
        border-radius: 3px;
        min-width: 72px;
    }
    .tool_btn {
        margin: 4px;
        min-width: 100px;
        border-radius: 3px;
        text-align: center;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <button onclick="javascript: ofilm_role.editDialog(0);" type="button" class="btn btn-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                    </button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_role" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">STT</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Mã</th>
            @*<th class="grid-cell char" kind="char" style="cursor: pointer;">Menu</th>*@
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Mô tả</th>
            @*<th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày cập nhật</th>*@
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_role.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_role = new film_role();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_role.setupGrid();
        $("#search_film_role_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_role.searchGrid();
            }
        });
    });
</script>