﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "LaLaTV-CMS | Chi tiết Viettel";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="search_film_users_log_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" name="search_film_users_log_title" id="search_film_users_log_title" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label for="search_film_users_log_sub_type">Gói cước</label>
                        <select class="form-control" id="search_film_users_log_sub_type">
                            <option value="-1">--Tất cả---</option>
                            @{
                                List<package> packages = new packageService().GetAllItem(null);
                                for (int jx = 0; jx <= packages.Count - 1; jx++)
                                {
                                    string package_title = packages[jx].title.ToString();
                                    string package_id = packages[jx].Id.ToString();
                                    string sSelected = "";
                                    <option value="@package_id" @sSelected>@package_title</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="search_film_users_log_status">Trạng thái</label>
                        <select class="form-control" id="search_film_users_log_sub_state">
                            <option value="-1">--Tất cả---</option>
                            <option value="1">Đăng ký</option>
                            <option value="0">Không đăng ký</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="start_time">Start Time</label>
                        <input type="text" class="form-control" name="start_time" id="start_time" />
                    </div>
                    <div class="col-md-2">
                        <label for="end_time">End Time</label>
                        <input type="text" class="form-control" name="end_time" id="end_time" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-1">
                        <button onclick="javascript: ofilm_users_log.searchGrid();" type="button" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button onclick="javascript: ofilm_users_log.exportData();" type="button" class="btn btn-danger">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_users_log_viettel" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Username</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Email</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Số diện thoại</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Gói cước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian đăng ký</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian gia hạn tiếp tục</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Cú pháp</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_users_log_viettel.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_users_log = new film_users_log();
    $(document).ready(function ()
    {
        toggleMenu("menu_kho");
        $('#start_time').datetimepicker({ format: 'DD/MM/YYYY' });
        $('#end_time').datetimepicker({ format: 'DD/MM/YYYY' });
        ofilm_users_log.setupGrid();
        $("#search_film_users_log_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_users_log.searchGrid();
            }
        });
        $("#start_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_video_report.searchGrid();
        }
        });
        $("#end_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_video_report.searchGrid();
        }
        });
    });

    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
    {
        ofilm_users_log.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        ofilm_users_log.getImageupdate(id);
    }
</script>