﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>                
		<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id</div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên</label>   <div class='col-sm-10'>@Model.title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Vị trí</label>   <div class='col-sm-10'>@Model.position    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ưu tiên</label>   <div class='col-sm-10'>@Model.prior    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>File</label>   <div class='col-sm-10'>@Model.file    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Html</label>   <div class='col-sm-10'>@Model.html    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Desc</label>   <div class='col-sm-10'>@Model.desc    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo</label>   <div class='col-sm-10'>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")</div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Người tạo</label>   <div class='col-sm-10'>@Model.userid    </div></div>        
</section>