﻿@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .card {
        margin: 10px;
        background: #3c8dbc;
        
    }
        .card:hover {
            background: #2278a9;
            opacity: 0.91;
        }
        .card a {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        .card img {
            width: 100%;
            height: 200px;
            padding: 10px;

        }
        .card a img {
            border-radius: 10px;
        }
    .card-body h5 {
        color: #fff;
        text-align: center;
        padding: 5px;
    }
</style>
<div id="db" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <a href="/film_video_processing?video_type=film"><img class="card-img-top" src="/Images/1.png" alt="Dịch nhanh"></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <a href="/film_video_processing?video_type=denoiser"> <img class="card-img-top" src="/Images/2.png" alt="Dịch tự động"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <a id="tabTran" href="/film_video_processing?video_type=film"><img class="card-img-top" src="/Images/3.png" alt="Dịch văn bản"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="/film_video_processing?video_type=other"><img class="card-img-top" src="/Images/4.png" alt="Thoại ra chữ"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="/denoiser"> <img class="card-img-top" src="/Images/5.png" alt="Lọc nhiễu"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <a href="/Statistic"> <img class="card-img-top" src="/Images/6.png" alt="Thống kê"></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <a href="/film_user"><img class="card-img-top" src="/Images/7.png" alt="Quản lý người dùng"></a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tabTran').click(function () {
        localStorage.setItem("tab", "#tab_2");
    });
</script>