﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Film Report";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_film_users_log_title">Tìm kiếm theo tiêu đề</label>
                    <input type="text" name="search_film_users_log_title" id="search_film_users_log_title" class="form-control" />
                    <button onclick="javascript: ofilm_users_log.searchGrid();" type="button" class="btn btn-primary">
                        <i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
                    </button>
                </div>
                <div class="col-md-3">
                    <label for="search_film_users_log_sub_type">Package</label>
                    <select class="form-control" id="search_film_users_log_sub_type">
                        <option value="-1">--Tất cả---</option>
                        @{
                            List<package> packages = new packageService().GetAllItem(null);
                            for (int jx = 0; jx <= packages.Count - 1; jx++)
                            {
                                string package_title = packages[jx].title.ToString();
                                string package_id = packages[jx].Id.ToString();
                                string sSelected = "";
                                <option value="@package_id" @sSelected>@package_title</option>
                            }
                        }
                    </select>
                    <label for="search_film_users_log_status">Status</label>
                    <select class="form-control" id="search_film_users_log_status">
                        <option value="-1">--Tất cả---</option>
                        <option value="1">Đăng ký</option>
                        <option value="2">Gia hạn</option>
                        <option value="3">Hết hạn</option>
                        <option value="4">Hủy</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="start_time">Start Time</label>
                    <input type="text" class="form-control" name="start_time" id="start_time" />
                    <label for="end_time">End Time</label>
                    <input type="text" class="form-control" name="end_time" id="end_time" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_users_log" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Username</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Email</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Phone</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Gói</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Status</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Nhà cung cấp</th>◘
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_users_log.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_users_log = new film_users_log();
    $(document).ready(function ()
    {
        //toggleMenu("menu_kho");
        $('#start_time').datetimepicker({ format: 'YYYY-MM-DD' });
        $('#end_time').datetimepicker({ format: 'YYYY-MM-DD' });
        ofilm_users_log.setupGrid();
        $("#search_film_users_log_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_users_log.searchGrid();
            }
        });
        $("#start_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_video_report.searchGrid();
        }
        });
        $("#end_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_video_report.searchGrid();
        }
        });
    });

    // check cp hiện thị
    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
    {
        ofilm_users_log.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        ofilm_users_log.getImageupdate(id);
    }
</script>