﻿﻿@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        color: red;
        cursor: not-allowed;
        text-decoration: line-through;
    }
</style>
<br />
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabManager" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-volume-up"></i> Dịch âm thanh</a></li>
        <li id="tabTran" onclick="window.location.href='/film_video_processing?video_type=film'"><a href="#" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-text-o"></i> Dịch văn bản</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="container-fluid" id="tab_1">
                <h5>Dịch tự động</h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtUpload">Upload File</label><input type="file" accept=".mp4, .mp3, .mpg, .mpeg, .mkv,.avi" class="form-control" title="file bài hát" name="upload_file1" id="upload_file1" />
                            <div class="progress" style="display:none"><div id="progressbar-5" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
                        </div>
                    </div>
                    <div class="col3 col-md-3">
                        <div class="st2">
                            <div class="form-group">
                                <label for="dichvu">Dịch vụ<b style="color:red">(*)</b></label>
                                <select class="form-control" name="dichvu" id="dichvu">
                                    <option value="speechmatics">Local</option>
                                    <option value="google">Google</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="speech_from">Ngôn ngữ file video<b style="color:red">(*)</b></label>
                            <select class="form-control" name="speech_from" id="speech_from"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="to">Dịch sang<b style="color:red">(*)</b></label>
                            <select class="form-control" name="to" id="to"></select>
                        </div>
                    </div>

                    <textarea rows="10" class="form-control" id="txtResult" readonly></textarea>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button id="btnDenoiser" class="btn btn-danger"><i class="fa fa-flash"></i> Bắt đầu dịch</button>
                            <label for="cbdenoiser"><input type="checkbox" name="cbdenoiser" id="cbdenoiser" /> Lọc nhiễu</label>
                            <span id="mgs" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-3 frmdenoiser">
                        <label for="d_step1"><input type="checkbox" name="d_step1" id="d_step1" /> Basic - Xử lý âm thanh</label><br />
                        <label for="d_step2"><input type="checkbox" name="d_step2" id="d_step2" /> Spleeter - Khử nhạc nền</label><br />
                        <label for="d_step3"><input type="checkbox" name="d_step3" id="d_step3" /> AI - Khử tiếng ồn</label><br />
                    </div>
                    <div class="col-md-6">
                        <div id="div_basic">
                            <label title="Giảm năng lượng phổ" for="ReducedPower" style="cursor:pointer;padding-right:20px;"><input checked name="basic" type="radio" value="ReducedPower" id="ReducedPower" /> Reduced Power</label>
                            <label title="Giảm tâm phổ S" for="ReducedCentroidS" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedCentroidS" id="ReducedCentroidS" />  Reduced Centroid S</label>
                            <label title="Giảm tâm phổ Mb" for="ReducedCentroidMb" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedCentroidMb" id="ReducedCentroidMb" />  Reduced Centroid Mb</label>
                            <label title="Tăng MFCC" for="ReducedMfccUp" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedMfccUp" id="ReducedMfccUp" />  Reduced Mfcc Up</label>
                            <label title="Giảm MFCC" for="ReducedMfccDown" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedMfccDown" id="ReducedMfccDown" /> Reduced Mfcc Down</label>
                            <label title="Giảm tần chung" for="ReducedOriginal" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedOriginal" id="ReducedOriginal" />  Reduced Original </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtSrc">Nội dung &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="savefile"><i class="fa fa-save"></i> Lưu</a></label>
                            <textarea class="form-control" name="txtSrc" id="txtSrc" cols="10" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtRs">Kết quả &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="savefiletran"><i class="fa fa-save"></i> Lưu</a></label>
                            <textarea class="form-control" name="txtRs" id="txtRs" cols="10" rows="10"></textarea>
                        </div>
                    </div>
                    <span id="loading"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let step1 = '', step2 = '', step3 = '';
    var file_media = '';
    var proId = '';
    let selected_step = '';
    var $table;
    var list_selected = [];
    var selected_id = [];
    //var ofilm_video_processing = new film_video_processing();
    $(document).ready(function () {
        $(".adv").hide();
        $("#div_basic").hide();
        $("#adv").click(function () {
            $(".adv").toggle(150);
        });
        var file = "";
        var languages = [
            ["zh", "Tiếng Trung"], ["vi", "Tiếng Việt"], ["en", "Tiếng Anh"], ["ja", "Tiếng Nhật"], ["th", "Tiếng Thái"], ["ko", "Tiếng Hàn"], ["fa", "Tiếng Iran "], ["ar", "Tiếng Ả Rập"], ["pl", "Tiếng Ba Lan "], ["pt", "Tiếng Bồ Đào Nha"], ["nl", "Tiếng Hà Lan"], ["hi", "Tiếng Hindi"], ["hu", "Tiếng Hungary"], ["el", "Tiếng Hy Lạp"], ["is", "Tiếng Iceland"], ["id", "Tiếng Indonesia"], ["lo", "Tiếng Lào"], ["ms", "Tiếng Mã Lai"], ["mn", "Tiếng Mông Cổ"], ["my", "Tiếng Myanmar"], ["ne", "Tiếng Nepal"], ["ru", "Tiếng Nga"], ["fr", "Tiếng Pháp"], ["fi", "Tiếng Phần Lan"], ["es", "Tiếng Tây Ba Nha"], ["tr", "Tiếng Thổ Nhĩ Kỳ"], ["sv", "Tiếng Thủy Điển"], ["uk", "Tiếng Ukraina"], ["it", "Tiếng Ý"]
        ];
        var dom_select = "";
        languages.forEach(function (lang) {
            dom_select += '<option value="' + lang[0] + '">' + lang[1] + '</option>';
        });
        $("#speech_from").html(dom_select);
        $("#speech_from").select2({ width: '100%' });

        $("#from").html(dom_select);
        $("#from").select2({ width: '100%' });

        $("#to").html(dom_select);
        $("#to").select2({ width: '100%' });
        $('#to').val("vi").trigger('change');


        $("#fromonl").html(dom_select);
        $("#fromonl").select2({ width: '100%' });

        $("#toonl").html(dom_select);
        $("#toonl").select2({ width: '100%' });
        $('#toonl').val("vi").trigger('change');
        //ofilm_video_processing.setupGrid();
        //$("#s_title").keypress(function (e) {
        //    if (e.which == 13) {
        //        ofilm_video_processing.searchGrid();
        //    }
        //});
        $("#btnTran").on("click", function () {
            var selected = [];
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 3000, "top-end");
            } else {
                var from = $("#from").val();
                var to = $("#to").val();
                if (from == to) {
                    showToast("Vui lòng chọn 2 ngôn ngữ khác nhau để tiến hành dịch", "error", 10000, "top-end");
                    return false;
                }
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/transcript",
                    method: "POST",
                    data: {
                        from: from, to: to, list_selected: selected_id.toString(), service: $("#dichvuTran").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        selected_id.forEach(function (item) {
                            $("tr#" + item + " td:last-child").html("Đang dịch");
                        });
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnSpeechToText").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SpeechToText",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        service: $("#dichvu").val(),
                        from: $("#speech_from").val()
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnRemoveList").on("click", function () {
            //Remove all
            $("#list_selected").html("");
            selected_id = [];
            list_selected = [];
            //Remove class .active
            $('tr').removeClass("active");
            $("#count_selected").html(selected_id.length);
        });
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

        $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(this.value);
                selected_id.push(tr_id.attr('id'));
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(this.value, list_selected), 1);
                selected_id.splice($.inArray(this.value, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);
        });
        $("#btnLyric").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SearchLyric",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        from: $("#speech_from").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });

        // API Dịch
        function TranslateOnline() {
            let data = $('#txtSource').val();
            let from = $('select#fromonl').val();
            let to = $('select#toonl').val();
            let link_api_tran = "/api/translate";
            let data_send;
            //console.log($('#selectServiceTran').val());
            if ($('#selectServiceTran').val() == "google") {
                link_api_tran = "http://183.81.35.24:7778/translate";
                data_send = {
                    text: data,
                    from: from,
                    to: to,
                }
            } else {
                data_send = {
                    data: data,
                    direction: from + "-" + to,
                }
            }
            $('#loading').html("<i class='fa fa-spinner fa-spin'></i> Đang dịch...");
            $.ajax({
                url: link_api_tran,
                data: data_send,
                method: "GET",
                success: function (data) {
                    //console.log(data);
                    if ($('#selectServiceTran').val() == "google") {
                        $('#txtDest').val(data);
                    }
                    else {
                        $('#txtDest').val(data.data.data);
                    }
                    hideDialogLoading();
                    $('#loading').html("");
                },
                error: function (xhr) {
                    //console.log(xhr.responseText);
                    $('#loading').html("Lỗi gọi API dịch")
                },
            });
        }
        $("#btnDich").on("click", function () {
            if ($('#txtSource').val().length <= 0) {
                showToast("Vui lòng nhập nội dung cần dịch", "error", 5000, "top-end");
                return;
            }
            TranslateOnline();
        });
        $("#txtSource").on("keyup", function () {
            if ($('#txtSource').val().length <= 0) {
                return;
            }
            TranslateOnline();
        });
        $("select").on("change", function () {
            $("#txtSource").trigger("keyup");
            buildobj();
        });
        function dichvu() {
            switch ($("#tab_1 #dichvu").val()) {
                case "google":
                    $("#speech_from option").removeAttr("disabled");
                    break;
                case "speechmatics":
                    $("#speech_from").val("zh");
                    $("#speech_from option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
            buildobj();
        }
        dichvu();
        $("#dichvu").on("change", function () {
            dichvu();
            $("#speech_from").select2();
        });

        function selectServiceTran() {
            switch ($("#selectServiceTran").val()) {
                case "google":
                    $("#fromonl option").removeAttr("disabled");
                    $("#toonl option").removeAttr("disabled");
                    break;
                case "local":
                    $("#fromonl").val("zh");
                    $("#toonl").val("vi");
                    $("#toonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "vi") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    $("#fromonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
            buildobj();
        }
        $("#selectServiceTran").on("change", function () {
            selectServiceTran();
            $("#fromonl").select2({ width: '100%' });
            $("#toonl").select2({ width: '100%' });
        });
        $("#selectServiceTran").trigger("change");
        // END API Dịch
        // Denoiser

        $('#div_basic').hide();
        $('#d_step1').on('change', function () {
            step1 = $(this).is(':checked') ? "basic" : "";
            $('#div_basic').toggle(150);
            if ($('#cbdenoiser').is(':checked') == false) {
                $('#div_basic').hide(150);
            }
            buildobj();
        });
        $('#d_step2').on('change', function () {
            step2 = $(this).is(':checked') ? "spleeter" : "";
            buildobj();
        });
        $('#d_step3').on('change', function () {
            step3 = $(this).is(':checked') ? "ai" : "";
            buildobj();
        });
        $('input[name=basic]').on('change', function () {
            step1 = 'basic_' + $(this).val();
            buildobj();
        });

        function buildobj() {
            step1 = step1 == "basic" ? 'basic_ReducedPower' : step1;
            //step2 = step2 == "basic" ? 'basic_ReducedPower' : step2;
            //step3 = step3 == "basic" ? 'basic_ReducedPower' : step3;
            //$('label[for=d_step1]').html('Bước 1 (' + step1 + ')');
            //$('label[for=d_step2]').html('Bước 2 (' + step2 + ')');
            //$('label[for=d_step3]').html('Bước 3 (' + step3 + ')');
            let service = $('#dichvu').val();
            let speech2text = $('#speech_from').val();
            let translate = $('#to').val();
            let rs_html = '';
            rs_html += '{';
            rs_html += '\n\t"file": "' + file + '",';
            rs_html += '\n\t"service": "' + service + '",';
            if ($('#cbdenoiser').is(":checked")) {
                rs_html += '\n\t"video_type": "denoiser",';
                rs_html += '\n\t"step1": "' + step1 + '",';
                rs_html += '\n\t"step2": "' + step2 + '",';
                rs_html += '\n\t"step3": "' + step3 + '",';
                rs_html += '\n\t"speech2text": "' + speech2text + '",';
                rs_html += '\n\t"translate": "' + translate + '"';
            } else {
                rs_html += '\n\t"video_type": "denoiser",';
                rs_html += '\n\t"step1": "' + '' + '",';
                rs_html += '\n\t"step2": "' + '' + '",';
                rs_html += '\n\t"step3": "' + '' + '",';
                rs_html += '\n\t"speech2text": "' + speech2text + '",';
                rs_html += '\n\t"translate": "' + translate + '"';
            }
            rs_html += '\n}';
            //$('#txtResult').show();
            $('#txtResult').html(rs_html);
        }
        $('div.frmdenoiser').hide();
        $('#cbdenoiser').change(function () {
            $('div.frmdenoiser').toggle(500);
            if ($('#cbdenoiser').is(':checked') == false) {
                $('#d_step1').prop("checked", false).trigger('change');
                $('#d_step2').prop("checked", false).trigger('change');
                $('#d_step3').prop("checked", false).trigger('change');
            }
            buildobj();
        });
        $('#txtResult').hide();
        $('h5').dblclick(function () {
            $('#txtResult').toggle();
        });
        // Denoiser
        // Total
        let proId = 0;
        $('#savefile').hide();
        $('#savefiletran').hide();
        $('#btnDenoiser').click(function () {
            console.log("Tiến hành cho ID: " + proId);
            if (proId <= 0) {
                showToast("Chưa chọn video nào mà", "error", 3000, "top-end");
                return;
            }
            $.ajax({
                url: "/denoiser/GenDenoiser",
                method: 'POST',
                data: {
                    obj: $('#txtResult').val(),
                    filename: proId + ".txt",
                },
                success: function (data) {
                    showToast(data, "info", 3000, "top-end");
                    $('#mgs').html("");
                },
                error: function (xhr) { alert(xhr.responseText); },
            });
            //proId = 90;
            ReloadData();


        });
        function ReloadData() {
            let check_have_data_srt = false;
            let check_have_data_tran = false;
            setInterval(function () {
                if (check_have_data_srt) {
                    if (check_have_data_tran) {
                        return;
                    } else {
                        $.ajax({
                            method: 'GET',
                            url: '/film_video_processing_transcript/getListByvideo_processing_id/' + proId,
                            success: function (data) {
                                //console.log(data);
                                if (data.data) {
                                    let datatran = data.data[data.data.length - 1];
                                    //console.log(datatran.transcript_keywords);
                                    if (datatran.transcript_keywords == null || datatran.transcript_keywords == undefined || datatran.transcript_keywords == "") { return; }
                                    if (datatran.transcript_keywords != "") {
                                        check_have_data_tran = true;
                                        $('#txtRs').html(datatran.transcript_keywords.replace("Transcript: ", ""));
                                        $('#loading').html("<i class='fa fa-check'></i> Đã dịch xong");
                                        $('#savefiletran').show();
                                        localStorage.removeItem("proId");
                                    }
                                }
                            }
                        });
                    }
                    return;
                }
                $.ajax({
                    url: "/film_video_processing/get?id=" + proId,
                    method: 'GET',
                    success: function (data) {
                        //console.log(data);
                        if (data == null || data == undefined) { return; }
                        if (data.length > 0) {
                            if (data[0].json) {
                                console.log(data[0].json);
                                $('#txtSrc').html(data[0].json.replace("Transcript: ", ""));
                                check_have_data_srt = true;
                                $('#loading').html("<i class='fa fa-check'></i> Đã phân tích xong<br /><i class='fa fa-spinner fa-spin'></i> Đang dịch...");
                                $('#savefile').show();
                            } else {
                                $('#loading').html("<i class='fa fa-spinner fa-spin'></i> Đang phân tích");
                            }
                        } else {
                            $('span#loading').html("Chẩn bị phân tích");
                        }
                    },
                    error: function (xhr) { alert(xhr.responseText); },
                });
            }, 1000);
        }
        $('#upload_file1').change(function () {
            upload_file();
        });
        function upload_file() {
            $(".progress").show();
            var fd = new FormData();
            var files = $('#upload_file1')[0].files[0];
            fd.append('file', files);
            fd.append('fromlang', $('#speech_from').val());
            fd.append('tolang', $('#to').val());
            fd.append('service', $('#dichvu').val());
            $.ajax({
                url: "/tran/upload_file",
                data: fd,
                contentType: false,
                processData: false,
                type: 'post',
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var progress = Math.round((evt.loaded / evt.total) * 100);
                        }
                        $("#progressbar-5").css("width", progress + "%").attr("aria-valuenow", progress);
                        $("#progressbar-5").html(progress + "%");
                    }, false);
                    return xhr;
                },
                success: function (data) {
                    console.log(data.file);
                    file = "/hg_project/" + data.file;
                    proId = data.id;
                    localStorage.setItem("proId", proId);
                    console.log("ID sau khi upload lên là: " + proId);
                    buildobj();
                    $('#upload_file1').val('');
                    $("#progressbar-5").css("width", "100%").attr("aria-valuenow", 100);
                    $("#progressbar-5").addClass("bg-success");
                    $("#progressbar-5").html('<i class="fa fa-check"></i> Đã upload thành công');
                    setTimeout(function () { $(".progress").hide(300) }, 2000);
                },
                error: function (data) {
                    alert("Có lỗi khi upload");
                }
            });
        }
        $('#tabTran').click(function () {
            localStorage.setItem("tab", "#tab_2");
        });
        $('#savefile').click(function () {
            SaveFile();
        });
        $('#savefiletran').click(function () {
            SaveFileTran();
        });
        function SaveFile() {
            var blob = new Blob([$('#txtSrc').val()],
                { type: "text/plain;charset=utf-8" });
            saveAs(blob, "source.txt");
        }
        function SaveFileTran() {
            var blob = new Blob([$('#txtRs').val()],
                { type: "text/plain;charset=utf-8" });
            saveAs(blob, "translated.txt");
        }
        setInterval(function () {
            if (localStorage.getItem("proId")) {
                proId = localStorage.getItem("proId");
                ReloadData();
            }
        }, 5000);



    });// ready
</script>
