﻿@{
    string link = "http://lalatv.com.vn" + Model.html;
    var type_client_str = "";
    if (Model.type_client != null)
    {
        if (Model.type_client == -1)
        {
            type_client_str = "Tất cả";
        }
        else if (Model.type_client == 1)
        {
            type_client_str = "Website";
        }
        else if (Model.type_client == 2)
        {
            type_client_str = "Mobile";
        }
        else if (Model.type_client == 3)
        {
            type_client_str = "Tablet";
        }
        else
        {
            type_client_str = "Không hiện";
        }
    }
    else
    {
        type_client_str = "";
    }
    string str_display = "";
    switch (Model.display)
    {
        case 7: str_display = "Phim truyện"; break;
        case 5: str_display = "Truyện cổ tích"; break;
        case 8: str_display = "Truyền hình"; break;
        case 6: str_display = "Ca nhạc thiếu nhi"; break;
        case 11: str_display = "Phim Âu Mỹ"; break;
        case 9: str_display = "Phim Việt Nam"; break;
        case 10: str_display = "Phim Trung Quốc"; break;
        case 4: str_display = "Giáo dục"; break;
        case 3: str_display = "Hoạt hình Việt Nam"; break;
        case 100: str_display = "Live"; break;
        case 17: str_display = "Hoạt hình nước ngoài"; break;
        case 21: str_display = "Nhạc trẻ"; break;
        case 22: str_display = "Nhạc cover"; break;
        case 23: str_display = "Nhạc Acountic"; break;
        case 24: str_display = "Nhạc dân ca"; break;
        case 25: str_display = "Hoạt hình"; break;
        case 26: str_display = "Ca nhạc"; break;
        default: str_display = ""; break;
    }
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>
        <label for='title' class='col-sm-2 control-label'>Tên</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='position' class='col-sm-2 control-label'>Vị trí</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='position' id='position' size='1' value='@Model.position'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='prior' class='col-sm-2 control-label'>Ưu tiên</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='prior' id='prior' size='1' value='@Model.prior'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='file' class='col-sm-2 control-label'>File</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='file' id='file' size='1' value='@Model.file'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='link' class='col-sm-2 control-label'>Url</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control' name='link' id='link' size='1' value='@link'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='display' class='col-sm-2 control-label'>Danh mục hiển thị</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='display' id='display' size='1' value='@str_display'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='film_catalog_title' class='col-sm-2 control-label'>Danh mục</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='film_catalog_title' id='film_catalog_title' size='1' value='@Model.film_catalog_title'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='type_client' class='col-sm-2 control-label'>Loại thiết bị</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='type_client' id='type_client' size='1' value='@type_client_str'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='desc' class='col-sm-2 control-label'>Mô tả</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='datecreated' class='col-sm-2 control-label'>Ngày tạo</label>
        <div class='col-sm-10'>
            <input type='text' readonly maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated.ToString("dd/MM/yyyy HH:mm")'>
        </div>
    </div>
</section>
<script>
    $("#link").click(function () {
        window.open($(this).val(), '_blank');
    });
</script>