﻿@using lamlt.web.Services
@using lamlt.data
@{
    List<vw_film_catalog> list_catalog = new film_catalogService().GetViewAllItem(null);
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_banner' action='javascript:void();'>
        @Html.AntiForgeryToken()

        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Trong phim</label>
            <div class='col-sm-10'>
                @if (Model.film_id != null)
                {
                    <select class='form-control selection' name='film_id' id='film_id'>
                        <option value="-1">Không</option>
                        @{
                            List<vw_film_video_cms> film_Videos = new film_videoService().GetViewAllItemBanner(null);
                            foreach (var item in film_Videos)
                            {
                                int film_id = item.Id;
                                string film_title = item.title;
                                string sSelected = (film_id == Model.film_id) ? "selected" : "";
                                <option value="@film_id" @sSelected>@film_title</option>
                            }
                        }
                    </select>
                }
                else
                {
                    <select class='form-control selection' name='film_id' id='film_id'>
                        <option value="-1">Không</option>
                        @{
                            List<vw_film_video_cms> film_Videos = new film_videoService().GetViewAllItemBanner(null);
                            foreach (var item in film_Videos)
                            {
                                int film_id = item.Id;
                                string film_title = item.title;
                                string sSelected = (film_id == Model.film_id) ? "selected" : "";
                                <option value="@film_id" @sSelected>@film_title</option>
                            }
                        }
                    </select>
                }
            </div>
        </div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Vị trí</label><div class='col-sm-10'>
                <select class='form-control' name='position' id='position'>
                    <option value="1" @(((1 == Model.position) ? "selected" : ""))>Đầu</option>
                    <option value=" 2" @(((2 == Model.position) ? "selected" : ""))>Giữa</option>
                    <option value="3" @(((3 == Model.position) ? "selected" : ""))> Cuối</option>
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Ưu tiên</label><div class='col-sm-10'>
                <select class='form-control' name='prior' id='prior'>
                    <option value="1" @(((1 == Model.prior) ? "selected" : ""))>1</option>
                    <option value="2" @(((2 == Model.prior) ? "selected" : ""))>2</option>
                    <option value="3" @(((3 == Model.prior) ? "selected" : ""))>3</option>
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>FILE</label><div class='col-sm-10'>
                <input class='form-control' type=button value='Attach Files...' onclick="javascript:window.open('/film_file/?t=file','','width=500,height=400');" /><div id="div_file">@Model.file</div><input type=hidden id="file" name="file" value='@Model.file' />@if (Model.file.ToLower().IndexOf(".jpg") != -1 || Model.file.ToLower().IndexOf(".png") != -1 || Model.file.ToLower().IndexOf(".gif") != -1 || Model.file.ToLower().IndexOf(".bmp") != -1)
                {<img src='@Model.file' height=150 />}  @if (!string.IsNullOrEmpty(Model.file))
                {<a target=_blank href='@Model.file'>Download</a> <a onclick="javascript:document.getElementById('div_film_banner_file').innerHTML='';document.getElementById('file').value='';" href='#'>Clear</a>}
            </div>
        </div>

        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Html</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='html' id='html' size='1' value='@Model.html'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Danh mục hiển thị(Chỉ dành cho tablet)</label>
            <div class='col-sm-10'>
                <select class='selection form-control display' id='display' name='display' style="width:100%">
                    <option value="-1">Trang chủ</option>
                    @{
                        for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                        {
                            string sTitlexxx = list_catalog[jx].title.ToString();
                            string sIdxxx = list_catalog[jx].code;
                            string sSelected = (sIdxxx == Model.display) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Danh mục</label>
            <div class='col-sm-10'>
                <select class='selection form-control cpid' id='typeid' name='typeid' style="width:100%">
                    @{
                        for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                        {
                            string sTitlexxx = list_catalog[jx].title.ToString();
                            int sIdxxx = list_catalog[jx].Id;
                            string sSelected = (sIdxxx == Model.typeid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='type_client' class='col-sm-2 control-label'>Loại thiết bị</label><div class='col-sm-10'>
                <select class='selection form-control' name='type_client' id='type_client' style="width:100%">
                    <option value="-1" @(((-1 == Model.type_client) ? "selected" : ""))>Tất cả</option>
                    <option value="0" @(((0 == Model.type_client) ? "selected" : ""))>Không hiện</option>
                    <option value="1" @(((1 == Model.type_client) ? "selected" : ""))>Website</option>
                    <option value="2" @(((2 == Model.type_client) ? "selected" : ""))>Mobile</option>
                    <option value="3" @(((3 == Model.type_client) ? "selected" : ""))>Tablet</option>
                </select>
            </div>
        </div>
        <div class='form-group row' style="display:none">
            <label for='lblnameks' class='col-sm-2 control-label'>Desc</label>
            <div class='col-sm-10'>
                <input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Hiển thị</label><div class='col-sm-10'>
                <select class='form-control' name='show_home' id='show_home'>
                    <option value="0" @(((0 == Model.show_home) ? "selected" : ""))>Không hiển thị ở Trang chủ</option>
                    <option value="1" @(((1 == Model.show_home) ? "selected" : ""))>Hiển thị ở Trang chủ</option>
                </select>
            </div>
        </div>
    </form>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#fileupload").on('change', function () {
            $('#submit').click();
        });
        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $("#msg_upload").html("Uploading...");
            $.ajax({
                url: '/Film_file/UploadFile',
                data: new FormData(document.forms[0]),
                contentType: false,
                processData: false,
                type: 'post',
                success: function (data) {
                    $("#file").val(data.file);
                    $("#msg_upload").html("");
                    $("#div_film_banner_file").html(data.file);
                }
            });
        });
        $(".selection").select2({
            placeholder: "═══ Chọn 1 option ═══",
        });
        $("#film_id").change(function () {
            id = $(this).val();
            $.ajax({
                method: "GET",
                url: "/film_banner/get_video",
                data: {
                    id: id
                },
                success: function (result) {
                    $("#title").val(result.result.title);
                    $("#desc").val(result.result.code);
                }
            });
        });
    });
</script>