﻿@using lamlt.web.Services
@using lamlt.data
@{
    ViewData["Title"] = "Quản lý Banner";
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewData["activeMenu"] = "active";
    ViewData["thisActive"] = "thisAcive";
}
<style>
    .btn {
        min-width: 88px;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="s_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label for="s_display">Danh mục hiển thị</label>
                        <select class='selection form-control' id='s_display' multiple>
                            <option value="-1">Trang chủ</option>
                            @{
                                List<film_catalog> list_catalog = new film_catalogService().GetAllItem(null);
                                for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                                {
                                    string sTitlexxx = list_catalog[jx].title.ToString();
                                    string sIdxxx = list_catalog[jx].code.ToString();
                                    string sSelected = "";
                                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="s_catalogId">Danh mục</label>
                        <select class='selection form-control' id='s_catalogId' multiple>
                            @*<option value="-1">Trang chủ</option>*@
                            @{
                                List<film_catalog> dtILM_CPilm_calalog = new film_catalogService().GetAllItem(null);
                                for (int jx = 0; jx <= dtILM_CPilm_calalog.Count - 1; jx++)
                                {
                                    string sTitlexxx = dtILM_CPilm_calalog[jx].title.ToString();
                                    string sIdxxx = dtILM_CPilm_calalog[jx].Id.ToString();
                                    string sSelected = "";
                                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="s_typeClient">Loại thiết bị</label>
                        <select class="selection form-control" id="s_typeClient" multiple>
                            <option value="0">Không hiện</option>
                            <option value="1">Website</option>
                            <option value="2">Mobile</option>
                            <option value="3">Tablet</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="s_timerange">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        <button onclick="javascript: ofilm_banner.searchGrid();" type="button" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button onclick="javascript: ofilm_banner.editDialog(0);" type="button" class="btn btn-default">
                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_banner" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Vị trí</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ưu tiên</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">File</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Link</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Hiển thị</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Danh mục</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Loại thiết bị</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Mô tả</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày cập nhật</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_banner.js"></script>
<script type="text/javascript">
    var $table;
    var ofilm_banner = new film_banner();
    $(document).ready(function () {
        $(".selection").select2({
            placeholder: " Lựa chọn ",
        });
        ofilm_banner.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_banner.searchGrid();
            }
        });
    });
</script>