﻿<script src="~/Scripts/oze/film_video_processing.js"></script>
<div class="container-fluid">
    <div class="row">
        <form id="formfilm_render" action="javascript:void();">
            @Html.AntiForgeryToken()
            <div class="col-md-2" style="background: #f5f5f5; cursor:not-allowed">
                <label for="Id">Id</label>
                <input readonly="readonly" type="text" class="form-control " name="Id" id="Id" value="@Model.Id">
                <label for="lblnameks">Ngày tạo</label><input type="text" required readonly class="form-control requiredfield " name="date_created" id="date_created" value="@Model.date_created">
                <label for="lblnameks">Ngày cập nhật</label><input type="text" required readonly class="form-control requiredfield " name="date_update" id="date_update" value="@Model.date_update"><br /><br>
                <img width="100" height="100" src="@Model.thumb" alt="" /><br /><br>
            </div>
            <div class="col-md-5">
                <strong style="text-align:center;color:red">Cài đặt thông số</strong><hr />
                <label for="title">Tiêu đề</label>
                <input type="text" required class="form-control requiredfield" name="title" id="title" value="@Model.title">
                <label for="effect">Hiệu ứng</label>
                <select class="form-control" name="effect" id="effect">
                    @{
                        var objEffect = new lamlt.web.Services.film_effectService().GetViewAllItem(null);
                        if (objEffect.Count > 0)
                        {
                            foreach (var item in objEffect)
                            {
                                var selected = item.Id == Model.effect ? "selected" : "";
                                <option value="@item.Id" @selected>@item.title</option>
                            }
                        }
                    }
                </select>
                <label for="thumb">Thumb</label>
                <input type="text" required class="form-control requiredfield" name="thumb" id="thumb" value="@Model.thumb">
                <label for="list_file">Danh sách file</label>
                <input type="text" required class="form-control requiredfield" name="list_file" id="list_file" value="@Model.list_file">
                @{
                    if (Model.list_file != null)
                    {
                        var pageM = new lamlt.web.Models.PagingModel() { limit = 10000000 };
                        var objProcessing = new lamlt.web.Services.film_video_processingService().GetViewAllItem(pageM);
                        if (objProcessing.Count > 0)
                        {
                            <hr />
                            <b>Thêm vào danh sách dưới</b><br />
                            <select class="form-control" multiple="multiple" name="lstProcessing" id="lstProcessing" style="width:100% !important">
                                @{
                                    foreach (var lstItem in objProcessing)
                                    {
                                        <option value="@lstItem.Id">@lstItem.Id --- @lstItem.title</option>
                                    }
                                }
                            </select>
                            <hr />
                            <table class="table table-striped table-bordered" id="tblProcessing">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">File video</th>
                                        <th scope="col">Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var item in objProcessing)
                                        {
                                            foreach (var fileId in Model.list_file.Split(","))
                                            {
                                                if (fileId == item.Id.ToString())
                                                {
                                                    <tr>
                                                        <td><a title="Sửa" target="_blank" href="/film_video_processing/Edits/@item.Id"><i class="fa fa-pencil"></i> - @item.Id</a></td>
                                                        <td><a title="Xem file" target="_blank" href="@item.upload_file"><i class="fa fa-external-link"></i> - @item.title</a></td>
                                                        <td>@item.duration</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">Tổng thời gian</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>

                        }
                        else
                        {
                            <b>Không lấy được dữ liệu của processing</b>
                        }
                    }
                    else
                    {
                        <b>Chưa chọn file video nào</b>
                    }
                }
            </div>
            <div class="col-md-5">
                <strong style="text-align:center;color:red">Cài đặt Youtube</strong><hr />
                <label for="lblnameks">Kênh Youtube</label>
                <select class="form-control" name="channel_id" id="channel_id">
                    @{
                        var objChannel = new lamlt.web.Services.film_channelService().GetViewAllItem(null);
                        if (objChannel.Count > 0)
                        {
                            foreach (var item in objChannel)
                            {
                                var selected = item.Id == Model.channel_id ? "selected" : "";
                                <option value="@item.Id" @selected>@item.title</option>
                            }
                        }
                    }
                </select>

                <label for="lblnameks">Tiêu đề Youtube</label><input type="text" required class="form-control requiredfield" name="yt_title" id="yt_title" value="@Model.yt_title">
                <label for="lblnameks">Mô tả</label><input type="text" required class="form-control requiredfield" name="yt_desc" id="yt_desc" value="@Model.yt_desc">
                <label for="lblnameks">Chế độ</label>
                <select class="form-control" name="yt_mode" id="yt_mode">
                    @{
                        string[] objMode = { "public", "private", "unlisted" };
                        foreach (var item in objMode)
                        {
                            var selected = item == Model.yt_mode ? "selected" : "";
                            <option value="@item" @selected>@item</option>
                        }
                    }
                </select>
                <label for="lblnameks">Lên lịch</label><input type="text" required class="form-control requiredfield " name="yt_schedule" id="yt_schedule" value="@Model.yt_schedule">
                <label for="lblnameks">Trạng thái</label>
                <select class="form-control" name="yt_status" id="yt_status">
                    @{
                        string[] objStatus = { "render", "rendered", "rendering" };
                        foreach (var item in objMode)
                        {
                            var selected = item == Model.status ? "selected" : "";
                            <option value="@item" @selected>@item</option>
                        }
                    }
                </select>
            </div>
        </form>
    </div>
</div>
<script src="/Scripts/oze/film_video_processing.js"></script>
<script>
    $(function () {
        Array.prototype.ProRemove = function (x) {
            var i;
            for (i in this) {
                if (this[i].toString() == x.toString()) {
                    this.splice(i, 1)
                }
            }
        }
        var ofilm_video_processing = new film_video_processing();
        $("#yt_schedule").datetimepicker({ format: "DD/MM/YYYY hh:mm:ss" });
        $(".modal-title").html("Thông tin chỉnh sửa");
        var list_file = $("#list_file").val().split(',');
        $('#lstProcessing').val(list_file).trigger('change');
        $(".modal-dialog.modal-lg").css("width", "100%");
        $('#lstProcessing').select2().on("change", function (e) {
            console.log($('#lstProcessing').val());
            $("#list_file").val($('#lstProcessing').val().toString());
        });
        function calculateColumn(index) {
            var total = 0;
            $('table tr').each(function () {
                var value = parseInt($('td', this).eq(2).text());
                if (!isNaN(value)) {
                    total += value;
                }
            });
            $('table tfoot th').eq(1).text(secondsToDhms(total));
        }
        $('table thead th').each(function (i) {
            calculateColumn(i);
        });
        function secondsToDhms(seconds) {
            seconds = Number(seconds);
            var d = Math.floor(seconds / (3600 * 24));
            var h = Math.floor(seconds % (3600 * 24) / 3600);
            var m = Math.floor(seconds % 3600 / 60);
            var s = Math.floor(seconds % 60);

            var dDisplay = d > 0 ? d + (d == 1 ? " ngày, " : " ngày, ") : "";
            var hDisplay = h > 0 ? h + (h == 1 ? " giờ, " : " giờ, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " phút, " : " phút, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " giây" : " giây") : "";
            return dDisplay + hDisplay + mDisplay + sDisplay;
        }
    });
</script>
<style>
    .select2-selection__choice {
        color: #000 !important;
    }
</style>