﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">
        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Title</label>   <div class='col-sm-10'>@Model.title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>List_file</label>   <div class='col-sm-10'>@Model.list_file    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Effect</label>   <div class='col-sm-10'>@Model.effect    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thumb</label>   <div class='col-sm-10'>@Model.thumb    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Channel_id</label>   <div class='col-sm-10'>@Model.channel_id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Yt_title</label>   <div class='col-sm-10'>@Model.yt_title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Yt_desc</label>   <div class='col-sm-10'>@Model.yt_desc    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Yt_mode</label>   <div class='col-sm-10'>@Model.yt_mode    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Yt_schedule</label>   <div class='col-sm-10'>@Model.yt_schedule    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Status</label>   <div class='col-sm-10'>@Model.status    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Date_created</label>   <div class='col-sm-10'>@Model.date_created    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Date_update</label>   <div class='col-sm-10'>@Model.date_update    </div></div>
</section>