﻿@using lamlt.webservice.Services;
@using lamlt.web.Services;
@using lamlt.data;
@using lamlt.web.Models;
@{
    var userid = lamlt.web.Services.comm.GetUserId();
    ViewData["Title"] = "Render Tools";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabManage" class="active"><a href="#tab_2" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Danh sách các luồng</a></li>
    </ul>
    <div class="tab-content">
        <!-- /.tab-pane -->
        <div class="tab-pane active" id="tab_2">
            <div class="panel-group" id="search_panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">LỌC VÀ TÌM KIẾM</a>
                    </div>
                    <div class="panel-collapse collapse in" id="advanced_search">
                        <div class="panel-body">
                            <div class="col-md-9" id="manage_step_1">
                                <div class="col-md-4">
                                    <label for="search_livestreaming_title">Tìm kiếm tiêu đề</label>
                                    <input type='text' class='form-control' maxlength='200' name='search_film_render_title' id='search_film_render_title' size='1' /><br />
                                    <button id="btnSearch" onclick="javascript: ofilm_render.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                                </div>
                                <div class="col-md-4">
                                    <label for="file_excel">Nhập từ Excel</label>
                                    <input type='file' name='file_excel' id='file_excel' accept=".xls,.xlsx" /><br />
                                    <button id="btnImport" type="button" class="btn btn-success"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Nhập từ Excel</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="manage_step_2">

                                    @*<button type="button" id="reload" class="btn btn-danger"><i class="fa fa-spin fa-recycle" aria-hidden="true"></i> <span>Tải lại dữ liệu</span></button>
                                        <br /> <br /><small><em>Hệ thống sẽ tự động lấy lại dữ liệu sau 30 giây hoặc có thể bấm vào nút </em><b style="color:red;">"Tải lại dữ liệu"</b></small>
                                        <hr />*@
                                </div>
                                @*<div id="manage_step_3">
                                        <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                                        <button id="tatca" type="button" class="btn btn-danger"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả</button>
                                        <button id="dachon" type="button" class="btn btn-warning"><i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất đã chọn</button>
                                        <br /><br /><strong>Các phim đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="list_render">
                <table id="example_film_render" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Title</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>List_file</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Effect</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thumb</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Channel_id</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Yt_title</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Yt_desc</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Yt_mode</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Yt_schedule</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Status</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Date_created</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Date_update</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- /.tab-content -->
</div>
<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_render.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_render = new film_render();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_render.setupGrid();
        $("#search_film_render_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_render.searchGrid();
            }
        });
    });
</script>