﻿@using lamlt.data
@using lamlt.web.Services
@{
    film_catalogService film_catalogSV = new film_catalogService();
    List<vw_film_catalog> list_catalog = film_catalogSV.GetViewAllItem(null);
}
<form class="" id='formfilm_product_processing' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class="row form-group">
        <div class="col-md-12">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="product_id" id="product_id" value="@Model.product_id" />
        </div>
    </div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 col-form-label'>Danh mục</label>
        <div class='col-sm-10'>
            <select class='selection form-control catalog_id' id='catalog_id' name='catalog_id'>
                <option value="-1">────────── Tất cả ──────────</option>
                @{
                    for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                    {
                        string sTitlexxx = list_catalog[jx].title.ToString();
                        int sIdxxx = list_catalog[jx].Id;
                        string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 col-form-label'>Thời gian danh mục (phút)</label>
        <div class='col-sm-10'>
            <input type='text' maxlength='500' kind='char' class='form-control' name='catalog_time' id='catalog_time' size='1' value='@Model.catalog_time'>
        </div>
    </div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 col-form-label'>Vị trí danh mục</label>
        <div class='col-sm-10'>
            <input type='text' maxlength='500' kind='char' class='form-control' name='catalog_position' id='catalog_position' size='1' value='@Model.catalog_position'>
        </div>
    </div>
</form>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script>
    $('.selection').select2({
        placeholder: "Chọn 1 danh mục"
    });
</script>