﻿@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
    string datecreated = (Model.datecreated != null) ? Model.datecreated.ToString("dd/MM/yyyy") : "";
    string dateupdated = (Model.dateupdated != null) ? Model.dateupdated.ToString("dd/MM/yyyy") : "";
}
<div class="panel-collapse collapse in" aria-expanded="true" style="">
    <div class="panel-body">
        <div class="form-group">
            <div class='form-group row'>
                <label for='lblnameks' class='col-sm-2 col-form-label'>Id</label>
                <div class='col-sm-10'>
                    <input type='text' maxlength='500' kind='char' class='form-control' readonly name='Id' id='Id' size='1' value='@Model.Id'>
                </div>
            </div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Biên tập</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='product_title' id='product_title' size='1' value='@Model.product_title'></div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Vị trí danh mục</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='catalog_position' id='catalog_position' size='1' value='@Model.catalog_position'></div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Thời gian danh mục (phút)</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='catalog_time' id='catalog_time' size='1' value='@Model.catalog_time'></div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Ngày tạo</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='datecreated' id='datecreated' size='1' value='@datecreated'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Ngày cập nhật</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='dateupdated' id='dateupdated' size='1' value='@dateupdated'> </div></div>
        </div>
    </div>
</div>