﻿@using lamlt.data
@using lamlt.web.Services
<style>
    .select2 {
        width: 100% !important;
    }
</style>
<input type="hidden" value="@Model" id="productid" />
<button onclick="javascript: ofilm_product_processing.addDialog(@Model);" type="button" class="btn btn-default" id="btn_film_product_processing">
    <i class="fa fa-plus" aria-hidden="true"></i> Thêm danh mục
</button>
<table id="example_film_product_processing" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">Tải lại (Click)</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Danh mục</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Thời gian danh mục</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Vị trí danh mục</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/oze/film_product_processing.js"></script>
<script type="text/javascript">
    var $table;
    var ofilm_product_processing = new film_product_processing();
    $(document).ready(function () {
        ofilm_product_processing.setupGrid();
        $("#search_film_product_processing_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_product_processing.searchGrid();
            }
        });
    });
</script>