﻿@{
    ViewData["Title"] = "HG-PROJECT-CMS | Biên tập";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="s_title">Tìm kiếm theo tiêu đề</label>
                        <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label for="s_timerange">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <button onclick="javascript: ofilm_product_processing.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        <button onclick="javascript: ofilm_product_processing.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<table id="example_film_product_processing" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Nội dung</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Kênh</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày cập nhật</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Biên tập</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Danh mục</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thời gian danh mục</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Vị trí danh mục</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày cập nhật</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
        </tr>
    </tfoot>
</table>

<!--film_product_processing JS File-->
<script src="~/Scripts/oze/film_product_processing.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_product_processing = new film_product_processing();
    $(document).ready(function () {
        ofilm_product_processing.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_product_processing.searchGrid();
            }
        });
    });
</script>