﻿@*LOGIN*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>

    <!-- Theme style -->
    @*<link rel="stylesheet" href="/Content/Identity/IdentityStype.css" />*@
    @*<link rel="stylesheet" href="/Themes/dist/css/AdminLTE.css">*@

    @*<link href="/Content/font-awesome.min.css" rel="stylesheet" />*@
    @*<link href="/Themes/plugins/iCheck/all.css" rel="stylesheet" />*@
    @*<link href="/Content/notify/notify-metro.css" rel="stylesheet" />*@

    @*<link href="/Content/oze.fonts.css" rel="stylesheet" />
    <link href="/Content/oze.css" rel="stylesheet" />
    <link href="/Content/hungpvCustom.css" rel="stylesheet" />*@
    @RenderSection("style", required: false)

    <script src="/Themes/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body class="hold-transition login-page">

    @RenderBody()

    <script src="/Scripts/oze.base.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/html5shiv.min.js"></script>
    <!--Validate-show mesg-->
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- iCheck -->
    <script src="/Themes/plugins/iCheck/icheck.min.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>
    <script src="/Scripts/oze.common.js"></script>
    <script src="/Scripts/Servicebase.js"></script>
    <script src="/Scripts/oze/oze.identity.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
