﻿@using ServiceStack;
<style>
    .main-header .logo {
        font-size: 18px !important;
    }
    .skin-blue .main-header .logo, .skin-blue .main-header .logo:hover {
        background: none;
    }
    label#lblgp {
        text-align: center;
        font-size: 20px;
        color: #fff;
        padding: 5px;
        text-transform: uppercase;
        font-weight: bold;
        width:100%;
    }
</style>
<header class="main-header">
    @* ~/Home/index?_=@(Math.Round(DateTime.Now.Subtract(new DateTime(1970, 1,1)).TotalMilliseconds)) *@
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">TS</span>
        <!-- logo for regular state and mobile devices -->
        @*<img style="width:80%" src="/Images/logo1.png" alt="" />*@
    <span class="logo-lg">TekSpeech</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a title="Bấm phím B để ẩn hiện Menu" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar_marquee">
            <div class="row">
                <div class="col-md-2">
                    <img style="height:50px" src="/Images/logoca.png" alt="Logo Công An" />
                </div>
                <div class="col-md-8">
                    <label id="lblgp">Giải pháp TekSpeech</label>
                </div>
                <div class="col-md-2">
                    <img style="height:50px;background:#fff" src="/Images/logo1.png" alt="i-Global TekSpeech" />
                </div>
            </div>
        </div>
        @* Notification *@
        <div class="navbar-custom-menu navbar-notification">
            <ul class="nav navbar-nav">
                <li class="skin_config">
                    <a title="Cài đặt giao diện" href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>