﻿<aside class="main-sidebar" title="Bấm phím B để ẩn/hiện Menu này">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar " style="height: auto;">
        <ul class="sidebar-menu sidebar-menu-user ">
            <li class="treeview" id="menu_profile">
                <a class="profile nonehover">
                    <div class="user-panel dropdown-toggle">
                        <div class="pull-left image">
                            <img src="/Themes/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <span>Livestream</span>
                            <span class="pull-right-container">
                                <i class="fa fa-cog pull-right"></i>
                            </span>
                            <div><small>lamlt</small></div>
                        </div>

                    </div>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/SysUsers/DetailSysUser">
                            <i class="fa fa-user"></i> Thông tin cá nhân
                        </a>
                    </li>

                    <li>
                        <a href="/Accounts/ChangePassword">
                            <i class="fa fa-key"></i> Đổi mật khẩu
                        </a>
                    </li>

                    <li>
                        <a href="/Accounts/Login">
                            <i class="fa fa-sign-out"></i> Thoát
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <ul class="sidebar-menu">
            <li id="livestreaming"><a href="/livestreaming/"> <i class="fa fa-cog fa-spin"></i> Tools Livestream</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
