﻿<!DOCTYPE html>
@{

    if (lamlt.web.Services.comm.GetUserId() <= 0)
    {
        <text>
            <script>
                window.location.href = "/Accounts/Login";
            </script>
        </text>
    }
    var userid = lamlt.web.Services.comm.GetUserId();
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="~/Themes/dist/css/skins/_all-skins.min.css">
    <link href="~/Themes/dist/css/skins/skin-yellow.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />

    @* chosen *@
    <link href="~/Scripts/chosen/chosen.css" rel="stylesheet" />

    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/ionicons.min.css" rel="stylesheet" />
    <link href="/Content/oze.fonts.css" rel="stylesheet" />

    <link href="/Themes/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="/Themes/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="/Themes/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/Content/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />

    @*<link href="/Themes/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />*@
    <link href="/Themes/plugins/datatables/extensions/Responsive/css/responsive.bootstrap.css" rel="stylesheet" />
    <link href="/Themes/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" rel="stylesheet" />
    <link href="/Themes/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="/Content/notify/notify-metro.css" rel="stylesheet" />
    <link href="~/Content/icon/style.css" rel="stylesheet" />
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="/Content/oze.css" rel="stylesheet" />
    <link href="/Content/common.css" rel="stylesheet" />
    <link href="/Content/oze.response.css" rel="stylesheet" />
    <link href="/Content/hungpvCustom.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @*=====time range=====*@
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    @*=====time range=====*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous"></script>
    @RenderSection("style", false)
    <script src="~/Themes/plugins/jQuery/jquery-2.2.3.js"></script>

    <script src="/Scripts/oze.base.js"></script>
    <script src="/Scripts/oze.elec.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*Player film_video*@

    <script src="https://hls-js.netlify.com/dist/hls.js"></script>
    <script src="~/Scripts/jquery.numberedtextarea.js"></script>
    <link rel="stylesheet" href="~/Scripts/jquery.numberedtextarea.css" />
    <link href="~/Content/anno.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/anno.js" type="text/javascript"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")
        <div class="content-wrapper">
            <section class="content clearfix" id="main-content">
                <div class="notify-custom">
                    <div class="notify-popup"></div>
                </div>
                @RenderBody()
            </section>
        </div>
        @await Html.PartialAsync("_Footer")
        @await Html.PartialAsync("_ControlSidebar")
    </div>

    <script src="~/Themes/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/adminlte.min.js"></script>
    <script src="~/Scripts/demo.js"></script>

    <!-- FastClick -->
    <script src="~/Themes/plugins/fastclick/fastclick.js"></script>
    <script src="~/Themes/dist/js/app.js"></script>
    <script src="~/Themes/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/chosen/latinise.min.js"></script>
    <script src="~/Scripts/chosen/chosen.jquery.js"></script>

    <script src="~/Scripts/bootstrap-typeahead/bootstrap-AutocompleteCustom.js"></script>
    <script src="~/Scripts/datetimepicker/moment.js"></script>

    <script src="~/Themes/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/datetimepicker/moment-with-locales.min.js"></script>

    <script src="~/Scripts/select2/js/select2.min.js"></script>

    <script src="~/Scripts/inputmask/jquery.inputmask.bundle.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.customValidate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/notify/notify.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>

    <script src="~/Scripts/oze.utils.js"></script>
    <!--<script src="~/Scripts/oze.keepsession.js"></script>-->

    <script src="~/Scripts/oze/lockcard/ctrl.js"></script>

    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/oze.common.js"></script>
    <script src="~/Scripts/Servicebase.js"></script>

    <script type="text/javascript">var flag = 0;</script>

    @RenderSection("scripts", required: false)
    @RenderSection("Script", false)

    <script src="~/Scripts/oze.hash.js"></script>
    <script src="~/Scripts/notify/fn.js"></script>

    @*===== time range =====*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    @*===== time range =====*@

    <script>
        function showToast(content, icon, time = 3000, pos = 'top-end') {
            const Toast = Swal.mixin({
                toast: true,
                position: pos,
                showConfirmButton: false,
                timer: time,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: icon,
                title: content
            })
        }
        $(document).ready(function () {
            $(".treeview").click(function () { updateWrapperHeight(); });
            //$(".selection").select2({
            //    placeholder: " Lựa chọn "
            //});
            $(".date_format").datetimepicker({ format: "DD/MM/YYYY HH:mm:ss" });
            $(".date_format_min").datetimepicker({ format: "DD/MM/YYYY" });

            // set default time range
            $('.time_range').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear',
                    format: 'DD/MM/YYYY'
                }
            });
            $('.time_range').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });
            $('.time_range').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
        window.rightcode = '@lamlt.web.Services.comm.GetRightCode()';
        window.iscp = '@lamlt.web.Services.comm.GetCPId()';
    </script>
    <script src="~/Scripts/excelexportjs.js"></script>
    <script src="/Scripts/menu.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>
    <!--End of Tawk.to Script-->
</body>
</html>