﻿<aside class="main-sidebar" title="Bấm phím B để ẩn/hiện Menu này">
    <section class="sidebar " style="height: auto;">
        <ul class="sidebar-menu sidebar-menu-user ">
            <li class="treeview" id="menu_profile">
                <a class="profile">
                    <div class="user-panel dropdown-toggle">
                        <div class="pull-left image">
                            <img src="/Themes/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <span>@lamlt.web.Services.comm.GetUserName()</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-down pull-right"></i>
                            </span>
                        </div>
                    </div>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/Accounts/Login">
                            <i class="fa fa-sign-out"></i> Thoát
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div>
            <div class="luachon-ks">
            </div>
        </div>
        <ul class="sidebar-menu">
            @{
                if (@lamlt.web.Services.comm.GetCPId() >= 1000)
                {
                    <li id="homepage"><a href="/"><i class="fa fa-dashboard"></i> <span>Trang chủ</span></a></li>
                    <li id="tran"><a href="/tran"> <i class="fa fa-adjust"></i> <span>Dịch nhanh</span></a></li>
                    <li id="film_video_processing_denoiser"><a href="/film_video_processing?video_type=denoiser"> <i class="fa fa-meanpath"></i> <span>Dịch tự động</span></a></li>
                    <li id="film_video_processing_tran"><a href="/film_video_processing?video_type=film"> <i class="fa fa-language"></i> <span>Quản lý dịch văn bản</span></a></li>
                    <li id="film_video_processing"><a href="/film_video_processing?video_type=other"> <i class="fa fa-microphone"></i> <span>Thoại ra chữ</span></a></li>
                    <li id="denoiser"><a href="/denoiser"> <i class="fa fa-medkit"></i> <span>Lọc nhiễu</span></a></li>
                    <li id="trangchu"><a href="/Statistic"><i class="fa fa-bar-chart"></i><span>Thống kê</span></a></li>
                    <li id="film_user"><a href="/film_user/"> <i class="fa fa-users"></i> <span>Người dùng</span></a></li>
                    <li id="web_config"><a href="/film_key/"> <i class="fa fa-cog"></i> <span>Cài đặt chung</span></a></li>
                }
                else
                {
                    <li class="treeview @ViewData["bientap"]" id="bientap">
                        <a>
                            <span class="glyphicon glyphicon-facetime-video"></span>
                            <span>Biên tập</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="film_product"><a href="/film_product/"> <i class="fa fa-book"></i> Biên tập ngẫu nhiên</a></li>
                            <li id="film_product_excel"><a href="/film_product_excel/"> <i class="fa fa-file-excel-o"></i> Biên tập Excel</a></li>
                            <li id="film_converting"><a href="/film_converting/"> <i class="fa fa-hourglass-2"></i> Tiến trình biên tập</a></li>
                        </ul>
                    </li>
                    <li class="treeview @ViewData["menu_noidung"]" id="noidung">
                        <a>
                            <span class="glyphicon glyphicon-music"></span>
                            <span>Quản lý nội dung</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="film_video_processing"><a href="/film_video_processing?video_type=film"> <i class="fa fa-forward"></i> Kho nhạc</a></li>
                            <li id="film_video_processing_tran"><a href="/film_video_processing?video_type=other"> <i class="fa fa-globe"></i> Speech To Text</a></li>
                            <li id="denoiser"><a href="/denoiser"> <i class="fa fa-medkit"></i> Lọc nhiễu</a></li>
                            <li id="film_transcript"><a href="/film_transcript/"> <i class="fa fa-cc"></i> Quản lý phụ đề</a></li>
                            <li id="film_catalog"><a href="/film_catalog/"> <i class="fa fa-book"></i> Quản lý danh mục</a></li>
                            <li id="film_effect"><a href="/film_effect/"> <i class="fa fa-adjust"></i> Quản lý hiệu ứng nền</a></li>
                            <li id="scene_change"><a href="/scene_change/"> <i class="fa fa-area-chart"></i> Quản lý chuyển cảnh</a></li>
                        </ul>
                    </li>
                    <li class="treeview" id="menu_render">
                        <a>
                            <span class="glyphicon glyphicon-random"></span>
                            <span>Render</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="film_render"><a href="/film_render/"> <i class="fa fa-terminal"></i> Render & Upload</a></li>
                        </ul>
                    </li>
                    <li class="treeview @ViewData["menu_khac"]" id="khac">
                        <a>
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <span>Khác</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="film_folder"><a href="/film_folder/"> <i class="fa fa-folder"></i> Quản lý folder</a></li>
                            <li id="film_channel"><a href="/film_channel/"> <i class="fa fa-anchor"></i> Quản lý kênh</a></li>
                            <li id="film_keyupload"><a href="/film_keyupload/"> <i class="fa fa-cloud-upload"></i> Quản lý key upload</a></li>
                            <li id="film_user"><a href="/film_user/"> <i class="fa fa-cloud-upload"></i> Quản lý người dùng</a></li>
                            <li id="film_role"><a href="/film_role/"> <i class="fa fa-cloud-upload"></i> Quản lý vai trò</a></li>
                        </ul>
                    </li>
                }
            }

        </ul>
    </section>
</aside>