﻿@using Oze.AppCode.Util
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Root.cshtml";
}
@section Script
{
    <script src="~/Scripts/oze/SysUser/oze.Account.js"></script>
}
<div class="tab-title">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="@ViewBag.Title" role="tab" data-toggle="tab">@ViewBag.Title</a></li>
    </ul>
</div>
<div class="row page-data">
    <div class="boxsearch clearfix">
        <div class="text-center">
            <label class="text-sm text-red">@ViewBag.Firstlogin @ViewBag.ChangeMesg</label>
        </div>
        <form class="form-horizontal" id="formChange">
            <div class="modal-body">
                <div class="form-group clearfix">
                    <label for="inputPassword3" class="col-sm-3 control-label">Mật khẩu hiện tại</label>
                    <div class="col-sm-9">
                        <input type="password" name="currentpw" class="form-control" id="currentpw" placeholder="Mật khẩu hiện tại" required>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="inputPassword3" class="col-sm-3 control-label">Mật khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" name="newpw" class="form-control" id="newpw" placeholder="Mật khẩu hiện tại" required>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="inputPassword3" class="col-sm-3 control-label">Nhập lại khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" name="cfnewpw" class="form-control" id="cfnewpw" placeholder="Mật khẩu hiện tại" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button id="btnSave" type="button" name="command" value="changpwsub" class="btn btn-primary">Tiếp tục</button>
            </div>
        </form>
    </div>
</div>
