﻿@using ServiceStack
@{
    Layout = "~/Views/Shared/_AccountRoot.cshtml";
    ViewBag.Title = "Đăng nhập";
    //var hostKf  = Request.Url.Host.ToLower().Contains("kenfat.vn");

}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/login.css" />
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/Images/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <div class="mb-4">
                        <h3>Login</h3>
                        <p class="mb-4">Speech2Text System</p>
                    </div>
                    <form id="login-form" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group first">
                            <label for="UserName">Username</label>
                            <input type="text" id="UserName" name="UserName" class="form-control" autocomplete="off" required tabindex="1">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="Password">Password</label>
                            <input type="password" id="Password" name="Password" class="form-control" autocomplete="off" required tabindex="2">
                        </div>
                        <div class="row" id="mgslogin" style="display:none;">
                            <div class="col-xs-12 text-red">
                                <div class="text-center" style="padding: 10px 0px;"></div>
                            </div>
                        </div>
                        <div class="d-flex mb-5 align-items-center">
                            <label class="control control--checkbox mb-0">
                                <span class="caption">Remember me</span>
                                <input id="" type="checkbox" checked="checked" />
                                <div class="control__indicator"></div>
                            </label>
                            <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                        </div>
                        <button type="submit" name="command" value="SignInSub" id="btnSave" class="btn btn-block btn-info btn-line-height btn-oze-login" tabindex="4">ĐĂNG NHẬP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.login-box -->
<script src="https://preview.colorlib.com/theme/bootstrap/login-form-06/js/jquery-3.3.1.min.js"></script>
<script>
    $(function () { 'use strict'; $('.form-control').on('input', function () { var $field = $(this).closest('.form-group'); if (this.value) { $field.addClass('field--not-empty'); } else { $field.removeClass('field--not-empty'); } }); });
</script>
@section scripts{
    <script src="/Scripts/oze/oze.login.js"></script>
}
