﻿@using ServiceStack
@model Oze.Models.LoginModel
@{
    Layout = "~/Views/Shared/_AccountRoot.cshtml";
    ViewBag.Title = "Đăng nhập";
    //var hostKf  = Request.Url.Host.ToLower().Contains("kenfat.vn");

    var hotline = System.Configuration.ConfigurationManager.AppSettings["Hotline"];
    var hostKf = Request.Url.Host.ToLower().Contains("kenfat.vn");
}
@using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new {id= "login-form", enctype = "multipart/form-data" }))
{ 

@Html.AntiForgeryToken()

<div class="login-box-width">
  <!-- /.login-logo -->
  <div class="login-box-body">
      <div class="box-content" style="border:none !important;">
          <div class="login-logo">
              <i class="logo-icon" style='@(hostKf ? "background: url(/Images/Login/linkKenfat.png) center no-repeat;" : "" )' ></i>
          </div>
        
              <div class="form-group has-feedback has-feedback-input">
                  <input style="padding-left:0px !important;" type="text" id="UserName" name="UserName" class="form-controls" placeholder="TÊN ĐĂNG NHẬP" autocomplete="off" required tabindex="1">
              </div>
              <div class="form-group has-feedback has-feedback-input">
                  <input style="padding-left:0px !important;" type="password" id="Password" name="Password" class="form-controls" placeholder="MẬT KHẨU" autocomplete="off" required tabindex="2">
              </div>
              <div class="row has-feedback-input">
                  <div class="col-xs-7">
                      <div class="checkbox icheck">
                          <label>
                              <input type="checkbox" id="chkRememberMe" name="chkRememberMe" tabindex="3"> Ghi nhớ đăng nhập
                          </label>
                      </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-xs-5 text-right">
                      <div class="checkbox icheck">
                          @Html.ActionLink("Quên mật khẩu", "Index", "Accounts", null, null)
                      </div>
                  </div>
                  <!-- /.col -->
              </div>
              
                  <div class="row" id="mgslogin" style="display:none;">
                      <div class="col-xs-12 text-red">
                          <div class="text-center" style="padding: 10px 0px;"></div>
                      </div>
                  </div>
              
              <div class="row has-feedback-input">
                  <div class="col-xs-12">
                      <button type="submit" name="command" value="SignInSub" id="btnSave" class="btn btn-block btn-info btn-line-height btn-oze-login" tabindex="4">ĐĂNG NHẬP</button>
                      @*<button type="button" name="command" value="SignInSub" id="btnSave" class="btn btn-block btn-info btn-line-height btn-oze-login">ĐĂNG NHẬP</button>*@
                  </div>
              </div> 
      </div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

}

@section scripts{
    <script>
        var hotline = '@hotline';
    </script>
    <script src="~/Scripts/oze/oze.login.js"></script>
}