﻿@using lamlt.data
@using lamlt.web.Services
@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
    film_channelService film_channelSV = new film_channelService(); List<vw_film_channel> list_channel = film_channelSV.GetViewAllItem(null);
}
<form id='formfilm_keyupload' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tên</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='description' id='description' size='1' value='@Model.description'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Key Upload</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='key_upload' id='key_upload' size='1' value='@Model.key_upload'>    </div></div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-form-label col-sm-2'>Kênh</label>
        <div class="col-sm-10">
            <select class='selection form-control channel_id' id='channel_id' name='channel_id' style="width:100%">
                @if (Model.channel_id != null)
                {
                    for (int jx = 0; jx <= list_channel.Count - 1; jx++)
                    {
                        string sTitlexxx = list_channel[jx].title.ToString();
                        int sIdxxx = list_channel[jx].Id;
                        string sSelected = (sIdxxx == Model.channel_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
                else
                {
                    <option value="-1">────────── Tất cả ──────────</option>
                    for (int jx = 0; jx <= list_channel.Count - 1; jx++)
                    {
                        string sTitlexxx = list_channel[jx].title.ToString();
                        int sIdxxx = list_channel[jx].Id;
                        string sSelected = (sIdxxx == Model.channel_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Ghi chú</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='note' id='note' size='1' value='@Model.note'>    </div></div>
    <div class='form-group row'>
        <label for='status' class='col-sm-2 col-form-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <select class='selection form-control' name='status' id='status' style="width:100%">
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>
</form>