﻿@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
}
<div class="panel-collapse collapse in" aria-expanded="true" style="">
    <div class="panel-body">
        <div class="form-group">
            <div class='form-group row'>
                <label for='lblnameks' class='col-sm-2 col-form-label'>Id</label>
                <div class='col-sm-10'>
                    <input type='text' maxlength='500' kind='char' class='form-control' readonly name='Id' id='Id' size='1' value='@Model.Id'>
                </div>
            </div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tiêu đề</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='title' id='title' size='1' value='@Model.title'></div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='desc' id='desc' size='1' value='@Model.desc'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>File</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='file' id='file' size='1' value='@Model.file'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='code' id='code' size='1' value='@Model.code'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Keywords</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='keywords' id='keywords' size='1' value='@Model.keywords'> </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Trạng thái</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control' readonly name='status' id='status' size='1' value='@status'> </div></div>
        </div>
    </div>
</div>