﻿@using lamlt.data
@using lamlt.webservice
@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
}
<form id='formfilm_transcript' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' readonly class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tiêu đề</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Nội dung file sub</label><div class='col-sm-10'><textarea style='font-family:monospace' required rows='10' class='form-control' name='desc' id='desc'>@Model.desc</textarea>    </div></div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 col-form-label'>File</label>
        <div class='col-sm-10'>
            <input type="file" class="form-control requiredfield" title="Upload file1" name="file1" id="file1" />
        </div>
        <div class="col-sm-10" style="padding-top:10px">
            <input type="text" class="form-control requiredfield" title="Upload file" name="file" id="file" requiredfield value="@Model.file" />
            <div class="row">
                <div class="col-md-12">
                    <div id="progressbar-5">
                        <div class="progress-label">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Code</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Ngôn ngữ</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='language' id='language' size='1' value='@Model.language'>    </div></div>
    <div class='form-group row'>
        <label for='status' class='col-sm-2 col-form-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <select class='selection form-control' name='status' id='status' style="width:100%">
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>
</form>
<script src="~/Scripts/oze/film_transcript.js"></script>
<script>
    var ofilm_transcript = new film_transcript();
    $(document).ready(function () {
        $("#file1").change(function () {
            var file = $('#file1')[0].files[0];
            console.log();
            ofilm_transcript.upload_file();
        });
        $("#btnGenSrt").click(function () {
            var fileSrt = $("#file").val().replace("http://27.76.152.255:13000/vn:9090/hg_project_sub/", "");
            fileSrt = $("#file").val().replace("https://files.lalatv.com.vn:9090/hg_project_sub/", "");
            var content = $("#desc").val();
            if (content == "") {
                showToast("Yêu cầu nhập nội dung file sub", "error", 10000, "top-end");
                $("#desc").focus();
                return false;
            }
            $.ajax({
                url: "/film_transcript/gen_srt",
                method: "post",
                data: {
                    file_srt: fileSrt,
                    content: content,
                },
                success: function (data) {
                    showToast("Cập nhật file sub thành công", "success", 10000, "top-end");
                },
                error: function (xhr) { console.log(xhr.responseText); showToast("Lỗi cập nhật", "error", 10000, "top-end"); },
            });
        });
    });
</script>