﻿@using lamlt.data
@using lamlt.web.Services
<section>
    <h2>Không được chỉnh sửa</h2>
    @*<form id='formfilm_video_view' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Videoid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='videoid' id='videoid' size='1' value='@Model.videoid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Custom Duration</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='custom_duration' id='custom_duration' size='1' value='@Model.custom_duration'>    </div></div>
    </form>*@
</section>