﻿@using lamlt.data
@using lamlt.web.Services
@{ 
    string status = (Model.status==1) ? "Đã duyệt" : "Chưa duyệt";
    string datecreated = (Model.datecreated !=null)? Model.datecreated.ToString("dd/MM/yyyy HH:mm:ss"):"";
    string dateupdated = (Model.dateupdated != null)? Model.dateupdated.ToString("dd/MM/yyyy HH:mm:ss"):"";
}
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phim</label>   <div class='col-sm-10'>@Model.film_title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>UserId</label>   <div class='col-sm-10'>@Model.userid    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Bắt đầu</label>   <div class='col-sm-10'>@Model.time_start   </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Kết thúc</label>   <div class='col-sm-10'>@Model.time_end    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo</label>   <div class='col-sm-10'>@datecreated   </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày cập nhật</label>   <div class='col-sm-10'>@dateupdated   </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label>   <div class='col-sm-10'>@status   </div></div>
</section>