﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Video - Thông kê lượt xem video";
    Layout = "~/Views/Shared/_Root.cshtml";
    film_videoService filmSv = new film_videoService();
    List<vw_film_video_cms> listFilm = filmSv.GetFilmForFilmVideoView(null);
}
<style>
    .form-control {
        margin: 0px 0px;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row row1">
                    <div class="col-md-3">
                        <label for="catalog">Tìm kiếm theo tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Search" name="search_film_video_view_title" id="search_film_video_view_title" /><br />
                    </div>
                    <div class="col-md-3">
                        <label for="sFilmId">Tìm theo phim</label>
                        <select class="form-control selection" id="search_film_video_view_film_id">
                            @{
                                <option value="-1">===== Tất cả =====</option>
                                for (int jx = 0; jx <= listFilm.Count - 1; jx++)
                                {
                                    string filmTitle = listFilm[jx].title.ToString();
                                    string filmId = listFilm[jx].Id.ToString();
                                    string sSelected = "";
                                    <option value="@filmId" @sSelected>@filmTitle</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="time_range">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="sTimeRange" id="search_film_video_view_range_time" />
                    </div>
                </div>
                <hr />
                <div class="row row2">
                    <div class="col-md-3">
                        <button onclick="javascript: ofilm_video_view.searchGrid();" type="button" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
                        </button>
                        <button onclick="javascript: ofilm_video_view.editDialog(0);" type="button" class="btn btn-default">
                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_video_view" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">Thao tác</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Video Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">User Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Bắt đầu</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Kết thúc</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày tạo</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Ngày cập nhật</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/oze/film_video_view.js"></script>
<script type="text/javascript">
    var $table;
    var ofilm_video_view = new film_video_view();
    $(document).ready(function () {
        ofilm_video_view.setupGrid();
        $("#search_film_video_view_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video_view.searchGrid();
            }
        });
    });
</script>