﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Thống kê lượt xem - LalaTV CMS";
    Layout = "~/Views/Shared/_Root.cshtml";
    List<film_catalog> list_catalog = new film_catalogService().GetAllItem(null);
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="row row1">
                    <div class="col-md-3">
                        <label for="catalog">Tìm kiếm theo tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Search" name="search_film_video_view_title" id="search_title" />
                    </div>
                    <div class="col-md-2">
                        <label for="status">Trạng thái</label>
                        <select style='' class='form-control selection' id='search_status'>
                            <option value="-1">Tất cả</option>
                            <option value="0">Nháp</option>
                            <option value="1">Chờ duyệt</option>
                            <option value="2">Đã duyệt</option>
                            <option value="3">Từ chối duyệt</option>
                            <option value="4">Đã cập nhật ảnh</option>
                            <option value="5">Đang convert</option>
                            <option value="6">Cập nhật ảnh lỗi</option>
                            <option value="7">Quá hạn</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="status">Loại</label>
                        <select style='' class='form-control selection' id='search_type'>
                            <option value="-1">Tất cả</option>
                            <option value="0">Phim lẻ</option>
                            <option value="1">Phim bộ</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="status">Danh mục</label>
                        <select style='' class='form-control selection' id='search_catalog'>
                            <option value="-1">Tất cả</option>
                            @{
                                for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                                {
                                    string sTitlexxx = list_catalog[jx].title.ToString();
                                    string sIdxxx = list_catalog[jx].Id.ToString();
                                    string sSelected = "";
                                    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="time_range">Tìm theo khoảng thời gian</label>
                        <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="sTimeRange" id="search_range_time" />
                    </div>
                </div>
                <hr />
                <div class="row row2">
                    <div class="col-md-3">
                        <button onclick="javascript: o_view_video.searchGrid();" type="button" class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
                        </button>
                        <button onclick="javascript: o_view_video.editDialog(0);" type="button" class="btn btn-default">
                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                        </button>
                    </div>
                    @*Xuất báo cáo*@
                    <div class="col-md-3">
                        <button onclick="javascript: o_view_video.export_all();" type="button" class="btn btn-danger" id="export_all" name="export_all">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i> Xuất tất cả
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_view_video" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">
                <input type="checkbox" id="check_all" name="check_all">
            </th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Video</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tên video</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Xuất bản</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Trạng thái</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">48h trước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">7 ngày trước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">30 ngày trước</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Tổng lượt xem</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/oze/film_video_view.js"></script>
<script type="text/javascript">
    var $table;
    var o_view_video = new view_video();
    $(document).ready(function () {
        o_view_video.setupGrid();
        $("#search_title").keypress(function (e) {
            if (e.which == 13) {
                o_view_video.searchGrid();
            }
        });
    });
</script>