﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <video height="600" id="video" controls width="100%"></video>
    <script>
        if(Hls.isSupported()) {
          var video = document.getElementById('video');
          var hls = new Hls();
          hls.loadSource('@Model.upload_file');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
       }
       // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
       // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
       // This is using the built-in support of the plain video element, without using hls.js.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = '@Model.upload_file';
          video.addEventListener('canplay',function() {
            video.play();
          });
        }
    </script>
</section>
<section>                
		<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tên</label>   <div class='col-sm-10'>@Model.title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Nội dung </label>   <div class='col-sm-10'>@Model.desc    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label>   <div class='col-sm-10'>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Năm phát hành</label>   <div class='col-sm-10'>@Model.publish_year    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Quốc gia phát hành</label>   <div class='col-sm-10'>@Model.publish_countryid_title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thời lượng</label>   <div class='col-sm-10'>@Model.duration    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Diễn viên</label>   <div class='col-sm-10'>@Model.actor    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Đạo diễn</label>   <div class='col-sm-10'>@Model.director    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thể loại</label>   <div class='col-sm-10'>@Model.film_type</div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tổng số tập</label>   <div class='col-sm-10'>@Model.episode    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tập đang chiếu</label>   <div class='col-sm-10'>@Model.episode_current    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Số HĐBQ</label>   <div class='col-sm-10'>@Model.contract_copyright    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày HH HĐ</label>   <div class='col-sm-10'>@Model.contract_exprired.ToString("dd/MM/yyyy HH:mm")  </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phụ lục HĐ</label>   <div class='col-sm-10'>@Model.contract_appendix    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phụ lục bản quyền</label>   <div class='col-sm-10'>@Model.copyright_appendix    </div></div>
    @if(Model.copyright_expired != null){
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày hết hạn bản quyền</label><div class='col-sm-10'>@Model.copyright_expired.ToString("dd/MM/yyyy HH:mm")</div></div>
    }
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Thể loại</label>   <div class='col-sm-10'>@Model.catalog_id_title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Link FILE</label>   <div class='col-sm-10'>@Model.upload_file    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ảnh đại diện</label>   <div class='col-sm-10'><img src="@Model.thumb_file" width="100" height="100"/> </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Độc quyền?</label>   <div class='col-sm-10'><input type=checkbox id='film_video_exclusive'  value='film_video_exclusive' @(Model.exclusive=="0"?"":"checked")) disabled=disabled style='width:1px;' /></div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Giá</label>   <div class='col-sm-10'>@Model.price    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Trạng thái</label>   <div class='col-sm-10'>@Model.status </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>CP</label>   <div class='col-sm-10'>@Model.cpid_title</div></div>        
</section>