﻿@using lamlt.data
@using lamlt.web.Services
<br/>
    <div class="nav-tabs-custom" style="margin-bottom:5px">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
            <li id="liAddNew" style="float:right;margin-top:10px">
                <button onclick="javascript: ofilm_video.edits(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                    <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
                </button>
            </li>
        </ul>

    </div>
    <section>
            CP:<select style='width:150px !important' class='selection' id='search_film_video_cpid'>
    @if (lamlt.web.Services.comm.GetCPId() == 7)
    {
        <option value="7">lalatv</option>
    }
    else if (lamlt.web.Services.comm.GetCPId() == 5)
    {
        <option value="5">Hồng Ân CP</option>

    }
    else
    {
        <option value="-1" selected>--Tất cả--</option>

    }

    @*{
                List<film_cp> dtILM_CPilm_cp = new film_cpService().GetAllItem(null);
                for (int jx = 0; jx <= dtILM_CPilm_cp.Count - 1; jx++)
                    {
                        string sTitlexxx = dtILM_CPilm_cp[jx].title.ToString();
                        string sIdxxx = dtILM_CPilm_cp[jx].Id.ToString();
                        string sSelected = "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
        }*@

</select>
            <span class="text-right">
            <i class="glyphicon glyphicon-search"></i>
            <input type='text' style="width:300px;border-radius:5px; text-align:center;margin: 0 30px 0 0;" placeholder="Search" name='search_film_video_title' id='search_film_video_title' size='1' /></span>
    </section>
    
<table id="example_film_video" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;' >Nội dung </th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Format</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Năm phát hành</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Quốc gia phát hành</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thời lượng</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Diễn viên</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Đạo diễn</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Loại</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Thể loại</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ảnh đại diện</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Độc quyền?</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Giá</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
         <th class='grid-cell char' kind='char' style='cursor: pointer;'>CP</th>
        <th class='grid-cell selector'>Thao tác</th>            
        </tr>
    </thead>
</table>    

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_video.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_video = new film_video();
    $(document).ready(function () 
    {
        //toggleMenu("menu_kho");
        ofilm_video.setupGrid();
        $("#search_film_video_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video.searchGrid();
            }
        });
        
    });
    // check cp hiện thị
    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
    {
        ofilm_video.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        ofilm_video.getImageupdate(id);
    }
</script>