﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
	<form id='formdownload' action='javascript:void();'>
		@Html.AntiForgeryToken()
	   <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>ID</label><div class='col-sm-10'><input  readonly='readonly' type='text' maxlength='500' required='1'  kind='char'  class='form-control requiredfield number'  name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tiêu đề</label><div class='col-sm-10'><input  type='text' maxlength='500' required='1'  kind='char'  class='form-control requiredfield'  name='title' id='title' size='1' value='@Model.title'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Lệnh</label><div class='col-sm-10'><input  type='text' required='1'  kind='char'  class='form-control requiredfield'  name='cmd' id='cmd' size='1' value='@Model.cmd'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tình trạng</label><div class='col-sm-10'><input  type='text' maxlength='500' required='1'  kind='char'  class='form-control requiredfield'  name='status' id='status' size='1' value='@Model.status'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo</label><div class='col-sm-10'><div class='input-group input-group-sm date-add-picker_fdate_full'><input  type='text' maxlength='500' required='1'  kind='char'  class='form-control requiredfield date'  name='datecreated' id='datecreated' size='1' value='@Model.datecreated'> </div>    </div></div>
	</form>
</section>