﻿@{
    ViewData["Title"] = "download";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
        <li id="liAddNew" style="float:right;margin-top:10px">
            <button onclick="javascript: odownload.editDialog(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
            </button>
        </li>
    </ul>

</div>
<section>
    title:<input type='text' class='form-control' maxlength='200' name='search_download_title' id='search_download_title' size='1' />
</section>
<table id="example_download" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Lệnh</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tình trạng</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            <th class='grid-cell selector'>Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/download.js"></script>

<script type="text/javascript">
    var $table;

</script>