﻿@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id="formfilm_drm" action="javascript:void();">
        @Html.AntiForgeryToken()
        <div class="form-group row"><label for="id" class="col-sm-2 control-label">ID</label><div class="col-sm-10"><input readonly="readonly" type="text" class="form-control " name="id" id="id" size="1" value="@Model.id">    </div></div>
        <div class="form-group row"><label for="name" class="col-sm-2 control-label">Name</label><div class="col-sm-10"><input type="text" class="form-control " name="name" id="name" size="1" value="@Model.name">    </div></div>
        <div class="form-group row">
            <label for="userid" class="col-sm-2 control-label">User ID</label>
            <div class="col-sm-10">
                @*<input type="text" class="form-control " name="userid" id="userid" size="1" value="@Model.userid">*@
                <select class="form-control" id="userid" name="userid">
                    @{
                        List<film_drm> listFilmDrm = new film_drm_service().Getfilm_drms(null);
                        for (int jx = 0; jx <= listFilmDrm.Count - 1; jx++)
                        {
                            string userIdDrm = listFilmDrm[jx].userid.ToString();
                            int userIdDrm1 = listFilmDrm[jx].userid;
                            string sSelected = (userIdDrm1 == Model.userid) ? "selected" : "";
                            <option value="@userIdDrm1" @sSelected>@userIdDrm</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row"><label for="key" class="col-sm-2 control-label">Key</label><div class="col-sm-10"><input type="text" class="form-control " name="key" id="key" size="1" value="@Model.key">    </div></div>
        <div class="form-group row"><label for="metadata" class="col-sm-2 control-label">Meta Data</label><div class="col-sm-10"><input type="text" class="form-control " name="metadata" id="metadata" size="1" value="@Model.metadata">    </div></div>
        <div class="form-group row"><label for="note" class="col-sm-2 control-label">Note</label><div class="col-sm-10"><input type="text" class="form-control " name="note" id="note" size="1" value="@Model.note">    </div></div>
    </form>
</section>
<script>
    $(document).ready(function () {
        $("#datecreate").datetimepicker({ format: "MM/DD/YYYY" });
        $("#datesubcribe").datetimepicker({ format: "MM/DD/YYYY" });
    });
</script>