﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">ID</label>   <div class="col-sm-10">@Model.id    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">Name</label>   <div class="col-sm-10">@Model.name    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">User ID</label>   <div class="col-sm-10">@Model.userid    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">Key</label>   <div class="col-sm-10">@Model.key    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">Metadata</label>   <div class="col-sm-10">@Model.metadata    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">Date Create</label>   <div class="col-sm-10">@Model.datecreate    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">Date Subcribe</label>   <div class="col-sm-10">@Model.datesubcribe    </div></div>
    <div class="form-group row">   <label for="lblnameks" class="col-sm-2 control-label">Note</label>   <div class="col-sm-10">@Model.note    </div></div>
</section>