﻿@{
    ViewData["Title"] = "Cài đặt - Quản lý Phim DRM";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_drm">Tìm kiếm theo tiêu đề</label>
                    <input type="text" class="form-control" name="search_drm" id="search_drm" size="1" />
                    <button onclick="javascript: ofilm_drm.searchGrid(0);" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: ofilm_drm.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_drm" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell selector">Thao tác</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">ID</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Name</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">User ID</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Key</th>
            @*<th class="grid-cell char" kind="char" style="cursor: pointer;">Meta Data</th>*@
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Date Created</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Date Subcribe</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Note</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_drm.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_drm = new film_drm();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_drm.setupGrid();
        $("#search_drm").keypress(function (e) {
            if (e.which == 13) {
                ofilm_drm.searchGrid();
            }
        });
    });
</script>