﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Chỉnh sửa " + Model.title;
    Layout = "~/Views/Shared/_Root.cshtml";
    //var list_cp = new film_cpService().GetViewAllItem(null);
}
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<style>
    .btn {
        min-width: 80px;
    }
    .active .mainn {
        color: #fff;
    }

    .ui-widget-header {
        background: #cedc98;
        border: 1px solid #DDDDDD;
        color: #333333;
        font-weight: bold;
    }

    .progress-label {
        position: absolute;
        left: 50%;
        top: 13px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }

    .bg-success {
        background: #28a745 !important;
        background-image: none;
    }

    .red {
        color: red;
    }

    #srt, #live_edit {
        font-family: monospace;
    }

    #example_film_video_processing_transcript_wrapper textarea {
        color: #000 !important;
    }

    #tblSrt {
        overflow-y: auto;
        height: 50vh; /* !!!  HEIGHT MUST BE IN [ vh ] !!! */
    }

        #tblSrt thead th {
            border-bottom: 1px solid #000;
            position: sticky;
            top: 0;
            color: #fff;
        }

    .newtr td {
        background: #f39c12;
    }
</style>
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @if (Model.title != null)
            {
                <a aria-expanded="true" class="">Chỉnh sửa @Model.title</a>
            }
            else
            {
                <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search" @*aria-expanded="true"*@ class="">Thêm mới</a>
            }
        </div>
        <form id='formfilm_video_processing' action='javascript:void();' class="needsclick">
            <div class="panel-collapse collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                                <label for="title">Tên bài hát (*)</label><input type="text" class="form-control" title="Tiêu đề" name="title" id="title" value="@Model.title" />
                            </div>
                            <div class="form-group other">
                                <label for="lyric">Lyric Google</label><a id="saveLyricGG">&nbsp;&nbsp;&nbsp; <i class="fa fa-save"></i>&nbsp;Lưu Lyric</a><textarea type="text" class="form-control" name="lyric" id="lyric" rows="22">@Model.lyric</textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtUpload">Upload File</label><input type="file" accept="*.xlsx, *.xls" class="form-control" title="file bài hát" name="upload_file1" id="upload_file1" />
                                <div class="progress" style="display:none"><div id="progressbar-5" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
                            </div>
                            <div class="form-group other">
                                <label for="duration">Thời lượng (giây)</label><input type="text" class="form-control" name="duration" id="duration" value="@Model.duration" />
                                <label for="video_type">Video Type</label><input type="text" class="form-control" name="video_type" id="video_type" value="@Model.video_type" />
                                <label for="catalog_id">Danh mục phim (*)</label>
                                <select class="form-control" id="catalog_id" name="catalog_id">
                                    @{
                                        List<film_catalog> dtILM_CATALOGilm_catalog_catalog_id = new film_catalogService().GetAllItem(null);
                                        for (int jx = 0; jx <= dtILM_CATALOGilm_catalog_catalog_id.Count - 1; jx++)
                                        {
                                            string sTitlexxx = dtILM_CATALOGilm_catalog_catalog_id[jx].title.ToString();
                                            int sIdxxx = dtILM_CATALOGilm_catalog_catalog_id[jx].Id;
                                            string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                                        }
                                    }
                                </select>
                                <label for="publish_year">Năm phát hành</label><input type="text" class="form-control" name="publish_year" id="publish_year" value="@Model.publish_year">
                                <label for="copyright_appendix">Phụ lục bản quyền</label><input type="text" class="form-control" name="copyright_appendix" id="copyright_appendix" value="@Model.copyright_appendix" />
                                <label for="copyright_expired">Ngày hết hạn bản quyền</label><input type="text" class="form-control " name="copyright_expired" id="copyright_expired" value="@Model.copyright_expired">
                                <label for="price">Giá</label><input type="text" class="form-control" name="price" id="price" value="@Model.price">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="desc">Mô tả</label><textarea type="text" class="form-control" name="desc" id="desc" rows="1">@Model.desc</textarea>
                                <label for="lblnameks">Mã code</label><input type="text" class="form-control" name="code" id="code" value="@Model.code" />
                            </div>
                            <div class="form-group other">
                                <label for="director">Nhạc sĩ (*)</label><input type="text" class="form-control" name="director" id="director" value="@Model.director" />
                                <label for="actor">Diễn viên (*)</label><input type="text" class="form-control" name="actor" id="actor" value="@Model.actor" />
                                <label for="contract_copyright">Số HĐBQ</label><input type="text" class="form-control" name="contract_copyright" id="contract_copyright" value="@Model.contract_copyright" />
                                <label for="contract_appendix">Phụ lục HĐ</label><input type="text" class="form-control" name="contract_appendix" id="contract_appendix" value="@Model.contract_appendix" />
                                <label for="tags">Tags</label><input type="text" class="form-control" name="tags" id="tags" value="@Model.tags" />
                                <label for="status">Trạng thái</label><input type="text" class="form-control" name="status" id="status" value="@Model.status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col_srt">
                        <label for="srt">Kết quả</label>
                        <textarea type="text" class="form-control" name="srt" id="srt" rows="20">@Model.srt</textarea>
                        <textarea type="text" style="display:none" class="form-control" name="live_edit" id="live_edit" rows="20">@Model.srt</textarea>
                    </div>
                    <div class="col-md-8 col_preview">
                        <div class="hide">
                            <label for="json">Nội dung đã được phân tích (json)</label>
                            <textarea type="text" class="form-control" name="json" id="json" rows="10">@Model.json</textarea>
                        </div>
                        <label for="file_upload">File video đã upload</label>
                        <div class="progress-label"></div>
                        <input type="text" class="form-control" title="file bài hát" name="upload_file" id="upload_file" value="@Model.upload_file" />
                        <video id="editvideo" controls class="video-js" preload="auto" style="width:100%;height:380px">
                            <source src="@Model.upload_file" type="video/mp4" />
                            Trình duyệt của bạn không hỗ trợ thẻ video, vui lòng sử dụng Chrome hoặc Firefox phiên bản mới nhất
                        </video>
                        <div id="noidung">
                            Xem trước:
                            <span id="preview_sub"></span>
                        </div>
                    </div>
                </div>
                <div id="divsub" class="col-md-12">
                    <table id="tblSrt" class="table table-striped header-fixed" style="height:315px">
                        <thead>
                            <tr class="active">
                                <th>#</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success" id="btnRebuild">Lưu lại</a>
                    <a class="btn btn-success" id="btnRebuildLive" style="display:none;">Lưu lại</a>
                    <input type="hidden" id="file_live_edit" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="list_video_processing_transript"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button type="button" id="backupfilm_video_processing" class="btn btn-danger">Trở lại</button>&nbsp;
                    <button type="button" id="btnSavefilm_video_processing" class="btn btn-primary">Lưu</button>
                </div>
            </div>
            <br />
        </form>
    </div>
</div>
<style>
    .stt {
        width: 80%;
        float: right;
    }

    td.col-xs-1 a i.fa.fa-plus {
        margin-top: 10px;
    }

    .active td.col-xs-1 a i.fa.fa-plus {
        color: #fff;
    }

    div#noidung {
        position: absolute;
        bottom: 80px;
        background: #99999952;
        padding: 10px;
        font-size: 20px;
        color: red;
        margin: 0 auto;
        width: 96.5%;
        border: 1px solid #337ab794;
    }

    .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
        background-color: #428bca;
    }

    span#preview_sub {
        color: #fff;
        background: red;
        padding: 5px;
    }
</style>
<script src="~/Scripts/oze/film_video_processing.js"></script>
<script>
    var ofilm_video_processing = new film_video_processing();
    function srtToSeconds(srt) {
        if (srt == "") {
            return;
        }
        var arr = srt.split(":");
        var hours = arr[0];
        var minutes = arr[1];
        var seconds = arr[2].replace(',', '.');
        return parseFloat(hours) * 60 * 60 + parseFloat(minutes) * 60 + parseFloat(seconds);
    }

    $(document).ready(function () {
        localStorage.setItem("live_edit", false);
        function formatTime(seconds) {
            return [
                parseInt(seconds / 60 / 60),
                parseInt(seconds / 60 % 60),
                parseInt(seconds % 60)
            ]
                .join(":")
                .replace(/\b(\d)\b/g, "0$1")
        }
        function encodeHTML(str) {
            str = str.replace(/¢/g,"&cent;");
            str = str.replace(/¥/g,"&yen;");
            str = str.replace(/£/g,"&pound;");
            str = str.replace(/€/g,"&euro;");
            str = str.replace(/©/g,"&copy;");
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace( />/g, '&gt;').replace(/"/g, '&quot;').replace(/'/g, '&apos;');
        }
        
        function setPreview() {
            
            var srt = $("#srt").val();
            var dulieu_srt = "";
            if (srt != "") {
                var datas = srt.split("\n\n");
                datas.forEach(function (item) {
                    if (item != "") {
                        let line = item.split("\n");
                        if (line[2].includes('[UU]:')) {
                            line[2] = line[2].replace('[UU]:',"S0:");
                        }
                        if (line[2].includes('[S1]:')) {
                            line[2] = line[2].replace('[S1]:', "S1:");
                        }if (line[2].includes('[S2]:')) {
                            line[2] = line[2].replace('[S2]:', "S2:");
                        }if (line[2].includes('[S2]:')) {
                            line[2] = line[2].replace('[S3]:', "S3:");
                        }
                        let match = line[2].match(/S\d:/ig);
                        let speaker = '';
                        let speaker_td = '<td class="col-xs-1"><lable>';
                        let speaker_td1 = '</lable></td>';
                        if (match != null && match.length) {
                            console.log(match[0]);
                            speaker = speaker_td + match[0].replace("S", "Speaker ") + speaker_td1;
                            // Xóa người nói trong lyric
                            line[2] = line[2].replace(match[0] +" ", "");
                        }
                        let time = line[1].split(" -->");
                        let batdau = time[0].trim();
                        let ketthuc = time[1].trim();
                        dulieu_srt += "<tr class='d-flex " + batdau.replace(/,\d\d\d/g, "").replace(/:/g, "_") + "' id='" + line[0] + "'><td class='col-xs-1'><a id='" + line[0] + "'><i class='fa fa-plus'></i></a><p class='stt form-control1 mainn'>" + line[0] + "</p></td><td class='col-xs-1'><p class='form-control1 mainn'>" + batdau + "</p></td><td class='col-xs-1'><p class='form-control1 mainn'>" + ketthuc + "</p></td><td class='col-xs-4'><p class='form-control1 mainn' tabindex='" + line[0] + "'>" + encodeHTML(line[2]) + "</p></td></tr>";
                    }
                });
                $("#tblSrt > tbody").append(dulieu_srt);
                var currentText;
                var nextThis;
                $("#tblSrt tr td.col-xs-1 a").click(function () {
                    $("tr#" + $(this).attr("id")).after("<tr class='d-flex newtr' id=''><td class='col-xs-1'><a id=''></a><p class='stt form-control1 mainn'></p></td><td class='col-xs-1'><p class='form-control1 mainn'></p></td><td class='col-xs-1'><p class='form-control1 mainn'></p></td><td class='col-xs-4'><p class='form-control1 mainn'></p></td></tr>");
                });
                $("tr").click(function () {
                    currentText = $(this).children("td:nth-child(5)").children("p");
                    $("tbody tr").removeClass("active");
                    $(this).addClass("active");
                    nextThis = $(this).attr("id");
                    let batdau = $(this).children("td:nth-child(2)").children("p").html();
                    let noidung = $(this).children("td:nth-child(5)").children("p").html();
                    $("#preview_sub").html(noidung);
                    if (batdau) {
                        document.getElementById("editvideo").currentTime = srtToSeconds(batdau);
                    }
                });
                $("p").keypress(function (e) {
                    if (e.keyCode == 9) {
                        $("tbody tr").removeClass("active");
                        $(this).addClass("active");
                    }
                    let noidung = $('tr.active').children("td:nth-child(5)").children("p").html();
                    $("#preview_sub").html(noidung);
                });
                $("p").focusout(function (e) {
                    let noidung = $('tr.active').children("td:nth-child(5)").children("p").html();
                    $("#preview_sub").html(noidung);
                });

            } else {
                $("#divsub").hide();
            }
            $("#btnRebuild").click(function () {
                let live_edit = localStorage.getItem("live_edit");
                var all_input = $("tr p.mainn");
                var newsrt = "";
                let stt = 1;
                for (var i = 0; i < all_input.length; i += 4) {
                    if (all_input[(i + 1)].value != "") {
                        newsrt += stt + "\n" + all_input[(i + 1)].value.trim() + " --> " + all_input[(i + 2)].value.trim() + "\n" + all_input[(i + 3)].value.trim() + "\n\n";
                        stt++;
                    }
                }
                //console.log(newsrt);
                if (live_edit) {
                    $("#srt").val(newsrt);
                    $("#live_edit").hide();
                } else {
                    $("#live_edit").show();
                    $("#live_edit").val(newsrt);
                }
                showToast("Đã lưu lại thành công","success");
                var srt = $("#srt").val();
                var dulieu_srt = "";
                if (srt != "") {
                    var datas = srt.split("\n\n");
                    datas.forEach(function (item) {
                        if (item != "") {
                            let line = item.split("\n");
                            let time = line[1].split(" -->");
                            let batdau = time[0].trim();
                            let ketthuc = time[1].trim();
                            dulieu_srt += "<tr class='d-flex " + batdau.replace(/,\d\d\d/g, "").replace(/:/g, "_") + "' id='" + line[0].trim() + "'><td class='col-xs-1'><a id='" + line[0].trim() + "'><i class='fa fa-plus'></i></a><input type='text' class='stt form-control' value='" + line[0].trim() + "'></td><td class='col-xs-1'><input type='text' class='form-control' value='" + batdau + "'></td><td class='col-xs-1'><input type='text' class='form-control' value='" + ketthuc + "'></td><td class='col-xs-4'><input type='text' class='form-control' tabindex='" + line[0].trim() + "' value='" + encodeHTML(line[2].trim()) + "'></td></tr>";
                        }
                    });
                    $("#tblSrt > tbody").html("");
                    $("#tblSrt > tbody").append(dulieu_srt);
                }
                //setTimeout(function () { location.reload() }, 2000);
            });
            $("#btnRebuildLive").click(function () {
                let all_input = $("tr input");
                let newsrt = "";
                let stt = 1;
                for (var i = 0; i < all_input.length; i += 4) {
                    if (all_input[(i + 1)].value != "") {
                        newsrt += stt + "\n" + all_input[(i + 1)].value.trim() + " --> " + all_input[(i + 2)].value.trim() + "\n" + all_input[(i + 3)].value.trim()+ "\n\n";
                        stt++;
                    }
                }
                //console.log(newsrt);
                $("#live_edit").val(newsrt);
                var fileSrt = $("#file_live_edit").val().replace("http://27.76.152.255:13000/vn:9090/hg_project_sub/", "");
                fileSrt = fileSrt.replace("https://files.lalatv.com.vn:9090/hg_project_sub/", "");
                if (newsrt == "") {
                    showToast("Yêu cầu nhập nội dung", "error");
                    $("#live_edit").focus();
                    return false;
                }
                $.ajax({
                    url: "/film_transcript/gen_srt",
                    method: "post",
                    data: {
                        file_srt: fileSrt,
                        content: newsrt,
                    },
                    success: function (data) {
                        showToast("Cập nhật thành công", "success");
                        //setTimeout(function () { location.reload()}, 2000);
                    },
                    error: function (xhr) { console.log(xhr.responseText); showToast("Lỗi cập nhật","error"); },
                });
                let srt = $("#live_edit").val();
                let dulieu_srt = "";
                if (srt != "") {
                    let datas = srt.split("\n\n");
                    datas.forEach(function (item) {
                        if (item != "") {
                            let line = item.split("\n");
                            let time = line[1].split(" -->");
                            let batdau = time[0].trim();
                            let ketthuc = time[1].trim();
                            dulieu_srt += "<tr class='d-flex " + batdau.replace(/,\d\d\d/g, "").replace(/:/g, "_") + "' id='" + line[0].trim() + "'><td class='col-xs-1'><a id='" + line[0].trim() + "'><i class='fa fa-plus'></i></a><input type='text' class='stt form-control' value='" + line[0].trim() + "'></td><td class='col-xs-1'><input type='text' class='form-control' value='" + batdau + "'></td><td class='col-xs-1'><input type='text' class='form-control' value='" + ketthuc + "'></td><td class='col-xs-4'><input type='text' class='form-control' tabindex='" + line[0].trim() + "' value='" + encodeHTML(line[2].trim()) + "'></td></tr>";
                        }
                    });
                    $("#tblSrt > tbody").html("");
                    $("#tblSrt > tbody").append(dulieu_srt);
                }
            });
            var vid = document.getElementById("editvideo");

            vid.ontimeupdate = function () {
                let lstInput = $("tr").children("td:nth-child(2)").children("p");
                var currentPlayTime = formatTime(vid.currentTime).replace(/,\d\d\d/g, "").replace(/:/g, "_");
                $("tr").removeClass("currentPlay");
                $("tr." + currentPlayTime).addClass("active").addClass("currentPlay");
                let noidung = $('tr.currentPlay').children("td:nth-child(5)").children("p").html();
                $("#preview_sub").html(noidung);
            };
            getSub();
        }
        function getSub() {
            let subajax = $.ajax({
                type: 'GET',
                url: '/film_video_processing_transcript/getListByvideo_processing_id/' + $('input#Id').val(),
                data: {
                    video_processing_id: $('input#Id').val()
                },
                success: function (data) {
                    if (data.data.length > 0) {
                        let datatran = data.data[data.data.length - 1];
                        //console.log(datatran.transcript_desc);
                        if (datatran.transcript_desc != "") {
                            let datas_tran = datatran.transcript_desc.split("\n\n");
                            let tran_td = '';
                            let count = 1;
                            let dataSpeak = [];
                            $("#tblSrt > thead tr").append('<th>Kết quả dịch</th>');
                            datas_tran.forEach(function (item) {
                               // console.log(item);
                                if (item != "") {
                                    let line = item.split("\n");
                                    tran_td = "<td class='col-xs-4'><p class='form-control1'>" + encodeHTML(line[2].trim()) + "</p></td>";
                                    if (tran_td.includes('[UU]:')) {
                                        tran_td = tran_td.replace('[UU]:', "S0:");
                                    }
                                    if (tran_td.includes('[S1]:')) {
                                        tran_td = tran_td.replace('[S1]:', "S1:");
                                    } if (tran_td.includes('[S2]:')) {
                                        tran_td = tran_td.replace('[S2]:', "S2:");
                                    } if (tran_td.includes('[S2]:')) {
                                        tran_td = tran_td.replace('[S3]:', "S3:");
                                    }
                                    let match = tran_td.match(/S\d:/ig);
                                    let speaker = '';
                                    //let speaker_td = '<td class="col-xs-1"><lable>';
                                    //let speaker_td1 = '</lable></td>';
                                    if (match != null && match.length) {
                                        console.log(match[0]);
                                        speaker = match[0].replace("S", "Người ");
                                        dataSpeak.push(match[0].replace("S", "Người "));
                                        // Xóa người nói trong lyric
                                        tran_td = tran_td.replace(match[0] + " ", "");
                                    }
                                    $("#tblSrt > tbody tr#" + count).append(tran_td + speaker);
                                    count++;
                                }
                            });
                            $('#tblSrt').find('thead tr th:nth-child(3)').each(function (aa) {
                                $(this).after('<th class="col-xs-1">Người nói</th>');
                            });
                            let index_speaker = 0;
                            $('#tblSrt').find('tbody tr td:nth-child(3)').each(function () {
                                $(this).after('<td class="col-xs-1">' + dataSpeak[index_speaker]+'</td>');
                            });
                            //console.log(tran_td);
                            //$("#tblSrt > tbody").html("");
                            //$("#tblSrt > tbody").append(dulieu_srt);
                        }
                    }
                }
            });
        }
        function genSpeaker() {

        }
        setPreview();
        $(".selection").select2({
            placeholder: "═══ Chọn 1 option ═══",
        });
        $(".date_format").datetimepicker({ format: "MM/DD/YYYY h:mm:ss A" })
        $("#btnSavefilm_video_processing").click(function () {
            ofilm_video_processing.updateEdit(@Model.Id);
        });
        jQuery("#backupfilm_video_processing").click(function () {
            window.location.href = "/film_video_processing";
        });
        $("#upload_file1").change(function () {
            var file = $('#upload_file1')[0].files[0];
            ofilm_video_processing.upload_file();
        });
        var video_processing_id = $("#Id").val();
        ofilm_video_processing.get_transcript(video_processing_id);
        $("#btnConvert").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error");
            } else {
                //console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/Convert_Sub",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        from: $("#speech_from").val()
                    },
                    success: function (data) {
                        showToast(data,"success");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
            }
        });
        $("#saveLyricGG").on("click", function () {
            if ($('#lyric').val().length == 0) {
                showToast("Yêu cầu nhập nội dung cho lyric", "error");
            } else {
                $.ajax({
                    url: "/film_video_processing/SaveLyricGoogle",
                    method: "POST",
                    data: {
                        id: video_processing_id,
                        lyric_google: $("#lyric").val()
                    },
                    success: function (data) {
                        showToast(data, "success");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
            }
        });
        let hide_upload_file = $("#upload_file").val();
        var upload_file = "";
        var video = $('video')[0];
        if (hide_upload_file.includes("/home/www/data/data/saigonmusic/")) {
            upload_file = hide_upload_file.replace("/home/www/data/data/saigonmusic/", "https://files.lalatv.com.vn:9090/hg_project/");
        } else if (hide_upload_file.includes("/hg_project")) {
            upload_file = hide_upload_file.replace("/hg_project", "https://files.lalatv.com.vn:9090/hg_project/");
        } else {
            upload_file = hide_upload_file;
        }
        video.src = upload_file;
        video.load();
        video.play();
    });
    /*========================= Ẩn thông tin ========================= */
    //console.log("video_type = " + localStorage.getItem("video_type"));
    switch (localStorage.getItem("video_type")) {
        case "other":
            $(".other").hide();
            $("#video_type").val("other");
            $('label[for=title]').html("Tên");
            $('label[for=srt]').html("Văn bản");
            $('label[for=file_upload]').html("Preview");
            $('label[for=txtUpload]').html("Upload");
            $('#btn_film_video_cp_owner').hide();
            $('#btnRebuild').hide();
            setTimeout(function () {
                //$('#example_film_video_processing_transcript').hide();
                //$("li#film_video_processing").removeClass("active");
                //$("li#film_video_processing_tran").addClass("active");
                $('span.glyphicon-info-sign').parent().html('<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#00a65a" ></span> Sửa văn bản');
                $('span.glyphicon-flash').parent().html('<span class="glyphicon glyphicon-flash" aria-hidden="true" style="color:#673AB7" ></span> Sửa trực tiếp');
                $('.glyphicon-edit').parent().remove();
                $('#btn_film_video_cp_owner').hide();
                $('#example_film_video_processing_transcript .sorting_1 a:nth-child(3)').hide();
                $('#example_film_video_processing_transcript .sorting_1 br').hide();
            }, 1000);
            break;
        case "film":
            setTimeout(function () {
                $('#btn_film_video_cp_owner').hide();
                $('#example_film_video_processing_transcript .sorting_1 br').hide();
                $('#example_film_video_processing_transcript .sorting_1 a:nth-child(3)').hide();
                $('#example_film_video_processing_transcript .sorting_1 a:nth-child(5)').hide();
                $('#example_film_video_processing_transcript .sorting_1 a:nth-child(7)').hide();
            }, 1500);
            break;
        case "denoiser":
            $(".other").hide();
            $("#video_type").val("denoiser");
            $('label[for=title]').html("Tên");
            $('label[for=srt]').html("Văn bản");
            $('label[for=file_upload]').html("Preview");
            $('label[for=txtUpload]').html("Upload");
            $('#btn_film_video_cp_owner').hide();
            $('#btnRebuild').hide();
            setTimeout(function () {
                $('.list_video_processing_transript').hide();
                //$("li#film_video_processing").removeClass("active");
                //$("li#film_video_processing_tran").addClass("active");
                $('span.glyphicon-info-sign').parent().html('<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#00a65a" ></span> Sửa văn bản');
                $('span.glyphicon-flash').parent().html('<span class="glyphicon glyphicon-flash" aria-hidden="true" style="color:#673AB7" ></span> Sửa trực tiếp');
                $('.glyphicon-edit').parent().remove();
                $('#btn_film_video_cp_owner').hide();
                $('#example_film_video_processing_transcript .sorting_1 a:nth-child(3)').hide();
                $('#example_film_video_processing_transcript .sorting_1 br').hide();
            }, 1000);
            break;
    }

    /*========================= Ẩn thông tin ========================= */
</script>
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>