﻿@{
    string datecreated = (Model.datecreated != null) ? Model.datecreated.ToString("dd/mm/yyyy") : "";
    string dateupdated = (Model.dateupdated != null) ? Model.dateupdated.ToString("dd/mm/yyyy") : "";
}
<div class="row">
    <div class="col-md-9">
        <div class="form-group">
            <input type="hidden" value="@Model.upload_file" id="hide_upload_file" />
            <input type="hidden" value="@Model.Id" id="Id" />
            <video id="upload_file" controls="" class="video-js" preload="auto" style="width:100%;height:360px">
                Trình duyệt của bạn không hỗ trợ thẻ video, vui lòng sử dụng Chrome hoặc Firefox phiên bản mới nhất
            </video>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" class="form-control" readonly name="title" id="title" value="@Model.title">
        </div>
        <div class="form-group">
            <label for="desc">Mô tả</label>
            <input type="text" class="form-control" readonly name="desc" id="desc" value="@Model.desc">
        </div>
        <div class="form-group">
            <label for="title">Code</label>
            <input type="text" class="form-control" readonly name="code" id="code" value="@Model.code">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="title">Nội dung đã phân tích&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="savefile"><i class="fa fa-save"></i> Lưu</a></label>
            <textarea id="txtSrc" class="form-control" rows="20"></textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="title">Kết quả đã dịch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="savefiletran"><i class="fa fa-save"></i> Lưu</a></label>
            <textarea id="txtRs" class="form-control" rows="20"></textarea>
        </div>
    </div>
</div>
<script>
    $(function () {
        let proId = $('#Id').val();
        $('#savefile').hide();
        $('.modal-title').html('<i class="fa fa-spinner fa-spin"></i> Đang lấy kết quả...');
        $('#savefiletran').hide();
        $(".modal-dialog.modal-lg").css("width", "75%");
        if ($("#hide_upload_file").length > 0) {
            let hide_upload_file = $("#hide_upload_file").val();
            var upload_file = "";
            var video = $("video")[0];
            if (hide_upload_file.includes("/home/www/data/data/saigonmusic/hg_wmg/warnermusic/")) {
                upload_file = hide_upload_file.replace("/home/www/data/data/saigonmusic/hg_wmg/warnermusic/", "http://1.53.252.34:13000/vod/mp3:");
            }else if (hide_upload_file.includes("/hg_project")) {
                upload_file = hide_upload_file.replace("/hg_project", "https://files.lalatv.com.vn:9090/hg_project/");
            } else {
                upload_file = hide_upload_file;
            }
            video.src = upload_file;
            video.load();
            video.play();
        }
        ReloadData();
        function ReloadData() {
            let check_have_data_srt = false;
            let check_have_data_tran = false;
            setInterval(function () {
                if (check_have_data_srt) {
                    if (check_have_data_tran) {
                        return;
                    } else {
                        $.ajax({
                            method: 'GET',
                            url: '/film_video_processing_transcript/getListByvideo_processing_id/' + proId,
                            success: function (data) {
                                //console.log(data);
                                if (data.data) {
                                    let datatran = data.data[data.data.length - 1];
                                    //console.log(datatran.transcript_keywords);
                                    if (datatran.transcript_keywords == null || datatran.transcript_keywords == undefined || datatran.transcript_keywords == "") { return; }
                                    if (datatran.transcript_keywords != "") {
                                        check_have_data_tran = true;
                                        $('#txtRs').html(datatran.transcript_keywords.replace("Transcript: ", ""));
                                        $('#savefiletran').show();
                                        $('.modal-title').html("<i class='fa fa-check'></i> Hoàn thành lấy dữ liệu");
                                    }
                                }
                            }
                        });
                    }
                    return;
                }
                $.ajax({
                    url: "/film_video_processing/get?id=" + proId,
                    method: 'GET',
                    success: function (data) {
                        //console.log(data);
                        if (data == null || data == undefined) { return; }
                        if (data.length > 0) {
                            if (data[0].json) {
                                console.log(data[0].json);
                                $('#txtSrc').html(data[0].json.replace("Transcript: ", ""));
                                check_have_data_srt = true;
                                $('.modal-title').html("<i class='fa fa-check'></i> Đã phân tích xong &nbsp;&nbsp;&nbsp; <i class='fa fa-spinner fa-spin'></i> Đang lấy dữ liệu dịch...");
                                $('#savefile').show();
                            } else {
                                $('.modal-title').html("<i class='fa fa-spinner fa-spin'></i> Đang phân tích");
                            }
                        } else {
                        }
                    },
                    error: function (xhr) { alert(xhr.responseText); },
                });
            }, 2000);
        }
        $('#savefile').click(function () {
            SaveFile();
        });
        $('#savefiletran').click(function () {
            SaveFileTran();
        });
        function SaveFile() {
            var blob = new Blob([$('#txtSrc').val()],
                { type: "text/plain;charset=utf-8" });
            saveAs(blob, "source.txt");
        }
        function SaveFileTran() {
            var blob = new Blob([$('#txtRs').val()],
                { type: "text/plain;charset=utf-8" });
            saveAs(blob, "translated.txt");
        }



        
    });
    // End ready
</script>