﻿@using lamlt.data
@using lamlt.web.Services
@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
    film_catalogService film_catalogSV = new film_catalogService(); List<vw_film_catalog> list_catalog = film_catalogSV.GetViewAllItem(null);
}
<form id='formfilm_video_processing' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tiêu đề (*)</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Upload File</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='upload_file' id='upload_file' size='1' value='@Model.upload_file'>    </div></div>
    <div class='form-group row'>
        <label for='lblnameks' class='col-sm-2 col-form-label'>Danh mục</label>
        <div class='col-sm-10'>
            <select class='selection form-control catalog_id' id='catalog_id' name='catalog_id' style="width:100%">
                @if (Model.catalog_id != null)
                {
                    for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                    {
                        string sTitlexxx = list_catalog[jx].title.ToString();
                        int sIdxxx = list_catalog[jx].Id;
                        string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
                else
                {
                    <option value="-1">────────── Tất cả ──────────</option>
                    for (int jx = 0; jx <= list_catalog.Count - 1; jx++)
                    {
                        string sTitlexxx = list_catalog[jx].title.ToString();
                        int sIdxxx = list_catalog[jx].Id;
                        string sSelected = (sIdxxx == Model.catalog_id) ? "selected" : "";
                        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Thời lượng(s)</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>    </div></div>
    <div class='form-group row'>
        <label for='status' class='col-sm-2 col-form-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <select class='selection form-control' name='status' id='status' style="width:100%">
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>
</form>






























@*<form id='formfilm_video_processing' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Desc</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate1</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate1' id='dateupdate1' size='1' value='@Model.dateupdate1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate2</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate2' id='dateupdate2' size='1' value='@Model.dateupdate2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate3</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate3' id='dateupdate3' size='1' value='@Model.dateupdate3'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate4</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate4' id='dateupdate4' size='1' value='@Model.dateupdate4'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate5</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate5' id='dateupdate5' size='1' value='@Model.dateupdate5'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate6</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate6' id='dateupdate6' size='1' value='@Model.dateupdate6'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Userid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='userid' id='userid' size='1' value='@Model.userid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Seriid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='seriid' id='seriid' size='1' value='@Model.seriid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Imdb</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='imdb' id='imdb' size='1' value='@Model.imdb'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Format</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='format' id='format' size='1' value='@Model.format'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Sub_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='sub_type' id='sub_type' size='1' value='@Model.sub_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_year</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_year' id='publish_year' size='1' value='@Model.publish_year'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_countryid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_countryid' id='publish_countryid' size='1' value='@Model.publish_countryid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Duration</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Actor</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='actor' id='actor' size='1' value='@Model.actor'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Director</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='director' id='director' size='1' value='@Model.director'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_type' id='film_type' size='1' value='@Model.film_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode' id='episode' size='1' value='@Model.episode'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_current</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_current' id='episode_current' size='1' value='@Model.episode_current'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_copyright</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_copyright' id='contract_copyright' size='1' value='@Model.contract_copyright'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_exprired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_exprired' id='contract_exprired' size='1' value='@Model.contract_exprired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_appendix' id='contract_appendix' size='1' value='@Model.contract_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_appendix' id='copyright_appendix' size='1' value='@Model.copyright_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_expired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_expired' id='copyright_expired' size='1' value='@Model.copyright_expired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog_id' id='catalog_id' size='1' value='@Model.catalog_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Upload_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='upload_file' id='upload_file' size='1' value='@Model.upload_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Trainer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='trainer' id='trainer' size='1' value='@Model.trainer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Thumb_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='thumb_file' id='thumb_file' size='1' value='@Model.thumb_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Exclusive</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='exclusive' id='exclusive' size='1' value='@Model.exclusive'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Price</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Cpid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='cpid' id='cpid' size='1' value='@Model.cpid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tags</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='tags' id='tags' size='1' value='@Model.tags'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_videocol</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_videocol' id='film_videocol' size='1' value='@Model.film_videocol'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banner_app</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banner_app' id='banner_app' size='1' value='@Model.banner_app'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Showhome</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='showhome' id='showhome' size='1' value='@Model.showhome'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_id' id='episode_id' size='1' value='@Model.episode_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>So_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='so_hd' id='so_hd' size='1' value='@Model.so_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Phuluc_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='phuluc_hd' id='phuluc_hd' size='1' value='@Model.phuluc_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaykiemduyet</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaykiemduyet' id='giaykiemduyet' size='1' value='@Model.giaykiemduyet'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaychungnhan</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaychungnhan' id='giaychungnhan' size='1' value='@Model.giaychungnhan'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banquyen</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banquyen' id='banquyen' size='1' value='@Model.banquyen'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayky_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayky_hd' id='ngayky_hd' size='1' value='@Model.ngayky_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayhethan_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayhethan_hd' id='ngayhethan_hd' size='1' value='@Model.ngayhethan_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Doitac</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='doitac' id='doitac' size='1' value='@Model.doitac'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>File_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='file_hd' id='file_hd' size='1' value='@Model.file_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog' id='catalog' size='1' value='@Model.catalog'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Language</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='language' id='language' size='1' value='@Model.language'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mv</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='mv' id='mv' size='1' value='@Model.mv'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Beat</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='beat' id='beat' size='1' value='@Model.beat'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Vocal</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='vocal' id='vocal' size='1' value='@Model.vocal'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Master</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='master' id='master' size='1' value='@Model.master'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Lyric</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='lyric' id='lyric' size='1' value='@Model.lyric'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_singer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_singer' id='contract_singer' size='1' value='@Model.contract_singer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_author</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_author' id='contract_author' size='1' value='@Model.contract_author'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Related_contract</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='related_contract' id='related_contract' size='1' value='@Model.related_contract'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Desc</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate1</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate1' id='dateupdate1' size='1' value='@Model.dateupdate1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate2</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate2' id='dateupdate2' size='1' value='@Model.dateupdate2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate3</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate3' id='dateupdate3' size='1' value='@Model.dateupdate3'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate4</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate4' id='dateupdate4' size='1' value='@Model.dateupdate4'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate5</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate5' id='dateupdate5' size='1' value='@Model.dateupdate5'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate6</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate6' id='dateupdate6' size='1' value='@Model.dateupdate6'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Userid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='userid' id='userid' size='1' value='@Model.userid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Seriid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='seriid' id='seriid' size='1' value='@Model.seriid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Imdb</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='imdb' id='imdb' size='1' value='@Model.imdb'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Format</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='format' id='format' size='1' value='@Model.format'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Sub_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='sub_type' id='sub_type' size='1' value='@Model.sub_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_year</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_year' id='publish_year' size='1' value='@Model.publish_year'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_countryid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_countryid' id='publish_countryid' size='1' value='@Model.publish_countryid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Duration</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Actor</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='actor' id='actor' size='1' value='@Model.actor'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Director</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='director' id='director' size='1' value='@Model.director'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_type' id='film_type' size='1' value='@Model.film_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode' id='episode' size='1' value='@Model.episode'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_current</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_current' id='episode_current' size='1' value='@Model.episode_current'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_copyright</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_copyright' id='contract_copyright' size='1' value='@Model.contract_copyright'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_exprired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_exprired' id='contract_exprired' size='1' value='@Model.contract_exprired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_appendix' id='contract_appendix' size='1' value='@Model.contract_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_appendix' id='copyright_appendix' size='1' value='@Model.copyright_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_expired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_expired' id='copyright_expired' size='1' value='@Model.copyright_expired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog_id' id='catalog_id' size='1' value='@Model.catalog_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Upload_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='upload_file' id='upload_file' size='1' value='@Model.upload_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Trainer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='trainer' id='trainer' size='1' value='@Model.trainer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Thumb_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='thumb_file' id='thumb_file' size='1' value='@Model.thumb_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Exclusive</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='exclusive' id='exclusive' size='1' value='@Model.exclusive'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Price</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Cpid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='cpid' id='cpid' size='1' value='@Model.cpid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tags</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='tags' id='tags' size='1' value='@Model.tags'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_videocol</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_videocol' id='film_videocol' size='1' value='@Model.film_videocol'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banner_app</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banner_app' id='banner_app' size='1' value='@Model.banner_app'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Showhome</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='showhome' id='showhome' size='1' value='@Model.showhome'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_id' id='episode_id' size='1' value='@Model.episode_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>So_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='so_hd' id='so_hd' size='1' value='@Model.so_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Phuluc_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='phuluc_hd' id='phuluc_hd' size='1' value='@Model.phuluc_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaykiemduyet</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaykiemduyet' id='giaykiemduyet' size='1' value='@Model.giaykiemduyet'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaychungnhan</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaychungnhan' id='giaychungnhan' size='1' value='@Model.giaychungnhan'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banquyen</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banquyen' id='banquyen' size='1' value='@Model.banquyen'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayky_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayky_hd' id='ngayky_hd' size='1' value='@Model.ngayky_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayhethan_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayhethan_hd' id='ngayhethan_hd' size='1' value='@Model.ngayhethan_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Doitac</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='doitac' id='doitac' size='1' value='@Model.doitac'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>File_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='file_hd' id='file_hd' size='1' value='@Model.file_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog' id='catalog' size='1' value='@Model.catalog'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Language</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='language' id='language' size='1' value='@Model.language'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mv</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='mv' id='mv' size='1' value='@Model.mv'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Beat</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='beat' id='beat' size='1' value='@Model.beat'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Vocal</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='vocal' id='vocal' size='1' value='@Model.vocal'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Master</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='master' id='master' size='1' value='@Model.master'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Lyric</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='lyric' id='lyric' size='1' value='@Model.lyric'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_singer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_singer' id='contract_singer' size='1' value='@Model.contract_singer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_author</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_author' id='contract_author' size='1' value='@Model.contract_author'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Related_contract</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='related_contract' id='related_contract' size='1' value='@Model.related_contract'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Desc</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdated' id='dateupdated' size='1' value='@Model.dateupdated'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate1</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate1' id='dateupdate1' size='1' value='@Model.dateupdate1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate2</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate2' id='dateupdate2' size='1' value='@Model.dateupdate2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate3</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate3' id='dateupdate3' size='1' value='@Model.dateupdate3'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate4</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate4' id='dateupdate4' size='1' value='@Model.dateupdate4'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate5</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate5' id='dateupdate5' size='1' value='@Model.dateupdate5'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate6</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate6' id='dateupdate6' size='1' value='@Model.dateupdate6'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Userid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='userid' id='userid' size='1' value='@Model.userid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Seriid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='seriid' id='seriid' size='1' value='@Model.seriid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Imdb</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='imdb' id='imdb' size='1' value='@Model.imdb'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Format</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='format' id='format' size='1' value='@Model.format'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Sub_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='sub_type' id='sub_type' size='1' value='@Model.sub_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_year</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_year' id='publish_year' size='1' value='@Model.publish_year'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_countryid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_countryid' id='publish_countryid' size='1' value='@Model.publish_countryid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Product_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='product_id' id='product_id' size='1' value='@Model.product_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Duration</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Actor</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='actor' id='actor' size='1' value='@Model.actor'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Director</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='director' id='director' size='1' value='@Model.director'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_type' id='film_type' size='1' value='@Model.film_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode' id='episode' size='1' value='@Model.episode'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_current</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_current' id='episode_current' size='1' value='@Model.episode_current'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_copyright</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_copyright' id='contract_copyright' size='1' value='@Model.contract_copyright'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_exprired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_exprired' id='contract_exprired' size='1' value='@Model.contract_exprired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_appendix' id='contract_appendix' size='1' value='@Model.contract_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_appendix' id='copyright_appendix' size='1' value='@Model.copyright_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_expired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_expired' id='copyright_expired' size='1' value='@Model.copyright_expired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog_id' id='catalog_id' size='1' value='@Model.catalog_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Upload_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='upload_file' id='upload_file' size='1' value='@Model.upload_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Trainer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='trainer' id='trainer' size='1' value='@Model.trainer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Thumb_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='thumb_file' id='thumb_file' size='1' value='@Model.thumb_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Exclusive</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='exclusive' id='exclusive' size='1' value='@Model.exclusive'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Price</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Cpid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='cpid' id='cpid' size='1' value='@Model.cpid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tags</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='tags' id='tags' size='1' value='@Model.tags'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_videocol</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_videocol' id='film_videocol' size='1' value='@Model.film_videocol'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banner_app</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banner_app' id='banner_app' size='1' value='@Model.banner_app'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Showhome</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='showhome' id='showhome' size='1' value='@Model.showhome'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_id' id='episode_id' size='1' value='@Model.episode_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>So_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='so_hd' id='so_hd' size='1' value='@Model.so_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Phuluc_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='phuluc_hd' id='phuluc_hd' size='1' value='@Model.phuluc_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaykiemduyet</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaykiemduyet' id='giaykiemduyet' size='1' value='@Model.giaykiemduyet'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaychungnhan</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaychungnhan' id='giaychungnhan' size='1' value='@Model.giaychungnhan'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banquyen</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banquyen' id='banquyen' size='1' value='@Model.banquyen'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayky_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayky_hd' id='ngayky_hd' size='1' value='@Model.ngayky_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayhethan_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayhethan_hd' id='ngayhethan_hd' size='1' value='@Model.ngayhethan_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Doitac</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='doitac' id='doitac' size='1' value='@Model.doitac'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>File_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='file_hd' id='file_hd' size='1' value='@Model.file_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog' id='catalog' size='1' value='@Model.catalog'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Language</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='language' id='language' size='1' value='@Model.language'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mv</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='mv' id='mv' size='1' value='@Model.mv'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Beat</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='beat' id='beat' size='1' value='@Model.beat'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Vocal</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='vocal' id='vocal' size='1' value='@Model.vocal'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Master</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='master' id='master' size='1' value='@Model.master'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Lyric</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='lyric' id='lyric' size='1' value='@Model.lyric'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_singer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_singer' id='contract_singer' size='1' value='@Model.contract_singer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_author</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_author' id='contract_author' size='1' value='@Model.contract_author'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Related_contract</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='related_contract' id='related_contract' size='1' value='@Model.related_contract'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Desc</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate1</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate1' id='dateupdate1' size='1' value='@Model.dateupdate1'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate2</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate2' id='dateupdate2' size='1' value='@Model.dateupdate2'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate3</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate3' id='dateupdate3' size='1' value='@Model.dateupdate3'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate4</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate4' id='dateupdate4' size='1' value='@Model.dateupdate4'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate5</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate5' id='dateupdate5' size='1' value='@Model.dateupdate5'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Dateupdate6</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='dateupdate6' id='dateupdate6' size='1' value='@Model.dateupdate6'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Userid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='userid' id='userid' size='1' value='@Model.userid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Seriid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='seriid' id='seriid' size='1' value='@Model.seriid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Imdb</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='imdb' id='imdb' size='1' value='@Model.imdb'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Format</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='format' id='format' size='1' value='@Model.format'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Sub_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='sub_type' id='sub_type' size='1' value='@Model.sub_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_year</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_year' id='publish_year' size='1' value='@Model.publish_year'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Publish_countryid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='publish_countryid' id='publish_countryid' size='1' value='@Model.publish_countryid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Duration</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='duration' id='duration' size='1' value='@Model.duration'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Actor</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='actor' id='actor' size='1' value='@Model.actor'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Director</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='director' id='director' size='1' value='@Model.director'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_type</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_type' id='film_type' size='1' value='@Model.film_type'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode' id='episode' size='1' value='@Model.episode'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_current</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_current' id='episode_current' size='1' value='@Model.episode_current'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_copyright</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_copyright' id='contract_copyright' size='1' value='@Model.contract_copyright'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_exprired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_exprired' id='contract_exprired' size='1' value='@Model.contract_exprired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_appendix' id='contract_appendix' size='1' value='@Model.contract_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_appendix</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_appendix' id='copyright_appendix' size='1' value='@Model.copyright_appendix'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Copyright_expired</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='copyright_expired' id='copyright_expired' size='1' value='@Model.copyright_expired'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog_id' id='catalog_id' size='1' value='@Model.catalog_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Upload_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='upload_file' id='upload_file' size='1' value='@Model.upload_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Trainer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='trainer' id='trainer' size='1' value='@Model.trainer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Thumb_file</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='thumb_file' id='thumb_file' size='1' value='@Model.thumb_file'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Exclusive</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='exclusive' id='exclusive' size='1' value='@Model.exclusive'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Price</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='price' id='price' size='1' value='@Model.price'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='status' id='status' size='1' value='@Model.status'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Cpid</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='cpid' id='cpid' size='1' value='@Model.cpid'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tags</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='tags' id='tags' size='1' value='@Model.tags'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_videocol</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_videocol' id='film_videocol' size='1' value='@Model.film_videocol'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banner_app</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banner_app' id='banner_app' size='1' value='@Model.banner_app'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Showhome</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='showhome' id='showhome' size='1' value='@Model.showhome'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Episode_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='episode_id' id='episode_id' size='1' value='@Model.episode_id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>So_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='so_hd' id='so_hd' size='1' value='@Model.so_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Phuluc_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='phuluc_hd' id='phuluc_hd' size='1' value='@Model.phuluc_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaykiemduyet</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaykiemduyet' id='giaykiemduyet' size='1' value='@Model.giaykiemduyet'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Giaychungnhan</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='giaychungnhan' id='giaychungnhan' size='1' value='@Model.giaychungnhan'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Banquyen</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='banquyen' id='banquyen' size='1' value='@Model.banquyen'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayky_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayky_hd' id='ngayky_hd' size='1' value='@Model.ngayky_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Ngayhethan_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='ngayhethan_hd' id='ngayhethan_hd' size='1' value='@Model.ngayhethan_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Doitac</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='doitac' id='doitac' size='1' value='@Model.doitac'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>File_hd</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='file_hd' id='file_hd' size='1' value='@Model.file_hd'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Catalog</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='catalog' id='catalog' size='1' value='@Model.catalog'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Language</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='language' id='language' size='1' value='@Model.language'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mv</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='mv' id='mv' size='1' value='@Model.mv'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Beat</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='beat' id='beat' size='1' value='@Model.beat'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Vocal</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='vocal' id='vocal' size='1' value='@Model.vocal'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Master</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='master' id='master' size='1' value='@Model.master'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Lyric</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='lyric' id='lyric' size='1' value='@Model.lyric'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_singer</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_singer' id='contract_singer' size='1' value='@Model.contract_singer'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Contract_author</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='contract_author' id='contract_author' size='1' value='@Model.contract_author'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Related_contract</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='related_contract' id='related_contract' size='1' value='@Model.related_contract'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Editor</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='editor' id='editor' size='1' value='@Model.editor'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_video_processingcol</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_video_processingcol' id='film_video_processingcol' size='1' value='@Model.film_video_processingcol'>    </div></div>
    </form>*@