﻿﻿@{
    ViewData["Title"] = "Tiếng nói sang văn bản";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        color: red;
        cursor: not-allowed;
        text-decoration: line-through;
    }
</style>
<br />
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabManager" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list-ol"></i> Tiếng nói thành văn bản</a></li>
        <li id="tabTran" class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-language"></i> Dịch văn bản</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="container-fluid" id="tab_1">
                <div class="row">
                    <div class="col3 col-md-3">
                        <div class="form-group">
                            <label for="import_file">Thêm mới</label>
                           @*<input type="file" name="import_file" id="import_file" class="form-control" accept=".xlsx, .xls" />*@
                        </div>
                        <div class="btn-group">
                            <button onclick="javascript: ofilm_video_processing.editsDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                           @*<button onclick="javascript: ofilm_video_processing.importExcel();" type="button" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Nhập từ Excel</button>*@
                        </div>
                    </div>
                    <div class="col3 col-md-3">
                        <div class="form-group">
                            <label for="s_title">Tìm kiếm theo tiêu đề</label>
                            <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="s_timerange">Tìm theo khoảng thời gian</label>
                            <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                        </div>
                        <button id="btnSearch" onclick="javascript: ofilm_video_processing.searchGrid();" type="button" class="btn btn-success btn-block"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>

                    <div class="col3 col-md-3">
                        <div class="st2">
                            <div class="form-group">
                                <label for="dichvu">Dịch vụ<b style="color:red">(*)</b></label>
                                <select class="form-control" name="dichvu" id="dichvu">
                                    <option value="speechmatics">Local</option>
                                    <option value="google">Google</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="speech_from">Ngôn ngữ file video<b style="color:red">(*)</b></label>
                                <select class="form-control" name="speech_from" id="speech_from"></select>
                            </div>
                            <div class="form-group">
                                <button id="btnSpeechToText" type="button" class="btn btn-danger btn-block"><i class="fa fa-microphone" aria-hidden="true"></i> Speech 2 Text</button>
                                 @*<button id="btnLyric" type="button" class="btn btn-danger"><i class="fa fa-align-left" aria-hidden="true"></i> Search Lyric</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group other1">
                            <label for="from">Dịch từ<b style="color:red">(*)</b></label>
                            <select class="form-control" name="from" id="from"></select>
                        </div>
                        <div class="form-group other1">
                            <label for="to">Sang<b style="color:red">(*)</b></label>
                            <select class="form-control" name="to" id="to"></select>
                        </div>
                        <div class="form-group other1">
                            <button id="btnTran" type="button" class="btn btn-danger btn-block"><i class="fa fa-language" aria-hidden="true"></i> Dịch file đã chọn</button>
                        </div>
                        <div class="form-group">
                            <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                            <a href="javascript:void(0)" id="btnRemoveList" title="Làm mới danh sách"><i class="fa fa-retweet"></i></a>
                            <strong>Đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                        </div>
                    </div>
                    <hr />
                </div>
                <br /><br />
                <table id="example_film_video_processing" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
                             @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
                             @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="selectServiceTran">Dịch vụ dịch</label><br />
                        <select id="selectServiceTran" class="form-control">
                            <option value="local">Local</option>
                            <option value="google">Google</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fromonl">Dịch từ<b style="color:red">(*)</b></label><br />
                        <select class="form-control" name="fromonl" id="fromonl"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="toonl">Sang<b style="color:red">(*)</b></label><br />
                        <select class="form-control" name="toonl" id="toonl"></select>
                    </div>
                    <div class="form-group">
                        <label style="color:#fff">.</label><br />

                    </div>
                </div>
                <div class="col-md-3">
                    <label for="cbFileTran"><input type="checkbox" id="cbFileTran" /> Dịch file (*.pdf, *.jpg, *.png)</label>
                    <div class="form-group">
                        <input type="file" class="form-control" id="fileTran" accept=".pdf, .jpg, .png, .jpeg" />
                        <div class="progress" style="display:none"><div id="progressbar-5" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div class="btn-group">
                    <button id="btnDich" class="btn btn-primary">
                        <i class="fa fa-font" aria-hidden="true"></i>
                        Dịch nội dung
                    </button>
                    <button id="btnDichFile" class="btn btn-danger">
                        Dịch file
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="txtSource">Nội dung dịch</label><br />
                    <textarea class="form-control" id="txtSource" rows="15"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtDest">Kết quả</label><br />
                    <textarea class="form-control" id="txtDest" rows="15"></textarea>
                </div>
            </div>
            <br />
            <div style="display: flex; justify-content: center;">
                <button id="btnLoadTranData" class="btn btn-warning">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Tải lại dữ liệu
                </button>
            </div>
            <span id="loading" style="padding:10px;"></span>
            <table id="tblTran" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>File - Xem chi tiết</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<!--film_video_processing JS File-->
<script src="~/Scripts/oze/film_video_processing.js"></script>

<script type="text/javascript">
    var $table;
    var list_selected = [];
    var selected_id = [];
    var ofilm_video_processing = new film_video_processing();
    $(document).ready(function () {
        var languages = [
            ["zh", "Tiếng Trung"], ["vi", "Tiếng Việt"], ["en", "Tiếng Anh"], ["ja", "Tiếng Nhật"], ["th", "Tiếng Thái"], ["ko", "Tiếng Hàn"], ["fa", "Tiếng Iran "], ["ar", "Tiếng Ả Rập"], ["pl", "Tiếng Ba Lan "], ["pt", "Tiếng Bồ Đào Nha"], ["nl", "Tiếng Hà Lan"], ["hi", "Tiếng Hindi"], ["hu", "Tiếng Hungary"], ["el", "Tiếng Hy Lạp"], ["is", "Tiếng Iceland"], ["id", "Tiếng Indonesia"], ["lo", "Tiếng Lào"], ["ms", "Tiếng Mã Lai"], ["mn", "Tiếng Mông Cổ"], ["my", "Tiếng Myanmar"], ["ne", "Tiếng Nepal"], ["ru", "Tiếng Nga"], ["fr", "Tiếng Pháp"], ["fi", "Tiếng Phần Lan"], ["es", "Tiếng Tây Ba Nha"], ["tr", "Tiếng Thổ Nhĩ Kỳ"], ["sv", "Tiếng Thủy Điển"], ["uk", "Tiếng Ukraina"], ["it", "Tiếng Ý"]
        ];
        var dom_select = "";
        languages.forEach(function (lang) {
            dom_select += '<option value="' + lang[0] + '">' + lang[1] + '</option>';
        });
        $("#speech_from").html(dom_select);
        $("#speech_from").select2({ width: '100%' });

        $("#from").html(dom_select);
        $("#from").select2({ width: '100%' });

        $("#to").html(dom_select);
        $("#to").select2({ width: '100%' });
        $('#to').val("vi").trigger('change');


        $("#fromonl").html(dom_select);
        $("#fromonl").select2({ width: '100%' });

        $("#toonl").html(dom_select);
        $("#toonl").select2({ width: '100%' });
        $('#toonl').val("vi").trigger('change');
        ofilm_video_processing.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video_processing.searchGrid();
            }
        });
        $("#btnTran").on("click", function () {
            var selected = [];
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 3000, "top-end");
            } else {
                var from = $("#from").val();
                var to = $("#to").val();
                if (from == to) {
                    showToast("Vui lòng chọn 2 ngôn ngữ khác nhau để tiến hành dịch", "error", 10000, "top-end");
                    return false;
                }
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/transcript",
                    method: "POST",
                    data: {
                        from: from, to: to, list_selected: selected_id.toString(), service: $("#dichvuTran").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        selected_id.forEach(function (item) {
                            $("tr#" + item + " td:last-child").html("Đang dịch");
                        });
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnSpeechToText").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SpeechToText",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        service: $("#dichvu").val(),
                        from: $("#speech_from").val()
                    },
                    success: function (data) {
                        showToast(data, "info", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnRemoveList").on("click", function () {
            //Remove all
            $("#list_selected").html("");
            selected_id = [];
            list_selected = [];
            //Remove class .active
            $('tr').removeClass("active");
            $("#count_selected").html(selected_id.length);
        });
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

        $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(this.value);
                selected_id.push(tr_id.attr('id'));
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(this.value, list_selected), 1);
                selected_id.splice($.inArray(this.value, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);
        });
        $("#btnLyric").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SearchLyric",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        from: $("#speech_from").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });

        // API Dịch
        function TranslateOnline() {
            let data = $('#txtSource').val();
            let from = $('select#fromonl').val();
            let to = $('select#toonl').val();
            let link_api_tran = "/api/translate";
            let data_send;
            //console.log($('#selectServiceTran').val());
            if ($('#selectServiceTran').val() == "google") {
                link_api_tran = "http://183.81.35.24:7778/translate";
                data_send = {
                    text: data,
                    from: from,
                    to: to,
                }
            } else {
                data_send = {
                    data: data,
                    direction: from + "-" + to,
                }
            }
            $('#loading').html("Đang dịch...");
            $.ajax({
                url: link_api_tran,
                data: data_send,
                method: "POST",
                success: function (data) {
                    //console.log(data);
                    if ($('#selectServiceTran').val() == "google") {
                        $('#txtDest').val(data);
                    }
                    else {
                        $('#txtDest').val(data.data.data);
                    }
                    hideDialogLoading();
                    $('#loading').html("");
                },
                error: function (xhr) {
                    //console.log(xhr.responseText);
                    $('#loading').html("Lỗi gọi API dịch")
                },
            });
        }
        $("#btnDich").on("click", function () {
            if ($('#txtSource').val().length <= 0) {
                showToast("Vui lòng nhập nội dung cần dịch", "error", 5000, "top-end");
                return;
            }
            TranslateOnline();
        });
        $("#txtSource").on("keyup", function () {
            if ($('#txtSource').val().length <= 0) {
                return;
            }
            //TranslateOnline();
        });
        $("#tab_2 select").on("change", function () {
            $("#txtSource").trigger("keyup");
        });
        function dichvu() {
            switch ($("#tab_1 #dichvu").val()) {
                case "google":
                    $("#speech_from option").removeAttr("disabled");
                    break;
                case "speechmatics":
                    $("#speech_from").val("zh");
                    $("#speech_from option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
        }
        dichvu();
        $("#tab_1 #dichvu").on("change", function () {
            dichvu();
            $("#speech_from").select2();
        });

        function selectServiceTran() {
            switch ($("#tab_2 #selectServiceTran").val()) {
                case "google":
                    $("#fromonl option").removeAttr("disabled");
                    $("#toonl option").removeAttr("disabled");
                    break;
                case "local":
                    $("#fromonl").val("zh");
                    $("#toonl").val("vi");
                    $("#toonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "vi") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    $("#fromonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
        }
        $("#tab_2 #selectServiceTran").on("change", function () {
            selectServiceTran();
            $("#fromonl").select2({ width: '100%' });
            $("#toonl").select2({ width: '100%' });
        });
        $("#tab_2 #selectServiceTran").trigger("change");
        $("#cbFileTran").on("change", function () {
            $('#fileTran').prop('disabled', !$(this).is(':checked'));
            $('#btnDichFile').prop('disabled', !$(this).is(':checked'));
            $(".progress").hide();
        });
        $("#cbFileTran").trigger("change");
        // END API Dịch
        // START DỊCH FILE

        $("#btnDichFile").on("click", function () {
            $(".progress").show();
            var fd = new FormData();
            var files = $('#fileTran')[0].files[0];
            fd.append('file', files);
            fd.append('fromlang', $('#fromonl').val());
            fd.append('tolang', $('#toonl').val());
            fd.append('service', $('#selectServiceTran').val());
            $.ajax({
                url: "/film_video_processing/upload_file_tran",
                data: fd,
                contentType: false,
                processData: false,
                type: 'post',
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var progress = Math.round((evt.loaded / evt.total) * 100);
                        }
                        $("#progressbar-5").css("width", progress + "%").attr("aria-valuenow", progress);
                        $("#progressbar-5").html(progress + "%");
                    }, false);
                    return xhr;
                },
                success: function () {
                    $("#fileTran").val("");
                    $("#fileTran").select();
                    $("#progressbar-5").css("width", "100%").attr("aria-valuenow", 100);
                    $("#progressbar-5").addClass("bg-success");
                    $("#progressbar-5").html('<i class="fa fa-check"></i> Tải lên thành công, đã đặt lệnh dịch');
                    LoadTranData();
                    checkReload = 0;
                },
                error: function (data) {
                    alert("Có lỗi khi upload");
                }
            });
            setTimeout(function () { $(".progress").hide(3000); }, 3000);
        });
        let checkReload = 10;
        setInterval(function () {
            if (checkReload < 10) {
                LoadTranData();
                checkReload++;
            }
        }, 3000);
        function LoadTranData() {
            var table = $("#tblTran tbody");
            $.ajax({
                url: '/translate/get',
                method: "GET",
                success: function (data) {
                    console.log(data);
                    table.empty();
                    if (data.length > 0) {
                        data.forEach(function (b) {
                            let id = b.id;
                            let title = b.title || "";
                            let image = b.image || "";
                            let result_orc = b.result_orc || "";
                            let result = b.result || "";
                            let status = b.status || "";
                            let tr_html = '<tr>' + id;
                            tr_html += '<td><a title="Xóa" id="removeTran" data-id="' + id + '"><i class="fa fa-trash"></i> ' + id + '</a> </td>';
                            tr_html += '<td><a title="Xem chi tiết" id="viewTran" data-id="' + id + '"><i class="fa fa-eye"></i> ' + title + '</a></td>';
                            tr_html += '<td>' + status + '</td>';
                            tr_html += '</tr>';
                            table.append(tr_html);
                        });
                        $('#tblTran').DataTable();
                    }
                    $('#loading').html("Tải dữ liệu thành công");
                    setTimeout(function () { $('#loading').html(""); }, 3000);
                }
            });
        }
        LoadTranData();
        $("#btnLoadTranData").on("click", function () {
            LoadTranData();
            $("html, body").animate({ scrollTop: document.body.scrollHeight }, "slow");
        });
        LoadTranData();
        $(document).on({
            click: function () {
                let id = $(this).data('id');
                $.ajax({
                    url: '/translate/Delete/' + id,
                    method: "DELETE",
                    success: function (data) {
                        LoadTranData();
                    }
                });
            }
        }, '#removeTran');
        $(document).on({
            click: function () {
                let id = $(this).data('id');
                let view_html = '';
                $.ajax({
                    url: '/translate/get?id=' + id,
                    method: "GET",
                    success: function (rs) {
                        let data = rs[0];
                        let index = 0;
                        let data_img = [];
                        let data_orc = [];
                        let data_rs = [];
                        if (data.result != null || data.result != "") {
                            data_img = JSON.parse(data.image);
                            data_orc = JSON.parse(data.result_orc);
                            data_rs = JSON.parse(data.result.replace(/'/g, '"'));
                        }
                        view_html += '<table class="table table-striped" style="text-align:left">';
                        view_html += '<thead>';
                        view_html += '<tr>';
                        view_html += '<th>Nội dung gốc</th>';
                        view_html += '<th>Nội dung đã phân tích</th>';
                        view_html += '<th>Nội dung đã dịch</th>';
                        view_html += '</tr>';
                        view_html += '</thead>';
                        view_html += '<tbody>';
                        data_img.forEach(function (item) {
                            console.log(data_orc[index]);
                            view_html += '<tr>';
                            view_html += '<td><a target="_blank" href="/translate_file_result/' + id + '/' + item + '"><img style="width:500px;height:300px" src="/translate_file_result/' + id + '/' + item + '"/></td>';
                            view_html += '<td>' + ((data_orc[index]) ? data_orc[index] : "") + '</td>';
                            view_html += '<td>' + ((data_rs[index]) ? data_rs[index] : "") + '</td>';
                            view_html += '</tr>';
                            index++;
                        });
                        view_html += '</tbody>';
                        view_html += '</table>';
                        Swal.fire({
                            title: '<strong>Chi tiết ID: ' + id + '</strong>',
                            html: view_html,
                            showCloseButton: true,
                            width: '90%'
                        })
                    }
                });


            }
        }, '#viewTran');
        // END DỊCH FILE

        // Kiểm tra dịch vụ dịch
        function checkTranService() {
            $('#loading').html("Đang kiểm tra dịch vụ dịch Google...");
            $.ajax({
                url: 'http://183.81.35.24:7778/translate',
                data: {
                    text: "Hello",
                    from: "en",
                    to: 'vi',
                },
                method: "POST",
                success: function (data) {
                    $('#selectServiceTran option[value="google"]').text("Google - đang hoạt động");
                },
                error: function (xhr) {
                    $('#selectServiceTran option[value="google"]').text("Google - không hoạt động");
                    $('#selectServiceTran option[value="google"]').prop("disabled", true);
                },
            });
            $('#loading').html("Đang kiểm tra dịch vụ dịch Local...");
            $.ajax({
                url: "http://183.81.35.24:9003/api/translate",
                data: {
                    data: "Hello",
                    direction: 'en-vi',
                },
                method: "POST",
                success: function (data) {
                    if (data.code != 'error') {
                        $('#selectServiceTran option[value="local"]').text("Local - đang hoạt động");
                    } else {
                        $('#selectServiceTran option[value="local"]').prop("disabled", true);
                        $('#selectServiceTran option[value="local"]').text("Local - không hoạt động");
                    }
                },
                error: function (xhr) {
                    $('#selectServiceTran option[value="local"]').prop("disabled", true);
                    $('#selectServiceTran option[value="local"]').text("Local - không hoạt động");
                },
            });
        }
        checkTranService();

    });// ready
</script>
