﻿﻿@{
    ViewData["Title"] = "Dịch tự động và lọc nhiễu";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        color: red;
        cursor: not-allowed;
        text-decoration: line-through;
    }
</style>
<br />
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabManager" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list-ol"></i> Quản lý dịch tự động và lọc nhiễu</a></li>
         @*<li id="tabTran" class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-language"></i> Dịch online</a></li>*@
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="container-fluid" id="tab_1">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="s_title">Tìm kiếm theo tiêu đề</label>
                            <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="s_timerange">Tìm theo khoảng thời gian</label>
                            <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label style="color:#fff">.</label>
                        <button id="btnSearch" onclick="javascript: ofilm_video_processing.searchGrid();" type="button" class="btn btn-success btn-block"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>
                    <div class="col-md-3">
                        <label style="color:#fff">.</label>
                        <button onclick="javascript: ofilm_video_processing.editsDialog(0);" type="button" class="btn btn-default btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                    <textarea rows="10" class="form-control" id="txtResult" readonly></textarea>
                </div>
                <div class="row">
                    <h5>Dịch tự động</h5>
                    <div class="col3 col-md-3">
                        <div class="st2">
                            <div class="form-group">
                                <label for="dichvu">Dịch vụ<b style="color:red">(*)</b></label>
                                <select class="form-control" name="dichvu" id="dichvu">
                                    <option value="speechmatics">Local</option>
                                    <option value="google">Google</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="speech_from">Ngôn ngữ file video<b style="color:red">(*)</b></label>
                            <select class="form-control" name="speech_from" id="speech_from"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="to">Sang<b style="color:red">(*)</b></label>
                            <select class="form-control" name="to" id="to"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="cbdenoiser">Lọc nhiễu</label>
                        <div class="form-group">
                            <label for="cbdenoiser"><input type="checkbox" name="cbdenoiser" id="cbdenoiser" /> Lọc nhiễu</label>
                            <button id="btnDenoiser" class="btn btn-danger"><i class="fa fa-flash"></i> Bắt đầu dịch</button>
                            <span id="mgs" style="color:red"></span>
                        </div>
                    </div>
                </div>
                <div class="row frmdenoiser">
                    <h5>Lọc nhiễu</h5>
                    <div class="col-md-3 frmdenoiser">
                        <div class="form-group">
                            <label for="d_step1">Bước 1</label>
                            <select class="form-control" id="d_step1">
                                <option value="">-- Lựa chọn --</option>
                                <option value="spleeter">Spleeter - Khử nhạc</option>
                                <option value="basic">Basic - Xử lý âm thanh</option>
                                <option value="ai">AI - Giảm tiếng ồn</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 frmdenoiser">
                        <div class="form-group">
                            <label for="d_step2">Bước 2</label>
                            <select class="form-control" id="d_step2">
                                <option value="">-- Lựa chọn --</option>
                                <option value="spleeter">Spleeter - Khử nhạc</option>
                                <option value="basic">Basic - Xử lý âm thanh</option>
                                <option value="ai">AI - Giảm tiếng ồn</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 frmdenoiser">
                        <div class="form-group">
                            <label for="d_step3">Bước 3</label>
                            <select class="form-control" id="d_step3">
                                <option value="spleeter">Spleeter - Khử nhạc</option>
                                <option value="basic">Basic - Xử lý âm thanh</option>
                                <option value="ai">AI - Giảm tiếng ồn</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="div_basic">
                                <h5 id="lblStep">Cài đặt Basic</h5>
                                <a id="adv"><i class="fa fa-gear"></i> Nâng cao</a>
                                <div class="adv">
                                    <label for="ReducedPower" style="cursor:pointer;padding-right:20px;"><input checked name="basic" type="radio" value="ReducedPower" id="ReducedPower" /> Reduced Power</label>
                                    <label for="ReducedCentroidS" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedCentroidS" id="ReducedCentroidS" />  Reduced Centroid S</label>
                                    <label for="ReducedCentroidMb" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedCentroidMb" id="ReducedCentroidMb" />  Reduced Centroid Mb</label>
                                    <label for="ReducedMfccUp" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedMfccUp" id="ReducedMfccUp" />  Reduced Mfcc Up</label>
                                    <label for="ReducedMfccDown" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedMfccDown" id="ReducedMfccDown" />  Reduced Mfcc Down</label>
                                    <label for="ReducedOriginal" style="cursor:pointer;padding-right:20px;"><input name="basic" type="radio" value="ReducedOriginal" id="ReducedOriginal" />  Reduced Original</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <table id="example_film_video_processing" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
                            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
                            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<!--film_video_processing JS File-->
<script src="~/Scripts/oze/film_video_processing.js"></script>

<script type="text/javascript">
    let step1 = '', step2 = '', step3 = '';
    var file_media = '';
    var proId = '';
    let selected_step = '';
    var $table;
    var list_selected = [];
    var selected_id = [];
    var ofilm_video_processing = new film_video_processing();
    $(document).ready(function () {
        var languages = [
            ["zh", "Tiếng Trung"], ["vi", "Tiếng Việt"], ["en", "Tiếng Anh"], ["ja", "Tiếng Nhật"], ["th", "Tiếng Thái"], ["ko", "Tiếng Hàn"], ["fa", "Tiếng Iran "], ["ar", "Tiếng Ả Rập"], ["pl", "Tiếng Ba Lan "], ["pt", "Tiếng Bồ Đào Nha"], ["nl", "Tiếng Hà Lan"], ["hi", "Tiếng Hindi"], ["hu", "Tiếng Hungary"], ["el", "Tiếng Hy Lạp"], ["is", "Tiếng Iceland"], ["id", "Tiếng Indonesia"], ["lo", "Tiếng Lào"], ["ms", "Tiếng Mã Lai"], ["mn", "Tiếng Mông Cổ"], ["my", "Tiếng Myanmar"], ["ne", "Tiếng Nepal"], ["ru", "Tiếng Nga"], ["fr", "Tiếng Pháp"], ["fi", "Tiếng Phần Lan"], ["es", "Tiếng Tây Ba Nha"], ["tr", "Tiếng Thổ Nhĩ Kỳ"], ["sv", "Tiếng Thủy Điển"], ["uk", "Tiếng Ukraina"], ["it", "Tiếng Ý"]
        ];
        var dom_select = "";
        languages.forEach(function (lang) {
            dom_select += '<option value="' + lang[0] + '">' + lang[1] + '</option>';
        });
        $("#speech_from").html(dom_select);
        $("#speech_from").select2({ width: '100%' });

        $("#from").html(dom_select);
        $("#from").select2({ width: '100%' });

        $("#to").html(dom_select);
        $("#to").select2({ width: '100%' });
        $('#to').val("vi").trigger('change');


        $("#fromonl").html(dom_select);
        $("#fromonl").select2({ width: '100%' });

        $("#toonl").html(dom_select);
        $("#toonl").select2({ width: '100%' });
        $('#toonl').val("vi").trigger('change');
        ofilm_video_processing.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video_processing.searchGrid();
            }
        });
        $("#btnTran").on("click", function () {
            var selected = [];
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 3000, "top-end");
            } else {
                var from = $("#from").val();
                var to = $("#to").val();
                if (from == to) {
                    showToast("Vui lòng chọn 2 ngôn ngữ khác nhau để tiến hành dịch", "error", 10000, "top-end");
                    return false;
                }
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/transcript",
                    method: "POST",
                    data: {
                        from: from, to: to, list_selected: selected_id.toString(), service: $("#dichvuTran").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        selected_id.forEach(function (item) {
                            $("tr#" + item + " td:last-child").html("Đang dịch");
                        });
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnSpeechToText").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SpeechToText",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        service: $("#dichvu").val(),
                        from: $("#speech_from").val()
                    },
                    success: function (data) {
                        showToast(data, "info", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnRemoveList").on("click", function () {
            //Remove all
            $("#list_selected").html("");
            selected_id = [];
            list_selected = [];
            //Remove class .active
            $('tr').removeClass("active");
            $("#count_selected").html(selected_id.length);
        });
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

        $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(this.value);
                selected_id.push(tr_id.attr('id'));
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(this.value, list_selected), 1);
                selected_id.splice($.inArray(this.value, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);
        });
        $("#btnLyric").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SearchLyric",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        from: $("#speech_from").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });

        // API Dịch
        function TranslateOnline() {
            let data = $('#txtSource').val();
            let from = $('select#fromonl').val();
            let to = $('select#toonl').val();
            let link_api_tran = "/api/translate";
            let data_send;
            //console.log($('#selectServiceTran').val());
            if ($('#selectServiceTran').val() == "google") {
                link_api_tran = "http://183.81.35.24:7778/translate";
                data_send = {
                    text: data,
                    from: from,
                    to: to,
                }
            } else {
                data_send = {
                    data: data,
                    direction: from + "-" + to,
                }
            }
            $('#loading').html("Đang dịch...");
            $.ajax({
                url: link_api_tran,
                data: data_send,
                method: "GET",
                success: function (data) {
                    //console.log(data);
                    if ($('#selectServiceTran').val() == "google") {
                        $('#txtDest').val(data);
                    }
                    else {
                        $('#txtDest').val(data.data.data);
                    }
                    hideDialogLoading();
                    $('#loading').html("");
                },
                error: function (xhr) {
                    //console.log(xhr.responseText);
                    $('#loading').html("Lỗi gọi API dịch")
                },
            });
        }
        $("#btnDich").on("click", function () {
            if ($('#txtSource').val().length <= 0) {
                showToast("Vui lòng nhập nội dung cần dịch", "error", 5000, "top-end");
                return;
            }
            TranslateOnline();
        });
        $("#txtSource").on("keyup", function () {
            if ($('#txtSource').val().length <= 0) {
                return;
            }
            TranslateOnline();
        });
        $("select").on("change", function () {
            $("#txtSource").trigger("keyup");
            buildobj();
        });
        function dichvu() {
            switch ($("#tab_1 #dichvu").val()) {
                case "google":
                    $("#speech_from option").removeAttr("disabled");
                    break;
                case "speechmatics":
                    $("#speech_from").val("zh");
                    $("#speech_from option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
            buildobj();
        }
        dichvu();
        $("#dichvu").on("change", function () {
            dichvu();
            $("#speech_from").select2();
        });

        function selectServiceTran() {
            switch ($("#selectServiceTran").val()) {
                case "google":
                    $("#fromonl option").removeAttr("disabled");
                    $("#toonl option").removeAttr("disabled");
                    break;
                case "local":
                    $("#fromonl").val("zh");
                    $("#toonl").val("vi");
                    $("#toonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "vi") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    $("#fromonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
            buildobj();
        }
        $("#selectServiceTran").on("change", function () {
            selectServiceTran();
            $("#fromonl").select2({ width: '100%' });
            $("#toonl").select2({ width: '100%' });
        });
        $("#selectServiceTran").trigger("change");
        // END API Dịch
        // Denoiser

        $('#div_basic').hide();
        $('#d_step1').on('change', function () {
            step1 = $(this).val();
            if (step1 == "basic") {
                selected_step = 'step1';
                $('#div_basic').show(500);
                $('#lblStep').html('Thiết lập cho Basic bước 1');
            } else {
                $('#div_basic').hide(500);
            }
            buildobj();
        });
        $('#d_step2').on('change', function () {
            step2 = $(this).val();
            if (step2 == "basic") {
                selected_step = 'step2';
                $('#div_basic').show(500);
                $('#lblStep').html('Thiết lập cho Basic bước 2');
            } else {
                $('#div_basic').hide(500);
            }
            buildobj();
        });
        $('#d_step3').on('change', function () {
            step3 = $(this).val();
            if (step3 == "basic") {
                selected_step = 'step3';
                $('#div_basic').show();
                $('#lblStep').html('Thiết lập cho Basic bước 3');
            } else {
                $('#div_basic').hide();
            }
            buildobj();
        });
        $('input[name=basic]').on('change', function () {
            switch (selected_step) {
                case 'step1':
                    step1 = 'basic_' + $(this).val();
                    break;
                case 'step2':
                    step2 = 'basic_' + $(this).val();
                    break;
                case 'step3':
                    step3 = 'basic_' + $(this).val();
                    break;
                default:
                    step1 = 'basic_ReducedPower';
                    step2 = 'basic_ReducedPower';
                    step3 = 'basic_ReducedPower';
                    break;
            }
            buildobj();
        });
        function buildobj() {
            step1 =  step1 == "basic" ? 'basic_ReducedPower' : step1;
            step2 =  step2 == "basic" ? 'basic_ReducedPower' : step2;
            step3 =  step3 == "basic" ? 'basic_ReducedPower' : step3;
            $('label[for=d_step1]').html('Bước 1 (' + step1 + ')');
            $('label[for=d_step2]').html('Bước 2 (' + step2 + ')');
            $('label[for=d_step3]').html('Bước 3 (' + step3 + ')');
            let service = $('#dichvu').val();
            let speech2text = $('#speech_from').val();
            let translate = $('#to').val();
            let rs_html = '';
            rs_html += '{';
            rs_html += '\n\t"file": "",';
            rs_html += '\n\t"service": "' + service + '",';
            if ($('#cbdenoiser').is(":checked")) {
                rs_html += '\n\t"video_type": "denoiser",';
                rs_html += '\n\t"step1": "' + step1 + '",';
                rs_html += '\n\t"step2": "' + step2 + '",';
                rs_html += '\n\t"step3": "' + step3 + '",';
                rs_html += '\n\t"speech2text": "' + speech2text + '",';
                rs_html += '\n\t"translate": "' + translate + '"';
            } else {
                rs_html += '\n\t"video_type": "denoiser",';
                rs_html += '\n\t"step1": "' + '' + '",';
                rs_html += '\n\t"step2": "' + '' + '",';
                rs_html += '\n\t"step3": "' + '' + '",';
                rs_html += '\n\t"speech2text": "' + speech2text + '",';
                rs_html += '\n\t"translate": "' + translate + '"';
            }
            rs_html += '\n}';
            //$('#txtResult').show();
            $('#txtResult').html(rs_html);
        }
        $('div.frmdenoiser').hide();
        $('#cbdenoiser').change(function () {
            $('div.frmdenoiser').toggle(500);
            if ($('#cbdenoiser').is(':checked')) {
                $('#div_basic').show(500);
            } else {
                $('#div_basic').hide(500);
            }
            buildobj();
        });
        $('#txtResult').hide();
        //$('#tab_1').dblclick(function () {
        //    $('#txtResult').toggle();
        //});
        // Denoiser
        // Total
        $('#btnDenoiser').click(function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 3000, "top-end");
                return;
            }
            selected_id.forEach(function (item) {
                let data1 = $('tr#' + item + " .export_selected").val();
                //if (data1.startsWith("/hg_project")) {
                //    data1 = data1.replace("/hg_project/",'/home/www/data/data/saigonmusic/hg_project/');
                //}
                $.ajax({
                    url: "/denoiser/GenDenoiser",
                    method: 'POST',
                    data: {
                        obj: $('#txtResult').val().replace('"file": "",', '"file": "' + data1 + '",'),
                        filename: item + ".txt",
                    },
                    success: function (data) {
                        showToast(data, "success", 3000, "top-end");
                        $('#mgs').html("");
                    },
                    error: function (xhr) { alert(xhr.responseText); },
                });
            });

        });
        $(".adv").hide();
        $("#div_basic").hide();
        $("#adv").click(function () {
            $(".adv").toggle(150);
        });
    });// ready
</script>
