﻿﻿@{
    ViewData["Title"] = "Tiếng nói thành văn bản";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<style>
    .select2-container--default .select2-results__option[aria-disabled=true] {
        color: red;
        cursor: not-allowed;
        text-decoration: line-through;
    }
</style>
<br />
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li id="tabManager" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list-ol"></i> Quản lý dịch</a></li>
        <li id="tabTran" class=""><a href="#tab_2_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-language"></i> Dịch văn bản</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="container-fluid" id="tab_1">
                <div class="row">
                    <div class="col3 col-md-3">
                        <div class="form-group">
                            <label for="import_file">Thêm mới</label>
                            @*<input type="file" name="import_file" id="import_file" class="form-control" accept=".xlsx, .xls" />*@
                        </div>
                        <div class="btn-group">
                            <button onclick="javascript: ofilm_video_processing.editsDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                            @*<button onclick="javascript: ofilm_video_processing.importExcel();" type="button" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Nhập từ Excel</button>*@
                        </div>
                    </div>
                    <div class="col3 col-md-3">
                        <div class="form-group">
                            <label for="s_title">Tìm kiếm theo tiêu đề</label>
                            <input type="text" placeholder="Tìm kiếm" name="s_title" id="s_title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="s_timerange">Tìm theo khoảng thời gian</label>
                            <input class="form-control time_range" type="text" placeholder="Khoảng thời gian" name="s_timerange" id="s_timerange" />
                        </div>
                        <button id="btnSearch" onclick="javascript: ofilm_video_processing.searchGrid();" type="button" class="btn btn-success btn-block"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>
                    
                    <div class="col3 col-md-3">
                        <div class="st2">
                            <div class="form-group">
                                <label for="dichvu">Dịch vụ<b style="color:red">(*)</b></label>
                                <select class="form-control" name="dichvu" id="dichvu">
                                    <option value="speechmatics">Local</option>
                                    <option value="google">Google</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="speech_from">Ngôn ngữ file video<b style="color:red">(*)</b></label>
                                <select class="form-control" name="speech_from" id="speech_from"></select>
                            </div>
                            <div class="form-group">
                                <button id="btnSpeechToText" type="button" class="btn btn-danger btn-block"><i class="fa fa-microphone" aria-hidden="true"></i> Speech 2 Text</button>
                                 @*<button id="btnLyric" type="button" class="btn btn-danger"><i class="fa fa-align-left" aria-hidden="true"></i> Search Lyric</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group other1">
                            <label for="from">Dịch từ<b style="color:red">(*)</b></label>
                            <select class="form-control" name="from" id="from"></select>
                        </div>
                        <div class="form-group other1">
                            <label for="to">Sang<b style="color:red">(*)</b></label>
                            <select class="form-control" name="to" id="to"></select>
                        </div>
                        <div class="form-group other1">
                            <button id="btnTran" type="button" class="btn btn-danger btn-block"><i class="fa fa-language" aria-hidden="true"></i> Dịch file đã chọn</button>
                        </div>
                        <div class="form-group">
                            <div class="checkbox"><label><input type="checkbox" value="" id="checkAll"><strong>Chọn tất cả trong trang này</strong></label></div>
                            <a href="javascript:void(0)" id="btnRemoveList" title="Làm mới danh sách"><i class="fa fa-retweet"></i></a>
                            <strong>Đã chọn (<span id="count_selected">0</span>) : </strong><span style="word-wrap:break-word" id="list_selected"></span>
                        </div>
                    </div>
                    <hr />
                </div>
                <br /><br />
                <table id="example_film_video_processing" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
                            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class='grid-cell selector'>Thao tác</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã</th>
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
                            @*<th class='grid-cell char' kind='char' style='cursor: pointer;'>File video</th>*@
                            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Trạng thái</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fromonl">Dịch từ<b style="color:red">(*)</b></label><br />
                        <select class="form-control" name="fromonl" id="fromonl"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="toonl">Sang<b style="color:red">(*)</b></label><br />
                        <select class="form-control" name="toonl" id="toonl"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="selectServiceTran">Dịch vụ dịch</label><br />
                        <select id="selectServiceTran" class="form-control">
                            <option value="local">Local</option>
                            <option value="google">Google</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label style="color:#fff">.</label><br />
                    <button id="btnDich" class="btn btn-primary btn-block">Dịch</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="txtSource">Nội dung dịch</label><br />
                    <textarea class="form-control" id="txtSource" rows="15"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtDest">Kết quả</label><br />
                    <textarea class="form-control" id="txtDest" rows="15"></textarea>
                </div>
            </div>
            <span id="loading"></span>
        </div>
    </div>
</div>


<!--film_video_processing JS File-->
<script src="~/Scripts/oze/film_video_processing.js"></script>

<script type="text/javascript">
    var $table;
    var list_selected = [];
    var selected_id = [];
    var ofilm_video_processing = new film_video_processing();
    $(document).ready(function () {
        var languages = [
            ["zh", "Tiếng Trung"], ["vi", "Tiếng Việt"], ["en", "Tiếng Anh"], ["ja", "Tiếng Nhật"], ["th", "Tiếng Thái"], ["ko", "Tiếng Hàn"], ["fa", "Tiếng Iran "], ["ar", "Tiếng Ả Rập"], ["pl", "Tiếng Ba Lan "], ["pt", "Tiếng Bồ Đào Nha"], ["nl", "Tiếng Hà Lan"], ["hi", "Tiếng Hindi"], ["hu", "Tiếng Hungary"], ["el", "Tiếng Hy Lạp"], ["is", "Tiếng Iceland"], ["id", "Tiếng Indonesia"], ["lo", "Tiếng Lào"], ["ms", "Tiếng Mã Lai"], ["mn", "Tiếng Mông Cổ"], ["my", "Tiếng Myanmar"], ["ne", "Tiếng Nepal"], ["ru", "Tiếng Nga"], ["fr", "Tiếng Pháp"], ["fi", "Tiếng Phần Lan"], ["es", "Tiếng Tây Ba Nha"], ["tr", "Tiếng Thổ Nhĩ Kỳ"], ["sv", "Tiếng Thủy Điển"], ["uk", "Tiếng Ukraina"], ["it", "Tiếng Ý"]
        ];
        var dom_select = "";
        languages.forEach(function (lang) {
            dom_select += '<option value="' + lang[0] + '">' + lang[1] + '</option>';
        });
        $("#speech_from").html(dom_select);
        $("#speech_from").select2({ width: '100%' });

        $("#from").html(dom_select);
        $("#from").select2({ width: '100%' });

        $("#to").html(dom_select);
        $("#to").select2({ width: '100%' });
        $('#to').val("vi").trigger('change');


        $("#fromonl").html(dom_select);
        $("#fromonl").select2({ width: '100%' });

        $("#toonl").html(dom_select);
        $("#toonl").select2({ width: '100%' });
        $('#toonl').val("vi").trigger('change');
        ofilm_video_processing.setupGrid();
        $("#s_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video_processing.searchGrid();
            }
        });
        $("#btnTran").on("click", function () {
            var selected = [];
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 3000, "top-end");
            } else {
                var from = $("#from").val();
                var to = $("#to").val();
                if (from == to) {
                    showToast("Vui lòng chọn 2 ngôn ngữ khác nhau để tiến hành dịch", "error", 10000, "top-end");
                    return false;
                }
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/transcript",
                    method: "POST",
                    data: {
                        from: from, to: to, list_selected: selected_id.toString(), service: $("#dichvuTran").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        selected_id.forEach(function (item) {
                            $("tr#" + item + " td:last-child").html("Đang dịch");
                        });
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnSpeechToText").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SpeechToText",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        service: $("#dichvu").val(),
                        from: $("#speech_from").val()
                    },
                    success: function (data) {
                        showToast(data, "info", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });
        $("#btnRemoveList").on("click", function () {
            //Remove all
            $("#list_selected").html("");
            selected_id = [];
            list_selected = [];
            //Remove class .active
            $('tr').removeClass("active");
            $("#count_selected").html(selected_id.length);
        });
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
            if (this.checked) {
                //Add selected id to list
                $('#export_selected:checked').each(function () {
                    list_selected.push($(this)[0].value);
                    selected_id.push($(this).parent().parent().parent().parent().attr('id'));
                });
                //Show selected id
                $("#list_selected").html(selected_id.toString());
                $("#count_selected").html(selected_id.length);
                //Active current selected
                $('tr').addClass("active");
            }
            else {
                //Remove all
                $("#list_selected").html("");
                selected_id = [];
                list_selected = [];
                //Remove class .active
                $('tr').removeClass("active");
                $("#count_selected").html(selected_id.length);
            }
        });

        $(document).on('change', '.export_selected', function () {
            var tr_id = $(this).parent().parent().parent().parent();
            if (this.checked) {
                $(tr_id).addClass("active");
                list_selected.push(this.value);
                selected_id.push(tr_id.attr('id'));
            } else {
                $(tr_id).removeClass("active");
                list_selected.splice($.inArray(this.value, list_selected), 1);
                selected_id.splice($.inArray(this.value, selected_id), 1);
            }
            $("#list_selected").html(selected_id.toString());
            $("#count_selected").html(selected_id.length);
        });
        $("#btnLyric").on("click", function () {
            if (selected_id.length == 0) {
                showToast("Chưa chọn video nào mà", "error", 5000, "top-end");
            } else {
                console.log(selected_id);
                $.ajax({
                    url: "/film_video_processing/SearchLyric",
                    method: "POST",
                    data: {
                        list_selected: selected_id.toString(),
                        from: $("#speech_from").val(),
                    },
                    success: function (data) {
                        showToast(data, "success", 5000);
                        $("#btnSearch").trigger("click");
                    },
                    error: function (xhr) { console.log(xhr.responseText); },
                });
                $("#btnRemoveList").trigger("click");
            }
        });

        // API Dịch
        function TranslateOnline() {
            let data = $('#txtSource').val();
            let from = $('select#fromonl').val();
            let to = $('select#toonl').val();
            let link_api_tran = "/api/translate";
            let data_send;
            //console.log($('#selectServiceTran').val());
            if ($('#selectServiceTran').val() == "google") {
                link_api_tran = "http://183.81.35.24:7778/translate";
                data_send = {
                    text: data,
                    from: from,
                    to: to,
                }
            } else {
                data_send = {
                    data: data,
                    direction: from + "-" + to,
                }
            }
            $('#loading').html("Đang dịch...");
            $.ajax({
                url: link_api_tran,
                data: data_send,
                method: "GET",
                success: function (data) {
                    //console.log(data);
                    if ($('#selectServiceTran').val() == "google") {
                        $('#txtDest').val(data);
                    }
                    else {
                        $('#txtDest').val(data.data.data);
                    }
                    hideDialogLoading();
                    $('#loading').html("");
                },
                error: function (xhr) {
                    //console.log(xhr.responseText);
                    $('#loading').html("Lỗi gọi API dịch")
                },
            });
        }
        $("#btnDich").on("click", function () {
            if ($('#txtSource').val().length <= 0) {
                showToast("Vui lòng nhập nội dung cần dịch", "error", 5000, "top-end");
                return;
            }
            TranslateOnline();
        });
        $("#txtSource").on("keyup", function () {
            if ($('#txtSource').val().length <= 0) {
                return;
            }
            TranslateOnline();
        });
        $("#tab_2 select").on("change", function () {
            $("#txtSource").trigger("keyup");
        });
        function dichvu() {
            switch ($("#tab_1 #dichvu").val()) {
                case "google":
                    $("#speech_from option").removeAttr("disabled");
                    break;
                case "speechmatics":
                    $("#speech_from").val("zh");
                    $("#speech_from option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
        }
        dichvu();
        $("#tab_1 #dichvu").on("change", function () {
            dichvu();
            $("#speech_from").select2();
        });

        function selectServiceTran() {
            switch ($("#tab_2 #selectServiceTran").val()) {
                case "google":
                    $("#fromonl option").removeAttr("disabled");
                    $("#toonl option").removeAttr("disabled");
                    break;
                case "local":
                    $("#fromonl").val("zh");
                    $("#toonl").val("vi");
                    $("#toonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "vi") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    $("#fromonl option").each(function () {
                        $(this).attr("disabled", "disabled");
                        if ($(this).val().toLowerCase() == "zh" || $(this).val().toLowerCase() == "en") {
                            $(this).removeAttr("disabled");
                        }
                    });
                    break;
            }
        }
        $("#tab_2 #selectServiceTran").on("change", function () {
            selectServiceTran();
            $("#fromonl").select2({ width: '100%' });
            $("#toonl").select2({ width: '100%' });
        });
        $("#tab_2 #selectServiceTran").trigger("change");
        // END API Dịch
    });// ready
</script>
