﻿
<br />
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
        <li id="liAddNew" style="float:right">
            <button onclick="javascript: otbl_tongiao.editDialog(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
            </button>
        </li>
    </ul>
</div>
<section></section>
<table id="example_tbl_tongiao" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell char' kind='char' style='cursor: pointer;width:15px'>#</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ghi chú</th>
            <th class='grid-cell selector' style="width:30px">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/tbl_tongiao.js"></script>

<script type="text/javascript">
    var $table;
    var otbl_tongiao = new tbl_tongiao();
    $(document).ready(function ()
    {
        //toggleMenu("menu_kho");
        otbl_tongiao.setupGrid();
        $("#search_tbl_tongiao_title").keypress(function (e) {
            if (e.which == 13) {
                otbl_tongiao.searchGrid();
            }
        });
    });
</script>