﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-3 control-label'>Id</label>   <div class='col-sm-9'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-3 control-label'>Tên</label>   <div class='col-sm-9'>@Model.name    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-3 control-label'>Ghi chú</label>   <div class='col-sm-9'>@Model.note    </div></div>
</section>