﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
	<form id='formfilm_channel' action='javascript:void();'>
		@Html.AntiForgeryToken()
	   <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input  readonly='readonly' type='text' maxlength='500'   kind='char'  class='form-control '  name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tên</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='title' id='title' size='1' value='@Model.title'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>


	</form>
</section>