﻿@model List<lamlt.data.film_comments>
@{
    ViewData["Title"] = "Cài đặt - Quản lý vai trò";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_film_comments_title">Tìm kiếm theo tiêu đề</label>
                    <input type="text" class="form-control" name="search_film_comments_title" id="search_film_comments_title" size="1" />
                    <button onclick="javascript: ofilm_comments.viewDialog(0);" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: ofilm_comments.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_comments" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Content</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Film Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">User Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Status</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Date Comment</th>
            <th class="grid-cell selector">Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_comments.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_comments = new film_comments();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        ofilm_comments.setupGrid();
        $("#search_film_comments_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_comments.searchGrid();
            }
        });
    });
</script>