﻿<html>
<head>
    <script src="/Themes/plugins/jQuery/jquery-2.2.3.js"></script>
</head>
<body>

    <br />
    Chọn File upload
    <div id="msg_upload"></div>
    <form id="frmfile" asp-controller="Film_file" asp-action="UploadFile" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file" id="file" />
        <button type="submit" id="submit" style="visibility:hidden">Upload File</button>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
           
            /*$("#file").submit(function (evt) {
                evt.preventDefault();
                clickUpload();
            });
            */
            $("#file").on('change', function () {
                $('#submit').click();
            });
            $('#submit').on('click', function (evt) {
               
                evt.preventDefault();
                $("#msg_upload").html("Uploading...");
                $.ajax({
                    url: '/Film_file/UploadFile',
                    data: new FormData(document.forms[0]),
                    contentType: false,
                    processData: false,
                    type: 'post',
                    success: function (data)
                    {
                        //alert('Uploaded by jQuery' + data.file);
                        closeWindowUpload(data.file);
                        window.opener.getImageupdate(sFile,@Model.t );
                    }
                });
            });
            $('#file').focus().trigger('click');           
        });        
    </script>
    <script type="text/javascript">
    function closeWindowUpload(sFile)
    {
        if (window.opener.document.getElementById('div_@Model.t'))
            window.opener.document.getElementById('div_@Model.t').innerHTML = sFile;
        if (window.opener.document.getElementById('div_@Model.t'))
        if (window.opener.document.getElementById('@Model.t'))          
            window.opener.document.getElementById('@Model.t').value = sFile;
        @if (Model.callback != null) {
            <text>
            window.opener.updateImage(sFile,@Model.t);
            </text>
        }
        window.close();
        }
        
    </script>

</body>
</html>