﻿@{
    ViewData["Title"] = "translate";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Quản lý" role="tab" data-toggle="tab">Quản lý </a></li>
        <li id="liAddNew" style="float:right;margin-top:10px">
            <button onclick="javascript: otranslate.editDialog(0);" type="button" class="btn btn-block btn-oze btn-oze-add btn-flat" style="float: right;">
                <i class="fa fa-plus" aria-hidden="true"></i>Thêm mới
            </button>
        </li>
    </ul>

</div>
<section>
    title:<input type='text' class='form-control' maxlength='200' name='search_translate_title' id='search_translate_title' size='1' />
</section>
<table id="example_translate" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Title</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Image</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Result</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Status</th>
            <th class='grid-cell selector'>Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/translate.js"></script>

<script type="text/javascript">
    var $table;
    var otranslate = new translate();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        otranslate.setupGrid();
        $("#search_translate_title").keypress(function (e) {
            if (e.which == 13) {
                otranslate.searchGrid();
            }
        });
    });
</script>