﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
	<form id='formtranslate' action='javascript:void();'>
		@Html.AntiForgeryToken()
	   <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input  readonly='readonly' type='text' maxlength='500'   kind='char'  class='form-control '  name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Title</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='title' id='title' size='1' value='@Model.title'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Image</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='image' id='image' size='1' value='@Model.image'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Result</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='result' id='result' size='1' value='@Model.result'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Status</label><div class='col-sm-10'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='status' id='status' size='1' value='@Model.status'>    </div></div>
	</form>
</section>