﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chi tiết" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>                
		<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Username</label>   <div class='col-sm-10'>@Model.username    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Password</label>   <div class='col-sm-10'>@Model.password    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Email</label>   <div class='col-sm-10'>@Model.email    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Phone</label>   <div class='col-sm-10'>@Model.phone    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Fullname</label>   <div class='col-sm-10'>@Model.fullname    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Desc</label>   <div class='col-sm-10'>@Model.desc    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label>   <div class='col-sm-10'>@Model.datecreated.ToString("dd/MM/yyyy HH:mm")    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Userid</label>   <div class='col-sm-10'>@Model.userid    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>CP</label>   <div class='col-sm-10'>@Model.cpid_title    </div></div>
<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Quyền</label>   <div class='col-sm-10'>@Model.roleid_title    </div></div>        
</section>