﻿@using lamlt.data
@using lamlt.web.Services
@{
    ViewData["Title"] = "Film Report";
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_film_video_report_catalogid">Catalog</label>
                    <select class="selection form-control" id="search_film_video_report_catalogid" style="height:34px;border-radius:5px;">
                        <option value="-1">--Tất cả---</option>
                        @{
                            List<film_catalog> dtILM_CPilm_calalog = new film_catalogService().GetAllItem(null);
                            for (int jx = 0; jx <= dtILM_CPilm_calalog.Count - 1; jx++)
                            {
                                string sTitlexxx = dtILM_CPilm_calalog[jx].title.ToString();
                                string sIdxxx = dtILM_CPilm_calalog[jx].Id.ToString();
                                string sSelected = "";
                                <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                            }
                        }
                    </select>
                    <label for="search_film_video_report_title">Tìm kiếm</label>
                    <input type="text" class="form-control" name="search_film_video_report_title" id="search_film_video_report_title" />
                    <button onclick="javascript: ofilm_video_report.searchGrid();" type="button" class="btn btn-primary" id="btn_sm"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                </div>
                <div class="col-md-3">
                    <label for="search_film_video_report_cpid">Company</label>
                    <select class="form-control" id="search_film_video_report_cpid">
                        @{
                            if (!comm.IsCP())
                            {
                                <option value="-1" selected>--Tất cả--</option>
                            }
                            List<film_cp> dtILM_CPilm_cp = new film_cpService().GetAllItem(null);
                            for (int jx = 0; jx <= dtILM_CPilm_cp.Count - 1; jx++)
                            {
                                string sTitlexxx = dtILM_CPilm_cp[jx].title.ToString();
                                string sIdxxx = dtILM_CPilm_cp[jx].Id.ToString();
                                string sSelected = "";
                                <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="start_time">Start Time</label>
                    <input type="text" class="form-control" name="start_time" id="start_time" />
                </div>
                <div class="col-md-3">
                    <label for="end_time">End Time</label>
                    <input type="text" class="form-control" name="end_time" id="end_time" />
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_film_video_report" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Video Id</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Film Title</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Date View</th>
            <th class="grid-cell char" kind="char" style="cursor: pointer;">Company</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/film_video_report.js"></script>

<script type="text/javascript">
    var $table;
    var ofilm_video_report = new film_video_report();
    $(document).ready(function ()
    {
        //toggleMenu("menu_kho");
        ofilm_video_report.setupGrid();
        $("#search_film_video_report_title").keypress(function (e) {
            if (e.which == 13) {
                ofilm_video_report.searchGrid();
            }
        });
        $("#start_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_video_report.searchGrid();
        }
        });
        $("#end_time").keypress(function (e) {
        if (e.which == 13) {
            ofilm_video_report.searchGrid();
        }
        });
        $("#end_time").datetimepicker({ format: "YYYY-MM-DD" });
        $("#start_time").datetimepicker({ format: "YYYY-MM-DD" });
    });

    // check cp hiện thị
    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
    {
        ofilm_video_report.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        ofilm_video_report.getImageupdate(id);
    }
</script>
<style>
    @@media only screen and (min-width: 768spx) {
        button #btn_sm {
            margin-top: 20px !important;
        }

        input #search_film_video_report_title {
            margin-top: 20px !important;
        }
    }
</style>