﻿@{
    ViewData["Title"] = "Quản lý giao dịch";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="col-md-3">
                    <label for="search_tradding_name">Tìm kiếm tiêu đề</label>
                    <input type="text" class="form-control" name="search_tradding_name" id="search_tradding_name" /><br />
                    <button onclick="javascript: otradding.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    <button onclick="javascript: otradding.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<table id="example_tradding" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Id</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tên</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Doanh thu</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Triết khấu</th>
            <th class='grid-cell selector'>Thao tác</th>
        </tr>
    </thead>
</table>

<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/tradding.js"></script>

<script type="text/javascript">
    var $table;
    var otradding = new tradding();
    $(document).ready(function () {
        //toggleMenu("menu_kho");
        otradding.setupGrid();
        $("#search_tradding_name").keypress(function (e) {
            if (e.which == 13) {
                otradding.searchGrid();
            }
        });
    });
</script>