﻿@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formtradding' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Name</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='name' id='name' size='1' value='@Model.name'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Revenue</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='revenue' id='revenue' size='1' value='@Model.revenue'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Discount</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='discount' id='discount' size='1' value='@Model.discount'>    </div></div>
    </form>
</section>