﻿<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <div>
        <form id='formtbl_tongiao' action='javascript:void();'>
            @Html.AntiForgeryToken()
            <div class='form-group row'><label for='lblnameks' class='col-sm-3 control-label'>Id</label><div class='col-sm-9'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-3 control-label'>Tên</label><div class='col-sm-9'><input type='text' maxlength='500' kind='char' class='form-control ' name='name' id='name' size='1' value='@Model.name'>    </div></div>
            <div class='form-group row'><label for='lblnameks' class='col-sm-3 control-label'>Ghi chú</label><div class='col-sm-9'><input type='text' maxlength='500' kind='char' class='form-control ' name='note' id='note' size='1' value='@Model.note'>    </div></div>
        </form>
    </div>
</section>