﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome!</h1>

    <div>
        @Model.Name
        @{
        List<SmartIT.Employee.MockDB.Employee> unitAll = new EmployeeJquery.Ui.ServiceDB().getAll();
        }
        <select class="form-control" id="UnitID" name="UnitID">
            @foreach (var unit in unitAll)
            {
                <option value="@unit.Id" >@unit.Name</option>
            }
        </select>
    </div>
</body>
</html> 