﻿@using lamlt.data
@using lamlt.webservice
@{
    string status = (Model.status == 1) ? "Đã duyệt" : "Chưa duyệt";
}
<form id='formfilm_folder' action='javascript:void();'>
    @Html.AntiForgeryToken()
    <div class='form-group row hidden'><label for='lblnameks' class='col-sm-2 col-form-label'>Id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Tiêu đề</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Mô tả</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>File</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='file' id='file' size='1' value='@Model.file'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Code</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 col-form-label'>Keywords</label><div class='col-sm-10'><input type='text' required maxlength='500' kind='char' class='form-control ' name='keywords' id='keywords' size='1' value='@Model.keywords'>    </div></div>
    <div class='form-group row'>
        <label for='status' class='col-sm-2 col-form-label'>Trạng thái</label>
        <div class='col-sm-10'>
            <select class='selection form-control' name='status' id='status' style="width:100%">
                <option value="0" @(((0 == Model.status) ? "selected" : ""))>Chưa duyệt</option>
                <option value="1" @(((1 == Model.status) ? "selected" : ""))>Đã duyệt</option>
            </select>
        </div>
    </div>
</form>