﻿@using lamlt.data 
@using lamlt.web.Services 
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
	<form id='formfilm_catalog_film' action='javascript:void();'>
		@Html.AntiForgeryToken()
	   <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input  readonly='readonly' type='text' maxlength='500'   kind='char'  class='form-control '  name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Loại</label><div class='col-sm-10'><select   class='form-control'  id='catalogid' name='catalogid'>
    @{
    List<film_catalog> dtILM_CATALOGilm_catalog_catalogid = new film_catalogService().GetAllItem(null);
    for (int jx = 0; jx <= dtILM_CATALOGilm_catalog_catalogid.Count - 1; jx++)
    {
        string sTitlexxx = dtILM_CATALOGilm_catalog_catalogid[jx].title.ToString();
        int sIdxxx = dtILM_CATALOGilm_catalog_catalogid[jx].Id;
        string sSelected = (sIdxxx == Model.catalogid) ? "selected" : ""; 
    <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
    }
    }
</select>    </div></div>
    <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film</label>
        <div class='col-sm-10'>
            <select   class='form-control'  id='filmid' name='filmid'>
        @{
        List<film_video> dtILM_VIDEOilm_video_filmid = new film_videoService().GetAllItem(null);
        for (int jx = 0; jx <= dtILM_VIDEOilm_video_filmid.Count - 1; jx++)
        {
            string sTitlexxx = dtILM_VIDEOilm_video_filmid[jx].title.ToString();
            int sIdxxx = dtILM_VIDEOilm_video_filmid[jx].Id;
            string sSelected = (sIdxxx == Model.filmid) ? "selected" : ""; 
        <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
        }
        }
        </select>    
        </div>
    </div>


	</form>
</section>