﻿body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-group {
    margin-bottom: 5px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    background: #eee;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

table {
    page-break-inside: auto;
    font-size: 9px;
    margin-bottom: 10px !important;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

.button-print {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

@media print {
    .noprint {
        display: none !important;
    }

    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    html {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    table { border: 2px solid #cdcdcd !important;}
    table th, table td {border:0 solid #ddd !important;}
}
/*hungpvcs*/
@page {
    margin: 0;
}

.control-label {
    margin-bottom: 10px;
}

.pay-print {
    min-width: 100%;
}

.f12 {
    font-size: 12px;
}

.fixtop {
    margin-top: -10px;
}

.titleks {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.logohotel {
    position: absolute;
    top: 0;
    right: 0;
}

.datap00 {
    margin-top: 15px;
}

.fix-print {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

.logohotel img {
    max-height: 120px;
}

.line-under {
    min-height: 2px;
    border: 1px dotted #cdcdcd;
    width: 90%;
    margin: 10px auto;
}

.control-label {
    padding-top: 0;
}

.clear {
    float: none !important;
    clear: both;
}

.thankp {
    font-style: italic;
    font-size: 10px;
}
