﻿#dllFriend .icheckbox_minimal-red{
    margin-right:3px;
}
.margin-left-3p
{
        margin-left: 3%;
}
.margin-top-5{
    margin-top:5px;
}
.smallCol{
    width:10px;    padding-right: 0px !important;
}
.fixWidth
{
    width:100px;
}
.margin-bottom-5{
    margin-bottom:5px;
}
.margin-bottom-10{
    margin-bottom:10px;
}