﻿body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-page, .register-page {
    background: #e9ebee;
}

.register-box {
    width: 768px;
    margin: 20px auto;
}

.login-logo, .register-logo {
    margin-bottom: 0;
    color: #fff;
    background: #489ee7;
}

.login-box-body, .register-box-body {
    border-radius: 0 0 5px 5px;
}

.cate-item {
    border: 1px solid transparent;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}

    .cate-item > a {
        color: #fff;
    }

.btn-box {
    color: #fff;
    background-color: #489ee7;
    border-color: rgba(0,0,0,0.2);
}

    .btn-box:active, .btn-box.active, .btn-box:hover {
        color: #fff;
        background-color: #3192e4;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-box label{
        display: block;
        text-align: center;
        margin-top:15%;
        margin-bottom: 12%
    }
    .btn-box i{
        font-size:60px;
    }
      
.error {
    color: #dd4b39;
}

.register-box-body .error,
.register-box-body .select2,
.login-page .select2-container {
    font-size: 12px;
}

#captcha_box {
    text-align: center;
}

#CaptchaInputText {
    width: 100px;
    text-align: center;
    margin: 0 auto;
}
.red{
    color:#dd4b39
}
















@media (max-width: 992px) {
    .register-box {
        width: 768px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .register-box {
        width: 90%;
        margin-top: 20px;
    }
}

.ajaxInProgress {
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

    .ajaxInProgress .loading-ct {
        width: 100px;
        /*'width': '250px',*/
        height: 75px;
        left: calc( 50% - 50px);
        position: absolute;
        top: 40%;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
    }