﻿
/*NamNN*/
@table_body_height: 230px;
@column_one_width: 40px;
@column_two_width: 100px;
@column_three_width: 150px;
@column_four_width: 70px;
@column_five_width: 80px;
@column_six_width: 80px;
@column_seven_width: 110px;
@column_eight_width: 110px;
@column_night_width: 150px;


.fixed_headers {
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        tr {
            display: block;
            position: relative;
        }
    }

    td:nth-child(1), th:nth-child(1) {
        min-width: @column_one_width;
    }

    td:nth-child(2), th:nth-child(2) {
        min-width: @column_two_width;
    }

    td:nth-child(3), th:nth-child(3) {
        width: @column_three_width;
    }

    td:nth-child(4), th:nth-child(4) {
        width: @column_four_width;
    }

    td:nth-child(5), th:nth-child(5) {
        width: @column_five_width;
    }
    td:nth-child(6), th:nth-child(6) {
        width: @column_six_width;
    }
    td:nth-child(7), th:nth-child(7) {
        width: @column_seven_width;
    }
    td:nth-child(8), th:nth-child(8) {
        width: @column_eight_width;
    }
    td:nth-child(9), th:nth-child(9) {
        width: @column_night_width;
    }
    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: @table_body_height;
    }
}
