﻿/*NamNN*/
.fixed_headers {
    table-layout: fixed;
    border-collapse: collapse;
}

    .fixed_headers thead tr {
        display: block;
        position: relative;
    }

    .fixed_headers td:nth-child(1),
    .fixed_headers th:nth-child(1) {
        min-width: 40px;
        max-width: 40px;
        overflow: hidden;
    }

    .fixed_headers td:nth-child(2),
    .fixed_headers th:nth-child(2) {
        min-width: 100px;
        max-width: 100px;
        overflow: hidden;
    }

    .fixed_headers td:nth-child(3),
    .fixed_headers th:nth-child(3) {
        width: 120px;
        max-width: 120px;
        overflow: hidden;
    }

    .fixed_headers td:nth-child(4),
    .fixed_headers th:nth-child(4) {
        width: 70px;
    }

    .fixed_headers td:nth-child(5),
    .fixed_headers th:nth-child(5) {
        width: 80px;
        max-width: 80px;
        overflow: hidden;
    }

    .fixed_headers td:nth-child(6),
    .fixed_headers th:nth-child(6) {
        width: 80px;
    }

    .fixed_headers td:nth-child(7),
    .fixed_headers th:nth-child(7) {
        width: 110px;
    }

    .fixed_headers td:nth-child(8),
    .fixed_headers th:nth-child(8) {
        width: 110px;
    }

    .fixed_headers td:nth-child(9),
    .fixed_headers th:nth-child(9) {
        width: 150px;
    }

    .fixed_headers tbody {
        display: block;
        overflow: auto;
        width: 100%;
        max-height: 230px;
    }
