﻿
.mg0 {
    margin: 0 !important;
}

.mgb0 {
    margin: 0 !important;
}

.pdrl0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mrl0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pd0 {
    padding: 0 !important;
    min-height: 0px;
}

.mh {
    min-height: 1px;
}

.pdb0 {
    padding-bottom: 0;
}

.bg-transparent {
    background-color: transparent;
}

.red {
    color: red !important;
}

.w100 {
    width: 100% !important;
}

.bg-white {
    background-color: white;
}

body {
    /*font-family: Ubuntu, Helvetica, sans-serif !important;*/ /*"Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;*/
    /*font-family: 'Arial, Helvetica, sans-serif';*/
    font-family: 'RV-Harmonia', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

.horizonal {
    border-bottom: 1px solid #d2d6de;
    color: #f39c12;
}

.horizonal {
    border-bottom: 1px solid #d2d6de;
    color: #f39c12;
}

/*.btn-header:before {
    font-family: 'FontAwesome';
    content: '\f05a';
    padding-right: 10px;
    position: relative;
    font-size: 90%;
}*/

/*.btn-header-tab:before {
    font-family: 'FontAwesome';
    content: '\f05a';
    padding-left: 5px;
    position: relative;
    font-size: 90%;
}*/

.dataTables_paginate {
    display: inline !important;
    float: right !important;
}

.content-wrapper {
    background: #f2f2f2;
}

.content {
    padding: 0 15px;
    background: #f2f2f2;
    /*padding-bottom: 0;*/
    /*margin-bottom:15px*/
}

.dataTables_length {
    display: inline !important;
}

h4.modal-title {
    color: #192836;
    font-weight: normal;
}

.info_customer {
}

.info_status {
    color: red;
}

.info_bookingcode {
    color: blue;
}

label {
    font-weight: normal;
}

.info_time {
}

.content-wrapper, .right-side {
    background-color: #f2f2f2;
    min-height: 547px;
    border-left: 1px solid #dadada;
}
/*sidebar*/
/*.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
        background-color: #ea9000;
}
ul.sidebar-menu li a span, ul.sidebar-menu li a i {
    color: #fff;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}*/
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    width: 210px;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
        padding-bottom: 15px;
    }
}

.sidebar .dropdown-toggle .info {
    padding: 16px 20px;
}

.sidebar .dropdown-toggle .wpc75 {
    width: 75%;
}

.profile {
    padding: 10px 0px 0px 0px !important;
}


/*end sidebar*/
/*content*/
section.content h2 {
    text-align: center;
}

.custom-header-table {
    padding: 0;
    /*background: #ccc;
    background: #f39c12;*/
    padding: 5px 0;
    margin: 5px 0;
    overflow: hidden;
}
/*end content*/
/*modal*/
.modal-modify .modal-title {
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
}

.modal-modify .modal-body .modal-body-content, .modal-modify .group-bt-modal {
    padding-right: 50px;
}

.modal-modify .group-bt-modal {
    float: right;
    white-space: nowrap;
}

    .modal-modify .group-bt-modal button {
        width: 47%;
        margin-top: 0;
    }

.group-bt-modal .btn-save {
    float: left;
    margin-right: 10px;
}



/*end modal*/
/*table*/
.add-row-table, .edit-row-table {
    padding: 0 5px 0 0;
    min-width: 120px;
    float: left;
}

.btn-oze {
    color: #000;
    width: 120px;
    background-color: #e1e1e1;
}

    .btn-oze > i {
        padding-right: 5px;
    }

    .btn-oze.disabled, .btn-oze[disabled] {
        cursor: none;
    }

    .btn-oze:hover, .btn-oze:focus:not([disabled]) {
        /*background: rgba(255, 255, 255, 0.4);*/
        /*color: #fff;*/
        /*border-color: rgba(255, 255, 255, 0.4);*/
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.05);
        box-shadow: 0 2px 6px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.05);
    }

.btn-oze-add {
    background-color: #2f8ae5;
    color: #fff;
    border-color: #2f8ae5;
}

    .btn-oze-add:hover, .btn-oze-add:hover:not([disable]) {
        background: #2f8ae5;
        color: #fff;
        border-color: #2f8ae5;
    }

.edit-row, .delete-row {
    padding: 3px 20px;
    cursor: pointer;
}

    .edit-row:hover, .edit-row:hover:not([disable]), .delete-row:hover, .delete-row:hover:not([disable]) {
        background: rgb(238, 238, 238);
        border-color: rgba(255, 255, 255, 0.4);
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.05);
        box-shadow: 0 2px 6px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.05);
        border-color: rgba(235, 235, 235, 0.31);
        background-color: rgba(235, 235, 235, 0.45);
        color: #00c0ef;
    }

.add-row-body, .delete-row-body, .edit-row-header, .delete-row-header {
    text-align: center;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #d2d6de;
    border-collapse: collapse !important;
    border-bottom: none !important;
    /*border-right: none !important;*/
    border-left: none !important;
}

.table-bordered {
    border-bottom: 1px solid #d2d6de !important;
    border-left: 1px solid #d2d6de !important;
    border-right: 1px solid #d2d6de !important;
}

.table-striped > tbody > tr:nth-of-type(even):hover, .table-striped > tbody > tr:nth-of-type(odd):hover {
    background: #f2f2f2;
}

.custom-header-table .dataTables_length, .custom-header-table .dataTables_filter {
    /*color: #fff;*/
}

    .custom-header-table .dataTables_length label, .custom-header-table .dataTables_filter label {
        margin-bottom: 0;
    }

.custom-header-table .group-header-right .dataTables_length {
    float: right;
}

.custom-header-table .group-header-right .dataTables_filter {
    float: left;
}

.group-header-right {
    padding: 3px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f39c12;
    border-color: #c17906;
}

.edit-row.disabled, .edit-row[disabled], .delete-row.disabled, .delete-row[disabled] {
    color: #ccc;
    pointer-events: none;
}
/*end table*/
.form-group .form-control.input-validation-error {
    border-color: #dd4b39;
    box-shadow: none;
}

.form-group .text-danger.field-validation-error {
    color: #dd4b39;
}

.form-group-chpw {
    margin-bottom: 1px;
    overflow: hidden;
}

.header-warning {
    background: #db8b0b;
}

.form-group {
    overflow: hidden;
}

.control-label {
    padding-top: 10px;
}

.radio-group {
    width: 50%;
    float: right;
    padding: 10px;
}

.field-validation-error {
    color: #dd4b39;
}

/* custom notify 2016-11-15 15:04:59 NamLD*/
.notifyjs-bootstrap-base {
    border-radius: 0 !important;
}

/* /custom notify*/
/**button*/
.edit-delete-table {
    overflow: hidden;
    width: 140px;
    margin: auto;
}

.input-table {
    display: inline-block;
    padding: 2px;
}

.btn {
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 20px 6px;
}

.input-table > a.btn {
    padding: 0px 6px;
    margin: 0;
    line-height: 14px;
    background-color: transparent;
    color: #000;
    border: none;
}

.input-table .btn-primary:active:hover,
.input-table .btn-primary.active:hover,
.input-table .btn-primary:active:focus,
.input-table .btn-primary.active:focus,
.input-table .btn-primary:active.focus,
.input-table .btn-primary.active.focus {
    background-color: transparent;
    color: #000;
    border: none;
    outline: 0;
}

.input-table2 {
    margin-left: 4px;
}

.input-table img {
    cursor: pointer;
    padding: 0 5px;
}

    .input-table img:hover {
        box-shadow: 1px 2px 1px rgba(85, 83, 82, 0.59);
        -webkit-box-shadow: 1px 2px 1px rgba(85, 83, 82, 0.59);
        border-bottom-color: rgba(85, 83, 82, 0.59);
    }

.edit-delete-table > div, .edit-delete-table > a {
    width: 24px;
    height: 20px;
    float: left;
    padding: 0;
    border-bottom: 1px solid transparent;
    text-align:center;
}
.edit-delete-table >div > img,
.delete-table > img,
.edit-table > img,
.input-table > img{

}

.edit-delete-table > .delete-table {
    padding: 0 0;
    margin-left: 2px;
}

.edit-delete-table > .edit-table {
    margin-right: 2px;
}

.edit-delete-table i.fa.fa-pencil {
    font-size: 14px;
    color: #f27c2e;
    border-bottom: 1px solid;
}

.edit-delete-table i.fa.fa-times {
    font-size: 18px;
    color: #ff0000;
    text-align: center;
}

.edit-delete-table > div:hover, .edit-delete-table > div:hover:not([disabled]), .edit-delete-table > a:hover, .edit-delete-table > a:hover:not([disabled]) {
    background: #ddd;
    box-shadow: 1px 2px 1px rgba(85, 83, 82, 0.59);
    -webkit-box-shadow: 1px 2px 1px rgba(85, 83, 82, 0.59);
    border-bottom-color: rgba(85, 83, 82, 0.59);
    cursor: pointer;
}

.edit-delete-table > div[disabled], .edit-delete-table > div.disabled, edit-delete-table > div[disabled]:hover, .edit-delete-table > div.disabled:hover,
.edit-delete-table > a[disabled], .edit-delete-table > a.disabled, edit-delete-table > a[disabled]:hover, .edit-delete-table > a.disabled:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    border-bottom-color: transparent !important;
    cursor: not-allowed;
}

    .edit-delete-table > div[disabled] > i.fa.fa-pencil, .edit-delete-table > div.disabled > i.fa.fa-pencil {
        color: #ccc;
    }
/**button success, delete*/
.btn-oze-success, .btn-oze-delete {
    right: 0;
    margin: auto;
    background: transparent;
    border-color: #b6b6b6;
    padding: 1px;
    width: 140px;
}

    .btn-oze-success:hover {
        border-color: #f27c2e;
    }

        .btn-oze-success:hover > .btn-border {
            border-color: rgba(242, 124, 46, 0.52);
        }

            .btn-oze-success:hover > .btn-border > p {
                color: #df6412;
            }

    .btn-oze-success > .btn-border, .btn-oze-delete > .btn-border {
        border: 1px solid rgba(182, 182, 182, 0.52);
        padding: 5px;
    }

    .btn-oze-delete:hover {
        border-color: #fa0000;
    }

        .btn-oze-delete:hover > .btn-border {
            border-color: #fa0000;
        }

            .btn-oze-delete:hover > .btn-border > p {
                color: #f10000;
            }

    .btn-oze-delete > .btn-border, .btn-oze-success > .btn-border {
        border: 1px thin rgba(182, 182, 182, 0.52);
        padding: 5px;
        background-color: #f27c2e;
        color: #fff;
    }

.btn-border > p {
    margin: 0;
    font-size: 16px;
}

/** /button*/
.form-group {
    margin-bottom: 15px;
}

.dtr-modal-display {
    border-radius: 0;
}

.nonehover {
    color: #f39c12 !important;
    background-color: #ffffff !important;
    border-left-color: #ffffff !important;
}

.sidebar-menu > .treeview > .treeview-menu > li {
    border-bottom: 1px dotted rgba(204, 204, 204, 0.32);
}

    .sidebar-menu > .treeview > .treeview-menu > li:last-child {
        border-bottom-color: transparent;
    }

/*.tab-title {
    margin-bottom: 0px;
    font-size: 16px;
    padding-bottom: 15px;
}*/

/*.tab-title > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .tab-title > .nav-tabs > li.active > a, .tab-title > .nav-tabs > li:hover > a:hover {
        background-color: #e8eaea;
        border-radius: 0;
        border-bottom: 2px solid #f18137;
        color: #000;
    }*/

/*.tab-title > .nav-tabs > li {
        border-top: 0;
    }*/

.group-filter {
    padding-right: 0;
}

    .group-filter .fa-search {
        margin-left: -33px;
        padding: 7px 10px;
        font-size: 15px;
        position: absolute;
        color: #acacac;
    }

.col-sm-6.group-filter .dataTables_filter .input-sm {
    padding-right: 30px;
}

.sidebar-menu > li {
    cursor: pointer;
}

.group-button {
    padding-left: 0;
}

.form-control[type="search"]:focus {
    border-color: #f27d2f;
}

.form-control:focus ~ i.fa-search {
    color: #f27d2f;
}

.box.box-none-border {
    border-top-color: transparent;
    box-shadow: none;
    width: 40%;
    margin: auto;
}

.tab-pane input[type="button"].btn-oze-add, .tab-pane .btn-oze-add {
    width: 130px;
    float: right;
}

#GroupMenu .box-body.box-create {
    float: right;
}

.box-access-right {
    margin: 5px 0;
    overflow: hidden;
}

.td-modify {
    width: 200px;
}

.box {
    border-radius: 0;
}

    .box:not(.collapsed-box) > .box-header > .box-tools > .btn-box-tool > .fa-angle-right {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.login-box-body {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.btn-oze-login {
    background-color: #f27c2e;
    border-color: #00b1ac;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 18px;
}

.box-content {
    border: 1px solid #ff5e00;
    border-radius: 5px;
}

.box-content {
    border: 1px solid #ff5e00;
    border-radius: 5px;
}

.login-logo > .logo-icon {
    background: url("/Images/Login/Link.png") center no-repeat;
    /*background-position: 10px 25px;*/
    width: 270px;
    height: 70px;
    display: block;
    margin: auto;
}

.btn-oze-login:hover, .btn-oze-login:active, .btn-oze-login.hover, .btn-oze-login:focus, .btn-oze-login:active, .btn-oze-login.focus {
    background-color: #008985;
    border-color: #008985;
}

.login-page, .register-page {
    /*background: url("/Images/Login/background_login.png") no-repeat center center fixed;*/
    background-color: #e9ebee;
}

.sidebar-menu > .treeview > a > i {
    font-size: 20px;
    color: #151c24;
    display: table-cell;
}

.sidebar-menu > .treeview > a > span {
    padding-left: 10px;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
}

.not-padding {
    padding-left: 0;
    padding-right: 0;
}

.not-padding-right {
    padding-right: 0;
}

.lbl-name {
    margin-top: 8px;
}

.group-top {
    margin-bottom: 10px;
    overflow: hidden;
}

.cbx-content {
    margin-top: 6px;
}

.txt-border-bot {
    border-width: 0 0 1px 0;
}

.group-control {
    overflow: hidden;
    margin-bottom: 20px;
}

.pagination-table > .pagination {
    float: right;
}

    .pagination-table > .pagination > li.disabled > a {
        background: rgba(204, 204, 204, 0.47);
        color: #ccc;
    }

    .pagination-table > .pagination > li:first-child > a, .pagination-table > .pagination > li:last-child > a {
        border-radius: 0;
    }
/*modify*/
.th-modify {
    width: 120px !important;
}

.modify-columns {
    white-space: nowrap;
}

    .modify-columns .icon-modify {
        background: url(/Images/modify_small.png) center no-repeat;
        display: block;
        width: 30px;
        height: 25px;
        float: left;
        cursor: pointer;
    }

.modal-title .icon-modify {
    background: url(/Images/modify.png) center no-repeat;
    display: block;
    width: 50px;
    height: 30px;
    float: left;
    cursor: pointer;
}

.btn-modify-detail > .icon-modify.icon-detail {
    background-position: -2px -4px;
}

.btn-modify-set > .icon-modify.icon-set {
    background-position: -35px -4px;
}

.modal-title > .icon-modify.icon-set {
    background-position: -48px -10px;
}

.btn-modify-change > .icon-modify.icon-change {
    background-position: -67px -4px;
}

.btn-modify-delete > .icon-modify.icon-delete {
    background-position: -98px -4px;
}
/*/modify*/

.tilte-booking .title-hotel {
}

.title-money {
    color: #e90000;
    font-weight: bold;
}

.btn-set-room {
    position: absolute;
    right: 15px;
    top: 65px;
}

a#btnSetRoom {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.group-title > label {
    font-size: 27px;
    font-weight: bold;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.customer-info, .booking-info {
    padding: 50px 15px;
    font-size: 16px;
}

.txt-middle > p {
    display: inline-block;
}

.txt-middle .fa.fa-star {
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    color: red;
}

.group-modify > .icon-add, .group-modify > .icon-edit {
    background: url(/Images/pen_edit.png) center no-repeat;
    display: inline-block;
    width: 40px;
    height: 30px;
    float: left;
}

.group-modify > .icon-edit {
    background-position: 3px -3px;
}

.group-modify > .icon-add {
    background-position: -30px -5px;
}

.txt-left > p, .txt-middle > p {
    margin: 0;
    padding: 5px;
}

.space-row {
    padding: 5px 0;
}

.group-title {
    padding: 15px 15px 25px;
}

.txt-left > label, .txt-left > p {
    display: inline-block;
}

.txt-note {
    color: red;
}

.tab-detail {
    margin-bottom: 0;
}

.booking-info {
    background: #f2f2f2;
}

.pop-form-group {
    overflow: visible;
}

.txt-center {
    text-align: center;
}

.padding-right20 {
    padding-right: 20px;
}

.padding-right25 {
    padding-right: 25px;
}

.padding-right15 {
    padding-right: 15px;
}

.padding-top10 {
    padding-top: 10px;
}

.bgresrom {
    /*background-color: #eee !important;*/
    /*margin-top: 22px;*/
}

.paddingrb {
    padding: 10px 20px;
}
/*.modal-dialog{
    width: 60%;
}*/
.not-padding-left {
    padding-left: 0px;
}

.modal-set-room .modal-title,
.modal-detail-booking .modal-title {
    padding-left: 10px;
}

    .modal-detail-booking .modal-title > p,
    .modal-set-room .modal-title > p {
        font-size: 25px;
    }

.modal-title > i {
    font-size: 25px;
    color: #f27c2e;
}

.modal-set-room .customer-info,
.modal-set-room .booking-info,
.modal-detail-booking .customer-info,
.modal-detail-booking .booking-info {
    padding: 0 15px;
    background: transparent;
}

.modal .modal-footer {
    border-top-color: #f4f4f4;
}


.modal-set-room .modal-footer .btn-save,
.modal-detail-booking .modal-footer .btn-save {
    margin: auto;
}

.modal-set-room .modal-footer,
.modal-detail-booking .modal-footer {
    padding-bottom: 40px;
}

.modal label.error {
    color: red;
    font-weight: normal;
}

.modal select.error {
    border-color: red;
}

/*not active link (tag a) */
.not-active {
    pointer-events: none;
    cursor: default;
}

.dialog-loading .modal-content {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dialog-loading .modal-dialog {
    top: 40%;
}
/*.dialog-loading  .modal-dialog {
  -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}*/



/*custom css - LongLD*/
/* lựa chon khách sạn*/
.luachon-ks {
    margin: 5px 15px 15px;
}

/* input search*/
.stylish-input-group {
    width: 300px;
}

    .stylish-input-group .input-group-addon {
        background: white !important;
        width: 50px;
    }

    .stylish-input-group .form-control {
        border-radius: 4px;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }

.page-title.with-border, .tab-title {
    padding: 0 15px;
    border-bottom: 1px solid #f4f4f4;
    margin: 0 -15px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}

    .tab-title > .nav-tabs {
        border-bottom: none;
    }

        .tab-title > .nav-tabs > li.active > a {
            color: #151c24;
            font-size: 16px;
            font-weight: normal;
            /*background-color: transparent;
            border-radius: 0;*/
            border: none;
            padding-top: 14px;
            padding-left: 0;
        }

.content > .page-title, .tab-title {
    margin-bottom: 15px;
}

.page-title label {
    color: #151c24;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
}

.oze-form {
    color: #000;
}

    .oze-form .box-body {
        padding-left: 0;
        padding-right: 0;
    }

    .oze-form .form-group {
        margin-bottom: 10px;
    }

    .oze-form .label-ht {
        color: #111;
    }

    .oze-form .cl-111 {
        color: #111;
    }

    .oze-form label {
        font-weight: normal;
    }

.bold {
    font-weight: bold !important;
}

.label-ht {
    height: 37px;
    margin-top: 17px;
}


.btn-oze-ck {
    height: 35px;
    padding: 0 25px;
}

.form-control.note-cs {
    border: 1px solid #bcbcbc;
}

.note-label {
    color: #da0000;
    font-style: italic;
    /*font-weight: bold;*/
}


/* chọn phòng*/

.small-box > .inner {
    padding: 10px 0;
    border: 1px solid;
    border-color: #c3cbd9;
    color: #192836;
    font-weight: bold;
    cursor: pointer;
    min-height: 54px;
}

    .small-box > .inner h5 {
        margin-top: 10px;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
    }

.inner:hover,
.room-selected,
.small-box .room-selected {
    background: #ef7c2b;
    color: #fff;
}

.box-phutroi .addon-1 {
    border-right: none;
}

.box-phutroi .addon-2 {
    border-left: none;
}

.box-phutroi .addon-label {
    border: none;
}

.pdr0 {
    padding-right: 0;
}

.pdl0 {
    padding-left: 0;
}


.ajaxInProgress {
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

    .ajaxInProgress .loading-ct {
        width: 100px;
        /*'width': '250px',*/
        height: 75px;
        left: calc( 50% - 50px);
        position: absolute;
        top: 40%;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
    }
/*dataTables*/
/*.dataTables_length select.form-control {
    border: 1px solid #ddd;
}

.dataTables_length {
    margin-top: 3px;
}

.dataTables_length,
.dataTables_paginate {
    width: 50%;
    display: inline-block;
    float: left;
}*/
/*end dataTables*/


/* custom css*/

@media (min-width: 768px) {
    .content-wrapper, .right-side, .main-footer {
        margin-left: 230px;
    }
}

.sidebar-menu .treeview-menu > li > a > .fa {
    width: 12px;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 8px 5px 6px 15px;
    font-size: 13px;
}

.sidebar .dropdown-toggle .info {
    padding: 15px 0px;
}

.main-header .sidebar-toggle {
    /*padding: 16px 15px 17px;*/
    padding: 15px;
}


.box-payment {
    background: #eee;
}

.input-group-addon[disabled],
.input-group-addon[readonly] {
    background-color: #eee;
    opacity: 1;
}

.content .content {
    padding-left: 0;
    padding-right: 0;
}

.input-group .input-group-addon {
    min-width: 50px;
}

    .input-group .input-group-addon.ss-addon {
        padding: 0;
        text-align: center;
        border-left: 0;
        height: 100%;
    }

        .input-group .input-group-addon.ss-addon select {
            padding: 0;
            width: 100%;
            height: 100%;
            border: transparent;
            margin: 0;
            min-width: 54px;
        }

.iconphutroi {
    display: inline-block;
    float: right;
}

.user-panel > .image > img {
    width: 100%;
    max-width: 45px;
    height: auto;
}

.sidebar-menu .user-panel .info {
    width: 162px;
    left: 65px;
    padding: 7px 10px 7px 0;
    font-size: 15px;
    font-weight: normal;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 10px;
    display: block;
}



.main-sidebar {
    /* width: 180px; */
    width: 230px;
}

.main-header {
    border-bottom: 1px solid #dadada;
}

@media (min-width: 768px) {
    .main-header .navbar {
        margin-left: 230px;
    }

    .main-header .logo {
        font-weight: normal;
        width: 230px;
        text-align: center;
    }
}

.main-footer {
    text-align: center;
    background-color: #f2f2f2;
    border-left: 1px solid #dadada;
}

.navbar-notification {
    cursor: pointer;
}

.navbar-nav > .notifications-menu > .dropdown-menu {
    width: 320px;
}

/*.chart-oze {
    margin-top: 40px;
}*/

.input-group .form-control.input-addon1 {
    width: 60%;
}

.input-group .form-control.select-addon1 {
    width: 40%;
    padding: 0px 0px 0px 5px;
    border-left: 0;
}

.box-item-scroll {
    max-height: 250px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 5px;
}

.color-bar {
    width: 20px;
    height: 20px;
    background: #000;
    display: inline-block;
    margin-left: 10px;
}



.sidebar-menu.sidebar-menu-user {
    /*z-index:1111;*/
    overflow: visible;
}

/* bootstrap  modal */
.bootstrap-dialog.type-default .modal-header {
    background-color: #ededed;
}

.modal-header {
    color: #192836;
    height: 50px;
    text-align: center;
    background-color: #ededed;
}

.bootstrap-dialog.type-default .bootstrap-dialog-title {
    color: #192836;
    font-weight: bold;
}

.modal-header .close {
    margin-top: -3px;
    margin-right: 3px;
}

button.close {
    font-size: 24px;
    opacity: 1;
    color: #666666;
    font-weight: normal;
}

@media (max-width: 768px) {
    .modal-dialog {
        width: calc(100% - 10px);
        margin: 30px auto;
    }
}

.page-loading {
    padding: 15px 0;
}



.box.box-oze {
    border: 1px solid #d2d6de;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 0;
    -webkit-transition: max-height 0.2s ease-out !important;
    -moz-transition: max-height 0.2s ease-out !important;
    -o-transition: max-height 0.2s ease-out !important;
    transition: max-height 0.2s ease-out !important;
}

    .box.box-oze .box-header {
        border-bottom: 1px solid #d2d6de;
        text-transform: capitalize;
    }

        .box.box-oze .box-header h3,
        .box.box-oze .box-header h4 {
            text-transform: none;
        }

table.dataTable thead > tr > th {
    background: #e9edf0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fafafa;
}
/*add icon*/
/*button.btn[data-dismiss]:before {
    font-family:"FontAwesome";
    content: "\f112";
    padding-right:10px
}  
button.btn[data-save]:before {
    font-family:"FontAwesome";
    content: "\f00c";
    padding-right:10px
}  

.save:before {
    font-family:"FontAwesome";
    content: "\f00c";
    padding-right:10px
}  
.search:before {
    font-family:"FontAwesome";
    content: "\f002";
    padding-right:10px
}*/
/*.bootbox .modal-footer {
    padding: 0 15px 15px;
}*/

.header-action {
    margin-right: 30px;
}

.header-action-item {
    margin-bottom: 0;
    padding: 0px 5px;
}


.box-body.box-grid {
    padding: 0;
}

    .box-body.box-grid table.dataTable {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border: 0 !important;
    }

body a,
.control-label a {
    cursor: pointer;
}

.box.box-oze.box-oze-close {
    max-height: 100px !important;
    overflow: hidden;
}

.tttoan.box.box-oze.box-oze-close {
    max-height: 150px !important;
}

.box-oze124.box.box-oze.box-oze-close {
    max-height: 124px !important;
}

.toggleBox {
    position: absolute;
    top: 6px;
    right: 15px;
    text-align: center;
}

    .toggleBox i.fa {
        font-size: 24px;
    }

.box-header.header-toggler {
    cursor: pointer;
}

.page-data .boxsearch {
    box-shadow: none;
    border: 1px solid rgb(210, 214, 222);
    transition: max-height 0.2s ease-out !important;
    display: block;
    margin: 0 15px 15px;
    padding: 15px 0 0;
    background-color: #fff;
}


.boxgrid {
    margin: 0 15px;
    background: #fff;
}

    .boxgrid table.table-bordered.dataTable {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .boxgrid .bottom {
        padding: 15px;
    }

button.btn[type=submit] {
    background-color: #f17c2d;
    border-color: #f17c2d;
}

    button.btn[type=submit]:hover,
    button.btn[type=submit]:active,
    button.btn[type=submit]:focus,
    button.btn[type=submit].focus {
        background-color: #ea6b17;
        border-color: #ea6b17;
    }

.form-box {
    margin-bottom: 15px;
    display: block;
    /* overflow: visible; */
    float: left;
    width: 100%;
}

    .form-box .col-sm-4,
    .form-box .col-sm-8,
    .form-box [class*=' col-'] {
        min-height: 0;
    }

    .form-box input[type="text"],
    .form-box select, .form-box textarea, .form-box input[type="text"], .form-box input[type="password"], .form-box input[type="datetime"] {
        margin-bottom: 0;
    }

.form-bt {
    margin-bottom: 15px;
}

.btn-box {
    padding-left: 15px;
    padding-right: 15px;
}

.form-box.col-sm-6 {
    width: 50%;
}

.chitiettd {
    border-right: 1px solid #d2d6de;
}

.input-label {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select.input-label::-ms-expand {
    display: none;
}

.navbar-custom-menu > .nav > li {
    border-left: 1px solid #dadada;
}

.boxsearch select, .boxsearch textarea, .boxsearch input {
    margin-bottom: 0 !important;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.nw {
    white-space: nowrap !important;
}

.col-fix {
    padding-right: 15px;
    padding-left: 15px;
}

#PriceEstimate.box-item-scroll {
    margin-left: 0;
    margin-right: 0;
}

.listService.box-item-scroll,
.listServiceOrther.box-item-scroll {
    margin-left: 0;
    margin-right: 0;
}

.alert.alert-info.animated.fadeInDown {
    z-index: 8888 !important;
}

.modal-header button {
    margin-left: 5px;
    border: none;
    background-color: transparent;
}

.table-bold td {
    font-weight: bold;
}

.table-no-datatable thead > tr > th {
    background: #e9edf0;
    text-align: center;
}

.tdnumber,
.table-bordered tr th.tdnumber {
    text-align: right;
}

.oze-dropdown {
    display: inline-block;
}

    .oze-dropdown .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
    }

    .oze-dropdown .dropdown-item {
        display: block;
        width: 100%;
        padding: 3px 1.5rem;
        padding: 5px 20px 6px;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        margin-bottom: 5px;
    }

        .oze-dropdown .dropdown-item:last-child {
            margin-bottom: 0;
        }

    .oze-dropdown .dropdown-menu {
        margin: 0px;
        border-radius: 0;
        right: 0;
        left: inherit;
    }

    .oze-dropdown .btn-info:active,
    .oze-dropdown .btn-info.active,
    .oze-dropdown.open > .dropdown-toggle.btn-info,
    .oze-dropdown .btn-info:hover {
        background-color: #ea6b17;
        border-color: #ea6b17;
    }

.modal.bootbox-alert,
.modal.bootbox-confirm {
    z-index: 1061;
}


table.dataTable.mg0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#div_DataDeposit {
    overflow-x: auto;
    overflow-y: hidden;
}

.height-fix {
    min-height: 1px;
}

.page_offline {
    display: block;
    width: 190px;
    height: 40px;
    text-align: center;
    background-color: #293339;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    color: #fff;
    position: fixed;
    right: 25px;
    bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    white-space: nowrap;
    z-index: 9999;
}

.navbar_marquee {
    position: absolute;
    left: 40px;
    width: calc(100% - 217px);
    height: 50px;
}

    .navbar_marquee marquee {
        font-size: 18px;
        padding-top: 14px;
        color: #f18133;
    }

marquee {
    cursor: pointer;
}

#chat-application #banner {
    display: none;
}

.bd-right-width {
    border-right-width: 1px !important;
}

.btnprintxxx {
    position: absolute;
    top: 8px;
    right: 0px;
    background: transparent;
    color: #333;
}

.btnprintxxx2 {
    right: 34px;
}

.btnprintxxx:hover,
.btnprintxxx:active:hover,
.btnprintxxx:active,
.btnprintxxx.hover,
.btnprintxxx:focus,
.btnprintxxx.focus {
    background-color: transparent;
    border-color: transparent;
    color: #333;
}

.box-inline .control-label {
    white-space: nowrap;
}

.box-inline .error {
    height: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    white-space: initial;
    text-overflow: inherit;
}

.select2-container .select2-selection--single {
    overflow: hidden;
}

.curpoi {
    cursor: pointer;
}



.listRequest {
    width: 100%;
    list-style-type: none;
    padding: 1px 0;
    max-height: 50px;
    overflow: auto;
}

    .listRequest li {
        display: inline-block;
        padding: 2px 5px;
        list-style-type: none;
        border: 1px solid #fff;
        border-radius: 2px;
        font-size: 13px;
        cursor: pointer;
    }

        .listRequest li:hover {
            border: 1px solid green;
            background: #f9f9f9;
        }
.login-page {
    background-image: url("../Images/Login/bg-login.jpg");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}