﻿/*Menu*/

.mnic.menu-icon {
    display: table-cell;
    width: 20px;
}

.mnic:before {
    content: " ";
    display: table-cell;
    width: 18px;
    height: 28px;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

.mnic.menu-icon:before {
    background-image: url("../Images/Icon/icon-menu-le-tan.png");
    background-size: 87%;
}

.mnic.menu-bc:before {
    background-image: url("../Images/Icon/icon-menu-baocao.png");
    background-size: 109%;
}

.mnic.menu-tk:before {
    background-image: url("../Images/Icon/icon-menu-thongke.png");
    background-size: 100%;
    background-position-y: 8px;
}

.mnic.menu-kho:before {
    background-image: url("../Images/Icon/icon-menu-kho.png");
    background-size: 100%;
}

.mnic.menu-kenh:before {
    background-image: url("../Images/Icon/icon-menu-kenhozo.png");
    background-size: 100%;
    background-position-y: 5px;
}

.mnic.menu-shop:before {
    background-image: url("../Images/Icon/icon-menu-shop.png");
    background-size: 100%;
}

.mnic.menu-cd:before {
    background-image: url("../Images/Icon/icon-menu-caidat.png");
    background-size: 100%;
}


/*.mnic .menu-icon:after {
    background-image: url("icon/icon-menu-le-tan.png");
}*/


.oze-icon {
    display: block;
    /*width: 18px;
    height: 18px;*/
    position: relative;
}
.oze-icon.oze-menu {
    width: 18px;
    height: 18px;
    float: left;
}

    .oze-icon:before {
        content: " ";
        display: table-cell;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        position: absolute;
        top: -12px;
        left: -8px;
    }
.oze-icon.oze-menu:before{
    top: -12px;
        left: -8px;
}
    .oze-icon.oze-search:before {
        background-image: url('icon/icon-search.svg');
    }
     .oze-icon.oze-sdp:before {
        background-image: url('icon/icon-menu-sodophong.svg');
    }
    