﻿@{
    ViewData["Title"] = "Danh mục Live";
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="panel-group" id="search_panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#search_panel" href="#advanced_search">TÌM KIẾM NÂNG CAO</a>
        </div>
        <div class="panel-collapse collapse in" id="advanced_search">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="control-group row-fluid form-inline">
                        <label for="search_live_catalog_title">Tìm kiếm tiêu đề</label>
                        <input type="text" class="form-control" name="search_live_catalog_title" id="search_live_catalog_title" />
                        <button onclick="javascript: olive_catalog.searchGrid();" type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                        <button onclick="javascript: olive_catalog.editDialog(0);" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="example_live_catalog" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class='grid-cell selector'>Thao tác</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>ID</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Tiêu đề</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mô tả</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Số lượng video</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Mã code</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày tạo</th>
            <th class='grid-cell char' kind='char' style='cursor: pointer;'>Ngày cập nhật</th>
        </tr>
    </thead>
</table>
<!--script-->
<script src="~/Themes/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Themes/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/Themes/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/oze.common.js"></script>
<script src="~/Scripts/oze/live_catalog.js"></script>
<script type="text/javascript">
    var $table;
    var olive_catalog = new live_catalog();
    $(document).ready(function ()
    {
        //toggleMenu("menu_kho");
        olive_catalog.setupGrid();
        $("#search_live_catalog_title").keypress(function (e) {
            if (e.which == 13) {
                olive_catalog.searchGrid();
            }
        });

    });

    // check cp hiện thị
    window.cp = '@lamlt.web.Services.comm.GetCPId()';
    //update image theo id
    function updateImage(url, id)
    {
        olive_catalog.UpdateImage (url, id);
    };
    function getImageupdate(id) {
        olive_catalog.getImageupdate(id);
    }
</script>
