﻿@using lamlt.data
@using lamlt.web.Services
<section>
    <form id='formlive_catalog' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Tiêu đề</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='title' id='title' size='1' value='@Model.title'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>
        @*<div class='form-group row'>
                <label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo</label>
                <div class='col-sm-10'>
                    <input type='text' maxlength='500' kind='char' class='form-control ' name='datecreated' id='datecreated' size='1' value='@Model.datecreated' />
                    <span class='input-group-addon input-group-addon-custom' onclick="javascript:$('#datecreated').datetimepicker('show');"><span class='glyphicon glyphicon-calendar'></span></span>
                    <script type='text/javascript'>
                        $(document).ready(function () { $('#datecreated').datetimepicker({ format: 'DD/MM/YYYY' }); });
                    </script>
                </div>
            </div>*@

        @*<div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Loại cha</label><div class='col-sm-10'>
                <select class='form-control' id='catalogid' name='catalogid'>
                    <option value="0">--Chọn loại cha--</option>
                    @{
                        List<live_catalog> dtILM_CATALOGilm_catalog_catalogid = new live_catalogService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_CATALOGilm_catalog_catalogid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_CATALOGilm_catalog_catalogid[jx].title.ToString();
                            int sIdxxx = dtILM_CATALOGilm_catalog_catalogid[jx].Id;
                            string sSelected = (sIdxxx == Model.catalogid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>*@
        @* <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='desc' id='desc' size='1' value='@Model.desc'>    </div></div>*@
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Mã code</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='code' id='code' size='1' value='@Model.code'>    </div></div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Số lượng video live</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='quantity' id='quantity' size='1' value='@Model.quantity'>    </div></div>

    </form>
</section>