﻿<section>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Id</label>   <div class='col-sm-10'>@Model.Id    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Tiêu đề</label>   <div class='col-sm-10'>@Model.title    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Mô tả</label>   <div class='col-sm-10'>@Model.desc    </div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Ngày tạo</label>   <div class='col-sm-10'>@Model.date_created    </div></div>
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Người tạo</label>   <div class='col-sm-10'>@Model.user_name    </div></div>*@
    @*<div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Catalogid</label>   <div class='col-sm-10'>@Model.catalogid_title    </div></div>*@
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Số lượng video</label>   <div class='col-sm-10'>@Model.quantity</div></div>
    <div class='form-group row'>   <label for='lblnameks' class='col-sm-2 control-label'>Mã code</label>   <div class='col-sm-10'>@Model.code </div></div>
</section>