﻿@using lamlt.data
@using lamlt.web.Services
<div class="nav-tabs-custom" style="margin-bottom:5px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="Thông tin chỉnh sửa" role="tab" data-toggle="tab">Thông tin chỉnh sửa</a></li>

        <li id="liAddNew" style="float:right">

        </li>
    </ul>
</div>
<section>
    <form id='formfilm_related' action='javascript:void();'>
        @Html.AntiForgeryToken()
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Id</label><div class='col-sm-10'><input readonly='readonly' type='text' maxlength='500' kind='char' class='form-control ' name='Id' id='Id' size='1' value='@Model.Id'>    </div></div>
        <div class='form-group row'>
            <label for='lblnameks' class='col-sm-2 control-label'>Film</label>
            <div class='col-sm-10'>
                <select class='form-control' id='filmid' name='filmid'>
                    @{
                        List<film_video> dtILM_VIDEOilm_video_filmid = new film_videoService().GetAllItem(null);
                        for (int jx = 0; jx <= dtILM_VIDEOilm_video_filmid.Count - 1; jx++)
                        {
                            string sTitlexxx = dtILM_VIDEOilm_video_filmid[jx].title.ToString();
                            int sIdxxx = dtILM_VIDEOilm_video_filmid[jx].Id;
                            string sSelected = (sIdxxx == Model.filmid) ? "selected" : "";
                            <option value="@sIdxxx" @sSelected>@sTitlexxx</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Film_related_id</label><div class='col-sm-10'><input type='text' maxlength='500' kind='char' class='form-control ' name='film_related_id' id='film_related_id' size='1' value='@Model.film_related_id'>    </div></div>
        @*<div class='form-group row'><label for='lblnameks' class='col-sm-2 control-label'>Datecreated</label><div class='col-sm-10'><div class='input-group input-group-sm date-add-picker_fdate_full'><input  type='text' maxlength='500'   kind='char'  class='form-control '  name='datecreated' id='datecreated' size='1' value='@Model.datecreated'> <span class='input-group-addon input-group-addon-custom' onclick="javascript:$('#datecreated').datetimepicker('show');">      <span class='glyphicon glyphicon-calendar'></span>  </span><script type='text/javascript'>
             $(document).ready(function(){$('#datecreated').datetimepicker({format: 'DD/MM/YYYY'});});
            </script></div>    </div></div>*@
    </form>
</section>